<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1036402</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 头花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/15/B5841CAA-034E-C990-AA3D-3B7CE69DEA68.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/18/F9E27C45-876A-98DF-906F-27A168532C98.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/18/F9E27C45-876A-98DF-906F-27A168532C98.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1036408</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 裙子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/15/10EDD2B7-E630-723E-2385-52C1ED7D0DEB.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/18/9CC473FE-9203-1386-8797-B67DC11664B1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/18/9CC473FE-9203-1386-8797-B67DC11664B1.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1036403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 尾巴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/15/112BCD0B-8F8E-A92A-068F-F31A33BC3F3D.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/5B2123DA-4FA2-7A00-1647-5097A10D4719.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/5B2123DA-4FA2-7A00-1647-5097A10D4719.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1033603</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 纱裙</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/1A1FDB38-F243-4EBB-B17E-9BDD648848EE.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/5F3EEE15-61C4-0E4A-B0F9-174400213371.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/5F3EEE15-61C4-0E4A-B0F9-174400213371.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1033602</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 面纱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/9AC15487-7BBC-0E75-0D22-F446F6B2BC06.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/D757CCD0-CA43-737A-43D1-507DECB08DBA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/D757CCD0-CA43-737A-43D1-507DECB08DBA.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1033502</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 发饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/E81CBB13-D9C9-905B-1992-E93D8A09F5F0.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/939C8C6B-F212-901A-E751-7D116092CE3F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/939C8C6B-F212-901A-E751-7D116092CE3F.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1033601</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 发箍</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/0C4D0B13-CA60-28D1-F92F-D44B499DCCAF.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/7ECB4E60-9DAA-7E64-0194-B48F016B0009.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/7ECB4E60-9DAA-7E64-0194-B48F016B0009.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1036407</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 抹胸衣</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/15/DF5DACDD-C843-1428-3CA8-C335A50FAA90.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/2903E5B2-2110-96DD-D380-77337226BE68.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/2903E5B2-2110-96DD-D380-77337226BE68.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>3260</string>
		<key>id</key>
		<string>1033604</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>仙仙贴纸 长头纱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/71614956-5300-6901-12A4-95F70F29B789.jpg</string>
		<key>series_id</key>
		<string>3260</string>
		<key>series_name</key>
		<string>我可是仙女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/4CD773A1-5BD5-E57C-D6FB-544C7DB41E60.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/4CD773A1-5BD5-E57C-D6FB-544C7DB41E60.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
