<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>躲在怀里的猫</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20018339</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>吃块西瓜吧</string>
		<key>number</key>
		<string>int616068</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/28281CE1-3349-E834-21B7-4DE8FF98737B.jpg</string>
		<key>series_id</key>
		<string>4971</string>
		<key>series_name</key>
		<string>路途，乘凉，休息</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/652F1340-E603-8E37-C02B-841229112E67.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/652F1340-E603-8E37-C02B-841229112E67.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>躲在怀里的猫绘本集</string>
			<key>number</key>
			<string>int616068</string>
			<key>user_id</key>
			<string>70119143</string>
		</dict>
		<key>user_id</key>
		<string>70119143</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20041915</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>性感做自己（口红）</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/01/9B4335CA-D0DD-74E2-AC54-4338E96CD2B4.jpg</string>
		<key>series_id</key>
		<string>10883</string>
		<key>series_name</key>
		<string>我的态度很重要</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/01/EA80B18E-8A7C-93A0-8A3F-AC7C14A9816E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/01/EA80B18E-8A7C-93A0-8A3F-AC7C14A9816E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20021377</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>赠小花</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/0043B829-51E9-7507-3959-27E3DE7C7D41.jpg</string>
		<key>series_id</key>
		<string>5759</string>
		<key>series_name</key>
		<string>脚丫子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/E38B1CA0-7C45-A595-7BC7-7C26D2C182AC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/E38B1CA0-7C45-A595-7BC7-7C26D2C182AC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20015235</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>吃冰淇淋</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/24757F12-BA7A-9009-BF64-7F6393A26618.jpg</string>
		<key>series_id</key>
		<string>4139</string>
		<key>series_name</key>
		<string>端午父亲节连连过</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/340F9FF2-B754-646C-5C98-AAEFC19C30C4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/340F9FF2-B754-646C-5C98-AAEFC19C30C4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>我在谷中</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20037575</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>头条美人鱼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/02/C8B28A2B-ECDC-D424-DB60-6F0B4B21085F.jpg</string>
		<key>series_id</key>
		<string>9797</string>
		<key>series_name</key>
		<string>头条美人鱼</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/02/F26041F9-5972-14E0-B911-ED420D85B007.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/02/F26041F9-5972-14E0-B911-ED420D85B007.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我在谷中</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>41426310</string>
		</dict>
		<key>user_id</key>
		<string>41426310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20021373</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>吃冰棒</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/70CE76D0-45A5-17EB-8338-9135336A5465.jpg</string>
		<key>series_id</key>
		<string>5759</string>
		<key>series_name</key>
		<string>脚丫子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/373C6042-B177-A1FE-2B36-E6D062C2AB9D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/373C6042-B177-A1FE-2B36-E6D062C2AB9D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>樱桃</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20011821</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>手捧爱心</string>
		<key>number</key>
		<string>inc1223795</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/07/59D24946-DAE5-6B0B-8D77-16429FAFB2A2.jpg </string>
		<key>series_id</key>
		<string>3195</string>
		<key>series_name</key>
		<string>手的创意</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/CE7C36FD-3AEB-66FB-71C7-EB02714185FC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/CE7C36FD-3AEB-66FB-71C7-EB02714185FC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>樱桃的理想</string>
			<key>number</key>
			<string>inc1223795</string>
			<key>user_id</key>
			<string>15571520</string>
		</dict>
		<key>user_id</key>
		<string>15571520</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张小能</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20016663</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>张小能请你吃系列</string>
		<key>number</key>
		<string>inc3424110</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/1C2974C6-09A8-C08D-A9E8-E554815BB8E7.jpg</string>
		<key>series_id</key>
		<string>4499</string>
		<key>series_name</key>
		<string>张小能请你吃系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/498859B2-6C3C-3C4D-A408-5982F8020F57.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/498859B2-6C3C-3C4D-A408-5982F8020F57.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张小能</string>
			<key>number</key>
			<string>inc3424110</string>
			<key>user_id</key>
			<string>37116489</string>
		</dict>
		<key>user_id</key>
		<string>37116489</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>777</string>
		<key>id</key>
		<string>20021859</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>777</string>
		<key>name</key>
		<string>逗比专访</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/992D4D55-46F3-A305-33ED-4C3921A98D3E.jpg</string>
		<key>series_id</key>
		<string>5879</string>
		<key>series_name</key>
		<string>GO！独家专访</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/9084F272-F617-2B68-0C6A-96E7707A0CAE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/9084F272-F617-2B68-0C6A-96E7707A0CAE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
