<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>20030865</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2057</string>
		<key>name</key>
		<string>九月初九重阳节</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/15/9CFAD943-C392-1088-FF55-82D04DD32373.jpg</string>
		<key>series_id</key>
		<string>8121</string>
		<key>series_name</key>
		<string>陪你到老</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/15/9462B023-20FE-CCCD-C9D8-0906FF87C482.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/15/9462B023-20FE-CCCD-C9D8-0906FF87C482.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>20030863</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2057</string>
		<key>name</key>
		<string>你们别再变老了-重阳</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/0BED8D3C-89C2-732C-2407-2A214D1CF111.jpg</string>
		<key>series_id</key>
		<string>8121</string>
		<key>series_name</key>
		<string>陪你到老</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/1556CB32-DDA5-4FDB-44F0-A9F255B43168.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/1556CB32-DDA5-4FDB-44F0-A9F255B43168.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>20030745</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2057</string>
		<key>name</key>
		<string>重阳节菊花踏春文艺字</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/4B1C8354-4A17-9E47-F8B6-58F99C86334D.jpg</string>
		<key>series_id</key>
		<string>8091</string>
		<key>series_name</key>
		<string>兔叽酱重阳节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/94F351FC-B483-C946-D7DD-6F3C400B9DC6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/94F351FC-B483-C946-D7DD-6F3C400B9DC6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>20047463</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重阳节,重阳</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>陪伴是最好的礼物</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/03/E816DECC-B58F-5947-291E-1978092E459B.jpg</string>
		<key>series_id</key>
		<string>12271</string>
		<key>series_name</key>
		<string>重阳佳节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/03/D1B1DD3E-FCEC-A02F-0925-83722F7C52A1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/03/D1B1DD3E-FCEC-A02F-0925-83722F7C52A1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>20047455</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重阳节,重阳</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>云彩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/02/98A64F4F-BDCF-B065-A3BD-634D4A564E05.jpg</string>
		<key>series_id</key>
		<string>12269</string>
		<key>series_name</key>
		<string>重阳节套装</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/02/B5BABE3E-2075-0C75-DFF4-42CFA8B37BC5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/02/B5BABE3E-2075-0C75-DFF4-42CFA8B37BC5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2057</string>
		<key>id</key>
		<string>1554</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>294</string>
		<key>name</key>
		<string>全家福</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/02/10/2CB4B243-28D6-B737-DD55-0ED90C1274EE.jpg?v=2</string>
		<key>series_id</key>
		<string>2057</string>
		<key>series_name</key>
		<string>重阳节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/02/10/482E6FEF-A03D-F973-6E4F-47898C6B857F.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/02/10/482E6FEF-A03D-F973-6E4F-47898C6B857F.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
