<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>蝉咚</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/29/6174D2D8-2023-9072-8DB9-3C8666C7A3CF.png?v=2</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/29/0B773962-5FAE-A8E5-B18A-393388EB505D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/29/0B773962-5FAE-A8E5-B18A-393388EB505D.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20025243</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>盯——</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/336FCF80-6B1E-788D-BAFE-4EA14AB8CB99.jpg</string>
		<key>series_id</key>
		<string>6725</string>
		<key>series_name</key>
		<string>松鼠大王的朋友2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/1F0D9B09-F676-9A9B-45A0-43EA25CB2934.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/1F0D9B09-F676-9A9B-45A0-43EA25CB2934.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乙女张</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20021517</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>高富帅男友</string>
		<key>number</key>
		<string>inj3931196</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/D9D1C568-3302-8816-5592-0DC5331BCB4B.jpg</string>
		<key>series_id</key>
		<string>5795</string>
		<key>series_name</key>
		<string>亲爱的男朋友</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/EAA912DE-1732-63C1-F619-524F6927964F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/EAA912DE-1732-63C1-F619-524F6927964F.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乙女张</string>
			<key>number</key>
			<string>inj3931196</string>
			<key>user_id</key>
			<string>42158335</string>
		</dict>
		<key>user_id</key>
		<string>42158335</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Wen逗樂樂</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20020201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>搭着肩</string>
		<key>number</key>
		<string>ino847765</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/214B5C7F-5B37-B702-2178-D700D9FA16A9.jpg</string>
		<key>series_id</key>
		<string>5459</string>
		<key>series_name</key>
		<string>我和帅哥有个约会</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/9643DAD1-EF37-2AF4-7DD9-0AFBF9CE5652.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/9643DAD1-EF37-2AF4-7DD9-0AFBF9CE5652.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Wen逗樂樂</string>
			<key>number</key>
			<string>ino847765</string>
			<key>user_id</key>
			<string>72451905</string>
		</dict>
		<key>user_id</key>
		<string>72451905</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20020593</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>壁咚，亲，接吻，kiss,动漫，帅哥，二次元</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/5B011E7A-93C0-8607-96AC-74B479415D28.jpg</string>
		<key>series_id</key>
		<string>5557</string>
		<key>series_name</key>
		<string>二次元帅哥</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/0475EB9D-1F6B-3E2F-77B6-17CB9B4966EF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/0475EB9D-1F6B-3E2F-77B6-17CB9B4966EF.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2297</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>脚咚~太激烈</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/A97A8FBE-75A5-415D-31FB-0568A5D8E4B9.jpg</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/6EB2A4EE-476B-E595-02DC-BE3C489B2E0D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/6EB2A4EE-476B-E595-02DC-BE3C489B2E0D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2081</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>壁咚</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/29/DA0FFEFE-7887-1900-1F14-329480A951D7.png?v=2</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/29/B3F97853-202C-9B05-AAB5-BEF4353EACAA.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/29/B3F97853-202C-9B05-AAB5-BEF4353EACAA.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>木木子</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20037117</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>AB君送花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/15/7716A7D9-28C9-242E-3FC6-B412B4BFF2F1.jpg</string>
		<key>series_id</key>
		<string>9683</string>
		<key>series_name</key>
		<string>木木子之在一起</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/15/472A8E51-DE8A-1EA9-FF0A-80B480A2A888.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/15/472A8E51-DE8A-1EA9-FF0A-80B480A2A888.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>木木子Muz</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>69363093</string>
		</dict>
		<key>user_id</key>
		<string>69363093</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20022855</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>剪刀手</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/4D955D9A-6B86-F78C-3EF8-B2C0702483EA.jpg</string>
		<key>series_id</key>
		<string>6129</string>
		<key>series_name</key>
		<string>美少年专区</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/11DF5F0E-D057-3F61-1690-C4960E34B099.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/11DF5F0E-D057-3F61-1690-C4960E34B099.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
</array>
</plist>
