<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20019383</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>送花小哥</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/7478FD01-0263-CD13-C906-68CF0D45A5B3.jpg</string>
		<key>series_id</key>
		<string>5253</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/5B6FB737-85BC-F535-D7C1-E7E2804A0FBA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/5B6FB737-85BC-F535-D7C1-E7E2804A0FBA.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2301</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>抱抱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/25B1582A-8028-DCD1-8E09-BA89FEE5F39F.jpg</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/D857D59C-2CE8-B1C7-3EBB-529A5D7555EB.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/D857D59C-2CE8-B1C7-3EBB-529A5D7555EB.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20027331</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>送给你</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/C314EF2B-72BE-ACB1-9E25-82DAC13DB87B.jpg</string>
		<key>series_id</key>
		<string>7245</string>
		<key>series_name</key>
		<string>微光二次元男女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/A855BFB6-2E5B-8534-EB67-E41966F78DAC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/A855BFB6-2E5B-8534-EB67-E41966F78DAC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20022857</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>拍照</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/F0EE2474-BDEE-221B-3C11-EBD55137FED3.jpg</string>
		<key>series_id</key>
		<string>6129</string>
		<key>series_name</key>
		<string>美少年专区</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/07D740F8-0838-C430-3D39-285765EFA669.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/07D740F8-0838-C430-3D39-285765EFA669.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2295</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>摸摸头</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/DFF9C862-A78F-84BA-16B1-A1320CA1B6C2.jpg</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/7D407A80-076C-BB7B-3AE1-0F4BA8273FCE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/7D407A80-076C-BB7B-3AE1-0F4BA8273FCE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20019387</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>KISS YOU</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/2E68C812-52E4-77A1-8389-A34D0A6434C9.jpg</string>
		<key>series_id</key>
		<string>5253</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/F58D78BF-11DB-5E49-4E97-623F0A12CAD4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/F58D78BF-11DB-5E49-4E97-623F0A12CAD4.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2299</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>求婚</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/6BC7DDC4-D110-E0CC-E6E9-0C7BE494E308.jpg</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/F595BC3D-E558-71B6-5060-2F8DE88407B0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/18/F595BC3D-E558-71B6-5060-2F8DE88407B0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>2073</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>男神,美男</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>银发壁咚</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/29/4537893E-F460-4A44-BFD0-8BFF8D9A4630.png?v=2</string>
		<key>series_id</key>
		<string>1225</string>
		<key>series_name</key>
		<string>二次元伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/29/CB3D22FB-7B52-AFB7-86C9-C94E6C62085E.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/29/CB3D22FB-7B52-AFB7-86C9-C94E6C62085E.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1225</string>
		<key>id</key>
		<string>20027333</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1225</string>
		<key>name</key>
		<string>哈哈</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/27/61AA76A8-C242-853C-E1BA-E8A66C1AAD3D.jpg</string>
		<key>series_id</key>
		<string>7245</string>
		<key>series_name</key>
		<string>微光二次元男女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/27/C7587ABF-81F2-9616-E65F-A9636CCBFB02.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/27/C7587ABF-81F2-9616-E65F-A9636CCBFB02.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
</array>
</plist>
