<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20052223</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>桃花花环</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/1AD0CCB0-FE2E-08FB-7187-829BECC1E72C.jpg</string>
		<key>series_id</key>
		<string>13461</string>
		<key>series_name</key>
		<string>春节后的小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/50A0E7A7-4D35-9C70-E998-DCC82F26F343.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/50A0E7A7-4D35-9C70-E998-DCC82F26F343.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20053854</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大树</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/A2E29F3D-46BE-526A-07FE-D553F04A2BF5.jpg</string>
		<key>series_id</key>
		<string>13868</string>
		<key>series_name</key>
		<string>春天的故事</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/7EE3BF30-8371-EE14-9435-89A84B625BF9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/7EE3BF30-8371-EE14-9435-89A84B625BF9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20053762</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小雏菊</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/01D7D523-E735-7534-907B-697CF6249A7F.jpg</string>
		<key>series_id</key>
		<string>13846</string>
		<key>series_name</key>
		<string>春日小花</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/7FB8F55E-9DF8-CC59-3266-92555025ED60.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/7FB8F55E-9DF8-CC59-3266-92555025ED60.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20045329</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>夏天的玫瑰</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/22/F0142F06-96A8-9328-7D5E-1BA6BB9B605D.jpg</string>
		<key>series_id</key>
		<string>11739</string>
		<key>series_name</key>
		<string>剩下的盛夏</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/22/6B380C39-B42A-FFC4-78BF-7A10767690A8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/22/6B380C39-B42A-FFC4-78BF-7A10767690A8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>早安豆小米</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20012733</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>765</string>
		<key>name</key>
		<string>胡萝卜</string>
		<key>number</key>
		<string>inc3630303</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/AF56FCC7-46E3-B8D6-21C3-D1263EF542F2.jpg</string>
		<key>series_id</key>
		<string>3431</string>
		<key>series_name</key>
		<string>小卡通</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/93638E38-DB1E-0961-B8FC-DD1CC3695E82.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/93638E38-DB1E-0961-B8FC-DD1CC3695E82.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>早安豆小米</string>
			<key>number</key>
			<string>inc3630303</string>
			<key>user_id</key>
			<string>39145680</string>
		</dict>
		<key>user_id</key>
		<string>39145680</string>
	</dict>
	<dict>
		<key>author</key>
		<string>离缘</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20052853</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>元宵节 春暖花开</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/3C98F5A1-ACAE-CF39-6DE9-5BE914B38B8A.jpg</string>
		<key>series_id</key>
		<string>13619</string>
		<key>series_name</key>
		<string>元宵节 彩色装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/A288EB34-5E1B-9739-C2D9-9FB575A3D1E7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/A288EB34-5E1B-9739-C2D9-9FB575A3D1E7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>离缘殇-DSY</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17961754</string>
		</dict>
		<key>user_id</key>
		<string>17961754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20026185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>765</string>
		<key>name</key>
		<string>胡萝卜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/14/B1B52722-8C4C-430D-C728-07286D3F706D.jpg</string>
		<key>series_id</key>
		<string>6959</string>
		<key>series_name</key>
		<string>兔小蛋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/14/D82D7F6B-788D-04D0-BC1F-A204D204504C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/14/D82D7F6B-788D-04D0-BC1F-A204D204504C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>vogea</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20053604</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>春天的气息</string>
		<key>number</key>
		<string>inr927466</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/27/46707CDE-9A4E-23AF-8D80-F7BF2300EC62.jpg</string>
		<key>series_id</key>
		<string>13806</string>
		<key>series_name</key>
		<string>点点滴滴的春天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/27/4AADF45F-43EC-1A4D-CA2F-5500EF58798A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/27/4AADF45F-43EC-1A4D-CA2F-5500EF58798A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>duckbillboy</string>
			<key>number</key>
			<string>inr927466</string>
			<key>user_id</key>
			<string>73224719</string>
		</dict>
		<key>user_id</key>
		<string>73224719</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>765</string>
		<key>id</key>
		<string>20027633</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>765</string>
		<key>name</key>
		<string>草心星</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/D43F454B-17F3-D7C2-5BB5-C0F135017D09.jpg</string>
		<key>series_id</key>
		<string>7319</string>
		<key>series_name</key>
		<string>扈の装饰3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/E765F57A-B194-B92F-3EFB-B779F2F78705.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/E765F57A-B194-B92F-3EFB-B779F2F78705.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
</array>
</plist>
