<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>颜行不一</string>
		<key>cate_id</key>
		<string>484</string>
		<key>id</key>
		<string>20005404</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>484</string>
		<key>name</key>
		<string>妇女节</string>
		<key>number</key>
		<string>ind3244373</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/01/6D7014C1-0FD6-F083-96A5-FBB038F18223.jpg?v=2</string>
		<key>series_id</key>
		<string>1482</string>
		<key>series_name</key>
		<string>黑白配之妇女节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/01/C6076785-2654-8200-8C54-3D07FF38FBDB.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/01/C6076785-2654-8200-8C54-3D07FF38FBDB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>颜行不一</string>
			<key>number</key>
			<string>ind3244373</string>
			<key>user_id</key>
			<string>35349295</string>
		</dict>
		<key>user_id</key>
		<string>35349295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>颜行不一</string>
		<key>cate_id</key>
		<string>484</string>
		<key>id</key>
		<string>20005402</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>484</string>
		<key>name</key>
		<string>黑白配</string>
		<key>number</key>
		<string>ind3244373</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/28/A58D92B4-5811-CFE8-3187-E68CC285C236.jpg?v=2</string>
		<key>series_id</key>
		<string>1482</string>
		<key>series_name</key>
		<string>黑白配之妇女节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/28/A109D2C4-EF33-BBFF-CDE2-B9976A798645.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/28/A109D2C4-EF33-BBFF-CDE2-B9976A798645.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>颜行不一</string>
			<key>number</key>
			<string>ind3244373</string>
			<key>user_id</key>
			<string>35349295</string>
		</dict>
		<key>user_id</key>
		<string>35349295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>颜行不一</string>
		<key>cate_id</key>
		<string>484</string>
		<key>id</key>
		<string>20005400</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>484</string>
		<key>name</key>
		<string>白小黑</string>
		<key>number</key>
		<string>ind3244373</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/7670F30B-70AA-C21D-CAB2-6D830CC32D1E.jpg?v=2</string>
		<key>series_id</key>
		<string>1482</string>
		<key>series_name</key>
		<string>黑白配之妇女节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/C8D43CB2-175C-59A4-B5AA-587260E50379.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/C8D43CB2-175C-59A4-B5AA-587260E50379.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>颜行不一</string>
			<key>number</key>
			<string>ind3244373</string>
			<key>user_id</key>
			<string>35349295</string>
		</dict>
		<key>user_id</key>
		<string>35349295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>颜行不一</string>
		<key>cate_id</key>
		<string>484</string>
		<key>id</key>
		<string>20005398</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>484</string>
		<key>name</key>
		<string>黑小白</string>
		<key>number</key>
		<string>ind3244373</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/1E2C7E0A-0BAA-1655-CF70-85BE623A864B.png?v=2</string>
		<key>series_id</key>
		<string>1482</string>
		<key>series_name</key>
		<string>黑白配之妇女节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/E0D8657D-CFAA-54FD-4130-5452EE926CCD.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/E0D8657D-CFAA-54FD-4130-5452EE926CCD.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>颜行不一</string>
			<key>number</key>
			<string>ind3244373</string>
			<key>user_id</key>
			<string>35349295</string>
		</dict>
		<key>user_id</key>
		<string>35349295</string>
	</dict>
</array>
</plist>
