<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13507</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>范冰冰-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/91E11F4F-17D7-B45F-2962-1547859359E2.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/3F05D78F-2BFF-1931-CABC-C9789E26EDFC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/3F05D78F-2BFF-1931-CABC-C9789E26EDFC.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13506</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>范冰冰-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/A1E64F65-B79A-89A7-42D5-E5D9D92744D5.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/67C7DB21-B43D-6B1A-3394-ACB6EB77FFA0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/67C7DB21-B43D-6B1A-3394-ACB6EB77FFA0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13505</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>大鹏-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/18/5BDD7AC7-4CFF-D448-EF44-13D612D21C53.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/18/7E114726-42D1-0B7F-A28D-F2FF3EE967F0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/18/7E114726-42D1-0B7F-A28D-F2FF3EE967F0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13504</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>大鹏-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/A599B396-A5A7-9A33-B87B-E54F49AB38C0.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/1903B727-F8E4-FF15-CAD7-8BB55650749B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/1903B727-F8E4-FF15-CAD7-8BB55650749B.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13503</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>陈汉典-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/A332D07E-A1C0-0B03-0E64-BBB3B4916D8E.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/1F4A1CAD-0A7C-6DFE-D383-5492BA7D1794.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/1F4A1CAD-0A7C-6DFE-D383-5492BA7D1794.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13502</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>陈汉典-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/D7E61289-94BF-FB42-2F10-06C9D2CCEA0A.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/A6BB2D81-BC4A-7F49-260C-B33951FAB4A3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/A6BB2D81-BC4A-7F49-260C-B33951FAB4A3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13432</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1983</string>
		<key>name</key>
		<string>其实我腿也很长-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/AE3B11CF-0B49-03D0-DE87-2F3F09A3676B.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/E0B81F22-DE27-BDEA-A517-8626DF9E6999.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/18/E0B81F22-DE27-BDEA-A517-8626DF9E6999.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1983</string>
		<key>name</key>
		<string>李小龙附体成功-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/09AB6DF0-50EE-1F5A-2450-DACE668D758E.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/CEE7264D-80E9-FA40-644F-B6421C4F8CD0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/18/CEE7264D-80E9-FA40-644F-B6421C4F8CD0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>13430</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1983</string>
		<key>name</key>
		<string>就是腿短-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/2BD31B2B-0658-AF11-95D2-6EF55A4A6094.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/92B2B753-CF92-0B44-30E1-2B8BF7B1F8B3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/18/92B2B753-CF92-0B44-30E1-2B8BF7B1F8B3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
