<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12743</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>挑战者联盟-学会享受孤独</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/365BBBF4-120D-62D1-EBA7-E5F65E7542E9.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/99E3A6E4-C804-67E6-53D8-C5C1FE07E3D8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/99E3A6E4-C804-67E6-53D8-C5C1FE07E3D8.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12742</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>挑战者联盟-Q萌三轮小出租</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/99B633A1-51FD-DE2C-800A-CD5219A1555F.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/A9915700-51B4-CACC-2868-49E86BE1DFE6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/A9915700-51B4-CACC-2868-49E86BE1DFE6.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>挑战者联盟-穿礼服的不都是贵族</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/ECD54FA9-E9EF-69FE-A455-0BD6E9F6431B.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/38E1ADCF-AB1B-0A82-FED0-E98C9FC757CE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/38E1ADCF-AB1B-0A82-FED0-E98C9FC757CE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12739</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>自言自语－挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/CE06082D-454D-1F5D-932A-16361906FD42.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/395B009E-B384-C8A0-3689-F71E626C306D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/395B009E-B384-C8A0-3689-F71E626C306D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12737</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>咕噜咕噜－挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/1B52FF5B-78D3-9356-4B2B-6F092F6AD534.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/6AF5DF91-403D-85C4-E752-7B6EBA245F60.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/6AF5DF91-403D-85C4-E752-7B6EBA245F60.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12735</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>这是什么鬼－挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/DA721561-F405-AFDE-419A-F6FA65D7379E.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/59C59165-4CB4-F665-3E32-ADCA7AC4FB35.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/12/59C59165-4CB4-F665-3E32-ADCA7AC4FB35.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12734</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>惊叹－挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/39A391D5-5374-CEAD-C487-38205CBF3DFF.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/6B631608-49CB-A478-37A9-09846FC24E2A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/12/6B631608-49CB-A478-37A9-09846FC24E2A.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12733</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>惊呆了－挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/05A51EED-2F36-456B-D41C-EAEC9B9DFD4D.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/F6D00769-14BA-7F09-79A9-DF516392A266.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/12/F6D00769-14BA-7F09-79A9-DF516392A266.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1951</string>
		<key>id</key>
		<string>12732</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1951</string>
		<key>name</key>
		<string>一切为了完成任务-挑战者联盟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/12/903777CC-4DD0-5C3B-8B4F-B0FCE29E8B04.jpg</string>
		<key>series_id</key>
		<string>1951</string>
		<key>series_name</key>
		<string>挑战者联盟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/12/92468421-57E2-8370-058C-DD33CA5ACA7A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/12/92468421-57E2-8370-058C-DD33CA5ACA7A.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
