<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008859</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>好天气好心情</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/10/008723CF-9C62-E42B-0442-E15F34A3F1FE.jpg?v=2</string>
		<key>series_id</key>
		<string>2359</string>
		<key>series_name</key>
		<string>清新文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/10/81B3DDB3-0BEB-1300-608A-58F1B581818B.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/10/81B3DDB3-0BEB-1300-608A-58F1B581818B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20032641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>冻成狗,冷</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>26</string>
		<key>name</key>
		<string>冬天好冷</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/CF7EC791-E556-AED1-6FEA-DB15AEEB5656.jpg</string>
		<key>series_id</key>
		<string>8565</string>
		<key>series_name</key>
		<string>兔叽酱冬天节气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/BC9E25A1-F381-1E46-A8E8-97B53B1B8A2D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/BC9E25A1-F381-1E46-A8E8-97B53B1B8A2D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>1937</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>恋空</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/20/83A72950-D7EF-5398-5F20-3F84B9477D72.jpg?v=2</string>
		<key>series_id</key>
		<string>428</string>
		<key>series_name</key>
		<string>天气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/17/CAEA3CCB-0538-DFD2-3648-0192C5480D35.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/17/CAEA3CCB-0538-DFD2-3648-0192C5480D35.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008253</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>sunshine</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/B874C31F-D554-A015-648B-AB24A0CFF851.jpg?v=2</string>
		<key>series_id</key>
		<string>2205</string>
		<key>series_name</key>
		<string>卡哇伊文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/A7B7A83B-FDDA-44EA-4735-0EFC9D161B42.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/A7B7A83B-FDDA-44EA-4735-0EFC9D161B42.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008891</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>sky</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/60925B53-FF5A-BCA4-2FA3-DF0529887B81.jpg?v=2</string>
		<key>series_id</key>
		<string>2367</string>
		<key>series_name</key>
		<string>sky系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/D41498F4-B913-E178-11AD-BF0817A84482.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/D41498F4-B913-E178-11AD-BF0817A84482.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>1856</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>下雨天</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/7C7CDB78-D0D3-7D7C-6D74-98A5D6BCA326.jpg?v=2</string>
		<key>series_id</key>
		<string>428</string>
		<key>series_name</key>
		<string>天气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/55FAAC9B-40AD-3CEC-2C6D-F3D343C232DD.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/55FAAC9B-40AD-3CEC-2C6D-F3D343C232DD.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>我爱阳光</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/F84A25F6-13AD-3ABC-7D6B-B30E30EAA6DC.jpg?v=2</string>
		<key>series_id</key>
		<string>2343</string>
		<key>series_name</key>
		<string>我爱阳光我爱生活</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/85508DA2-73A2-982C-A329-EFEA331D0BF8.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/85508DA2-73A2-982C-A329-EFEA331D0BF8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008715</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>最爱晴天</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/09/0405ECE3-8C16-9CDA-FF5E-DA993F908382.jpg?v=2</string>
		<key>series_id</key>
		<string>2323</string>
		<key>series_name</key>
		<string>懒宝酱の时尚文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/09/5F7EB76B-17EA-8FB6-9854-BA47729A6948.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/09/5F7EB76B-17EA-8FB6-9854-BA47729A6948.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>七七</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20025167</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>日光</string>
		<key>number</key>
		<string>inm619542</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/29C712F5-BB17-F429-750C-9492885790FC.jpg</string>
		<key>series_id</key>
		<string>6705</string>
		<key>series_name</key>
		<string>文艺范</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9EA9F582-59FE-047C-D291-CA889DCFA45A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9EA9F582-59FE-047C-D291-CA889DCFA45A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BEATRICE七七</string>
			<key>number</key>
			<string>inm619542</string>
			<key>user_id</key>
			<string>70147463</string>
		</dict>
		<key>user_id</key>
		<string>70147463</string>
	</dict>
</array>
</plist>
