<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047559</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-苹果笔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/30A42D52-2C3A-98BA-DB2D-BA85BAB14D4E.jpg</string>
		<key>series_id</key>
		<string>12295</string>
		<key>series_name</key>
		<string>PPAP系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/385B3A47-533B-25CC-FD5F-A75926E66ACB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/385B3A47-533B-25CC-FD5F-A75926E66ACB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047553</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-箭头</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/11/4BAEF375-44D0-81B0-1B23-F43E7C3AD083.jpg</string>
		<key>series_id</key>
		<string>12295</string>
		<key>series_name</key>
		<string>PPAP系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/80BD226F-F869-038B-DE40-61848F785E95.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/80BD226F-F869-038B-DE40-61848F785E95.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047563</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-Uhmm</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/B2EC503F-74DD-B5FB-CE02-B5653DD244AC.jpg</string>
		<key>series_id</key>
		<string>12297</string>
		<key>series_name</key>
		<string>PPAP系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/732895D6-AB8C-6D3B-A370-7B6936CA4C2F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/732895D6-AB8C-6D3B-A370-7B6936CA4C2F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047565</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-PPAP</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/11/50B91076-B93E-2F47-402D-3E4DD51C8613.jpg</string>
		<key>series_id</key>
		<string>12297</string>
		<key>series_name</key>
		<string>PPAP系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/68962047-0D50-92AC-DEF6-D61A5075C91D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/68962047-0D50-92AC-DEF6-D61A5075C91D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047557</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-我有苹果</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/11/AC8FFCD5-000C-C921-E6BD-053686CA8887.jpg</string>
		<key>series_id</key>
		<string>12295</string>
		<key>series_name</key>
		<string>PPAP系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/8379EDA5-4D66-EA96-5A33-5FF01E4FFE96.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/8379EDA5-4D66-EA96-5A33-5FF01E4FFE96.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047561</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-我有菠萝</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/11/9412A14D-61D7-7C13-4082-6E468037D41A.jpg</string>
		<key>series_id</key>
		<string>12297</string>
		<key>series_name</key>
		<string>PPAP系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/CCEFD4E0-3801-0D1C-2E37-96BFBDBC958B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/07/CCEFD4E0-3801-0D1C-2E37-96BFBDBC958B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047567</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-菠萝笔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/F8266A51-B298-FE60-AEE0-56DF635F3B77.jpg</string>
		<key>series_id</key>
		<string>12297</string>
		<key>series_name</key>
		<string>PPAP系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/ADB5318F-3908-C759-A675-A1191A1EA7D3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/ADB5318F-3908-C759-A675-A1191A1EA7D3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>3224</string>
		<key>id</key>
		<string>20047555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>PPAP-我有笔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/D554452C-5481-D63A-B511-8E5C7D86F9D9.jpg</string>
		<key>series_id</key>
		<string>12295</string>
		<key>series_name</key>
		<string>PPAP系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/1B701DD4-AD6C-43DD-78A8-7134C29D7D41.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/07/1B701DD4-AD6C-43DD-78A8-7134C29D7D41.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
</array>
</plist>
