<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20058928</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>六一儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>礼花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/30/DC7FD6C5-24A6-FFF9-B0A6-D5C601CCCEBF-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15268</string>
		<key>series_name</key>
		<string>六一儿童节大变身</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/30/BBF57097-5D2B-6481-7126-ABF0186EE403-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/30/BBF57097-5D2B-6481-7126-ABF0186EE403-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
	<dict>
		<key>author</key>
		<string>藕然误尘</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20059032</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>就是要你萌,萌,六一儿童节,IN贴纸三周年,自拍达人</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小尘萌萌物件1</string>
		<key>number</key>
		<string>ine3129700</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/989BBDD5-2CFD-A19A-74B4-AE18C0A7CEE7-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15314</string>
		<key>series_name</key>
		<string>小尘萌萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/91CC3B37-B68F-2CDF-62EE-9F9D0B4CC62B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/91CC3B37-B68F-2CDF-62EE-9F9D0B4CC62B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>hy藕然误尘yellow</string>
			<key>number</key>
			<string>ine3129700</string>
			<key>user_id</key>
			<string>34216506</string>
		</dict>
		<key>user_id</key>
		<string>34216506</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20059076</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>就是要你萌,爱心,快乐,六一,爱情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>音乐爱心符</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/ED1B838F-9B4C-5B5D-3D79-C72B9AABBAD8-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15326</string>
		<key>series_name</key>
		<string>庆祝六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/871D9BEB-C400-1695-44ED-9979296D469E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/871D9BEB-C400-1695-44ED-9979296D469E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20059100</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>就是要你萌,六一,萌</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红领巾</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/B87C4A85-D9ED-4B9A-B7C6-B124704B0F53-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15332</string>
		<key>series_name</key>
		<string>六一属宝宝我</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/A4BA993D-FF25-4748-2055-82DB357A6003-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/A4BA993D-FF25-4748-2055-82DB357A6003-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>rainbow</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20057352</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>Love-V字母</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/DC3EF2D0-54C4-42F1-44BA-A213FD48D224.jpg</string>
		<key>series_id</key>
		<string>14766</string>
		<key>series_name</key>
		<string>love手势</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/F7AF64D7-C6B7-CB0C-F476-FE4F89E5094D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/F7AF64D7-C6B7-CB0C-F476-FE4F89E5094D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>rainbow</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15985746</string>
		</dict>
		<key>user_id</key>
		<string>15985746</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20058356</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>粽子,端午节,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>粽子节吃我吃我2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/E314DC3F-48A9-EFEF-8C23-82976BFEE4CC-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15066</string>
		<key>series_name</key>
		<string>粽子节吃我吃我</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/F411A588-E718-4C86-1F96-93F635EF56C7-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/F411A588-E718-4C86-1F96-93F635EF56C7-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>眼袋鱿鱼干</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20058472</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美人鱼,螃蟹,鱿鱼干</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>螃蟹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/EDED1A36-E858-396C-3F0C-6F047C456708-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15094</string>
		<key>series_name</key>
		<string>美人鱼的小伙伴1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/BA9FADE1-BC06-5729-B9A6-AE406C98A3F9-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/25/BA9FADE1-BC06-5729-B9A6-AE406C98A3F9-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>眼袋鱿鱼干</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>42039011</string>
		</dict>
		<key>user_id</key>
		<string>42039011</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20058768</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>就是要你萌,可爱,六一儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一萌萌儿童节2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/EDD6188C-B9DD-E951-F3FE-6D57DBD53B39-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15208</string>
		<key>series_name</key>
		<string>六一萌萌儿童节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/1C38E28E-E208-35C3-5D94-5F328F8F6CBF-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/1C38E28E-E208-35C3-5D94-5F328F8F6CBF-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>橙柚桃</string>
		<key>cate_id</key>
		<string>3394</string>
		<key>id</key>
		<string>20056002</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>快乐一刻</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/24/0CD35733-C211-3EF7-04E5-426EA9C87D7A.jpg</string>
		<key>series_id</key>
		<string>14408</string>
		<key>series_name</key>
		<string>欢乐假期</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/24/6A8E0C2C-8988-A1AE-4CC0-103262834267.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/24/6A8E0C2C-8988-A1AE-4CC0-103262834267.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>橙柚桃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65876656</string>
		</dict>
		<key>user_id</key>
		<string>65876656</string>
	</dict>
</array>
</plist>
