<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>里斯鬼</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20007047</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>春来咯</string>
		<key>number</key>
		<string>sunsecret</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/A2330799-437E-C147-C921-97A17B965EA8.jpg?v=2</string>
		<key>series_id</key>
		<string>1895</string>
		<key>series_name</key>
		<string>春天必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/05FDE293-9A7C-A5A3-3E78-FCF2AB587507.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/05FDE293-9A7C-A5A3-3E78-FCF2AB587507.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>里斯鬼</string>
			<key>number</key>
			<string>sunsecret</string>
			<key>user_id</key>
			<string>34777395</string>
		</dict>
		<key>user_id</key>
		<string>34777395</string>
	</dict>
	<dict>
		<key>author</key>
		<string>里斯鬼</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20007045</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>一年之计在于春</string>
		<key>number</key>
		<string>sunsecret</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/87CD3FEE-8B3B-9B73-B171-5725B95BAA71.jpg?v=2</string>
		<key>series_id</key>
		<string>1895</string>
		<key>series_name</key>
		<string>春天必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/B838F1D9-5EC7-CFE5-481F-CAE16A0C4AF1.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/B838F1D9-5EC7-CFE5-481F-CAE16A0C4AF1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>里斯鬼</string>
			<key>number</key>
			<string>sunsecret</string>
			<key>user_id</key>
			<string>34777395</string>
		</dict>
		<key>user_id</key>
		<string>34777395</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20007003</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>春日出游记</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/5AD09679-4EBC-202B-FC85-B11948921AA0.jpg?v=2</string>
		<key>series_id</key>
		<string>1883</string>
		<key>series_name</key>
		<string>春日小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/144F85B3-E2B6-EDDE-C6EF-CCF27DE83DD7.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/18/144F85B3-E2B6-EDDE-C6EF-CCF27DE83DD7.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20007001</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>春天来啦！约吗？</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/E2936B90-A227-59C6-520B-F0F8C5480878.jpg?v=2</string>
		<key>series_id</key>
		<string>1883</string>
		<key>series_name</key>
		<string>春日小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/444CEA47-5F92-8B03-1457-C87BA2631F4F.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/444CEA47-5F92-8B03-1457-C87BA2631F4F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20006999</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>一年之计在于春</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/F1253E10-F334-EDCD-B891-D74326C52B02.jpg?v=2</string>
		<key>series_id</key>
		<string>1883</string>
		<key>series_name</key>
		<string>春日小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/5DDBA0E4-1DC5-1F8E-11AF-62F8CF9AE181.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/5DDBA0E4-1DC5-1F8E-11AF-62F8CF9AE181.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>海盐</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20006967</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>hello春天</string>
		<key>number</key>
		<string>ini3259174</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/B794FD4F-9F72-A0CE-9C6E-5379E10F9FD8.png?v=2</string>
		<key>series_id</key>
		<string>1875</string>
		<key>series_name</key>
		<string>春天的童话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/E306AE54-69ED-6F3B-79D5-C6DAD47AC532.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/E306AE54-69ED-6F3B-79D5-C6DAD47AC532.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>海盐</string>
			<key>number</key>
			<string>ini3259174</string>
			<key>user_id</key>
			<string>35487649</string>
		</dict>
		<key>user_id</key>
		<string>35487649</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20006907</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>已种草</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/1C05AAA4-FEF7-F0F6-2F91-900A1E236AE0.jpg?v=2</string>
		<key>series_id</key>
		<string>1859</string>
		<key>series_name</key>
		<string>春天系列-小C</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/2FA8983D-E165-A23A-AF39-EE81579BD535.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/2FA8983D-E165-A23A-AF39-EE81579BD535.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20006903</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>Happy Time</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/17/BCA3EBF7-AD9A-E938-3F54-584AF697C5A2.jpg?v=2</string>
		<key>series_id</key>
		<string>1859</string>
		<key>series_name</key>
		<string>春天系列-小C</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/17/0AA8A7FB-99B8-4764-7C5A-BEBCE3AC413D.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/17/0AA8A7FB-99B8-4764-7C5A-BEBCE3AC413D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>283</string>
		<key>id</key>
		<string>20006901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>283</string>
		<key>name</key>
		<string>带我去春游</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/B7A365F2-4EA3-A0E0-CEA9-5AD6DB8DD36C.jpg?v=2</string>
		<key>series_id</key>
		<string>1859</string>
		<key>series_name</key>
		<string>春天系列-小C</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/B7B0F843-9B46-54CC-0AFB-D83CA2AE93FF.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/B7B0F843-9B46-54CC-0AFB-D83CA2AE93FF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
</array>
</plist>
