<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055538</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>复活节彩蛋</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/13/147DC31B-E35D-C360-C902-F9C746D822FD.jpg</string>
		<key>series_id</key>
		<string>14290</string>
		<key>series_name</key>
		<string>我要复活</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/13/3739D0BE-6681-7F49-712B-BE261E76F13E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/13/3739D0BE-6681-7F49-712B-BE261E76F13E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>雪丫</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055314</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>彩蛋小花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/51CD0901-7516-64A7-6313-27DE673F3FCB.jpg</string>
		<key>series_id</key>
		<string>14234</string>
		<key>series_name</key>
		<string>复活节彩蛋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/2886E2C5-F73E-5EA8-D02E-A112DA6EA4B9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/2886E2C5-F73E-5EA8-D02E-A112DA6EA4B9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪丫</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>114658997</string>
		</dict>
		<key>user_id</key>
		<string>114658997</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爱♡吉吉</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055436</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>复活节兔子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/11/5C532DD4-BE05-4961-D2E8-CEBBB0CEB018.jpg</string>
		<key>series_id</key>
		<string>14264</string>
		<key>series_name</key>
		<string>复活节可爱小套装</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/11/3C2B19DA-7B7E-6E75-3830-AB8B2930B763.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/11/3C2B19DA-7B7E-6E75-3830-AB8B2930B763.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱♡吉吉</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112717752</string>
		</dict>
		<key>user_id</key>
		<string>112717752</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055320</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>复活节小可爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/EEFF68B6-8081-1E85-FB35-AD194F69AA4D.jpg</string>
		<key>series_id</key>
		<string>14236</string>
		<key>series_name</key>
		<string>复活节小可爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/E3B70F24-334E-57E6-DBC7-283896D433D3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/E3B70F24-334E-57E6-DBC7-283896D433D3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>雪丫</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055312</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>彩蛋热气球</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/BF5C514A-9CC3-4C78-185C-ACBEEA4A321D.jpg</string>
		<key>series_id</key>
		<string>14234</string>
		<key>series_name</key>
		<string>复活节彩蛋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/51EFCB5F-5DE9-4664-F29C-3D053866915D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/51EFCB5F-5DE9-4664-F29C-3D053866915D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪丫</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>114658997</string>
		</dict>
		<key>user_id</key>
		<string>114658997</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3890</string>
		<key>id</key>
		<string>20055324</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>复活节小可爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/C7F7E01C-A8B5-022B-81AA-B18517DD30AD.jpg</string>
		<key>series_id</key>
		<string>14236</string>
		<key>series_name</key>
		<string>复活节小可爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/6EE1EC3E-9F8A-DAA4-17FB-CC11DEB0190A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/6EE1EC3E-9F8A-DAA4-17FB-CC11DEB0190A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
</array>
</plist>
