<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1361</string>
		<key>id</key>
		<string>20022339</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1361</string>
		<key>name</key>
		<string>爱死你辣</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/6F81E58A-7613-D61C-87CB-C2ADA25DAAE1.jpg</string>
		<key>series_id</key>
		<string>5999</string>
		<key>series_name</key>
		<string>小脸~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/863153E5-0599-EDB3-8195-CD8909D389F1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/863153E5-0599-EDB3-8195-CD8909D389F1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1361</string>
		<key>id</key>
		<string>20022337</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1361</string>
		<key>name</key>
		<string>花</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/5FFD457C-2F75-A9DF-49B4-B8CBAC6A2734.jpg</string>
		<key>series_id</key>
		<string>5999</string>
		<key>series_name</key>
		<string>小脸~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/28CEC0B6-A171-A1B5-CFC8-397ED9E4784E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/28CEC0B6-A171-A1B5-CFC8-397ED9E4784E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1361</string>
		<key>id</key>
		<string>20022333</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1361</string>
		<key>name</key>
		<string>萌妹纸</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/422411BC-B65F-D266-63E8-9B1383AF585F.jpg</string>
		<key>series_id</key>
		<string>5999</string>
		<key>series_name</key>
		<string>小脸~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/1392B11C-F6B9-75A7-3812-15767E3C9944.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/1392B11C-F6B9-75A7-3812-15767E3C9944.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1361</string>
		<key>id</key>
		<string>20022335</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1361</string>
		<key>name</key>
		<string>逗比</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/A074FF6E-4295-58B0-F1F4-947C5BD0B6AD.jpg</string>
		<key>series_id</key>
		<string>5999</string>
		<key>series_name</key>
		<string>小脸~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/3B01B178-E145-B78A-9EAE-B32651C00F23.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/3B01B178-E145-B78A-9EAE-B32651C00F23.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
</array>
</plist>
