<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1696</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>白富美</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/11/2B4F0D0B-1A4F-6D8C-F1E6-EB4ED5389EDF.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/11/579E84B3-9BB9-E84D-91D4-962A34177212.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/11/579E84B3-9BB9-E84D-91D4-962A34177212.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1692</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>翻身姐妹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/E65FD8C7-3E71-3863-73D3-B07C0066E77E.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/5E90BBDF-C196-6743-3A36-638AC1BB3859.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/5E90BBDF-C196-6743-3A36-638AC1BB3859.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1820</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>头箍</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/33A0A278-5F40-71BF-BBC2-F2F4F8FFD10A.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/2B02B1EC-1D46-5212-F2C1-600A73FF37E1.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/2B02B1EC-1D46-5212-F2C1-600A73FF37E1.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1826</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>小熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/9B9D2F0F-01B0-6FB8-267B-0DB31F3D7F72.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/CA204ACC-A156-F89A-A945-65F31BA224BB.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/27/CA204ACC-A156-F89A-A945-65F31BA224BB.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1822</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>假发套</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/27/3675A090-53E4-3F9E-3037-8BC27DEEB4B1.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/27/590DB8AA-73BD-1F17-F370-D03C5FDD14EA.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/03/27/590DB8AA-73BD-1F17-F370-D03C5FDD14EA.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1694</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>女汉子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/11/FBD9095A-2550-419A-12A8-BE6FFD9DCE10.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/11/315195FF-CD29-D4A8-7391-794C26C21BB6.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/03/11/315195FF-CD29-D4A8-7391-794C26C21BB6.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1698</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>那么拽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/A8A63AE6-00BF-A96E-12EB-A4635286C574.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/BC6FCF33-A74D-F0B9-6B6C-BEAF7107AC01.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/11/BC6FCF33-A74D-F0B9-6B6C-BEAF7107AC01.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>190</string>
		<key>id</key>
		<string>1824</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>190</string>
		<key>name</key>
		<string>肌肉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/27/CBD3928A-4749-16DA-BC39-314D64966013.jpg?v=2</string>
		<key>series_id</key>
		<string>190</string>
		<key>series_name</key>
		<string>翻身姐妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/27/FBCCA18E-1029-4DA2-D86F-43CE8ABD37EF.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/03/27/FBCCA18E-1029-4DA2-D86F-43CE8ABD37EF.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
