<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049108</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/E86CB21F-5A9F-C40A-9DD4-88262414B15B.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/AC7B5FCE-B84C-48A1-5F1C-7154CF7801D7.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/AC7B5FCE-B84C-48A1-5F1C-7154CF7801D7.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049104</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 棒冰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/8BFFB52C-F0C5-E8DA-CCCD-556E07EE7F70.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/B1FC4CF4-43CF-B185-3A1B-38F2D2AC16AF.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/B1FC4CF4-43CF-B185-3A1B-38F2D2AC16AF.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049103</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 say hi</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/8F625BE5-288D-F932-EDAB-131963713208.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/939135FC-FDD0-9870-B93E-69DB55737547.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/939135FC-FDD0-9870-B93E-69DB55737547.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049112</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 下雨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/D0DA165C-EF87-E9AE-C546-A184E6A8E272.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/6759BFBB-DC04-E77C-9BAD-E81D5D87F775.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/6759BFBB-DC04-E77C-9BAD-E81D5D87F775.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049107</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 化身气球</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/6BA5E343-D839-8565-00C4-3DE93BA26F81.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/84FED119-57ED-FBA9-1242-4E68E5EE3831.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/84FED119-57ED-FBA9-1242-4E68E5EE3831.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049106</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 耳朵 发箍</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/212E836F-CB99-51D3-FE90-60F5FA487F34.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/DE8D7101-86E3-2DE6-13AA-03CC974CEE50.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/DE8D7101-86E3-2DE6-13AA-03CC974CEE50.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049109</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 偷偷看你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/6BCC100E-B37D-2E9D-0A11-D1BA582E2930.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/81519786-88FE-DD8C-74A5-D170E0C386CE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/81519786-88FE-DD8C-74A5-D170E0C386CE.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 喜欢你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/9AABDD48-0EA6-99C3-530E-A30F856E8511.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/1447D384-2FAF-F20D-5A43-58691650D48B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/04/1447D384-2FAF-F20D-5A43-58691650D48B.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in cluber</string>
		<key>cate_id</key>
		<string>3994</string>
		<key>id</key>
		<string>1049105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>in club,in</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>阿东 边框 帘子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/8DB8C745-3A49-E58F-0532-28E4950343FA.jpg</string>
		<key>series_id</key>
		<string>3994</string>
		<key>series_name</key>
		<string>in club阿东 日常篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/B7500915-4CAE-884F-DD2A-3326143338E8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/04/B7500915-4CAE-884F-DD2A-3326143338E8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
