<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20015663</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>小西瓜</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/76CDD0A6-3D71-34FA-CC40-52F7817B3D1C.jpg</string>
		<key>series_id</key>
		<string>4247</string>
		<key>series_name</key>
		<string>夏日小装饰~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/75C06702-5703-7F66-F9BC-D3B4D74CFB75.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/75C06702-5703-7F66-F9BC-D3B4D74CFB75.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20016011</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>亮晶晶</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/21/BD70F65B-767A-CF87-16FC-B5EBD606CB2C.jpg</string>
		<key>series_id</key>
		<string>4333</string>
		<key>series_name</key>
		<string>一起变得萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/21/D6BE49EC-1E31-7F1A-21C5-D83E186E39EA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/21/D6BE49EC-1E31-7F1A-21C5-D83E186E39EA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20007493</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>蝴蝶结</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/08/F4DECD4D-93A2-79A1-291A-E7BB1EC086D4.jpg?v=2</string>
		<key>series_id</key>
		<string>2007</string>
		<key>series_name</key>
		<string>小星星的小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/08/044DCBC4-A7F6-4CE0-035F-AEFFE929B4D1.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/08/044DCBC4-A7F6-4CE0-035F-AEFFE929B4D1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20042797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>芳菲未落</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/7C8B5BF3-317A-664A-E825-CF3883F6AC26.jpg</string>
		<key>series_id</key>
		<string>11103</string>
		<key>series_name</key>
		<string>夏花扶风</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/6CDAF7F8-DA48-F35D-6B1E-7608DF834975.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/6CDAF7F8-DA48-F35D-6B1E-7608DF834975.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>青山詩銘</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94877512</string>
		</dict>
		<key>user_id</key>
		<string>94877512</string>
	</dict>
	<dict>
		<key>author</key>
		<string>芒果</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20005374</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>1+1小可爱</string>
		<key>number</key>
		<string>ini3270023</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/EE8F560E-4B52-17EC-A93A-4E0141900BD5.jpg?v=2</string>
		<key>series_id</key>
		<string>1476</string>
		<key>series_name</key>
		<string>汤圆么么哒~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/2CCC3CF3-4F31-3274-684B-2C79787BBAF1.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/2CCC3CF3-4F31-3274-684B-2C79787BBAF1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>青儿KID</string>
			<key>number</key>
			<string>ini3270023</string>
			<key>user_id</key>
			<string>35595454</string>
		</dict>
		<key>user_id</key>
		<string>35595454</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20004912</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>蝶光</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/82DC2E18-5A55-404B-2A9E-55EFB007E90E.jpg?v=2</string>
		<key>series_id</key>
		<string>1358</string>
		<key>series_name</key>
		<string>缤纷点缀</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/C493D89E-6A87-8516-5699-2F66687B4A48.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/C493D89E-6A87-8516-5699-2F66687B4A48.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一只燕子</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20054826</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>boom</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/9FB244CE-7D48-BE30-8F55-3BB0F8170CCA.jpg</string>
		<key>series_id</key>
		<string>14112</string>
		<key>series_name</key>
		<string>简笔表情包</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/2DF5E930-9852-CAEF-4866-3CA6B0DB7F6D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/2DF5E930-9852-CAEF-4866-3CA6B0DB7F6D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Cly--燕</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15207992</string>
		</dict>
		<key>user_id</key>
		<string>15207992</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20008495</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>花朵装饰</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/097A6106-C985-ABD4-1F6B-5DE55E4E07BD.jpg?v=2</string>
		<key>series_id</key>
		<string>2265</string>
		<key>series_name</key>
		<string>懒宝酱の清新装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/64E91AA9-C4F5-B5C3-06BB-CF592D0FF165.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/64E91AA9-C4F5-B5C3-06BB-CF592D0FF165.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20042793</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清凉藤蔓</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/365E849B-5E58-6F47-6B47-27F0E1EEB5D8.jpg</string>
		<key>series_id</key>
		<string>11103</string>
		<key>series_name</key>
		<string>夏花扶风</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/0066E55B-E768-FB82-8B6A-04F0965179B4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/20/0066E55B-E768-FB82-8B6A-04F0965179B4.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>青山詩銘</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94877512</string>
		</dict>
		<key>user_id</key>
		<string>94877512</string>
	</dict>
</array>
</plist>
