<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>草莓馅多多</string>
		<key>cate_id</key>
		<string>1127</string>
		<key>id</key>
		<string>20016187</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1127</string>
		<key>name</key>
		<string>软软与蕉蕉4</string>
		<key>number</key>
		<string>inl642592</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/C138E83D-0A62-6499-CC6B-5A74661BFEF9.jpg</string>
		<key>series_id</key>
		<string>4377</string>
		<key>series_name</key>
		<string>软软与蕉蕉萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/06E8DE60-BE55-ED3C-FE78-AEC1935F69D6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/06E8DE60-BE55-ED3C-FE78-AEC1935F69D6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>草莓馅多多</string>
			<key>number</key>
			<string>inl642592</string>
			<key>user_id</key>
			<string>70383846</string>
		</dict>
		<key>user_id</key>
		<string>70383846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>草莓馅多多</string>
		<key>cate_id</key>
		<string>1127</string>
		<key>id</key>
		<string>20016185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1127</string>
		<key>name</key>
		<string>软软与蕉蕉3</string>
		<key>number</key>
		<string>inl642592</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/6A292903-32B3-4159-487C-36AEBB31D0A6.jpg</string>
		<key>series_id</key>
		<string>4377</string>
		<key>series_name</key>
		<string>软软与蕉蕉萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/CD2FC116-E0A2-2130-3060-94D382DF0006.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/CD2FC116-E0A2-2130-3060-94D382DF0006.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>草莓馅多多</string>
			<key>number</key>
			<string>inl642592</string>
			<key>user_id</key>
			<string>70383846</string>
		</dict>
		<key>user_id</key>
		<string>70383846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>草莓馅多多</string>
		<key>cate_id</key>
		<string>1127</string>
		<key>id</key>
		<string>20016183</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1127</string>
		<key>name</key>
		<string>软软与蕉蕉2</string>
		<key>number</key>
		<string>inl642592</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/8F4C1324-45A7-2FCB-7544-6FAF34BACC12.jpg</string>
		<key>series_id</key>
		<string>4377</string>
		<key>series_name</key>
		<string>软软与蕉蕉萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/32B3057F-7051-7A59-9FBC-E004C0E96D67.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/32B3057F-7051-7A59-9FBC-E004C0E96D67.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>草莓馅多多</string>
			<key>number</key>
			<string>inl642592</string>
			<key>user_id</key>
			<string>70383846</string>
		</dict>
		<key>user_id</key>
		<string>70383846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>草莓馅多多</string>
		<key>cate_id</key>
		<string>1127</string>
		<key>id</key>
		<string>20016181</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1127</string>
		<key>name</key>
		<string>软软与蕉蕉1</string>
		<key>number</key>
		<string>inl642592</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/11A1558E-A925-C9CF-3B4B-8C1B97CE0D6A.jpg</string>
		<key>series_id</key>
		<string>4377</string>
		<key>series_name</key>
		<string>软软与蕉蕉萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/1B691DF2-6F74-6262-E67A-A518C6B46E68.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/1B691DF2-6F74-6262-E67A-A518C6B46E68.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>草莓馅多多</string>
			<key>number</key>
			<string>inl642592</string>
			<key>user_id</key>
			<string>70383846</string>
		</dict>
		<key>user_id</key>
		<string>70383846</string>
	</dict>
</array>
</plist>
