<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>284</string>
		<key>id</key>
		<string>20053096</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>油爆叽丁春和日丽</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/15/CB0F8A4F-1CB1-C680-8BF1-E793430B2E1E.jpg</string>
		<key>series_id</key>
		<string>13680</string>
		<key>series_name</key>
		<string>油爆叽丁春游</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/15/80C4346F-3042-7544-9E71-95DEBF716935.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/15/80C4346F-3042-7544-9E71-95DEBF716935.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>284</string>
		<key>id</key>
		<string>20052745</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>春天你好</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/920E9FA8-ED4A-580A-D4CC-D5EE18B1FA8A.jpg</string>
		<key>series_id</key>
		<string>13593</string>
		<key>series_name</key>
		<string>春天来临</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/05C62F4C-BE5E-EFBF-EB4D-8436E520AB82.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/05C62F4C-BE5E-EFBF-EB4D-8436E520AB82.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓜小西</string>
		<key>cate_id</key>
		<string>284</string>
		<key>id</key>
		<string>20009171</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>284</string>
		<key>name</key>
		<string>春困</string>
		<key>number</key>
		<string>xalayo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/D5DF2BA6-29E7-2835-5B60-E2A0F8EAD34D.jpg?v=2</string>
		<key>series_id</key>
		<string>2491</string>
		<key>series_name</key>
		<string>瓜小西流行语贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/F0555ADF-3D4E-E698-FA0A-38A069282EEC.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/F0555ADF-3D4E-E698-FA0A-38A069282EEC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓜小西</string>
			<key>number</key>
			<string>xalayo</string>
			<key>user_id</key>
			<string>35910588</string>
		</dict>
		<key>user_id</key>
		<string>35910588</string>
	</dict>
</array>
</plist>
