<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20022019</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>福大包包子</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/C5EAE849-2747-9E1F-2986-852D33093051.jpg</string>
		<key>series_id</key>
		<string>5919</string>
		<key>series_name</key>
		<string>福大包包子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/E6AF9044-CB09-3745-B274-B61F77EF5E36.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/E6AF9044-CB09-3745-B274-B61F77EF5E36.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20022017</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>福大包包子</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/4CD14879-D20F-6103-E9F3-20A611CF8986.jpg</string>
		<key>series_id</key>
		<string>5919</string>
		<key>series_name</key>
		<string>福大包包子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/5E00F4C9-7547-5F50-1C0C-A6A337193FBD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/5E00F4C9-7547-5F50-1C0C-A6A337193FBD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20022015</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>福大包包子</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/0B2BE57B-9E0E-D919-D905-1AB6C158D2A8.jpg</string>
		<key>series_id</key>
		<string>5919</string>
		<key>series_name</key>
		<string>福大包包子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/31915E7F-36DE-D889-C41F-DAB18FB04B20.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/31915E7F-36DE-D889-C41F-DAB18FB04B20.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20022013</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>福大包包子</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/1D10BC46-BD4B-EE36-7697-02F44F2D3E00.jpg</string>
		<key>series_id</key>
		<string>5919</string>
		<key>series_name</key>
		<string>福大包包子系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/14FEDF78-F0B8-0D0A-4298-10806EF4F31D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/16/14FEDF78-F0B8-0D0A-4298-10806EF4F31D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20021371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>比基尼福阿包</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/92F260CC-0A81-0D5F-107C-4B417280F0C3.jpg</string>
		<key>series_id</key>
		<string>5757</string>
		<key>series_name</key>
		<string>福阿包系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/4E97F2BD-9B30-C475-9BE1-09848C8C5D92.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/4E97F2BD-9B30-C475-9BE1-09848C8C5D92.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20021369</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>比基尼福阿包</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/7618C5D6-4828-0E11-D115-00B1CF9EF2BF.jpg</string>
		<key>series_id</key>
		<string>5757</string>
		<key>series_name</key>
		<string>福阿包系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/A26485ED-3B98-0A79-E796-D1818B706D3A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/A26485ED-3B98-0A79-E796-D1818B706D3A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20021367</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>比基尼福阿包</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/15E6CA9A-1830-F6BB-3F47-47F36A3909D1.jpg</string>
		<key>series_id</key>
		<string>5757</string>
		<key>series_name</key>
		<string>福阿包系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/731E55D4-A50C-C1F6-2D9D-AFAA8DB991DB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/731E55D4-A50C-C1F6-2D9D-AFAA8DB991DB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1293</string>
		<key>id</key>
		<string>20021365</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1293</string>
		<key>name</key>
		<string>比基尼福阿包</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/0B60860B-5919-2EF7-EECA-86C193A77DD0.jpg</string>
		<key>series_id</key>
		<string>5757</string>
		<key>series_name</key>
		<string>福阿包系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/B2FE72BF-2745-8B62-90F6-0661573CC8A9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/14/B2FE72BF-2745-8B62-90F6-0661573CC8A9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
</array>
</plist>
