<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嚯嚯</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20010981</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>感谢有你</string>
		<key>number</key>
		<string>ina4386729</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/317DF35F-5E9B-96BF-CF26-082F543061B1.jpg</string>
		<key>series_id</key>
		<string>2979</string>
		<key>series_name</key>
		<string>爱情爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/132764AC-9BAC-ECA3-4DE9-BE72495CCED6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/132764AC-9BAC-ECA3-4DE9-BE72495CCED6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>night念</string>
			<key>number</key>
			<string>ina4386729</string>
			<key>user_id</key>
			<string>46691637</string>
		</dict>
		<key>user_id</key>
		<string>46691637</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>1903</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>恋爱这件小事</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/16/5CCB27DD-DE48-6F8F-080F-35B2CE22BE35.jpg?v=2</string>
		<key>series_id</key>
		<string>282</string>
		<key>series_name</key>
		<string>爱情彩色</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/16/2D383011-8A11-0C14-F529-EBEB4FAEA54A.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/16/2D383011-8A11-0C14-F529-EBEB4FAEA54A.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006138</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>baby</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/1CC726CF-9A0E-61D6-F378-B5882271CD67.jpg?v=2</string>
		<key>series_id</key>
		<string>1666</string>
		<key>series_name</key>
		<string>爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/ECF736AE-CD99-B6DA-C1C8-4AAF7E3FC124.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/ECF736AE-CD99-B6DA-C1C8-4AAF7E3FC124.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20009595</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>635</string>
		<key>name</key>
		<string>爱你么么哒</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/E67031BC-D982-016E-3A77-8E5BF8D4DF27.jpg?v=2</string>
		<key>series_id</key>
		<string>2629</string>
		<key>series_name</key>
		<string>情景文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/870F0107-6CBF-4456-473A-0ED8FB62F0EA.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/870F0107-6CBF-4456-473A-0ED8FB62F0EA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20040895</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>爱你,告白</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/81293811-F945-236B-705C-D33D5BBB8E1E.jpg</string>
		<key>series_id</key>
		<string>10627</string>
		<key>series_name</key>
		<string>小小の文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/754BE46E-A357-F3C1-9E59-5C1BAA324D21.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/754BE46E-A357-F3C1-9E59-5C1BAA324D21.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20008965</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我爱你</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/D2F3FF99-9BE7-B121-3028-E65364C5DD95.jpg?v=2</string>
		<key>series_id</key>
		<string>2387</string>
		<key>series_name</key>
		<string>三个字是我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/61B0DC83-49BE-F621-7808-0FBC085818BB.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/61B0DC83-49BE-F621-7808-0FBC085818BB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006190</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>love</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/B562A756-FFB1-3E7B-BF14-187B1CAF9DC7.jpg?v=2</string>
		<key>series_id</key>
		<string>1680</string>
		<key>series_name</key>
		<string>小星星之love</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/01FD1C7C-2725-CF19-E820-8FAD640FE5C0.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/01FD1C7C-2725-CF19-E820-8FAD640FE5C0.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓜小西</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20005250</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>kiss</string>
		<key>number</key>
		<string>xalayo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/C222FB15-A6F7-DFF0-E943-8D54AD3461FE.jpg?v=2</string>
		<key>series_id</key>
		<string>1444</string>
		<key>series_name</key>
		<string>瓜小西潮流必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/42C934DB-A381-0B5E-556C-6BBFD0D7BEEA.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/42C934DB-A381-0B5E-556C-6BBFD0D7BEEA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓜小西</string>
			<key>number</key>
			<string>xalayo</string>
			<key>user_id</key>
			<string>35910588</string>
		</dict>
		<key>user_id</key>
		<string>35910588</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嚯嚯</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20010983</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>永远在你身边</string>
		<key>number</key>
		<string>ina4386729</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/7643CDEA-5DB6-DDAD-B386-457D7AEDE185.jpg</string>
		<key>series_id</key>
		<string>2979</string>
		<key>series_name</key>
		<string>爱情爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/5D116902-1162-9593-E60B-987AF6244A1F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/5D116902-1162-9593-E60B-987AF6244A1F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>night念</string>
			<key>number</key>
			<string>ina4386729</string>
			<key>user_id</key>
			<string>46691637</string>
		</dict>
		<key>user_id</key>
		<string>46691637</string>
	</dict>
</array>
</plist>
