<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>阿菌</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20011197</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我爱你</string>
		<key>number</key>
		<string>mujunn</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/80227066-1139-E4F2-D8DF-42F3DC81ECAF.jpg</string>
		<key>series_id</key>
		<string>3035</string>
		<key>series_name</key>
		<string>520生活系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/2FEE469A-9C62-41AB-5C19-3CA658B2C5C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/2FEE469A-9C62-41AB-5C19-3CA658B2C5C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>阿菌</string>
			<key>number</key>
			<string>mujunn</string>
			<key>user_id</key>
			<string>35327486</string>
		</dict>
		<key>user_id</key>
		<string>35327486</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20011069</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>LOVE</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/C7A1FA65-1F80-A915-14E9-A255B83889B4.jpg</string>
		<key>series_id</key>
		<string>3001</string>
		<key>series_name</key>
		<string>5.20情景文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/3F1E981B-07CE-A015-22E0-085A4F79DDC2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/3F1E981B-07CE-A015-22E0-085A4F79DDC2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20010541</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>MISS YOU</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/FEC811C4-7709-E0FD-D61A-C254200284A5.jpg?v=2</string>
		<key>series_id</key>
		<string>2869</string>
		<key>series_name</key>
		<string>Mom好想告诉你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/D42579CC-6D06-EBA1-655B-A4262A489042.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/D42579CC-6D06-EBA1-655B-A4262A489042.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20009683</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>在一起</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/0B961D9D-E02D-EAF2-0D4A-94DCE6C32D62.jpeg?v=2</string>
		<key>series_id</key>
		<string>2651</string>
		<key>series_name</key>
		<string>幸福文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/2EE32691-D6A8-7825-14DD-F3533B4BCBC9.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/2EE32691-D6A8-7825-14DD-F3533B4BCBC9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20008971</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我爱你</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/16/AF497AA1-BA63-1C06-E5E2-05C58A85A721.jpg?v=2</string>
		<key>series_id</key>
		<string>2387</string>
		<key>series_name</key>
		<string>三个字是我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/94D27160-4B85-EF7D-15B9-528C263C2876.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/94D27160-4B85-EF7D-15B9-528C263C2876.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20008945</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>this honey</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/12/F5CF4333-E11F-77CB-FB1B-6F12BAFBD93E.jpg?v=2</string>
		<key>series_id</key>
		<string>2381</string>
		<key>series_name</key>
		<string>涛粑鼻我有事要说</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/12/03494B0F-A487-DFCB-2122-E57C5B69CA90.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/12/03494B0F-A487-DFCB-2122-E57C5B69CA90.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20008255</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>myheart</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/775A3EEE-3047-11B8-1355-36D79B5B27C5.jpg?v=2</string>
		<key>series_id</key>
		<string>2205</string>
		<key>series_name</key>
		<string>卡哇伊文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/1010505C-9672-6708-2985-6D831039A8AA.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/1010505C-9672-6708-2985-6D831039A8AA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20007187</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>单身ing</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/96C70AD2-8B58-33F9-DC33-BDC22CDA1071.jpg?v=2</string>
		<key>series_id</key>
		<string>1929</string>
		<key>series_name</key>
		<string>臭美ing</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/DC6B683B-C0B0-8911-D6F8-A62260A1F3DC.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/DC6B683B-C0B0-8911-D6F8-A62260A1F3DC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006510</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>I LOVE YOU</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/B931E783-38B1-DB25-8F54-726122248918.jpg?v=2</string>
		<key>series_id</key>
		<string>1760</string>
		<key>series_name</key>
		<string>甜蜜蜜</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/B3B42309-F172-F1FE-C5F6-0C0058FEA7E1.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/B3B42309-F172-F1FE-C5F6-0C0058FEA7E1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
</array>
</plist>
