<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006366</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>孤单想念</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/0AC096E8-2108-E1C6-B6EE-8A58BF5DA4C8.jpg?v=2</string>
		<key>series_id</key>
		<string>1724</string>
		<key>series_name</key>
		<string>内涵文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/97B3592C-9FA1-C618-FA99-A5855C255D99.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/97B3592C-9FA1-C618-FA99-A5855C255D99.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006272</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/4A09E139-415C-CF49-00E4-FDF75467C010.jpg?v=2</string>
		<key>series_id</key>
		<string>1700</string>
		<key>series_name</key>
		<string>白色情人de表白</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/92EE1032-9982-928D-2B5B-D1ED9CCCF3D5.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/92EE1032-9982-928D-2B5B-D1ED9CCCF3D5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006268</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>祝福大家</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/8BE15C27-D93F-94BD-34F7-2013F894F459.jpg?v=2</string>
		<key>series_id</key>
		<string>1698</string>
		<key>series_name</key>
		<string>单身狗情人节专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/2EF74903-47DE-0575-AC03-FC335D9A313A.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/2EF74903-47DE-0575-AC03-FC335D9A313A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006266</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>一个人也可以很好</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/647D6C7B-66CD-1EEC-6D35-CC8B3450E3F4.jpg?v=2</string>
		<key>series_id</key>
		<string>1698</string>
		<key>series_name</key>
		<string>单身狗情人节专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/AF0BFED5-1815-F2B4-F678-79517CF98680.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/11/AF0BFED5-1815-F2B4-F678-79517CF98680.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006264</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>不要伤害我</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/C3D121B8-50D6-CFDF-2990-13694210AC07.jpg?v=2</string>
		<key>series_id</key>
		<string>1698</string>
		<key>series_name</key>
		<string>单身狗情人节专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/1976EF4C-14BE-22C8-70C8-637A876C09E0.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/1976EF4C-14BE-22C8-70C8-637A876C09E0.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006250</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>钻戒</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/780A2297-D5C0-F54B-CF80-8A9EAFC10432.jpg?v=2</string>
		<key>series_id</key>
		<string>1694</string>
		<key>series_name</key>
		<string>每一天都是情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/A0212E4A-DF84-38FF-EEBD-51474CA03027.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/A0212E4A-DF84-38FF-EEBD-51474CA03027.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>踩踩</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006234</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>YES I DO</string>
		<key>number</key>
		<string>ini1009658</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/8CD044A6-D22A-859B-31E3-86A3024D645F.jpg?v=2</string>
		<key>series_id</key>
		<string>1690</string>
		<key>series_name</key>
		<string>恋爱彩虹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/4F9D422B-F261-19A5-9EFD-E3236AF60CD4.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/4F9D422B-F261-19A5-9EFD-E3236AF60CD4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>踩踩0104</string>
			<key>number</key>
			<string>ini1009658</string>
			<key>user_id</key>
			<string>12811662</string>
		</dict>
		<key>user_id</key>
		<string>12811662</string>
	</dict>
	<dict>
		<key>author</key>
		<string>文溢小歪</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006172</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>宣你</string>
		<key>number</key>
		<string>ind3551022</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/CB59B681-3B17-0138-5C76-CAB4360D6D27.jpg?v=2</string>
		<key>series_id</key>
		<string>1674</string>
		<key>series_name</key>
		<string>情人节表白系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/C677F44A-57DD-EF77-E703-C19AC2CEC782.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/C677F44A-57DD-EF77-E703-C19AC2CEC782.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>文溢小歪</string>
			<key>number</key>
			<string>ind3551022</string>
			<key>user_id</key>
			<string>38388706</string>
		</dict>
		<key>user_id</key>
		<string>38388706</string>
	</dict>
	<dict>
		<key>author</key>
		<string>文溢小歪</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006168</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>miss you</string>
		<key>number</key>
		<string>ind3551022</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/1C613E81-5761-E146-3E89-3BD3FA2983D2.jpg?v=2</string>
		<key>series_id</key>
		<string>1674</string>
		<key>series_name</key>
		<string>情人节表白系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/B670E599-4AA6-905C-01BA-858785878DEE.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/B670E599-4AA6-905C-01BA-858785878DEE.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>文溢小歪</string>
			<key>number</key>
			<string>ind3551022</string>
			<key>user_id</key>
			<string>38388706</string>
		</dict>
		<key>user_id</key>
		<string>38388706</string>
	</dict>
</array>
</plist>
