<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20029779</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>有你的快乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/5089624D-B009-4473-4BAF-2D6C419BBBF5.jpg</string>
		<key>series_id</key>
		<string>7853</string>
		<key>series_name</key>
		<string>扈の小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/325CD6A7-621E-AC3C-18BC-04FAA3C40502.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/325CD6A7-621E-AC3C-18BC-04FAA3C40502.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20010553</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>羞</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/0E071269-4FC3-611D-2627-48876FA5DF99.jpg?v=2</string>
		<key>series_id</key>
		<string>2871</string>
		<key>series_name</key>
		<string>彩色心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/8CD467CC-32D4-4B1D-C243-92CA8F99265F.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/05/06/8CD467CC-32D4-4B1D-C243-92CA8F99265F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20017483</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我爱你</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/28/4116445E-5D70-1E47-85B8-A43559289DD0.jpg</string>
		<key>series_id</key>
		<string>4751</string>
		<key>series_name</key>
		<string>Anne我你系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/28/4133BB3F-5281-422A-AD72-704069072A48.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/28/4133BB3F-5281-422A-AD72-704069072A48.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20006274</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>吻我</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/69F9C40C-9C36-9C97-4B69-C24FFD008D8B.jpg?v=2</string>
		<key>series_id</key>
		<string>1700</string>
		<key>series_name</key>
		<string>白色情人de表白</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/81F06938-67F6-478C-84D8-389D57A74C8B.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/11/81F06938-67F6-478C-84D8-389D57A74C8B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>樱桃</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20007305</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我喜欢的就是最好哒</string>
		<key>number</key>
		<string>inc1223795</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/AD051820-FD47-9FE7-90BE-E7581216DD96.jpg?v=2</string>
		<key>series_id</key>
		<string>1959</string>
		<key>series_name</key>
		<string>时尚时尚最时尚</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/7964234D-C2F9-AC65-D0BA-AEEEFAF472BF.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/7964234D-C2F9-AC65-D0BA-AEEEFAF472BF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>樱桃的理想</string>
			<key>number</key>
			<string>inc1223795</string>
			<key>user_id</key>
			<string>15571520</string>
		</dict>
		<key>user_id</key>
		<string>15571520</string>
	</dict>
	<dict>
		<key>author</key>
		<string>kim多多</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20011909</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>爱你哟</string>
		<key>number</key>
		<string>inf1095925</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/25/F83A4B09-2F6C-A4B9-731D-8EF2D6143EE7.jpg</string>
		<key>series_id</key>
		<string>3221</string>
		<key>series_name</key>
		<string>文小蝴蝶</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/25/D7127FC7-A463-9229-078F-CAC6CFADE30A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/25/D7127FC7-A463-9229-078F-CAC6CFADE30A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>机智的小多多</string>
			<key>number</key>
			<string>inf1095925</string>
			<key>user_id</key>
			<string>14313453</string>
		</dict>
		<key>user_id</key>
		<string>14313453</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20040977</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>爱你,告白</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝贝520</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/19/5BBF8229-0F61-05F0-7E41-3C9535440A53.jpg</string>
		<key>series_id</key>
		<string>10649</string>
		<key>series_name</key>
		<string>宝贝520</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/5BD07707-FBEF-5E01-6787-5EB1B889535F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/5BD07707-FBEF-5E01-6787-5EB1B889535F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20040951</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>爱你,告白</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>Anne520文字</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/C4780254-CE9D-F7F3-9637-B118050F7639.jpg</string>
		<key>series_id</key>
		<string>10641</string>
		<key>series_name</key>
		<string>表白520系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/6E9EDCDF-D97D-EFC6-9E6A-FC908F9D6748.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/18/6E9EDCDF-D97D-EFC6-9E6A-FC908F9D6748.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20011191</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>秀恩爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>我爱你</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/15/E751D370-011E-CB49-C9B5-E94B931EAE30.jpg</string>
		<key>series_id</key>
		<string>3033</string>
		<key>series_name</key>
		<string>恋爱的季节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/15/19400ADF-CBB3-B078-179F-A30A211CA7C8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/15/19400ADF-CBB3-B078-179F-A30A211CA7C8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
</array>
</plist>
