<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>黑暗料理</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/9CA7726A-79F4-1233-B9ED-DA26B979ECA9.jpg?v=2</string>
		<key>series_id</key>
		<string>2167</string>
		<key>series_name</key>
		<string>吃货志</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/1253C7DA-119A-4BF1-D9EB-E1D91523158B.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/1253C7DA-119A-4BF1-D9EB-E1D91523158B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>私房の菜</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/01/04B2DE71-CBB0-6DE9-1604-128798F731EC.jpg?v=2</string>
		<key>series_id</key>
		<string>2165</string>
		<key>series_name</key>
		<string>吃货大联萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/01/FFEFC29A-9BE0-9109-9988-24F005431FAD.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/01/FFEFC29A-9BE0-9109-9988-24F005431FAD.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>妙言酱</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008551</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>breakfast</string>
		<key>number</key>
		<string>MJY444777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/07/3F13E99F-5096-0873-551F-390F0ED5F2B4.jpg?v=2</string>
		<key>series_id</key>
		<string>2279</string>
		<key>series_name</key>
		<string>Eat-eat</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/07/3D51970B-135B-E9D3-DEEB-2B983A209DCD.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/07/3D51970B-135B-E9D3-DEEB-2B983A209DCD.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妙言酱</string>
			<key>number</key>
			<string>MJY444777</string>
			<key>user_id</key>
			<string>32494234</string>
		</dict>
		<key>user_id</key>
		<string>32494234</string>
	</dict>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008529</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>午餐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>豪华</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/D228FC41-B9F3-1239-121D-E73713F8A050.jpg?v=2</string>
		<key>series_id</key>
		<string>2273</string>
		<key>series_name</key>
		<string>小清新文艺范er</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/1ED49692-3B46-C179-79E6-89C2F237C80C.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/1ED49692-3B46-C179-79E6-89C2F237C80C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>1911</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>深夜放毒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/57EBA925-75F4-4F16-075E-4FA567073B64.jpg?v=2</string>
		<key>series_id</key>
		<string>663</string>
		<key>series_name</key>
		<string>美食日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/9A04B3A2-9F83-DF77-5183-8CE0F3C884AB.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/9A04B3A2-9F83-DF77-5183-8CE0F3C884AB.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>436</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚餐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>晚饭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i5.jiuyan.info/in/2014/09/29/5F1E540A-E020-18C3-EB09-B43004003C8A.jpg?v=2</string>
		<key>series_id</key>
		<string>663</string>
		<key>series_name</key>
		<string>美食日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i5.jiuyan.info/in/2014/09/29/3AB52169-BE49-2A79-9306-BB372CE19B4D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i5.jiuyan.info/in/2014/09/29/3AB52169-BE49-2A79-9306-BB372CE19B4D.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓜小西</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20009159</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>深夜食堂</string>
		<key>number</key>
		<string>xalayo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/15D5ECE9-48F0-E709-0852-C813E681B8A0.jpg?v=2</string>
		<key>series_id</key>
		<string>2489</string>
		<key>series_name</key>
		<string>瓜小西吃货水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/6D618431-374A-3AC4-0E43-7E314605E436.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/17/6D618431-374A-3AC4-0E43-7E314605E436.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓜小西</string>
			<key>number</key>
			<string>xalayo</string>
			<key>user_id</key>
			<string>35910588</string>
		</dict>
		<key>user_id</key>
		<string>35910588</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008315</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>不吃会死的甜品</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/EF09557B-68E2-2CA3-85F2-5BF570E18F32.jpg?v=2</string>
		<key>series_id</key>
		<string>2219</string>
		<key>series_name</key>
		<string>小C_美食文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/79008098-EEFC-BD63-2E05-9F60CA955CDC.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/79008098-EEFC-BD63-2E05-9F60CA955CDC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008101</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>下午茶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>戒不掉的下午茶</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/8CB67E8D-035C-9321-C5C6-0848E2953C91.jpg?v=2</string>
		<key>series_id</key>
		<string>2165</string>
		<key>series_name</key>
		<string>吃货大联萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/D716D7EC-F68F-5243-3AAF-ABE3A1715F25.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/D716D7EC-F68F-5243-3AAF-ABE3A1715F25.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
