<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>弯弯酱</string>
		<key>cate_id</key>
		<string>3974</string>
		<key>id</key>
		<string>20056378</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>打招呼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/9E12304B-34FD-29A2-C64B-39FBAFA578AE.jpg</string>
		<key>series_id</key>
		<string>14520</string>
		<key>series_name</key>
		<string>弯妹儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/82652E32-E4DB-4EA4-DA98-EAAAD3232FE9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/82652E32-E4DB-4EA4-DA98-EAAAD3232FE9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>弯弯酱wanwan</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12738662</string>
		</dict>
		<key>user_id</key>
		<string>12738662</string>
	</dict>
	<dict>
		<key>author</key>
		<string>弯弯酱</string>
		<key>cate_id</key>
		<string>3974</string>
		<key>id</key>
		<string>20056382</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>yeah~</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/EB688A16-B1A0-FDDF-3489-07C087B38649.jpg</string>
		<key>series_id</key>
		<string>14520</string>
		<key>series_name</key>
		<string>弯妹儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/76A8649C-DEB6-5AAF-85D8-DE199B73E8FD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/28/76A8649C-DEB6-5AAF-85D8-DE199B73E8FD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>弯弯酱wanwan</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12738662</string>
		</dict>
		<key>user_id</key>
		<string>12738662</string>
	</dict>
	<dict>
		<key>author</key>
		<string>弯弯酱</string>
		<key>cate_id</key>
		<string>3974</string>
		<key>id</key>
		<string>20056380</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>哟吼~</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/28/1AB4CB26-3854-D552-6C05-28D6FE1E984B.jpg</string>
		<key>series_id</key>
		<string>14520</string>
		<key>series_name</key>
		<string>弯妹儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/28/3132E5C5-74D6-90BE-35B2-A160389C4FCA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/28/3132E5C5-74D6-90BE-35B2-A160389C4FCA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>弯弯酱wanwan</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12738662</string>
		</dict>
		<key>user_id</key>
		<string>12738662</string>
	</dict>
</array>
</plist>
