<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>20050871</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>看到我的心了吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/02/7010645E-CDD9-4114-9857-33294CC5790E.jpg</string>
		<key>series_id</key>
		<string>13123</string>
		<key>series_name</key>
		<string>治愈系小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/02/56368F63-BA59-6049-C72F-56FC6211866A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/02/56368F63-BA59-6049-C72F-56FC6211866A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘟小图</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74468460</string>
		</dict>
		<key>user_id</key>
		<string>74468460</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>20039615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我是勤劳的好宝宝</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/1F9380EE-3E06-E6FE-7B06-62F519DCC150.jpg</string>
		<key>series_id</key>
		<string>10307</string>
		<key>series_name</key>
		<string>多多酱文字系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/089D05E1-48F4-0746-C8A7-3689040ACBD2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/089D05E1-48F4-0746-C8A7-3689040ACBD2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>1154</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2247</string>
		<key>name</key>
		<string>年轻人不要老熬夜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/19/86EEF231-0163-0723-CA80-698A9F922201.jpg?v=2</string>
		<key>series_id</key>
		<string>667</string>
		<key>series_name</key>
		<string>流行用语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/19/D58870C1-0A50-9A71-03DE-27F433F566BC.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/19/D58870C1-0A50-9A71-03DE-27F433F566BC.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>BAOY1</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>20045099</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>送花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/16/B17D17B4-C81E-F39E-DEAE-7C11AB8B3D64.jpg</string>
		<key>series_id</key>
		<string>11681</string>
		<key>series_name</key>
		<string>假装自己在直播</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/16/F5F85CDE-4013-9A53-ADB0-9809083B5CBD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/16/F5F85CDE-4013-9A53-ADB0-9809083B5CBD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BAOY1</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>40395236</string>
		</dict>
		<key>user_id</key>
		<string>40395236</string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓶盖HLY</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>20042693</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>给爷笑一个</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/17/CE4E43C6-1C2A-331E-2E06-681C803F0F49.jpg</string>
		<key>series_id</key>
		<string>11077</string>
		<key>series_name</key>
		<string>给爷笑一个！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/16/367EB340-3D09-B977-094D-27992FC96E87.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/16/367EB340-3D09-B977-094D-27992FC96E87.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓶盖HLY</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74035724</string>
		</dict>
		<key>user_id</key>
		<string>74035724</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>2703</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>667</string>
		<key>name</key>
		<string>哎哟不错哦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/ABB05638-D2C4-DB83-B0BC-E730EB8D3A4E.jpg</string>
		<key>series_id</key>
		<string>667</string>
		<key>series_name</key>
		<string>流行用语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/AF4374BB-0B1E-81C0-AAE3-1F5A7ADFDFB8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/AF4374BB-0B1E-81C0-AAE3-1F5A7ADFDFB8.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>525</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>667</string>
		<key>name</key>
		<string>不想上班</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2014/12/31/7681E420-D790-C362-A3DB-FD604A85B7BA.jpg?v=2</string>
		<key>series_id</key>
		<string>667</string>
		<key>series_name</key>
		<string>流行用语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2014/12/31/7B5AD7D9-276E-5952-B849-DF3225301FA9.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2014/12/31/7B5AD7D9-276E-5952-B849-DF3225301FA9.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>20039401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>科比,篮球,青春</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>再见青春</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/52EBBDF1-30CD-F018-5041-918D9338B478.jpg</string>
		<key>series_id</key>
		<string>10255</string>
		<key>series_name</key>
		<string>再见KOBE</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/4D3E993E-5AC5-BB07-C005-9A206278A4B7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/4D3E993E-5AC5-BB07-C005-9A206278A4B7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>667</string>
		<key>id</key>
		<string>2315</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>667</string>
		<key>name</key>
		<string>我们</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/07EDFBBE-CD80-EB02-0923-7896D77015C5.jpg</string>
		<key>series_id</key>
		<string>667</string>
		<key>series_name</key>
		<string>流行用语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/E01536DC-E364-39BD-DF09-DE1704B97B4D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/E01536DC-E364-39BD-DF09-DE1704B97B4D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
