<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20043431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>加油fighting</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/5799A8DA-D7B2-27AA-3C7F-0D1DD423596B.jpg</string>
		<key>series_id</key>
		<string>11261</string>
		<key>series_name</key>
		<string>石榴的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/CF99537A-3A67-2B0F-9B76-60A225BF5622.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/CF99537A-3A67-2B0F-9B76-60A225BF5622.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20043427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>送你爱心mua</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/2EAA2B9B-3C52-0512-DF7B-95D0D3A8BA2C.jpg</string>
		<key>series_id</key>
		<string>11261</string>
		<key>series_name</key>
		<string>石榴的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/9919595D-6104-D1DF-2636-D6C7386524E9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/18/9919595D-6104-D1DF-2636-D6C7386524E9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20043425</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我除了美貌什么都没有</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/18/4BC10561-F4ED-3366-686B-DC1B67C4C225.jpg</string>
		<key>series_id</key>
		<string>11261</string>
		<key>series_name</key>
		<string>石榴的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/18/E135F940-6154-43D4-0691-D911A7BFC26A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/18/E135F940-6154-43D4-0691-D911A7BFC26A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20009795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>701</string>
		<key>name</key>
		<string>小石榴</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/A035BD19-DA94-AA3E-4723-5BF1ECD24D97.jpg?v=2</string>
		<key>series_id</key>
		<string>2679</string>
		<key>series_name</key>
		<string>小石榴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2D1233FF-8BC7-5F3C-39A5-4F0895D7398D.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2D1233FF-8BC7-5F3C-39A5-4F0895D7398D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20009793</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>701</string>
		<key>name</key>
		<string>小石榴</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/8221D979-5C82-9638-736B-37B77A1E9A0D.jpg?v=2</string>
		<key>series_id</key>
		<string>2679</string>
		<key>series_name</key>
		<string>小石榴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/F33B1ABB-63FD-8B78-B511-46B1B65B7BC9.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/F33B1ABB-63FD-8B78-B511-46B1B65B7BC9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20009791</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>701</string>
		<key>name</key>
		<string>小石榴</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/3FBC3C5D-3AE2-FCB8-5987-A83D39517E3B.jpg?v=2</string>
		<key>series_id</key>
		<string>2679</string>
		<key>series_name</key>
		<string>小石榴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/10F0C8AF-49D9-6FCD-CD35-2C1A4760C79C.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/10F0C8AF-49D9-6FCD-CD35-2C1A4760C79C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20009789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>701</string>
		<key>name</key>
		<string>小石榴</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/CDBBB794-580E-26FC-2380-3511C4C2F96E.jpg?v=2</string>
		<key>series_id</key>
		<string>2679</string>
		<key>series_name</key>
		<string>小石榴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/0D2ABA1E-F824-1D65-BB7D-51A7177A5973.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/0D2ABA1E-F824-1D65-BB7D-51A7177A5973.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
	<dict>
		<key>author</key>
		<string>石榴pomi</string>
		<key>cate_id</key>
		<string>701</string>
		<key>id</key>
		<string>20043429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>学习使我快乐</string>
		<key>number</key>
		<string>pomegranate</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/06/253CC68A-5C88-A868-8CA1-87F9E4191E9E.jpg</string>
		<key>series_id</key>
		<string>11261</string>
		<key>series_name</key>
		<string>石榴的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/06/BB086DF0-E61B-F4C9-1789-B0FEEAFEAEF5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/06/BB086DF0-E61B-F4C9-1789-B0FEEAFEAEF5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>石榴pomi</string>
			<key>number</key>
			<string>pomegranate</string>
			<key>user_id</key>
			<string>46776607</string>
		</dict>
		<key>user_id</key>
		<string>46776607</string>
	</dict>
</array>
</plist>
