<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20032001</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>双十一,双11,幻想,买买买,想要礼物</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>高跟鞋</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/04/938CBE26-F7AC-3936-6A9A-C1F56FDA8EBD.jpg</string>
		<key>series_id</key>
		<string>8405</string>
		<key>series_name</key>
		<string>双十一想买系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/04/DACD8EBD-A956-A45E-9591-8AE75904CF05.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/04/DACD8EBD-A956-A45E-9591-8AE75904CF05.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20040575</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>便便</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/11/2EB15569-22FB-6C8B-B8CA-8FF9401E4714.jpg</string>
		<key>series_id</key>
		<string>10547</string>
		<key>series_name</key>
		<string>像素情绪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/11/AC96E4F4-FFBD-632F-A47A-FD067120EB5D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/11/AC96E4F4-FFBD-632F-A47A-FD067120EB5D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20012035</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>想要礼物</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>儿童节，礼物，生日，</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/3D8C1375-CD86-5ED7-5050-5FA15E870C25.jpg</string>
		<key>series_id</key>
		<string>3253</string>
		<key>series_name</key>
		<string>童心童趣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/C1ABA37F-A987-A78E-89C9-EFA3E2424BDA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/C1ABA37F-A987-A78E-89C9-EFA3E2424BDA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>18159</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>想要礼物</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想要巧克力</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/CAF95297-C073-D175-1673-8F1E778A82AA.jpg</string>
		<key>series_id</key>
		<string>1291</string>
		<key>series_name</key>
		<string>幻想气泡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/EBDCC345-58D5-3778-F0FA-1699DADC1757.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/EBDCC345-58D5-3778-F0FA-1699DADC1757.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20011689</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>鸡腿</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/7250569C-7152-1718-3844-F328E1B6DB22.jpg</string>
		<key>series_id</key>
		<string>3159</string>
		<key>series_name</key>
		<string>想吃系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/5F55B105-CCF8-5618-D11B-8424B719C966.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/5F55B105-CCF8-5618-D11B-8424B719C966.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20006478</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>豆芽</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/8BDDE15C-0837-1EEA-9E4D-93A37F01812C.jpeg?v=2</string>
		<key>series_id</key>
		<string>1752</string>
		<key>series_name</key>
		<string>气泡儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/5D21CC59-1410-E31F-F16E-F42928E4EB52.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/5D21CC59-1410-E31F-F16E-F42928E4EB52.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>18155</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>想要礼物</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>化妆品套装</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/BA6648CA-734F-FEB2-D0A6-08BF185DA5E8.jpg</string>
		<key>series_id</key>
		<string>1291</string>
		<key>series_name</key>
		<string>幻想气泡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/05204B2A-B4F1-F80F-1A6F-27906CFA77D8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/22/05204B2A-B4F1-F80F-1A6F-27906CFA77D8.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷漠冰稀饭</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>1050</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/ACD97F21-5268-0FEF-ACAE-4E0C29DA603E.jpg?v=2</string>
		<key>series_id</key>
		<string>1291</string>
		<key>series_name</key>
		<string>幻想气泡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/BCF0F7F9-8974-A982-C11E-04248C0827E6.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/BCF0F7F9-8974-A982-C11E-04248C0827E6.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>18162</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>想要礼物</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想要咖啡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/22/57012A0C-267F-2CA6-5D49-209D337B32BB.jpg</string>
		<key>series_id</key>
		<string>1291</string>
		<key>series_name</key>
		<string>幻想气泡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/22/BA7517B0-35E2-1222-2256-0C1876A8AC28.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/22/BA7517B0-35E2-1222-2256-0C1876A8AC28.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
