<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Wen逗樂樂</string>
		<key>cate_id</key>
		<string>1153</string>
		<key>id</key>
		<string>20018047</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1153</string>
		<key>name</key>
		<string>小炮娘乐乐</string>
		<key>number</key>
		<string>ino847765</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/486356E2-EE74-3B8C-0E13-1BC9D4582635.jpg</string>
		<key>series_id</key>
		<string>4899</string>
		<key>series_name</key>
		<string>淘气小乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/65F87B58-FB81-1723-BAAF-028E64E83F70.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/65F87B58-FB81-1723-BAAF-028E64E83F70.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Wen逗樂樂</string>
			<key>number</key>
			<string>ino847765</string>
			<key>user_id</key>
			<string>72451905</string>
		</dict>
		<key>user_id</key>
		<string>72451905</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Wen逗樂樂</string>
		<key>cate_id</key>
		<string>1153</string>
		<key>id</key>
		<string>20018045</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1153</string>
		<key>name</key>
		<string>捣蛋鬼乐乐</string>
		<key>number</key>
		<string>ino847765</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/AB012C9F-65F8-C4A3-D719-0F0ED8CE9211.jpg</string>
		<key>series_id</key>
		<string>4899</string>
		<key>series_name</key>
		<string>淘气小乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/908D47C7-A2FF-971D-CC02-765CD23D926F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/908D47C7-A2FF-971D-CC02-765CD23D926F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Wen逗樂樂</string>
			<key>number</key>
			<string>ino847765</string>
			<key>user_id</key>
			<string>72451905</string>
		</dict>
		<key>user_id</key>
		<string>72451905</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Wen逗樂樂</string>
		<key>cate_id</key>
		<string>1153</string>
		<key>id</key>
		<string>20018099</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1153</string>
		<key>name</key>
		<string>疼</string>
		<key>number</key>
		<string>ino847765</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/37E21872-3FAE-5139-F336-E24C03FD84BD.jpg</string>
		<key>series_id</key>
		<string>4911</string>
		<key>series_name</key>
		<string>淘气小乐3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/4679821F-2F6A-52BC-8909-2E783399527C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/4679821F-2F6A-52BC-8909-2E783399527C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Wen逗樂樂</string>
			<key>number</key>
			<string>ino847765</string>
			<key>user_id</key>
			<string>72451905</string>
		</dict>
		<key>user_id</key>
		<string>72451905</string>
	</dict>
</array>
</plist>
