<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嬉皮士</string>
		<key>cate_id</key>
		<string>3482</string>
		<key>id</key>
		<string>20051677</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>新年好</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/0D42D4F0-2A26-5C06-5AEE-F42ED7E401A5.jpg</string>
		<key>series_id</key>
		<string>13325</string>
		<key>series_name</key>
		<string>画画过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/98238BDB-7FF4-297A-F92F-6F3DF20FFD10.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/98238BDB-7FF4-297A-F92F-6F3DF20FFD10.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嬉皮士</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111613001</string>
		</dict>
		<key>user_id</key>
		<string>111613001</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嬉皮士</string>
		<key>cate_id</key>
		<string>3482</string>
		<key>id</key>
		<string>20051675</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/B00AF779-552F-5F28-A684-100CDC1D4B1E.jpg</string>
		<key>series_id</key>
		<string>13325</string>
		<key>series_name</key>
		<string>画画过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/4DB82853-E829-108E-ADE1-03109ABA825C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/4DB82853-E829-108E-ADE1-03109ABA825C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嬉皮士</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111613001</string>
		</dict>
		<key>user_id</key>
		<string>111613001</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嬉皮士</string>
		<key>cate_id</key>
		<string>3482</string>
		<key>id</key>
		<string>20051679</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>谢谢</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/6CA508F4-A93F-8D8D-E2E9-E4F8A64007B8.jpg</string>
		<key>series_id</key>
		<string>13325</string>
		<key>series_name</key>
		<string>画画过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/49A5E207-FCA3-A93C-8033-3DDA97E1CF2F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/49A5E207-FCA3-A93C-8033-3DDA97E1CF2F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嬉皮士</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111613001</string>
		</dict>
		<key>user_id</key>
		<string>111613001</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嬉皮士</string>
		<key>cate_id</key>
		<string>3482</string>
		<key>id</key>
		<string>20051673</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/22594984-62E5-B3B0-9B1A-52B8A751380B.jpg</string>
		<key>series_id</key>
		<string>13325</string>
		<key>series_name</key>
		<string>画画过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/FD30758C-DB87-98C9-3BEE-1269FF28E286.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/FD30758C-DB87-98C9-3BEE-1269FF28E286.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嬉皮士</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111613001</string>
		</dict>
		<key>user_id</key>
		<string>111613001</string>
	</dict>
</array>
</plist>
