<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {600, 800}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<dict>
			<key>file</key>
			<string>2.png</string>
			<key>fill</key>
			<dict>
				<key>mode</key>
				<string>origin</string>
			</dict>
			<key>id</key>
			<string>all</string>
			<key>margin</key>
			<dict>
				<key>bottom</key>
				<string>0</string>
				<key>left</key>
				<string>0</string>
				<key>right</key>
				<string>0</string>
				<key>top</key>
				<string>0</string>
			</dict>
			<key>zIndex</key>
			<string>1</string>
		</dict>
		<key>part</key>
		<array>
			<dict>
				<key>index</key>
				<string>0</string>
				<key>path</key>
				<dict>
					<key>point</key>
					<array>
						<dict>
							<key>index</key>
							<string>0</string>
							<key>x</key>
							<string>4</string>
							<key>y</key>
							<string>40</string>
						</dict>
						<dict>
							<key>index</key>
							<string>1</string>
							<key>x</key>
							<string>566</string>
							<key>y</key>
							<string>40</string>
						</dict>
						<dict>
							<key>index</key>
							<string>2</string>
							<key>x</key>
							<string>566</string>
							<key>y</key>
							<string>304</string>
						</dict>
						<dict>
							<key>index</key>
							<string>3</string>
							<key>x</key>
							<string>4</string>
							<key>y</key>
							<string>352</string>
						</dict>
					</array>
				</dict>
				<key>zIndex</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<string>1</string>
				<key>path</key>
				<dict>
					<key>point</key>
					<array>
						<dict>
							<key>index</key>
							<string>0</string>
							<key>x</key>
							<string>4</string>
							<key>y</key>
							<string>372</string>
						</dict>
						<dict>
							<key>index</key>
							<string>1</string>
							<key>x</key>
							<string>566</string>
							<key>y</key>
							<string>324</string>
						</dict>
						<dict>
							<key>index</key>
							<string>2</string>
							<key>x</key>
							<string>566</string>
							<key>y</key>
							<string>635</string>
						</dict>
						<dict>
							<key>index</key>
							<string>3</string>
							<key>x</key>
							<string>4</string>
							<key>y</key>
							<string>635</string>
						</dict>
					</array>
				</dict>
				<key>zIndex</key>
				<string>0</string>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>align</key>
				<string>center</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>2015-08-18</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>BradleyHandITCTT-Bold</string>
				</dict>
				<key>format</key>
				<string>yyyy-MM-dd</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>26</string>
					<key>width</key>
					<string>110</string>
					<key>x</key>
					<string>461</string>
					<key>y</key>
					<string>34</string>
				</dict>
				<key>id</key>
				<string>date</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>24</string>
				<key>minSize</key>
				<string>16</string>
				<key>size</key>
				<string>24</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>"In every girl's life, there's a boy she'll never forget and a summer where it all began. "</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>BradleyHandITCTT-Bold</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>80</string>
					<key>width</key>
					<string>300</string>
					<key>x</key>
					<string>235</string>
					<key>y</key>
					<string>690</string>
				</dict>
				<key>id</key>
				<string>wording</string>
				<key>maxSize</key>
				<string>20</string>
				<key>minSize</key>
				<string>16</string>
				<key>size</key>
				<string>20</string>
				<key>vSpace</key>
				<string>1</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
