<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>合家欢阿欢</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20009041</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1521</string>
		<key>name</key>
		<string>花开如夏</string>
		<key>number</key>
		<string>ini3292157</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/16/442A5023-538F-7183-AC4E-D8980C0B866F.jpg?v=2</string>
		<key>series_id</key>
		<string>2457</string>
		<key>series_name</key>
		<string>日常文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/15/02113046-22EC-AD7C-A253-FE3B669EAD6D.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/15/02113046-22EC-AD7C-A253-FE3B669EAD6D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>合家欢阿欢阿欢</string>
			<key>number</key>
			<string>ini3292157</string>
			<key>user_id</key>
			<string>35808863</string>
		</dict>
		<key>user_id</key>
		<string>35808863</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>2481</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1521</string>
		<key>name</key>
		<string>唤醒夏天</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/A957EAF1-05B0-B9BA-AD27-8D8DFA891AE7.jpg</string>
		<key>series_id</key>
		<string>1521</string>
		<key>series_name</key>
		<string>夏天彩色</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/6BAF6D76-3243-E1CB-75F6-DD2B93285DE7.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/6BAF6D76-3243-E1CB-75F6-DD2B93285DE7.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>2217</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1521</string>
		<key>name</key>
		<string>热hot</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/07/F2F2A73A-C551-FE94-20D9-D47D214ED6B0.png?v=2</string>
		<key>series_id</key>
		<string>1521</string>
		<key>series_name</key>
		<string>夏天彩色</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/07/BB57C1B4-2C3B-6AC8-6659-A2465448769B.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/07/BB57C1B4-2C3B-6AC8-6659-A2465448769B.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20040385</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>热</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/3202EAE7-5A3D-53F2-A646-5005587E62EA.jpg</string>
		<key>series_id</key>
		<string>10501</string>
		<key>series_name</key>
		<string>萌萌的夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/029E6262-E71F-CAA4-C4DF-E5A8995F82EC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/029E6262-E71F-CAA4-C4DF-E5A8995F82EC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20040281</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>热热热</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/3903535E-FE71-11BC-9D3F-8982BF15A9C8.jpg</string>
		<key>series_id</key>
		<string>10475</string>
		<key>series_name</key>
		<string>立夏母亲节文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/66750EB3-9999-F548-D2BF-E2F5D8A2BCEA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/66750EB3-9999-F548-D2BF-E2F5D8A2BCEA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>认真的馒头</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20016063</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1521</string>
		<key>name</key>
		<string>烧烤模式</string>
		<key>number</key>
		<string>ina1232493</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/F20C9817-1121-68EB-9587-520ABAA779DE.jpg</string>
		<key>series_id</key>
		<string>4347</string>
		<key>series_name</key>
		<string>夏天来了2015</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/F6BA8629-1D26-1657-B80D-FD65D061EA1B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/F6BA8629-1D26-1657-B80D-FD65D061EA1B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>七七小馒头</string>
			<key>number</key>
			<string>ina1232493</string>
			<key>user_id</key>
			<string>14248079</string>
		</dict>
		<key>user_id</key>
		<string>14248079</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20044115</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>天真热</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/92FCF0A8-AD5B-4381-A9E9-F24B7244FE41.jpg</string>
		<key>series_id</key>
		<string>11433</string>
		<key>series_name</key>
		<string>天真热</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/27506DD5-4362-A353-3EA9-A2AB4CDB8ABB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/27506DD5-4362-A353-3EA9-A2AB4CDB8ABB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20041971</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>热的本宝宝不想说话</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/08/A1AB409A-AEE4-71DB-48EA-C79B153EAA42.jpg</string>
		<key>series_id</key>
		<string>10897</string>
		<key>series_name</key>
		<string>粽子驾到</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/08/5F9FA52D-50B0-C09D-FEA7-0DD733761196.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/08/5F9FA52D-50B0-C09D-FEA7-0DD733761196.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘟小图</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74468460</string>
		</dict>
		<key>user_id</key>
		<string>74468460</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小娘子法号爱俏</string>
		<key>cate_id</key>
		<string>1521</string>
		<key>id</key>
		<string>20018449</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1521</string>
		<key>name</key>
		<string>热成狗</string>
		<key>number</key>
		<string>ini4130642</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/E724C609-E43E-F686-BD62-97A0AD9C4862.jpg</string>
		<key>series_id</key>
		<string>4999</string>
		<key>series_name</key>
		<string>七月语录</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C8C89ABC-6FD0-225D-AD38-ECBC964D01A4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C8C89ABC-6FD0-225D-AD38-ECBC964D01A4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小娘子法号爱俏</string>
			<key>number</key>
			<string>ini4130642</string>
			<key>user_id</key>
			<string>44126021</string>
		</dict>
		<key>user_id</key>
		<string>44126021</string>
	</dict>
</array>
</plist>
