<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {1200, 1600}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<dict>
			<key>Root</key>
			<string>image</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>file</key>
			<string>BG.png</string>
			<key>fill</key>
			<dict>
				<key>Root</key>
				<string>fill</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>1600</string>
					<key>width</key>
					<string>1200</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
				<key>mode</key>
				<string>origin</string>
			</dict>
			<key>id</key>
			<string>img_USX</string>
			<key>margin</key>
			<dict>
				<key>Root</key>
				<string>margin</string>
				<key>bottom</key>
				<string>0</string>
				<key>left</key>
				<string>0</string>
				<key>right</key>
				<string>0</string>
				<key>top</key>
				<string>0</string>
			</dict>
			<key>zIndex</key>
			<string>2</string>
		</dict>
		<key>part</key>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>0</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>circle</key>
				<dict>
					<key>Root</key>
					<string>circle</string>
					<key>radius</key>
					<string>530</string>
					<key>x</key>
					<string>603</string>
					<key>y</key>
					<string>967</string>
				</dict>
				<key>shape</key>
				<string>circle</string>
			</dict>
			<key>zIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
