<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>3948</string>
		<key>id</key>
		<string>20056298</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>胡桃夹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/B594C32B-6357-0253-02ED-69343E5E7FD6.jpg</string>
		<key>series_id</key>
		<string>14494</string>
		<key>series_name</key>
		<string>公主假日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/556389E7-04F5-0AD3-4DC8-934EC85F21D2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/556389E7-04F5-0AD3-4DC8-934EC85F21D2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>3948</string>
		<key>id</key>
		<string>20056300</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>公主假日</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/67522BD8-9CFF-A64C-389C-BA65790CE525.jpg</string>
		<key>series_id</key>
		<string>14494</string>
		<key>series_name</key>
		<string>公主假日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/889D6B34-AAA5-4D7A-51E9-F1A26C00BD3A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/889D6B34-AAA5-4D7A-51E9-F1A26C00BD3A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>3948</string>
		<key>id</key>
		<string>20056296</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱你呦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/E9277CA6-F133-7535-FA06-FCDB25686180.jpg</string>
		<key>series_id</key>
		<string>14494</string>
		<key>series_name</key>
		<string>公主假日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/D9037714-0DE5-6253-1035-9109DF908F3E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/D9037714-0DE5-6253-1035-9109DF908F3E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>3948</string>
		<key>id</key>
		<string>20056302</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>公主假日</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/1E2FD99B-87B0-8C0F-BBB5-4BA01A535C33.jpg</string>
		<key>series_id</key>
		<string>14494</string>
		<key>series_name</key>
		<string>公主假日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/7EDDCDC1-B384-EB4C-06F8-6986BCEE2B75.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/7EDDCDC1-B384-EB4C-06F8-6986BCEE2B75.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
</array>
</plist>
