<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19240</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>萌大圣帽子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/B9CE1E82-F215-A302-3252-60DC554079B3.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/F398976D-3312-1C37-890E-3898EFD430E0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/F398976D-3312-1C37-890E-3898EFD430E0.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19237</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣美食泡澡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/2480448D-A679-0668-D91D-93468F709CAF.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/E0106FD4-99C8-18B0-AB15-656B745D9351.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/E0106FD4-99C8-18B0-AB15-656B745D9351.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19235</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣拜年</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/28D6C335-7AA4-A58F-2009-E3ECF8E1FE81.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/7272E7CC-8323-58DF-FFB0-95EFAFE859F5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/7272E7CC-8323-58DF-FFB0-95EFAFE859F5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19234</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣躲灯笼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/ECA9A8E7-552C-7F3C-FD6F-B531B731900F.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/CA84FC27-6E25-14B7-3B18-E788D2781143.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/CA84FC27-6E25-14B7-3B18-E788D2781143.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19233</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣扮财神</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/3466F04A-B500-25E4-869E-E4E384E0F1B6.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/3ADE0CDC-952B-14BF-F680-ECCCFCED9CEE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/3ADE0CDC-952B-14BF-F680-ECCCFCED9CEE.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19239</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣趴趴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/7F3F8DB5-C67D-8130-885D-5CEB6A397999.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/742AC90A-6CD9-D0F8-FF45-C23A190EE972.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/742AC90A-6CD9-D0F8-FF45-C23A190EE972.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>未知年</string>
		<key>cate_id</key>
		<string>2393</string>
		<key>id</key>
		<string>19238</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2313</string>
		<key>name</key>
		<string>萌大圣吃汤圆</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/08D814E6-0D15-DE89-A473-7223EE52B023.jpg</string>
		<key>series_id</key>
		<string>2393</string>
		<key>series_name</key>
		<string>萌大圣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/F1B4B799-358A-9636-DA4A-FC78135A9A7D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/F1B4B799-358A-9636-DA4A-FC78135A9A7D.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
