<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>496</string>
		<key>id</key>
		<string>20016523</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>496</string>
		<key>name</key>
		<string>吃药了</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/FDB64CC4-6842-2CA7-A0F1-1D8FF552CC02.jpg</string>
		<key>series_id</key>
		<string>4463</string>
		<key>series_name</key>
		<string>小逗比</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/75A48B75-9F8A-DF0F-393C-408FD3DCC56C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/75A48B75-9F8A-DF0F-393C-408FD3DCC56C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>496</string>
		<key>id</key>
		<string>20015153</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>496</string>
		<key>name</key>
		<string>端午节</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/66FFD7EC-542F-AF85-873C-69AE865BD329.jpg</string>
		<key>series_id</key>
		<string>4117</string>
		<key>series_name</key>
		<string>粽子节快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/C98B3363-0DCB-7FF6-18E1-88BB38357A58.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/C98B3363-0DCB-7FF6-18E1-88BB38357A58.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>496</string>
		<key>id</key>
		<string>20006641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>496</string>
		<key>name</key>
		<string>耶yeah</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/FA51534F-B5CF-E5E1-0EE4-498A916D7ECD.jpg?v=2</string>
		<key>series_id</key>
		<string>1791</string>
		<key>series_name</key>
		<string>好运上上签~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/EBC412A0-12EE-2642-8000-2DB472C821BF.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/EBC412A0-12EE-2642-8000-2DB472C821BF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
</array>
</plist>
