<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>2421</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>致我们终将逝去的毕业旅行</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/504FEFA4-652E-6AA5-DEDE-D54E07B01CB0.jpg</string>
		<key>series_id</key>
		<string>2655</string>
		<key>series_name</key>
		<string>毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/ABDCB887-D0E7-17E0-143C-17AA1797EA0E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/ABDCB887-D0E7-17E0-143C-17AA1797EA0E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>2363</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>坏孩子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/73107804-DB96-11B5-842B-A269C76E6660.jpg</string>
		<key>series_id</key>
		<string>2655</string>
		<key>series_name</key>
		<string>毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/DABA1595-B296-2389-3541-3C4AFB84BB04.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/DABA1595-B296-2389-3541-3C4AFB84BB04.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20010599</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>毕业季</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/07/6B208D0F-BC12-F28D-D0CE-A9A0D8AF847C.jpg?v=2</string>
		<key>series_id</key>
		<string>2883</string>
		<key>series_name</key>
		<string>清新毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/07/42E48F8B-EF6A-B637-7067-D7439845CA04.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/07/42E48F8B-EF6A-B637-7067-D7439845CA04.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小资女Q</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20012829</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>已毕业</string>
		<key>number</key>
		<string>inf3180049</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/03/6E85A587-E9A8-644D-E6D4-669F348225F0.jpg</string>
		<key>series_id</key>
		<string>3483</string>
		<key>series_name</key>
		<string>小图章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/03/C8A3901E-C535-FB0D-D41E-732FF1225D1C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/03/C8A3901E-C535-FB0D-D41E-732FF1225D1C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小资女Q</string>
			<key>number</key>
			<string>inf3180049</string>
			<key>user_id</key>
			<string>34705175</string>
		</dict>
		<key>user_id</key>
		<string>34705175</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20017003</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>那年夏天</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/34055CFF-A9F1-E0EA-8B23-0FDC1BA1C572.jpg</string>
		<key>series_id</key>
		<string>4597</string>
		<key>series_name</key>
		<string>云朵文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/7F2E5647-E2C3-2535-9F25-D234535F098E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/7F2E5647-E2C3-2535-9F25-D234535F098E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>诺诺</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20011401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>毕业不散伙</string>
		<key>number</key>
		<string>ina3029582</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/20/7D433F3C-9CA0-2824-5D16-B674FBEC032C.jpg</string>
		<key>series_id</key>
		<string>3087</string>
		<key>series_name</key>
		<string>毕业啦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/20/9F81FD13-6FD9-B84C-210A-1E26574F4A9D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/20/9F81FD13-6FD9-B84C-210A-1E26574F4A9D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>立志要做小太阳的睿睿_CYU</string>
			<key>number</key>
			<string>ina3029582</string>
			<key>user_id</key>
			<string>33266340</string>
		</dict>
		<key>user_id</key>
		<string>33266340</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大练</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20012935</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>毕业季</string>
		<key>number</key>
		<string>int1013</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/EDEF3629-F58E-9869-2C44-6F2F1FA73539.jpg</string>
		<key>series_id</key>
		<string>3511</string>
		<key>series_name</key>
		<string>赐我暖男啦~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/1242EBE8-5654-338A-FA47-F81F94101E6D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/1242EBE8-5654-338A-FA47-F81F94101E6D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>练洁莹</string>
			<key>number</key>
			<string>int1013</string>
			<key>user_id</key>
			<string>68996656</string>
		</dict>
		<key>user_id</key>
		<string>68996656</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20010603</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>那年夏天</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/05/07/8EBD206B-A9C7-9667-70E7-A8998C6F6F69.jpg?v=2</string>
		<key>series_id</key>
		<string>2883</string>
		<key>series_name</key>
		<string>清新毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/05/07/DB7702BF-4B8D-8655-BC47-6A8C57595AB5.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/05/07/DB7702BF-4B8D-8655-BC47-6A8C57595AB5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>2655</string>
		<key>id</key>
		<string>20010495</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>739</string>
		<key>name</key>
		<string>毕业季</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/05/05/0C586C22-4360-F696-92A7-3A5CD70E0741.jpg?v=2</string>
		<key>series_id</key>
		<string>2857</string>
		<key>series_name</key>
		<string>睿雨白色文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/05/05/233BA58D-7425-90C3-1527-0DAE6074AD99.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/05/05/233BA58D-7425-90C3-1527-0DAE6074AD99.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
</array>
</plist>
