<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20114</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-寒假业务代理</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/EC139482-6B17-5164-415A-46F3F15C10F7.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/13234196-8AFA-7217-1556-47FD15CB886D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/13234196-8AFA-7217-1556-47FD15CB886D.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20113</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-林夏2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/0912584D-9193-523F-25B2-BE1B601B9FC0.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/54D0916B-19F3-A754-AA6C-E01E178B5FCB.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/54D0916B-19F3-A754-AA6C-E01E178B5FCB.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20112</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-林夏1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/94086CAE-CD2B-060D-56D6-7CF7F8B36551.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/A9C93C4A-6E23-93E3-E98A-4EB54AB2CF70.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/A9C93C4A-6E23-93E3-E98A-4EB54AB2CF70.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-猴年万事如意符</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/14/736700B7-0595-C8DB-824C-555D031D6990.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/14/F3C70FD0-1391-607A-EB4A-C62EC9D12F2E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/14/F3C70FD0-1391-607A-EB4A-C62EC9D12F2E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20110</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-论文一辩过符</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/E2CD99A9-1270-2806-1A84-877CCDD6966C.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/28A5E4B1-3175-A6E6-731F-7BF7B6E1F258.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/28A5E4B1-3175-A6E6-731F-7BF7B6E1F258.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20109</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-老师不点名符</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/AD3C7930-053D-0846-44EE-0A66DB49F915.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/EB4182C9-0BCF-9006-6D37-D321FE2D11C8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/EB4182C9-0BCF-9006-6D37-D321FE2D11C8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20108</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-考研轻松过</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/907DC783-D0F5-EACE-74C6-2E83DA89B1BF.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/9B0DC769-1AF2-6680-8B2A-007A8C178A6F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/02/14/9B0DC769-1AF2-6680-8B2A-007A8C178A6F.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20106</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-代写寒假作业</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/FDA1B057-08C1-0A2C-A734-47BE95E5DE1C.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/AEDC7FB9-91C7-677A-B7B9-F23FCCF45680.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/14/AEDC7FB9-91C7-677A-B7B9-F23FCCF45680.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>老师晚上好</string>
		<key>cate_id</key>
		<string>2477</string>
		<key>id</key>
		<string>20105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老师晚上好-代开家长会</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/824BFAED-882D-8A79-BCEA-BA22F3A99AE4.jpg</string>
		<key>series_id</key>
		<string>2477</string>
		<key>series_name</key>
		<string>老师晚上好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/C17CAF4E-C748-AE8F-04D6-B9913746FC3A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/14/C17CAF4E-C748-AE8F-04D6-B9913746FC3A.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
