<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20011805</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>825</string>
		<key>name</key>
		<string>IN杂志边框之国民女神</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/AA42E51A-DC6E-3D36-998C-FBEB3F520EAE.jpg</string>
		<key>series_id</key>
		<string>3191</string>
		<key>series_name</key>
		<string>IN杂志可爱边框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/4313B8D9-03D7-978C-F91F-60E1792D7DBC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/4313B8D9-03D7-978C-F91F-60E1792D7DBC.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>2533</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>边框</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>825</string>
		<key>name</key>
		<string>拍立得带字相框</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/9B759269-CFE4-002C-9FA9-11F0EC444935.jpg</string>
		<key>series_id</key>
		<string>825</string>
		<key>series_name</key>
		<string>边框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/CB93C176-7452-A006-7854-A94B4196500C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/CB93C176-7452-A006-7854-A94B4196500C.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>大练</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20013391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>825</string>
		<key>name</key>
		<string>唯美边框2</string>
		<key>number</key>
		<string>int1013</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/A1A08454-2C74-2260-EEA1-E80E96E107F7.jpg</string>
		<key>series_id</key>
		<string>3657</string>
		<key>series_name</key>
		<string>欧美风唯美边框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/CE335C80-CD84-4A7D-62A0-0DDEC101CA00.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/CE335C80-CD84-4A7D-62A0-0DDEC101CA00.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>练洁莹</string>
			<key>number</key>
			<string>int1013</string>
			<key>user_id</key>
			<string>68996656</string>
		</dict>
		<key>user_id</key>
		<string>68996656</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20012191</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>边框</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>825</string>
		<key>name</key>
		<string>六二小青年</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/BCF51AB1-B3E6-7DFD-FD4C-E086A360DC6E.jpg</string>
		<key>series_id</key>
		<string>3295</string>
		<key>series_name</key>
		<string>二货专享</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/CCE72FBF-2814-12D4-F705-0CDC3ADC09A6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/CCE72FBF-2814-12D4-F705-0CDC3ADC09A6.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20051193</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我想家了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/DA3C3C6A-C71E-A26C-64F7-18E9B1A35E52.jpg</string>
		<key>series_id</key>
		<string>13205</string>
		<key>series_name</key>
		<string>过年回家ing</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/BED214BD-035F-BF85-80C8-2845A14334C1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/BED214BD-035F-BF85-80C8-2845A14334C1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘟小图</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74468460</string>
		</dict>
		<key>user_id</key>
		<string>74468460</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20048213</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>猫之言</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/24/F9190307-45BB-59FE-8A49-07078363EA8D.jpg</string>
		<key>series_id</key>
		<string>12459</string>
		<key>series_name</key>
		<string>超文艺动物边框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/24/F6C84886-6618-755C-4A15-A7D3DD9DAC11.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/24/F6C84886-6618-755C-4A15-A7D3DD9DAC11.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20012193</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2335</string>
		<key>name</key>
		<string>你这个单身狗</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/1159D272-0BA3-1AB1-0492-27F801A8232D.jpg</string>
		<key>series_id</key>
		<string>3295</string>
		<key>series_name</key>
		<string>二货专享</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/D2B68B69-2238-365C-38AD-E1963CFF8946.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/D2B68B69-2238-365C-38AD-E1963CFF8946.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>纯圆小红帽</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20054562</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>黑白条纹边框</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/21/2C30EC05-B5DC-D803-9002-0E5B2C647430.jpg</string>
		<key>series_id</key>
		<string>14046</string>
		<key>series_name</key>
		<string>做你自己</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/21/62DE6799-5A42-EF77-7112-B214C4337B55.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/21/62DE6799-5A42-EF77-7112-B214C4337B55.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>纯圆小红帽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109877516</string>
		</dict>
		<key>user_id</key>
		<string>109877516</string>
	</dict>
	<dict>
		<key>author</key>
		<string>李芥菜</string>
		<key>cate_id</key>
		<string>825</string>
		<key>id</key>
		<string>20050295</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>窗外积雪</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/21/6A346F3F-BE15-2E53-B3B8-256EB5D11B9A.jpg</string>
		<key>series_id</key>
		<string>12979</string>
		<key>series_name</key>
		<string>冬日积雪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/21/D74FA418-A623-1BF8-2930-5C07C3603B5D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/21/D74FA418-A623-1BF8-2930-5C07C3603B5D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李芥菜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109971728</string>
		</dict>
		<key>user_id</key>
		<string>109971728</string>
	</dict>
</array>
</plist>
