<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<string>style</string>
	<key>__text</key>
	<array>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
    </string>
		<string>
</string>
	</array>
	<key>count</key>
	<string>9</string>
	<key>frame</key>
	<dict>
		<key>Root</key>
		<string>frame</string>
		<key>height</key>
		<string>800</string>
		<key>width</key>
		<string>600</string>
		<key>x</key>
		<string>0</string>
		<key>y</key>
		<string>0</string>
	</dict>
	<key>image</key>
	<dict>
		<key>Root</key>
		<string>image</string>
		<key>__text</key>
		<array>
			<string>
        </string>
			<string>
        </string>
			<string>
    </string>
		</array>
		<key>file</key>
		<string>mask.png</string>
		<key>fill</key>
		<dict>
			<key>Root</key>
			<string>fill</string>
			<key>__text</key>
			<array>
				<string>
            </string>
				<string>
        </string>
			</array>
			<key>frame</key>
			<dict>
				<key>Root</key>
				<string>frame</string>
				<key>height</key>
				<string>100</string>
				<key>width</key>
				<string>100</string>
				<key>x</key>
				<string>0</string>
				<key>y</key>
				<string>0</string>
			</dict>
			<key>mode</key>
			<string>origin</string>
		</dict>
		<key>id</key>
		<string>img_NZI</string>
		<key>margin</key>
		<dict>
			<key>Root</key>
			<string>margin</string>
			<key>bottom</key>
			<string>0</string>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>top</key>
			<string>0</string>
		</dict>
		<key>zIndex</key>
		<string>10</string>
	</dict>
	<key>name</key>
	<string>fVa2016_9_9</string>
	<key>part</key>
	<array>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>0</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>rect</key>
				<dict>
					<key>Root</key>
					<string>rect</string>
					<key>height</key>
					<string>216</string>
					<key>width</key>
					<string>184</string>
					<key>x</key>
					<string>18</string>
					<key>y</key>
					<string>118</string>
				</dict>
				<key>shape</key>
				<string>rectangle</string>
			</dict>
			<key>zIndex</key>
			<string>9</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>1</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>202</string>
						<key>y</key>
						<string>124</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>412</string>
						<key>y</key>
						<string>124</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>412</string>
						<key>y</key>
						<string>276</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>306</string>
						<key>y</key>
						<string>326</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>202</string>
						<key>y</key>
						<string>270</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>2</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>rect</key>
				<dict>
					<key>Root</key>
					<string>rect</string>
					<key>height</key>
					<string>220</string>
					<key>width</key>
					<string>176</string>
					<key>x</key>
					<string>414</string>
					<key>y</key>
					<string>114</string>
				</dict>
				<key>shape</key>
				<string>rectangle</string>
			</dict>
			<key>zIndex</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>3</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>4</string>
						<key>y</key>
						<string>350</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>190</string>
						<key>y</key>
						<string>350</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>212</string>
						<key>y</key>
						<string>408</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>156</string>
						<key>y</key>
						<string>528</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>0</string>
						<key>y</key>
						<string>528</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>4</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>210</string>
						<key>y</key>
						<string>280</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>306</string>
						<key>y</key>
						<string>326</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>408</string>
						<key>y</key>
						<string>276</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>418</string>
						<key>y</key>
						<string>356</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>380</string>
						<key>y</key>
						<string>464</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>5</string>
						<key>x</key>
						<string>272</string>
						<key>y</key>
						<string>530</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>6</string>
						<key>x</key>
						<string>212</string>
						<key>y</key>
						<string>408</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>7</string>
						<key>x</key>
						<string>192</string>
						<key>y</key>
						<string>350</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>5</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>418</string>
						<key>y</key>
						<string>354</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>466</string>
						<key>y</key>
						<string>334</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>600</string>
						<key>y</key>
						<string>334</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>600</string>
						<key>y</key>
						<string>522</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>480</string>
						<key>y</key>
						<string>532</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>5</string>
						<key>x</key>
						<string>380</string>
						<key>y</key>
						<string>466</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>6</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>0</string>
						<key>y</key>
						<string>544</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>186</string>
						<key>y</key>
						<string>544</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>230</string>
						<key>y</key>
						<string>666</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>66</string>
						<key>y</key>
						<string>756</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>0</string>
						<key>y</key>
						<string>664</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>7</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>186</string>
						<key>y</key>
						<string>544</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>240</string>
						<key>y</key>
						<string>520</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>276</string>
						<key>y</key>
						<string>530</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>398</string>
						<key>y</key>
						<string>514</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>400</string>
						<key>y</key>
						<string>640</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>5</string>
						<key>x</key>
						<string>280</string>
						<key>y</key>
						<string>748</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>6</string>
						<key>x</key>
						<string>230</string>
						<key>y</key>
						<string>666</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>8</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>point</key>
				<array>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>0</string>
						<key>x</key>
						<string>400</string>
						<key>y</key>
						<string>520</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>1</string>
						<key>x</key>
						<string>480</string>
						<key>y</key>
						<string>534</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>2</string>
						<key>x</key>
						<string>554</string>
						<key>y</key>
						<string>510</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>3</string>
						<key>x</key>
						<string>600</string>
						<key>y</key>
						<string>522</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>4</string>
						<key>x</key>
						<string>600</string>
						<key>y</key>
						<string>710</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>5</string>
						<key>x</key>
						<string>488</string>
						<key>y</key>
						<string>708</string>
					</dict>
					<dict>
						<key>Root</key>
						<string>point</string>
						<key>index</key>
						<string>6</string>
						<key>x</key>
						<string>400</string>
						<key>y</key>
						<string>640</string>
					</dict>
				</array>
			</dict>
			<key>zIndex</key>
			<string>1</string>
		</dict>
	</array>
	<key>thumb</key>
	<string>fVa2016_9.jpg</string>
</dict>
</plist>
