<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19264</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>森猴胸针</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/BF4775CD-8EFD-C818-F00A-DD04006CF8E9.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/30DE9A6A-0502-F122-6319-C7B39FC506D3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/30DE9A6A-0502-F122-6319-C7B39FC506D3.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19263</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>福,新年,春节,小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1</string>
		<key>name</key>
		<string>森猴送福</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/8209BDE9-4C84-731F-89E1-9AA34D56D527.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/E6F4CE13-213A-01B2-BBF4-470C4A5F2DA5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/25/E6F4CE13-213A-01B2-BBF4-470C4A5F2DA5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19262</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你好，猴年！</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/3CC6D6FA-54B2-8DDF-F786-21F2054CB2F8.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/CAEFBD03-CF4F-DF48-D56C-8F7D5F9B5689.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/CAEFBD03-CF4F-DF48-D56C-8F7D5F9B5689.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19261</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>森猴套</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/25211EAA-AE5E-D84A-53DA-5005C81930F9.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/08C12D82-D779-53BF-EC9F-D56D068CA3BF.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/08C12D82-D779-53BF-EC9F-D56D068CA3BF.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19258</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>2016</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/E2BBCF9C-D9ED-7BD7-F989-616198215D2B.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/F1F4943B-5D80-D32C-3CFA-26DFA7CEF847.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/01/25/F1F4943B-5D80-D32C-3CFA-26DFA7CEF847.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19257</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>猴子,小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小森猴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/CB71AC16-DF79-D4DF-C363-EF345F8CF0FF.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/C8FAF904-C9B2-2EF1-6016-586BBE5A3DAD.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/C8FAF904-C9B2-2EF1-6016-586BBE5A3DAD.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19265</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>森猴帽子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/A4618730-CD64-3830-AB8C-5771C24D5909.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/BCF9284F-CF1B-C2D0-0315-BCA46CA4A8E8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/BCF9284F-CF1B-C2D0-0315-BCA46CA4A8E8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Acerlee</string>
		<key>cate_id</key>
		<string>2455</string>
		<key>id</key>
		<string>19260</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>小森猴</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>森猴胸针头饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/89C7094E-00E1-93AD-0764-C1CCF64165DD.jpg</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>小森猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/4F19892F-7B44-0A72-FD7C-91155DDEB725.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/01/25/4F19892F-7B44-0A72-FD7C-91155DDEB725.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
