<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>西小喵</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030908</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玉兔2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/13/9189AD15-C553-26C0-716D-6084C36A0072.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/13/339E9480-5CED-ED62-12A6-8E4FD04C8C8C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/13/339E9480-5CED-ED62-12A6-8E4FD04C8C8C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030605</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>嫦娥发饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/627D79E5-F33D-1582-EBDE-0FC621DC9AC2.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/B4A0AA8C-48A7-51CC-AB59-96B3B268EFE3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/B4A0AA8C-48A7-51CC-AB59-96B3B268EFE3.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030606</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玉兔红晕</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/28F91AED-33D9-1AA1-3366-71E8A607DF06.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/085C196D-87EE-B2D3-62F9-C570060068C6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/085C196D-87EE-B2D3-62F9-C570060068C6.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西小喵</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中秋枝叶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/4932D4EC-0D79-7B04-C8EB-031D38E538F6.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/69521D68-EC93-A73B-9ADE-7E855D1C2A3E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/69521D68-EC93-A73B-9ADE-7E855D1C2A3E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西小喵</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030907</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玉兔1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/13/07A820DD-91EC-050C-0764-2B1BEB9CE607.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/13/BFC07918-E9BD-BFCB-FEF2-6B4DACCC5006.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/13/BFC07918-E9BD-BFCB-FEF2-6B4DACCC5006.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1031105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玉兔头套</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/4BE40DB6-47EC-2D5E-2B0B-29CB94F6B54F.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/00CC6E20-523F-4029-0CD3-E2893A7D4BD5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/00CC6E20-523F-4029-0CD3-E2893A7D4BD5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1031106</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玉兔月饼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/13/613A306A-A71A-9BC6-D35A-BB6632F1A0DA.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/13/77E5F8ED-7148-9083-F9D3-AB7A07CCA437.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/13/77E5F8ED-7148-9083-F9D3-AB7A07CCA437.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1031209</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中秋节快乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/6B9A5170-ADF9-22BC-3005-03FD616BD96B.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/C61EC7C9-BA19-235C-F64C-60CBB7015D57.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/13/C61EC7C9-BA19-235C-F64C-60CBB7015D57.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
