<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>湿小怪不怪谁怪</string>
		<key>cate_id</key>
		<string>3498</string>
		<key>id</key>
		<string>20052415</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>打鸡血</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/18445666-98D4-A38F-2B70-4BFE74BF298F.jpg</string>
		<key>series_id</key>
		<string>13509</string>
		<key>series_name</key>
		<string>过鸡年打鸡血</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/7A145043-5CFB-0AEE-409C-1216B3213334.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/7A145043-5CFB-0AEE-409C-1216B3213334.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>湿小怪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>31278789</string>
		</dict>
		<key>user_id</key>
		<string>31278789</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湿小怪不怪谁怪</string>
		<key>cate_id</key>
		<string>3498</string>
		<key>id</key>
		<string>20052413</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>打一针鸡血</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/643E28A7-3730-393A-5702-59B285805E84.jpg</string>
		<key>series_id</key>
		<string>13509</string>
		<key>series_name</key>
		<string>过鸡年打鸡血</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/DC28655B-BE05-026C-1CDE-B0BFDC0370BC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/DC28655B-BE05-026C-1CDE-B0BFDC0370BC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>湿小怪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>31278789</string>
		</dict>
		<key>user_id</key>
		<string>31278789</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3498</string>
		<key>id</key>
		<string>20052271</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我脑公</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/242CF0ED-DBAB-94DE-B383-11D95CA1D45C.jpg</string>
		<key>series_id</key>
		<string>13473</string>
		<key>series_name</key>
		<string>过年必备配饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/D5E0B5D8-379E-1B93-1C4C-DA40B494D213.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/D5E0B5D8-379E-1B93-1C4C-DA40B494D213.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3498</string>
		<key>id</key>
		<string>20052279</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>看着你不说话</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/D11DE6E6-E2F5-21A5-F513-9D86AB32A583.jpg</string>
		<key>series_id</key>
		<string>13475</string>
		<key>series_name</key>
		<string>春节反击战</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/CFC4B420-BE39-2190-832B-0B080574F005.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/CFC4B420-BE39-2190-832B-0B080574F005.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
</array>
</plist>
