<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20050127</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>雪人么么哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/50D9944F-57D2-F50E-9541-3D2B40926BEA.jpg</string>
		<key>series_id</key>
		<string>12937</string>
		<key>series_name</key>
		<string>君君的圣诞节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/280966F3-5216-2589-2C2E-22D396493A33.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/280966F3-5216-2589-2C2E-22D396493A33.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20050123</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>和圣诞老人一起自拍吧</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/15/FC375E6E-2E53-B36B-9EF3-1173AFD7CA90.jpg</string>
		<key>series_id</key>
		<string>12937</string>
		<key>series_name</key>
		<string>君君的圣诞节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/15/972E1539-D6BB-2A8E-7E6C-F16DD7D465DA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/15/972E1539-D6BB-2A8E-7E6C-F16DD7D465DA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20050121</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一起喝咖啡吧</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/15/D994FFBD-6087-BCC0-3621-E66007F29D01.jpg</string>
		<key>series_id</key>
		<string>12937</string>
		<key>series_name</key>
		<string>君君的圣诞节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/15/7C648634-5131-C656-B908-3548EB70BC40.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/15/7C648634-5131-C656-B908-3548EB70BC40.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049197</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>君君之朱迪</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/CD64B8B1-4595-257E-2E9E-45AF5A411143.jpg</string>
		<key>series_id</key>
		<string>12705</string>
		<key>series_name</key>
		<string>达人君的变装计划</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/B5AEE031-1103-6938-6498-667BF94B9469.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/B5AEE031-1103-6938-6498-667BF94B9469.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049193</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>君君之皮卡丘</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/1317A3E0-D6A4-7228-0FB6-C8FC9EA518A9.jpg</string>
		<key>series_id</key>
		<string>12705</string>
		<key>series_name</key>
		<string>达人君的变装计划</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/B87B3BA5-C45F-5067-A416-4A0EC2AAA35E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/B87B3BA5-C45F-5067-A416-4A0EC2AAA35E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049189</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>求勾搭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/BD677304-4F3F-06EE-ADDE-AF66E3F99321.jpg</string>
		<key>series_id</key>
		<string>12703</string>
		<key>series_name</key>
		<string>达人君的萌贱日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/09E8A97B-91A9-8E77-D026-0981C40FA5A7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/09E8A97B-91A9-8E77-D026-0981C40FA5A7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049187</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃饭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/28835C4C-4450-7C6E-E490-CDC6C1C1F51D.jpg</string>
		<key>series_id</key>
		<string>12703</string>
		<key>series_name</key>
		<string>达人君的萌贱日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/7392B0CC-A786-4EB4-D2A3-D881F5F4C4FA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/7392B0CC-A786-4EB4-D2A3-D881F5F4C4FA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>画面太美</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/CB0A175E-8380-34AF-CEE6-8C707E0296C6.jpg</string>
		<key>series_id</key>
		<string>12703</string>
		<key>series_name</key>
		<string>达人君的萌贱日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/4B0AB779-BCBF-F511-3DD0-82096A708ABE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/17/4B0AB779-BCBF-F511-3DD0-82096A708ABE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>shijoy</string>
		<key>cate_id</key>
		<string>3272</string>
		<key>id</key>
		<string>20049191</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>难受想哭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/FA7F34ED-53B5-5FBA-CF01-1CCFEA9E02D4.jpg</string>
		<key>series_id</key>
		<string>12703</string>
		<key>series_name</key>
		<string>达人君的萌贱日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/5E341242-583A-BEDF-1216-2EC62240FD75.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/17/5E341242-583A-BEDF-1216-2EC62240FD75.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>_熊猫wen_</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17022984</string>
		</dict>
		<key>user_id</key>
		<string>17022984</string>
	</dict>
</array>
</plist>
