<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3648</string>
		<key>id</key>
		<string>20054122</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>甜甜圈</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/E925A353-0D04-0FF6-B6D7-7E08D8D52FB5.jpg</string>
		<key>series_id</key>
		<string>13936</string>
		<key>series_name</key>
		<string>面包柯基</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/4573067D-3692-FD7A-4374-584CED66C90A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/4573067D-3692-FD7A-4374-584CED66C90A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3648</string>
		<key>id</key>
		<string>20054124</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>屁屁</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/EB4E3DCE-15F3-1013-4C15-E1C88BF4BB9C.jpg</string>
		<key>series_id</key>
		<string>13936</string>
		<key>series_name</key>
		<string>面包柯基</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/BC72719B-D0A6-329F-AB71-2D968010DE1C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/BC72719B-D0A6-329F-AB71-2D968010DE1C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3648</string>
		<key>id</key>
		<string>20054120</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>休息休息~~~</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/F4FC0A3C-5969-5946-A865-B338CFBA6814.jpg</string>
		<key>series_id</key>
		<string>13936</string>
		<key>series_name</key>
		<string>面包柯基</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/214A5B10-19C2-C49A-026A-23E1FE63077F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/08/214A5B10-19C2-C49A-026A-23E1FE63077F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3648</string>
		<key>id</key>
		<string>20054126</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>趴趴</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/66C3E693-4A73-6A42-018A-4C9FA5B2708C.jpg</string>
		<key>series_id</key>
		<string>13936</string>
		<key>series_name</key>
		<string>面包柯基</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/C7C2316A-9ADC-5C37-13F0-5B16A70D9C28.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/C7C2316A-9ADC-5C37-13F0-5B16A70D9C28.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
</array>
</plist>
