<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041297</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>军帽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/E7EC4F45-FC5F-06C2-89C4-EDD787E14AFD.jpg</string>
		<key>series_id</key>
		<string>10729</string>
		<key>series_name</key>
		<string>80、90的童年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/F90BE759-0CE6-AE8D-A23C-6DD1505957A3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/F90BE759-0CE6-AE8D-A23C-6DD1505957A3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>灰常小鱼</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100698410</string>
		</dict>
		<key>user_id</key>
		<string>100698410</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿弥陀佛么么哒</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058218</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>不想长大</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/24/918B5843-C353-389A-7A2C-5EA5BE6AB3A4-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15014</string>
		<key>series_name</key>
		<string>宝宝节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/24/4D0A93B6-7463-162C-2358-14347B7A4AF1-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/24/4D0A93B6-7463-162C-2358-14347B7A4AF1-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>阿弥陀佛么么哒</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77853473</string>
		</dict>
		<key>user_id</key>
		<string>77853473</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041313</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>三好学生专用章</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/A11AE045-F418-EDA3-38DA-2475AC50B5EE.jpg</string>
		<key>series_id</key>
		<string>10733</string>
		<key>series_name</key>
		<string>我们都是三好学生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/F0BBA740-36B5-57D7-0479-9EF6CDDF2596.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/24/F0BBA740-36B5-57D7-0479-9EF6CDDF2596.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>灰常小鱼</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100698410</string>
		</dict>
		<key>user_id</key>
		<string>100698410</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041461</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>各位叔叔</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/B222FADB-7660-E670-63A4-3A2BCBD4B263.jpg</string>
		<key>series_id</key>
		<string>10769</string>
		<key>series_name</key>
		<string>儿童节，叔叔阿姨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/3031D97D-DE0D-6E2A-73F4-D323556CA37C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/3031D97D-DE0D-6E2A-73F4-D323556CA37C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>团团尾</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058144</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>六一,小学生</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一快乐4</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/A8067485-43C2-4061-0128-F01C696E261A-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14986</string>
		<key>series_name</key>
		<string>谁还不是个小学生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/4BAFA98E-273D-72FB-915A-6F0EBEF33270-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/4BAFA98E-273D-72FB-915A-6F0EBEF33270-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>团团尾</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117527062</string>
		</dict>
		<key>user_id</key>
		<string>117527062</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿弥陀佛么么哒</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058216</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝节</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/373C337C-0868-C4E4-A22D-8A6DC9110B1B-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15014</string>
		<key>series_name</key>
		<string>宝宝节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/11D7A0B8-541F-D22D-6C6A-068585242986-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/11D7A0B8-541F-D22D-6C6A-068585242986-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>阿弥陀佛么么哒</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77853473</string>
		</dict>
		<key>user_id</key>
		<string>77853473</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041611</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大队长徽章</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/BBF9D453-392B-4EB0-6E20-912E3DC1F1E3.jpg</string>
		<key>series_id</key>
		<string>10807</string>
		<key>series_name</key>
		<string>宝宝也要过六一节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/885DFE85-C2F5-A184-54E1-E200B563BA7A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/885DFE85-C2F5-A184-54E1-E200B563BA7A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝也要过节</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/5FFFB5D1-3B06-80CC-D05D-48A70F95EFCA.jpg</string>
		<key>series_id</key>
		<string>10807</string>
		<key>series_name</key>
		<string>宝宝也要过六一节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/48ADCBBD-C317-5959-CE68-41F40A645545.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/48ADCBBD-C317-5959-CE68-41F40A645545.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041477</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>奶瓶</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/26D06811-5D6A-9CE3-3F5D-908CAF7D35A4.jpg</string>
		<key>series_id</key>
		<string>10773</string>
		<key>series_name</key>
		<string>宝宝六一要放假</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/0E8683CE-2373-01F9-3523-97B70C15DB8B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/0E8683CE-2373-01F9-3523-97B70C15DB8B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
</array>
</plist>
