<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041095</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>儿童节快乐糖果头饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/21/40169A7E-860F-62E9-6222-EEDFC35379F7.jpg</string>
		<key>series_id</key>
		<string>10677</string>
		<key>series_name</key>
		<string>儿童节我还是学生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/21/F03BF988-826D-2055-597E-F5977760FBE3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/21/F03BF988-826D-2055-597E-F5977760FBE3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041457</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>婴儿嘴</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/75B1767A-47A4-C083-34C3-21566AD5AC79.jpg</string>
		<key>series_id</key>
		<string>10769</string>
		<key>series_name</key>
		<string>儿童节，叔叔阿姨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/6ECE0356-303F-11C9-6508-E0B422D78446.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/6ECE0356-303F-11C9-6508-E0B422D78446.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>源小嘟</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20012483</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>861</string>
		<key>name</key>
		<string>儿童票半价</string>
		<key>number</key>
		<string>inh3501165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/46F3CD40-9EFD-7677-84B2-054C75030BF4.jpg</string>
		<key>series_id</key>
		<string>3367</string>
		<key>series_name</key>
		<string>六一源小嘟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/F279CF60-34AC-894E-D36E-45D8AF630A4F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/F279CF60-34AC-894E-D36E-45D8AF630A4F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>源小嘟GYY</string>
			<key>number</key>
			<string>inh3501165</string>
			<key>user_id</key>
			<string>37883299</string>
		</dict>
		<key>user_id</key>
		<string>37883299</string>
	</dict>
	<dict>
		<key>author</key>
		<string>团团尾</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058140</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>六一,小学生</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一快乐2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/736110A1-686E-BF8A-3B8B-6B9B2F53436B-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14986</string>
		<key>series_name</key>
		<string>谁还不是个小学生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/A4007271-297E-D44E-72FE-ABA883C1BF6E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/A4007271-297E-D44E-72FE-ABA883C1BF6E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>团团尾</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117527062</string>
		</dict>
		<key>user_id</key>
		<string>117527062</string>
	</dict>
	<dict>
		<key>author</key>
		<string>珈玙</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058826</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>红晕,脸颊,装饰,星星,儿童节,就是要你萌,小仙女,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星星红晕</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/52EB2FF0-0835-7281-C2AB-275FDA0E6621-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15236</string>
		<key>series_name</key>
		<string>萌萌哒六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/C91BF22B-FD5F-71ED-8EA3-55B4A64DC43A-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/C91BF22B-FD5F-71ED-8EA3-55B4A64DC43A-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>橙咖咖</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80247173</string>
		</dict>
		<key>user_id</key>
		<string>80247173</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041605</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一皇冠</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/B6A5BC9C-FA71-8A19-3A80-5474F92324E7.jpg</string>
		<key>series_id</key>
		<string>10805</string>
		<key>series_name</key>
		<string>六一最萌儿童</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/6AE071F8-E945-7186-97BD-5B8C7B15AF99.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/6AE071F8-E945-7186-97BD-5B8C7B15AF99.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿弥陀佛么么哒</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058220</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>再见小时候</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/194C6BE1-53CB-A2FC-E34D-5A207951FF91-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15014</string>
		<key>series_name</key>
		<string>宝宝节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/D19710EA-818B-B104-7E32-F589B8B07B4B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/D19710EA-818B-B104-7E32-F589B8B07B4B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>阿弥陀佛么么哒</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77853473</string>
		</dict>
		<key>user_id</key>
		<string>77853473</string>
	</dict>
	<dict>
		<key>author</key>
		<string>天青</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041453</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>气球小狗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/25/AD346C8C-B61F-5F5A-B202-9E6906A1695A.jpg</string>
		<key>series_id</key>
		<string>10767</string>
		<key>series_name</key>
		<string>黄小闹之游乐园</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/25/38351A51-D90A-DCFB-F73D-2A78ED5B6842.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/25/38351A51-D90A-DCFB-F73D-2A78ED5B6842.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>天青</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>81565882</string>
		</dict>
		<key>user_id</key>
		<string>81565882</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041383</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>逃命小人</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/EDC1BDAA-144E-F605-79E8-B1951060A639.jpg</string>
		<key>series_id</key>
		<string>10749</string>
		<key>series_name</key>
		<string>熊孩子来袭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/0DA566AE-25F8-283A-D966-8F9B2A95E552.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/0DA566AE-25F8-283A-D966-8F9B2A95E552.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
