<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041469</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>广播</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/D6A3FDC4-78FD-F185-6C75-53143088B063.jpg</string>
		<key>series_id</key>
		<string>10771</string>
		<key>series_name</key>
		<string>我是童真陷儿的</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/0E656706-F2B8-DA36-E87E-8DE48C8F9BCD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/26/0E656706-F2B8-DA36-E87E-8DE48C8F9BCD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>珈玙</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058824</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>小仙女,光环,小天使,儿童节,六一,装饰,就是要你萌,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>天使光环</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/202B3268-E20E-C535-FF5F-6604A90188DE-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15236</string>
		<key>series_name</key>
		<string>萌萌哒六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/20CD4B57-0E06-9403-3224-63BC0A6E980E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/20CD4B57-0E06-9403-3224-63BC0A6E980E-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>橙咖咖</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80247173</string>
		</dict>
		<key>user_id</key>
		<string>80247173</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041459</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>口水巾</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/49E12CBB-A50A-F727-5D2F-A0F66A008A58.jpg</string>
		<key>series_id</key>
		<string>10769</string>
		<key>series_name</key>
		<string>儿童节，叔叔阿姨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/412E53FB-9AAD-18A6-90D7-904F99D6ACB9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/26/412E53FB-9AAD-18A6-90D7-904F99D6ACB9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058240</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>抱抱,兔子,卡通,可爱,六一,儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>抱抱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/EFE7D962-9E41-408D-D468-23AF24A8109D-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15032</string>
		<key>series_name</key>
		<string>小黄兔的六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/A012EF8D-AE50-F5E7-8A2A-9BDDD7DDDCEF-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/24/A012EF8D-AE50-F5E7-8A2A-9BDDD7DDDCEF-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20012183</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>861</string>
		<key>name</key>
		<string>六一快乐</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/4EA06B69-B843-6F3E-1258-0BC1574EE612.jpg</string>
		<key>series_id</key>
		<string>3293</string>
		<key>series_name</key>
		<string>六一儿童节奖状</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/BDC055C1-1B84-DB97-0C4A-6F774C67B11D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/BDC055C1-1B84-DB97-0C4A-6F774C67B11D.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20041265</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>海魂衫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/23/71D82A32-DACC-D550-EE58-0F226E655BC9.jpg</string>
		<key>series_id</key>
		<string>10721</string>
		<key>series_name</key>
		<string>80后的六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/23/4714FFCA-707A-FB93-5303-6F4FAE1CDBCC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/23/4714FFCA-707A-FB93-5303-6F4FAE1CDBCC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>灰常小鱼</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100698410</string>
		</dict>
		<key>user_id</key>
		<string>100698410</string>
	</dict>
	<dict>
		<key>author</key>
		<string>团团尾</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20058142</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>六一,小学生</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一快乐3</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/23/2D174364-1DE3-8285-D942-E4E8D1B7715F-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14986</string>
		<key>series_name</key>
		<string>谁还不是个小学生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/23/B731EF45-EF98-1B5D-6BCE-B5AD8A086442-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/23/B731EF45-EF98-1B5D-6BCE-B5AD8A086442-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>团团尾</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117527062</string>
		</dict>
		<key>user_id</key>
		<string>117527062</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20012181</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>861</string>
		<key>name</key>
		<string>儿童节奖状</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/BA7F0E65-33E1-2628-C43A-E7CCC405CB25.jpg</string>
		<key>series_id</key>
		<string>3293</string>
		<key>series_name</key>
		<string>六一儿童节奖状</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/4346D941-7281-22BF-9613-28E238D5399D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/4346D941-7281-22BF-9613-28E238D5399D.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>861</string>
		<key>id</key>
		<string>20012185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>861</string>
		<key>name</key>
		<string>大红花奖状</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/BB985334-AA21-3C1F-2283-8AD2E7B9F234.jpg</string>
		<key>series_id</key>
		<string>3293</string>
		<key>series_name</key>
		<string>六一儿童节奖状</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/FE9248B8-6A1C-F5D7-F048-52892F238B33.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/FE9248B8-6A1C-F5D7-F048-52892F238B33.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
</array>
</plist>
