<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20048865</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>hello</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/15C1A587-7564-F825-24A3-E9199C5FFED9.jpg</string>
		<key>series_id</key>
		<string>12623</string>
		<key>series_name</key>
		<string>得得兔的好基友</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/7388427E-0D34-5133-D64B-6E4C0F226DF1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/7388427E-0D34-5133-D64B-6E4C0F226DF1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20048867</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>拔地而起</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/6E3C3906-B4B6-FA38-BA36-49D4114BA765.jpg</string>
		<key>series_id</key>
		<string>12623</string>
		<key>series_name</key>
		<string>得得兔的好基友</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/9E112484-CD19-C7B1-E7E7-B0D26692A2EA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/9E112484-CD19-C7B1-E7E7-B0D26692A2EA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20048869</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>啥事</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/07238926-A041-CD08-5675-7D3E39CF246B.jpg</string>
		<key>series_id</key>
		<string>12623</string>
		<key>series_name</key>
		<string>得得兔的好基友</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/0B6E25F0-5654-967A-C771-3BC85BFE13A1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/0B6E25F0-5654-967A-C771-3BC85BFE13A1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20050129</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/16/FCE6BD14-6F48-DE5A-0F86-8D9C0E646199.jpg</string>
		<key>series_id</key>
		<string>12939</string>
		<key>series_name</key>
		<string>得得兔度假系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/16/ADE1ED89-B4EE-BDB1-C638-FED56F13D93E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/16/ADE1ED89-B4EE-BDB1-C638-FED56F13D93E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20050135</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>干杯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/662DBAE1-D540-848F-ED77-6F46E26EF356.jpg</string>
		<key>series_id</key>
		<string>12939</string>
		<key>series_name</key>
		<string>得得兔度假系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/A5095651-E984-398F-AE09-49AD892F8B3F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/A5095651-E984-398F-AE09-49AD892F8B3F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20048871</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>干杯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/39D732FF-18BD-EAA8-AC7D-7A1CE719FD89.jpg</string>
		<key>series_id</key>
		<string>12623</string>
		<key>series_name</key>
		<string>得得兔的好基友</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/F810BCD1-1D37-4990-7A6E-1C8E18A178E2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/F810BCD1-1D37-4990-7A6E-1C8E18A178E2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃西瓜的瓜妹</string>
		<key>cate_id</key>
		<string>3256</string>
		<key>id</key>
		<string>20050131</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>度假</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/D3B8DF8A-3F4E-8BAA-8715-C35D0E22AE7F.jpg</string>
		<key>series_id</key>
		<string>12939</string>
		<key>series_name</key>
		<string>得得兔度假系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/755BF5A6-6878-BBA2-C7D4-FAAFA6F2FE7A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/16/755BF5A6-6878-BBA2-C7D4-FAAFA6F2FE7A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>吃西瓜的瓜妹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109100411</string>
		</dict>
		<key>user_id</key>
		<string>109100411</string>
	</dict>
</array>
</plist>
