<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>妙言酱</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20010341</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>小食光</string>
		<key>number</key>
		<string>MJY444777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/05/3596891C-75ED-551A-23EC-AEFEAD8FACE0.jpg?v=2</string>
		<key>series_id</key>
		<string>2819</string>
		<key>series_name</key>
		<string>生活记</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/337630BE-837B-16D8-80EE-E940DA144304.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/337630BE-837B-16D8-80EE-E940DA144304.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妙言酱</string>
			<key>number</key>
			<string>MJY444777</string>
			<key>user_id</key>
			<string>32494234</string>
		</dict>
		<key>user_id</key>
		<string>32494234</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20008287</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>我要美食</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/7EB80811-F6BB-43BD-5B9B-874C7CF8C2E0.jpg?v=2</string>
		<key>series_id</key>
		<string>2213</string>
		<key>series_name</key>
		<string>养成好习惯</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/F75D57F8-7600-E273-81F6-4F2F80323A5C.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/F75D57F8-7600-E273-81F6-4F2F80323A5C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>289</string>
		<key>id</key>
		<string>501</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>289</string>
		<key>name</key>
		<string>元气的美味</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i4.jiuyan.info/in/2014/10/30/1F1BB7B7-869E-A905-7374-D165CFD9D80A.jpg?v=2</string>
		<key>series_id</key>
		<string>289</string>
		<key>series_name</key>
		<string>美食心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i4.jiuyan.info/in/2014/11/07/D534BF41-8229-DEBF-777F-07891A464F9D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i4.jiuyan.info/in/2014/11/07/D534BF41-8229-DEBF-777F-07891A464F9D.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>1917</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>我的厨房日记</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/C6C00062-A8E7-1F24-E760-C321221EA7C1.jpg?v=2</string>
		<key>series_id</key>
		<string>663</string>
		<key>series_name</key>
		<string>美食日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/4B28A0C3-A290-C2CF-7F0C-B97133D8401C.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/4B28A0C3-A290-C2CF-7F0C-B97133D8401C.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓜小西</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20009163</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>天生吃货</string>
		<key>number</key>
		<string>xalayo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/17/7296D250-37CD-6DEE-29FA-CC65E6E7BE9E.jpg?v=2</string>
		<key>series_id</key>
		<string>2489</string>
		<key>series_name</key>
		<string>瓜小西吃货水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/17/C9CD41C3-4554-EC37-3CB8-5BF3B6EF50BD.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/17/C9CD41C3-4554-EC37-3CB8-5BF3B6EF50BD.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓜小西</string>
			<key>number</key>
			<string>xalayo</string>
			<key>user_id</key>
			<string>35910588</string>
		</dict>
		<key>user_id</key>
		<string>35910588</string>
	</dict>
	<dict>
		<key>author</key>
		<string>BETTER</string>
		<key>cate_id</key>
		<string>289</string>
		<key>id</key>
		<string>20026307</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>289</string>
		<key>name</key>
		<string>暖胃，暖心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/5D98E17D-5EEC-B054-DF0A-0392C7E4353E.jpg</string>
		<key>series_id</key>
		<string>6991</string>
		<key>series_name</key>
		<string>文艺美食贴图二</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/19/788EF540-353B-2728-AF96-89F0A602F942.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/19/788EF540-353B-2728-AF96-89F0A602F942.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>唐贝塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77567987</string>
		</dict>
		<key>user_id</key>
		<string>77567987</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>663</string>
		<key>id</key>
		<string>20008111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>663</string>
		<key>name</key>
		<string>黑暗料理</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/9CA7726A-79F4-1233-B9ED-DA26B979ECA9.jpg?v=2</string>
		<key>series_id</key>
		<string>2167</string>
		<key>series_name</key>
		<string>吃货志</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/1253C7DA-119A-4BF1-D9EB-E1D91523158B.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/1253C7DA-119A-4BF1-D9EB-E1D91523158B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20008159</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃货の世界</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/25A6341A-C801-A6FF-73B8-E9D32DCC18BE.jpg?v=2</string>
		<key>series_id</key>
		<string>2179</string>
		<key>series_name</key>
		<string>美食水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/C1FC6AC4-E4A2-ECF4-7204-754B82B54AD4.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/C1FC6AC4-E4A2-ECF4-7204-754B82B54AD4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>289</string>
		<key>id</key>
		<string>20009001</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>289</string>
		<key>name</key>
		<string>真。美味</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/42459810-ADBA-BFDE-840A-F1B65E4543F5.jpg?v=2</string>
		<key>series_id</key>
		<string>2447</string>
		<key>series_name</key>
		<string>吃货必备系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/04C6CF79-185A-635A-F9FB-F27215F9BBD8.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/13/04C6CF79-185A-635A-F9FB-F27215F9BBD8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
</array>
</plist>
