<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>223</string>
		<key>id</key>
		<string>20003532</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>223</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/0FCAD4A1-5C40-7C6C-8857-31B20AE3C1D9.jpg?v=2</string>
		<key>series_id</key>
		<string>1008</string>
		<key>series_name</key>
		<string>一生有你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/669427BC-E331-F956-B4C5-C1245C3661E1.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/669427BC-E331-F956-B4C5-C1245C3661E1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>213</string>
		<key>id</key>
		<string>20016103</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>花冠</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/6A786410-6399-B1BE-C5B3-21A760D4EA3C.jpg</string>
		<key>series_id</key>
		<string>4357</string>
		<key>series_name</key>
		<string>爱文艺</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/A81A0CF5-BE95-6FDA-034B-780D91780B16.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/A81A0CF5-BE95-6FDA-034B-780D91780B16.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>1819</string>
		<key>id</key>
		<string>20003526</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1819</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/2C78EAD3-1F6A-7C22-CAC7-0073E0C27CB6.jpg?v=2</string>
		<key>series_id</key>
		<string>1008</string>
		<key>series_name</key>
		<string>一生有你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/C7C0731F-9DBB-5627-9CF6-58DA4CDE9931.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/C7C0731F-9DBB-5627-9CF6-58DA4CDE9931.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>西小喵</string>
		<key>cate_id</key>
		<string>3164</string>
		<key>id</key>
		<string>1032313</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>国庆,复古,聚会,头饰,cos</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>复古头纱-黑色</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/28/6033FE4C-3EDE-C5FA-D2A2-5BA84D77A72D.jpg</string>
		<key>series_id</key>
		<string>3164</string>
		<key>series_name</key>
		<string>国庆复古系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/28/82CCA19A-9E71-0BE7-3A4B-7124BA2861BD.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/28/82CCA19A-9E71-0BE7-3A4B-7124BA2861BD.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>261</string>
		<key>id</key>
		<string>20007881</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>261</string>
		<key>name</key>
		<string>猫耳发卡</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/6AE6FDE8-8E35-CA15-4DEA-70329A681554.jpg?v=2</string>
		<key>series_id</key>
		<string>2103</string>
		<key>series_name</key>
		<string>简约韩范萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/A8120272-AFBB-3B11-C723-82256E823860.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/A8120272-AFBB-3B11-C723-82256E823860.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20003220</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>亲亲</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/06492450-2F5B-0A83-27FD-2CA92F8B71FC.jpg?v=2</string>
		<key>series_id</key>
		<string>928</string>
		<key>series_name</key>
		<string>手写心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/4AAC5A85-8FAE-2C71-B3BA-9A80D6978BB4.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/4AAC5A85-8FAE-2C71-B3BA-9A80D6978BB4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20016503</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>花洒</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/67DDBD9F-0522-C789-D171-70B22A34FC73.jpg</string>
		<key>series_id</key>
		<string>4459</string>
		<key>series_name</key>
		<string>白色凉凉小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/F21B2A90-16D0-0522-1381-6990AD10AE81.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/F21B2A90-16D0-0522-1381-6990AD10AE81.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20024929</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>最好的时光</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/86CD0CEA-B96E-F11D-2289-ADDDDE898FE6.jpg</string>
		<key>series_id</key>
		<string>6645</string>
		<key>series_name</key>
		<string>文艺时光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/E524BD14-C9B2-90C4-A0BF-75C48B7F1086.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/E524BD14-C9B2-90C4-A0BF-75C48B7F1086.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>周小鱼的闺蜜</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20017567</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2229</string>
		<key>name</key>
		<string>斯文眼镜</string>
		<key>number</key>
		<string>ine3332094</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/D5D84033-FEF8-5E27-4FB0-928B95DC1CFE.jpg</string>
		<key>series_id</key>
		<string>4773</string>
		<key>series_name</key>
		<string>周小鱼的小脸蛋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/3C6AEEA8-6CB5-561A-B8C2-128C38249A94.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/3C6AEEA8-6CB5-561A-B8C2-128C38249A94.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>周小鱼闺蜜</string>
			<key>number</key>
			<string>ine3332094</string>
			<key>user_id</key>
			<string>36214226</string>
		</dict>
		<key>user_id</key>
		<string>36214226</string>
	</dict>
</array>
</plist>
