<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>459</string>
		<key>id</key>
		<string>20005818</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>459</string>
		<key>name</key>
		<string>今天听我的</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/56748DD6-DEEB-3D9A-7B89-7F7E665AF311.jpg?v=2</string>
		<key>series_id</key>
		<string>1586</string>
		<key>series_name</key>
		<string>杜番茄节日必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/117BFE1D-7387-8D29-4B15-B8B0BAF708D1.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/117BFE1D-7387-8D29-4B15-B8B0BAF708D1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>459</string>
		<key>id</key>
		<string>20010025</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>459</string>
		<key>name</key>
		<string>剪刀手</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/7C6C8C4E-632F-EDC1-20AB-544B4A05EB37.jpg?v=2</string>
		<key>series_id</key>
		<string>2737</string>
		<key>series_name</key>
		<string>杜番茄3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/D41C5242-D366-70DC-DE8D-665999EA1ADB.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/D41C5242-D366-70DC-DE8D-665999EA1ADB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
</array>
</plist>
