<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>翔通动漫</string>
		<key>cate_id</key>
		<string>3884</string>
		<key>id</key>
		<string>20055860</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清凉一夏</string>
		<key>number</key>
		<string>ind4391662</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/7235D025-F59F-1302-0243-9DE99B83BC48.jpg</string>
		<key>series_id</key>
		<string>14370</string>
		<key>series_name</key>
		<string>萌萌熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/19900DCA-EA48-8701-45B9-239E4C9F747E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/19900DCA-EA48-8701-45B9-239E4C9F747E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑的芭乐</string>
			<key>number</key>
			<string>ind4391662</string>
			<key>user_id</key>
			<string>46725123</string>
		</dict>
		<key>user_id</key>
		<string>46725123</string>
	</dict>
	<dict>
		<key>author</key>
		<string>翔通动漫</string>
		<key>cate_id</key>
		<string>3884</string>
		<key>id</key>
		<string>20055858</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>hello</string>
		<key>number</key>
		<string>ind4391662</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/3C697A96-57B9-074B-F6D4-A95A77C251FC.jpg</string>
		<key>series_id</key>
		<string>14370</string>
		<key>series_name</key>
		<string>萌萌熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/3B8EFF55-13A5-6350-FAA3-B61BDA9EEAE8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/3B8EFF55-13A5-6350-FAA3-B61BDA9EEAE8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑的芭乐</string>
			<key>number</key>
			<string>ind4391662</string>
			<key>user_id</key>
			<string>46725123</string>
		</dict>
		<key>user_id</key>
		<string>46725123</string>
	</dict>
	<dict>
		<key>author</key>
		<string>翔通动漫</string>
		<key>cate_id</key>
		<string>3884</string>
		<key>id</key>
		<string>20055856</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>最爱汤圆</string>
		<key>number</key>
		<string>ind4391662</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/39767FAD-BF9C-128B-B839-AA5E71B6F427.jpg</string>
		<key>series_id</key>
		<string>14370</string>
		<key>series_name</key>
		<string>萌萌熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/7F17F56A-EE61-2DCB-95A0-FE046163D04B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/7F17F56A-EE61-2DCB-95A0-FE046163D04B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑的芭乐</string>
			<key>number</key>
			<string>ind4391662</string>
			<key>user_id</key>
			<string>46725123</string>
		</dict>
		<key>user_id</key>
		<string>46725123</string>
	</dict>
	<dict>
		<key>author</key>
		<string>翔通动漫</string>
		<key>cate_id</key>
		<string>3884</string>
		<key>id</key>
		<string>20055862</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>上菜咯</string>
		<key>number</key>
		<string>ind4391662</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/8CBC9B7D-662D-8AB7-A4AE-85E1E23A8EDD.jpg</string>
		<key>series_id</key>
		<string>14370</string>
		<key>series_name</key>
		<string>萌萌熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/D01C79D2-F9E2-D828-86CC-1BBA42E8B211.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/20/D01C79D2-F9E2-D828-86CC-1BBA42E8B211.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑的芭乐</string>
			<key>number</key>
			<string>ind4391662</string>
			<key>user_id</key>
			<string>46725123</string>
		</dict>
		<key>user_id</key>
		<string>46725123</string>
	</dict>
</array>
</plist>
