<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {600, 800}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<array>
			<dict>
				<key>file</key>
				<string>line1.png</string>
				<key>id</key>
				<string>line1</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>762</string>
					<key>left</key>
					<string>0</string>
					<key>right</key>
					<string>0</string>
					<key>top</key>
					<string>36</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>line2.png</string>
				<key>id</key>
				<string>line2</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>53</string>
					<key>left</key>
					<string>100</string>
					<key>right</key>
					<string>352</string>
					<key>top</key>
					<string>740</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
		</array>
		<key>part</key>
		<array>
			<dict>
				<key>index</key>
				<string>0</string>
				<key>path</key>
				<dict>
					<key>rect</key>
					<dict>
						<key>height</key>
						<string>280</string>
						<key>width</key>
						<string>400</string>
						<key>x</key>
						<string>100</string>
						<key>y</key>
						<string>130</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>1</string>
			</dict>
			<dict>
				<key>index</key>
				<string>1</string>
				<key>path</key>
				<dict>
					<key>rect</key>
					<dict>
						<key>height</key>
						<string>280</string>
						<key>width</key>
						<string>400</string>
						<key>x</key>
						<string>100</string>
						<key>y</key>
						<string>420</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>1</string>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>0</string>
					<key>green</key>
					<string>0</string>
					<key>red</key>
					<string>0</string>
				</dict>
				<key>defaultValue</key>
				<string>2014/06/22 10:32</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>TrebuchetMS</string>
				</dict>
				<key>format</key>
				<string>yyyy/MM/dd HH:mm</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>30</string>
					<key>width</key>
					<string>130</string>
					<key>x</key>
					<string>24</string>
					<key>y</key>
					<string>10</string>
				</dict>
				<key>id</key>
				<string>date</string>
				<key>locale</key>
				<string>US</string>
				<key>size</key>
				<string>16</string>
				<key>value</key>
				<string>$(date)</string>
				<key>zIndex</key>
				<string>1</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>poi</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>0</string>
					<key>green</key>
					<string>0</string>
					<key>red</key>
					<string>0</string>
				</dict>
				<key>defaultValue</key>
				<string>我在这里</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>TrebuchetMS</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>30</string>
					<key>width</key>
					<string>430</string>
					<key>x</key>
					<string>150</string>
					<key>y</key>
					<string>10</string>
				</dict>
				<key>id</key>
				<string>place</string>
				<key>size</key>
				<string>16</string>
				<key>value</key>
				<string>$(place)</string>
				<key>zIndex</key>
				<string>1</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>0</string>
					<key>green</key>
					<string>0</string>
					<key>red</key>
					<string>0</string>
				</dict>
				<key>defaultValue</key>
				<string>我的暑假开始啦</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>TrebuchetMS</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>42</string>
					<key>width</key>
					<string>556</string>
					<key>x</key>
					<string>24</string>
					<key>y</key>
					<string>46</string>
				</dict>
				<key>id</key>
				<string>String1</string>
				<key>size</key>
				<string>28</string>
				<key>zIndex</key>
				<string>1</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>0</string>
					<key>green</key>
					<string>0</string>
					<key>red</key>
					<string>0</string>
				</dict>
				<key>defaultValue</key>
				<string>PITU PHOTOGRAPHY</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>TrebuchetMS</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>24</string>
					<key>width</key>
					<string>400</string>
					<key>x</key>
					<string>100</string>
					<key>y</key>
					<string>746</string>
				</dict>
				<key>id</key>
				<string>String2</string>
				<key>size</key>
				<string>12</string>
				<key>zIndex</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
