<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13905</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/1E40A37C-AE20-FE4B-3266-7B5824E30E26.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/A39B1F39-8C79-8A5E-2397-6301F875A5F6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/A39B1F39-8C79-8A5E-2397-6301F875A5F6.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>22602</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>悦诗风吟-绿茶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/20/679DD838-16E8-9F63-FD03-023101B292D2.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/20/6C891F5D-820F-3738-75B8-356C09F5F373.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/20/6C891F5D-820F-3738-75B8-356C09F5F373.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13906</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-小公举</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/28/A5C71E56-D9BE-043F-1995-9FDF60853322.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/28/37F0CC72-EC7E-702A-72DD-EF9F183A1A99.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/28/37F0CC72-EC7E-702A-72DD-EF9F183A1A99.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13908</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-小石榴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/D83C6398-9469-B1F5-0156-1081C2E63DBF.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/D4602101-477E-D6D1-8E8F-59B89F196AF1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/D4602101-477E-D6D1-8E8F-59B89F196AF1.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13909</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-快看她脸上有光</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/061C8F7B-D0F8-124C-A9E4-953C81455C59.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/1AAD7485-1B4F-9150-1E78-4DA0793A78D8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/1AAD7485-1B4F-9150-1E78-4DA0793A78D8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13903</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-萌出一脸光</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/9A3AC02A-7279-A218-EF54-0814BE854AA7.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/5181430A-A43A-259F-9DC7-51E037D5644C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/5181430A-A43A-259F-9DC7-51E037D5644C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13907</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-小清新</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/B9FE58AF-3F5E-777D-5A9B-E3DE1EEB6BE6.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/7BC5E311-0C81-73A7-8CA9-657BB5DC5378.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/28/7BC5E311-0C81-73A7-8CA9-657BB5DC5378.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-发光吧！少女</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/51699A3C-7167-76B5-2B0E-07A8701B60CA.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/457AA958-C1C7-7AA9-EEFA-C5773B16FB18.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/28/457AA958-C1C7-7AA9-EEFA-C5773B16FB18.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>悦诗风吟</string>
		<key>cate_id</key>
		<string>2009</string>
		<key>id</key>
		<string>13904</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2009</string>
		<key>name</key>
		<string>innisfree-发箍</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/6C022ED9-05A9-DE6F-D89F-497AA69913C9.jpg</string>
		<key>series_id</key>
		<string>2009</string>
		<key>series_name</key>
		<string>石榴小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/06FEC194-9368-1223-0768-28E7DF1EABF4.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/09/28/06FEC194-9368-1223-0768-28E7DF1EABF4.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
