<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039309</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-袜子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/899AB7BE-A264-0869-2FF5-FB1030187CC3.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/E1F156D0-4DE9-206F-BFD4-5E16CB8556C4.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/E1F156D0-4DE9-206F-BFD4-5E16CB8556C4.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039308</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-圣诞快乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/2CC5BBE6-522F-C281-E114-7444560A2239.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/762D347C-F7B0-052E-2BD2-13C0161882BD.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/762D347C-F7B0-052E-2BD2-13C0161882BD.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039307</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋开启圣诞狂欢,启赋</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-圣诞树奶滴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/B0584A18-5ED9-9EBF-F86F-FB2DFA5574DC.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/D3876FF7-EF2B-0F91-6A2F-B43E928BD2AC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/D3876FF7-EF2B-0F91-6A2F-B43E928BD2AC.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039306</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-鹿角</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/2A866AA3-1CCB-6B21-EED2-617D19B3524C.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/A0640CAB-0A7C-5C22-371F-01135EE16035.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/A0640CAB-0A7C-5C22-371F-01135EE16035.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039305</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋开启圣诞狂欢,启赋</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-圣诞帽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/AF8E12AE-2F68-81DE-10CF-34CD17BDE11C.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/841BE6F6-F358-7A0D-E369-3334C57372AB.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/841BE6F6-F358-7A0D-E369-3334C57372AB.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039304</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-圣诞亲和瞬间</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/F390C5C4-A33D-6651-10B3-B69915FA87FF.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/EED6841E-9E56-4FD0-A63C-E1F548673718.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/12/19/EED6841E-9E56-4FD0-A63C-E1F548673718.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋开启圣诞狂欢</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/9E177A85-442D-6C51-0C43-E1238233D9FB.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/571236F4-3EEB-3EDB-780C-9362E59287B2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/19/571236F4-3EEB-3EDB-780C-9362E59287B2.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039302</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋-雪人奶滴,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-雪人奶滴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/EBF28264-E88A-303B-1280-A5CA4EE27AA1.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/DB81D3BB-2AFB-2843-A7D8-5924472E7B6E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/12/19/DB81D3BB-2AFB-2843-A7D8-5924472E7B6E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>3210</string>
		<key>id</key>
		<string>1039301</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>启赋,启赋开启圣诞狂欢</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>启赋-圣诞开启启赋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/8AAD093D-A957-B37D-8D18-EEFA9C7AC14D.jpg</string>
		<key>series_id</key>
		<string>3210</string>
		<key>series_name</key>
		<string>启赋系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/AE4FA90B-BF90-AD0A-7EBE-ABAD56FE9992.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/AE4FA90B-BF90-AD0A-7EBE-ABAD56FE9992.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
