<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20012351</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>太好吃了</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/17EA817F-6059-B1E2-3DFE-CAFDF5AEBB11.jpg</string>
		<key>series_id</key>
		<string>3335</string>
		<key>series_name</key>
		<string>多多酱表情系列3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/0CB0E11F-8503-BC99-CAC4-65268492B284.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/29/0CB0E11F-8503-BC99-CAC4-65268492B284.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20008797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>开吃啦</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/10/147557A1-AB37-14C5-9562-BF8464C094B1.jpg?v=2</string>
		<key>series_id</key>
		<string>2345</string>
		<key>series_name</key>
		<string>多多酱聚会系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/10/D3129C7D-42C2-E2B8-AAF2-8EA2A80B765E.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/10/D3129C7D-42C2-E2B8-AAF2-8EA2A80B765E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20011057</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>爽歪歪</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/35E7E3BB-FA21-98CA-F6C2-2F333870A647.jpg</string>
		<key>series_id</key>
		<string>2997</string>
		<key>series_name</key>
		<string>多多酱表情系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/BF0F2930-30FD-8287-9268-62429ADB8E08.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/14/BF0F2930-30FD-8287-9268-62429ADB8E08.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20007527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>抱大腿</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/F59D0177-0507-6D36-7914-9A13834EDDC3.jpg?v=2</string>
		<key>series_id</key>
		<string>2015</string>
		<key>series_name</key>
		<string>多多酱少女系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/A13642D5-15E5-9C58-A9CC-6E36C98D9F36.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/A13642D5-15E5-9C58-A9CC-6E36C98D9F36.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20007529</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>加油</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/D579DE63-89CC-A7DE-FD2A-205E3607A25D.jpg?v=2</string>
		<key>series_id</key>
		<string>2015</string>
		<key>series_name</key>
		<string>多多酱少女系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/B7E81CCC-1470-0E73-A2AB-B4FA5E3C7172.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/B7E81CCC-1470-0E73-A2AB-B4FA5E3C7172.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20009711</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>真开心</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/3754DE41-6D48-348F-0B06-9BCE093CF282.jpg?v=2</string>
		<key>series_id</key>
		<string>2659</string>
		<key>series_name</key>
		<string>多多酱表情系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2EBD7307-8C41-30AD-252A-289A34274A17.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2EBD7307-8C41-30AD-252A-289A34274A17.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20009131</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/16/6A398C42-B303-B9CD-EFCD-70DF4A05BAE1.jpg?v=2</string>
		<key>series_id</key>
		<string>2481</string>
		<key>series_name</key>
		<string>多多酱吃货系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/16/3574F510-246B-BEF6-1FCD-D722D2C9D9C6.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/16/3574F510-246B-BEF6-1FCD-D722D2C9D9C6.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20010769</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/21CD40CC-7860-1E01-6E44-7E841F9AA299.jpg</string>
		<key>series_id</key>
		<string>2925</string>
		<key>series_name</key>
		<string>多多酱好想说爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/AF2AC629-4F08-E420-6F14-1647DF2E87E9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/AF2AC629-4F08-E420-6F14-1647DF2E87E9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20011059</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>心累</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/14/A67F1BCE-894F-DACC-8302-E1734DBF1593.jpg</string>
		<key>series_id</key>
		<string>2997</string>
		<key>series_name</key>
		<string>多多酱表情系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/14/E182569F-5FC8-C09B-29C4-A8C6CEA1B13A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/14/E182569F-5FC8-C09B-29C4-A8C6CEA1B13A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
</array>
</plist>
