<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>388</string>
		<key>id</key>
		<string>20007641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>388</string>
		<key>name</key>
		<string>亲亲</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/777F0899-84F7-E2F5-19E8-63C4BA0F7163.jpg?v=2</string>
		<key>series_id</key>
		<string>2043</string>
		<key>series_name</key>
		<string>小C-晴天娃娃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/9134AA45-78D3-0E81-CA0C-5F055C98425C.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/25/9134AA45-78D3-0E81-CA0C-5F055C98425C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>388</string>
		<key>id</key>
		<string>20007639</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>388</string>
		<key>name</key>
		<string>捉弄我的都是坏人</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/25/49444F66-89AD-CF30-68A9-B67E802AC9F2.jpg?v=2</string>
		<key>series_id</key>
		<string>2043</string>
		<key>series_name</key>
		<string>小C-晴天娃娃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/25/AA0DBB9E-AE90-676F-BE6A-6AF69DAA92AA.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/25/AA0DBB9E-AE90-676F-BE6A-6AF69DAA92AA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>388</string>
		<key>id</key>
		<string>20007637</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>388</string>
		<key>name</key>
		<string>请我次饭吧</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/5FCC6D8A-7C7F-1E91-30BC-C0F800B6D3EC.jpg?v=2</string>
		<key>series_id</key>
		<string>2043</string>
		<key>series_name</key>
		<string>小C-晴天娃娃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/58785B09-20FD-33F8-CB65-B4AD13745F83.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/58785B09-20FD-33F8-CB65-B4AD13745F83.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>388</string>
		<key>id</key>
		<string>20007643</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>388</string>
		<key>name</key>
		<string>搞怪</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/D5BD2A61-69E7-B107-0121-CE81161F27D7.jpg?v=2</string>
		<key>series_id</key>
		<string>2043</string>
		<key>series_name</key>
		<string>小C-晴天娃娃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/2357A432-705F-BF76-0517-801D85BE6879.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/2357A432-705F-BF76-0517-801D85BE6879.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
</array>
</plist>
