<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>妮妮</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20042491</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>一周CP,概率论</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>青春正好 时光不老</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/0D5FD198-ED7F-964E-2C4A-5965F5EB464A.jpg</string>
		<key>series_id</key>
		<string>11027</string>
		<key>series_name</key>
		<string>夏天水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/5299A6AA-4103-B3B0-7AA0-27E46965CB8D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/5299A6AA-4103-B3B0-7AA0-27E46965CB8D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>夏之泡沫12</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>42653145</string>
		</dict>
		<key>user_id</key>
		<string>42653145</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大练</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20012937</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1787</string>
		<key>name</key>
		<string>致青春</string>
		<key>number</key>
		<string>int1013</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/CCB5DF77-C375-763E-8F3D-ED2983BB2EB9.jpg</string>
		<key>series_id</key>
		<string>3511</string>
		<key>series_name</key>
		<string>赐我暖男啦~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/DFE245B4-6488-ACA0-859C-99296A7E388D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/DFE245B4-6488-ACA0-859C-99296A7E388D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>练洁莹</string>
			<key>number</key>
			<string>int1013</string>
			<key>user_id</key>
			<string>68996656</string>
		</dict>
		<key>user_id</key>
		<string>68996656</string>
	</dict>
	<dict>
		<key>author</key>
		<string>七月不笑猫</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20013013</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1787</string>
		<key>name</key>
		<string>青春纪念册</string>
		<key>number</key>
		<string>inj4027670</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/0601671B-410C-48AE-33F5-26F2F10395B5.jpg</string>
		<key>series_id</key>
		<string>3531</string>
		<key>series_name</key>
		<string>七月不笑猫文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/BE4696DF-269F-F92D-B42D-BF1BB5072D91.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/BE4696DF-269F-F92D-B42D-BF1BB5072D91.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>七月不笑猫</string>
			<key>number</key>
			<string>inj4027670</string>
			<key>user_id</key>
			<string>43120687</string>
		</dict>
		<key>user_id</key>
		<string>43120687</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20041781</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>3</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/31/324FF832-AB55-C618-07E2-63635C9969FF.jpg</string>
		<key>series_id</key>
		<string>10849</string>
		<key>series_name</key>
		<string>in两周岁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/31/48075F8F-CFEC-CA90-138D-C14E5C871A32.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/31/48075F8F-CFEC-CA90-138D-C14E5C871A32.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20043519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>也是一颗少女心</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/BF9ABF4C-9092-CD2C-F947-A37D802297B3.jpg</string>
		<key>series_id</key>
		<string>11283</string>
		<key>series_name</key>
		<string>也是一颗少女心</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/B01E5226-8D61-2A60-C17B-2865A95F13E9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/B01E5226-8D61-2A60-C17B-2865A95F13E9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>妮妮</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20042493</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>青春季</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/CCE617AA-3F06-16C6-9C1F-E245D49B7984.jpg</string>
		<key>series_id</key>
		<string>11027</string>
		<key>series_name</key>
		<string>夏天水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/B72D1205-0D9A-4E30-10D9-B56E7A9526F5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/B72D1205-0D9A-4E30-10D9-B56E7A9526F5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>夏之泡沫12</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>42653145</string>
		</dict>
		<key>user_id</key>
		<string>42653145</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>2353</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1787</string>
		<key>name</key>
		<string>青春终将散场</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/A1ECF317-D087-56A1-6464-7BCED49B7D70.jpg</string>
		<key>series_id</key>
		<string>1787</string>
		<key>series_name</key>
		<string>青春</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/F8F9E9C0-5008-4FDE-FD02-70ABB8420989.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/F8F9E9C0-5008-4FDE-FD02-70ABB8420989.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20043547</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>全世界都失眠</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/47B80BDD-EBA6-48D9-06E0-01CCC404D41E.jpg</string>
		<key>series_id</key>
		<string>11291</string>
		<key>series_name</key>
		<string>多多酱文字系列6</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/8CA9107E-F5FF-688F-E6A3-0D290236672C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/07/8CA9107E-F5FF-688F-E6A3-0D290236672C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>1787</string>
		<key>id</key>
		<string>20024939</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>青春</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/05/911565BF-E9E3-043C-032C-391C9A844A85.jpg</string>
		<key>series_id</key>
		<string>6649</string>
		<key>series_name</key>
		<string>白色文艺字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/05/F206B069-D63A-A602-D3DC-B83C10AFE47C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/05/F206B069-D63A-A602-D3DC-B83C10AFE47C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
</array>
</plist>
