<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20052001</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腊梅剪纸</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/29051BCF-517F-AEE3-44C6-97396FB40934.jpg</string>
		<key>series_id</key>
		<string>13407</string>
		<key>series_name</key>
		<string>剪纸新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/02E6D8B4-D875-3211-6414-4C8F8456DC5E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/02E6D8B4-D875-3211-6414-4C8F8456DC5E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20051999</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>财神到</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/62AA1657-E909-302F-E648-EBE4BD4FED96.jpg</string>
		<key>series_id</key>
		<string>13405</string>
		<key>series_name</key>
		<string>年味</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/6CDAD6FB-D8FD-0473-64FB-714BF6085A77.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/6CDAD6FB-D8FD-0473-64FB-714BF6085A77.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20051997</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>年年有余</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/35F972C1-F54D-0D86-F631-BD264EB0C21A.jpg</string>
		<key>series_id</key>
		<string>13405</string>
		<key>series_name</key>
		<string>年味</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/E4D04138-A071-1269-F6E9-414C55297806.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/E4D04138-A071-1269-F6E9-414C55297806.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20051995</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>年味</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/940F893D-9B0E-4462-28DE-6DF29F11BD4F.jpg</string>
		<key>series_id</key>
		<string>13405</string>
		<key>series_name</key>
		<string>年味</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/72AAB225-33FD-7008-AFA8-36EC76D46A00.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/72AAB225-33FD-7008-AFA8-36EC76D46A00.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20051993</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>2017年</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/960C07D5-02E4-78EB-69ED-5401AD8A7408.jpg</string>
		<key>series_id</key>
		<string>13405</string>
		<key>series_name</key>
		<string>年味</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/98ABCB6E-DADF-4DC1-606D-CCF5E7F50FE9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/20/98ABCB6E-DADF-4DC1-606D-CCF5E7F50FE9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20051853</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>边框</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/C72C97D1-3CA7-8BB9-89D1-94A05F24519D.jpg</string>
		<key>series_id</key>
		<string>13369</string>
		<key>series_name</key>
		<string>新年红系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/02278123-2A8A-39EA-49B7-BAA62D3A30E6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/02278123-2A8A-39EA-49B7-BAA62D3A30E6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>1042521</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>春节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中国年窗花2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/4E657ED3-AD5A-18F5-4607-B4C908B0E986.jpg</string>
		<key>series_id</key>
		<string>3518</string>
		<key>series_name</key>
		<string>剪纸新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/9B094CC9-F561-5E31-FAFB-F89ED07C1DAD.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/9B094CC9-F561-5E31-FAFB-F89ED07C1DAD.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>1042519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>春节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中国年窗花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/88D18F08-1D7C-2C38-F37A-547400FE4F79.jpg</string>
		<key>series_id</key>
		<string>3518</string>
		<key>series_name</key>
		<string>剪纸新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/17AB4788-0934-E4B3-D744-7D8B11B90366.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/17AB4788-0934-E4B3-D744-7D8B11B90366.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>3518</string>
		<key>id</key>
		<string>20052007</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>年年有余~鱼</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/58819175-7AE5-47EB-13E9-8D358FD93D89.jpg</string>
		<key>series_id</key>
		<string>13407</string>
		<key>series_name</key>
		<string>剪纸新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/EFC5F795-575C-74FE-5C44-88D3BAF0DF0C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/20/EFC5F795-575C-74FE-5C44-88D3BAF0DF0C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
</array>
</plist>
