<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>猫小叮</string>
		<key>cate_id</key>
		<string>3934</string>
		<key>id</key>
		<string>20056280</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>放假好开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/EA8A14FC-C260-65BA-890F-AA75DDAD2663.jpg</string>
		<key>series_id</key>
		<string>14490</string>
		<key>series_name</key>
		<string>小长假吃喝玩乐宅</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/276D657E-4E80-328F-F537-BCEC2C874FBB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/276D657E-4E80-328F-F537-BCEC2C874FBB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Muxuk</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112591748</string>
		</dict>
		<key>user_id</key>
		<string>112591748</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫小叮</string>
		<key>cate_id</key>
		<string>3934</string>
		<key>id</key>
		<string>20056282</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>说走就走的旅行</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/5C8EE78E-23ED-5684-2A1B-9BA1F2AF9E2B.jpg</string>
		<key>series_id</key>
		<string>14490</string>
		<key>series_name</key>
		<string>小长假吃喝玩乐宅</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/7AC77BFC-AA1B-B046-1758-70E4F1325E3B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/7AC77BFC-AA1B-B046-1758-70E4F1325E3B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Muxuk</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112591748</string>
		</dict>
		<key>user_id</key>
		<string>112591748</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫小叮</string>
		<key>cate_id</key>
		<string>3934</string>
		<key>id</key>
		<string>20056286</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美食吃不停</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/6B3F61EC-D27E-B30B-DB1F-BE2FDB4253D5.jpg</string>
		<key>series_id</key>
		<string>14490</string>
		<key>series_name</key>
		<string>小长假吃喝玩乐宅</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/A782AC7C-6CC0-77C9-D6BA-0C9284B5A198.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/A782AC7C-6CC0-77C9-D6BA-0C9284B5A198.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Muxuk</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112591748</string>
		</dict>
		<key>user_id</key>
		<string>112591748</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫小叮</string>
		<key>cate_id</key>
		<string>3934</string>
		<key>id</key>
		<string>20056284</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>幸福就是宅一起</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/86C3AD3F-D039-1B0B-DC31-ADCFBA321A28.jpg</string>
		<key>series_id</key>
		<string>14490</string>
		<key>series_name</key>
		<string>小长假吃喝玩乐宅</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/106357B3-A924-7914-E9B1-3D24C2613314.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/27/106357B3-A924-7914-E9B1-3D24C2613314.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Muxuk</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112591748</string>
		</dict>
		<key>user_id</key>
		<string>112591748</string>
	</dict>
</array>
</plist>
