<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20039963</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红军领子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/27/3CDB9234-6882-3AE2-2A49-6E93B2B4B5D6.jpg</string>
		<key>series_id</key>
		<string>10395</string>
		<key>series_name</key>
		<string>劳动光荣文革篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/27/3641D2DD-5BF5-8320-CEE4-CC6CD262E4C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/27/3641D2DD-5BF5-8320-CEE4-CC6CD262E4C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>LOOKUP</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20006496</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>白色心心蝴蝶</string>
		<key>number</key>
		<string>LOOKUP</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/BA474F6D-E97F-8EA3-8811-755246FECB29.jpg?v=2</string>
		<key>series_id</key>
		<string>1756</string>
		<key>series_name</key>
		<string>LOOKUP白色</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/60D5CFC6-F417-F605-8C42-6BC3199A81D1.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/60D5CFC6-F417-F605-8C42-6BC3199A81D1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>LOOKUPCN</string>
			<key>number</key>
			<string>LOOKUP</string>
			<key>user_id</key>
			<string>34398216</string>
		</dict>
		<key>user_id</key>
		<string>34398216</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20017349</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>小樱桃</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/09FB37EC-3A72-83B6-3FD3-9CAB18110D8A.jpg</string>
		<key>series_id</key>
		<string>4719</string>
		<key>series_name</key>
		<string>我们白着呢</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/2D34B8E0-6BD5-B1D3-958C-22F2468FE2CC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/2D34B8E0-6BD5-B1D3-958C-22F2468FE2CC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20046119</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>学院风04</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/97397F71-13CC-925E-19DD-90C0D588A7EF.jpg</string>
		<key>series_id</key>
		<string>11935</string>
		<key>series_name</key>
		<string>学院风</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/027CC702-5DDB-C5DC-8068-20DE10B93860.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/027CC702-5DDB-C5DC-8068-20DE10B93860.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20040747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>海军风衣领</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/D42D7933-CA86-960D-622E-5F9310C39259.jpg</string>
		<key>series_id</key>
		<string>10591</string>
		<key>series_name</key>
		<string>夏天海军风</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/7D8E0394-DC62-7AD6-DAB9-F833253F9924.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/7D8E0394-DC62-7AD6-DAB9-F833253F9924.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008351</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>小绿~</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/435983DD-D0C0-E9E8-230D-1C8DF0CEAA53.jpg?v=2</string>
		<key>series_id</key>
		<string>2229</string>
		<key>series_name</key>
		<string>我是萌萌小学生！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/02EBF529-87B9-C377-1556-73986BFC5326.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/02EBF529-87B9-C377-1556-73986BFC5326.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>-小琢-</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20021625</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>领带</string>
		<key>number</key>
		<string>IN88123</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/24CB2F5F-53CF-E0E9-80F1-F3A36D15BBFD.jpg</string>
		<key>series_id</key>
		<string>5821</string>
		<key>series_name</key>
		<string>纯黑系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/924B3B63-480F-C082-D1B2-B2DAFC4F80C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/924B3B63-480F-C082-D1B2-B2DAFC4F80C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>-小琢-</string>
			<key>number</key>
			<string>IN88123</string>
			<key>user_id</key>
			<string>18020011</string>
		</dict>
		<key>user_id</key>
		<string>18020011</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20015231</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>领带</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/AD5C77D0-47AC-7B9D-22F0-C6B132DA8481.jpg</string>
		<key>series_id</key>
		<string>4139</string>
		<key>series_name</key>
		<string>端午父亲节连连过</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/A9B01E2F-48B2-5A1B-2C5C-D05BD0CC9EF7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/A9B01E2F-48B2-5A1B-2C5C-D05BD0CC9EF7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>15227</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>柯南-领结</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/E7EF5B01-E4A5-1F42-6DA5-03A0171A6E53.jpg</string>
		<key>series_id</key>
		<string>591</string>
		<key>series_name</key>
		<string>领结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/08C5F872-9E80-0389-6916-F5B196731052.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/08C5F872-9E80-0389-6916-F5B196731052.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
