<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008047</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>2</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/FCACF9D1-C350-EB8E-20C4-5313299E0C93.jpg?v=2</string>
		<key>series_id</key>
		<string>2151</string>
		<key>series_name</key>
		<string>文艺复古蝴蝶结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/2B945149-A6AF-014C-692A-14E456755085.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/2B945149-A6AF-014C-692A-14E456755085.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>娇气姐姐</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>1366</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>古装</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>小盘领</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/30/4708DC75-73F6-1B16-8A10-A1839A291F74.jpg?v=2</string>
		<key>series_id</key>
		<string>591</string>
		<key>series_name</key>
		<string>领结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/30/954C768C-DD0F-8F16-0401-FFA4CB283D06.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/30/954C768C-DD0F-8F16-0401-FFA4CB283D06.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Fv1x</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20013623</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>领结</string>
		<key>number</key>
		<string>Fv1x_19950112</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/981BB41A-5C37-1967-4402-863E9D06D52F.jpg</string>
		<key>series_id</key>
		<string>3715</string>
		<key>series_name</key>
		<string>丸子哥哥的小东西</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/2A546EC1-FF6D-492A-CAC5-75612EB04972.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/2A546EC1-FF6D-492A-CAC5-75612EB04972.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Fv1x</string>
			<key>number</key>
			<string>Fv1x_19950112</string>
			<key>user_id</key>
			<string>69525153</string>
		</dict>
		<key>user_id</key>
		<string>69525153</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20012033</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>红领巾，青春，校园,儿童节</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/26/B6978A12-F6D3-29FC-84A1-5798B8343B16.jpg</string>
		<key>series_id</key>
		<string>3253</string>
		<key>series_name</key>
		<string>童心童趣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/27/584E20CF-213B-123A-7E39-3B335FFF3F07.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/27/584E20CF-213B-123A-7E39-3B335FFF3F07.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20046113</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>学院风01</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/87FE13C3-C054-4F94-CB32-C99127A5AEEF.jpg</string>
		<key>series_id</key>
		<string>11935</string>
		<key>series_name</key>
		<string>学院风</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/BCBFCB9F-2C9F-0233-4294-E57C63DA37FC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/BCBFCB9F-2C9F-0233-4294-E57C63DA37FC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20003528</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/74B8694B-AA5D-1CBD-48D3-E08A50E3C5B2.jpg?v=2</string>
		<key>series_id</key>
		<string>1008</string>
		<key>series_name</key>
		<string>一生有你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/90E2903C-8A05-B456-54DF-8E753B3ABAB3.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/90E2903C-8A05-B456-54DF-8E753B3ABAB3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008049</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>3</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/9494282E-CEB0-87BA-F39E-40FBCDDCD93D.jpg?v=2</string>
		<key>series_id</key>
		<string>2151</string>
		<key>series_name</key>
		<string>文艺复古蝴蝶结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/D0627A21-6FBD-78B3-9D85-F76DCE3D6D08.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/D0627A21-6FBD-78B3-9D85-F76DCE3D6D08.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008353</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>小红~</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/B89BAD02-FC97-008A-0579-9D33F4ED16BC.jpg?v=2</string>
		<key>series_id</key>
		<string>2229</string>
		<key>series_name</key>
		<string>我是萌萌小学生！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/3A33093F-445A-352B-B609-696F97849DE9.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/3A33093F-445A-352B-B609-696F97849DE9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008051</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>4</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/9F684EFF-BB4B-9AD7-426C-B477CB31D7AC.jpg?v=2</string>
		<key>series_id</key>
		<string>2151</string>
		<key>series_name</key>
		<string>文艺复古蝴蝶结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/F3F07C8C-ABEE-8A61-A582-CD12303515DA.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/F3F07C8C-ABEE-8A61-A582-CD12303515DA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
</array>
</plist>
