<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15812</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>我想静静</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/8F8EBC50-FDB0-64E9-EE18-546B01A0FA19.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/F84351AF-151D-5649-8E97-F87B513E4149.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/F84351AF-151D-5649-8E97-F87B513E4149.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15810</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>做人最重要的是开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/5F6DEC8F-F5F2-E174-6C69-F93268043E80.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/82CBA266-7ED9-E6DF-7D68-49DD5EB9640E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/82CBA266-7ED9-E6DF-7D68-49DD5EB9640E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15808</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>哎哟不错哦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/AABE6840-0E45-5ADD-21F6-D698ACBB246A.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/DE9721B2-0D38-5EC2-A0CF-2E44791E41AA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/DE9721B2-0D38-5EC2-A0CF-2E44791E41AA.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>约么</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/6FE0CED8-9035-6494-B199-E430212C1E76.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/AA80ECC9-886E-E458-621D-201638480B9B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/03/AA80ECC9-886E-E458-621D-201638480B9B.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15807</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>我要出去玩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/B134DC93-D327-E752-B508-54E594019854.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/9B15FBB3-990F-2C3B-F449-4DCBA734A94F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/9B15FBB3-990F-2C3B-F449-4DCBA734A94F.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15811</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>完美</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/75DE19EA-3AA0-3455-CA9A-9E2F12B46556.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/382E7D47-8651-262D-92E9-B28258C5657F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/382E7D47-8651-262D-92E9-B28258C5657F.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15804</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>我美吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/81C252C1-1C7C-A548-F414-89C1FC9867C9.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/F3E7F534-157B-B513-7E14-FEFB62F58BF0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/03/F3E7F534-157B-B513-7E14-FEFB62F58BF0.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15803</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>帅到睡不着</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/85B933C6-7C74-6145-50BD-0D4DA799442F.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/5E906CB3-6E34-E9CD-880B-A7623E9DB3C3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/03/5E906CB3-6E34-E9CD-880B-A7623E9DB3C3.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷笑话精选</string>
		<key>cate_id</key>
		<string>2117</string>
		<key>id</key>
		<string>15801</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2117</string>
		<key>name</key>
		<string>每天被自己帅醒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/91ECBA3B-F170-B66E-09AC-BC6807368A55.jpg</string>
		<key>series_id</key>
		<string>2117</string>
		<key>series_name</key>
		<string>冷先森</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/8683205D-0CA8-0530-CE3F-DC531D0A939A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/8683205D-0CA8-0530-CE3F-DC531D0A939A.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
