<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>438</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>霸气侧漏</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i1.jiuyan.info/in/2014/09/29/79A25F62-D435-1C6A-7C57-CED6EF925A90.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i1.jiuyan.info/in/2014/09/29/02817B95-8A13-5A70-858D-2ED1ED67118A.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i1.jiuyan.info/in/2014/09/29/02817B95-8A13-5A70-858D-2ED1ED67118A.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>31</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>正能量</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i2.jiuyan.info/in/2014/08/08/315064F6-07C2-C697-A3DE-C47951D76969.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i2.jiuyan.info/in/2014/08/04/339E51AE-4230-84CA-B26C-CD0716497807.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i2.jiuyan.info/in/2014/08/04/339E51AE-4230-84CA-B26C-CD0716497807.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>1899</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>辞职申请</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/FF03AF81-51F4-C515-459E-DA4B4A9D1265.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/93A71D54-D8F4-14BA-F659-08698184C369.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/16/93A71D54-D8F4-14BA-F659-08698184C369.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>467</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>猴子派来的逗比</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i6.jiuyan.info/in/2014/10/20/4CDA42B8-4081-7055-334B-A24C5975ED3B.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i6.jiuyan.info/in/2014/10/20/846DFC09-258A-4057-7170-7A3A696AB7DD.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i6.jiuyan.info/in/2014/10/20/846DFC09-258A-4057-7170-7A3A696AB7DD.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>米斯特兔</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>20002844</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>不羁</string>
		<key>number</key>
		<string>inj668</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/23/A6D229DE-56BA-F423-0876-30DE81DEBEB2.jpg?v=2</string>
		<key>series_id</key>
		<string>832</string>
		<key>series_name</key>
		<string>爱与不羁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/23/50CB6682-BF02-0160-4CA8-43473F542654.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/23/50CB6682-BF02-0160-4CA8-43473F542654.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>米斯特兔</string>
			<key>number</key>
			<string>inj668</string>
			<key>user_id</key>
			<string>31969116</string>
		</dict>
		<key>user_id</key>
		<string>31969116</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>27</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>压马路</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i4.jiuyan.info/in/2014/08/08/CA092604-AEFA-8148-2AEC-DBA00E8619B1.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i4.jiuyan.info/in/2014/08/04/2C4A0780-2941-8DFF-C1F6-AEEFA9B47CD8.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i4.jiuyan.info/in/2014/08/04/2C4A0780-2941-8DFF-C1F6-AEEFA9B47CD8.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>20025099</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>秘密花园</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/82D6AF82-B5B0-7A55-2C96-5D4797E62D2F.jpg</string>
		<key>series_id</key>
		<string>6689</string>
		<key>series_name</key>
		<string>多多酱の文艺字2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/C7B1726B-2A15-B8A3-37E7-0B08CE88164B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/C7B1726B-2A15-B8A3-37E7-0B08CE88164B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>19</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>暴走萝莉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i2.jiuyan.info/in/2014/08/08/A00EB4A0-E8BC-F0B8-7162-A5B72066367B.jpg?v=2</string>
		<key>series_id</key>
		<string>382</string>
		<key>series_name</key>
		<string>往期流行语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i2.jiuyan.info/in/2014/08/06/56A98290-82D9-9214-B589-D46A781D3DDF.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i2.jiuyan.info/in/2014/08/06/56A98290-82D9-9214-B589-D46A781D3DDF.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>米斯特兔</string>
		<key>cate_id</key>
		<string>382</string>
		<key>id</key>
		<string>20002842</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>382</string>
		<key>name</key>
		<string>哀家</string>
		<key>number</key>
		<string>inj668</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/23/F6077C03-2A02-6EC8-8494-D01B0A551585.jpg?v=2</string>
		<key>series_id</key>
		<string>832</string>
		<key>series_name</key>
		<string>爱与不羁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/23/00401586-73B3-5121-3B4B-66D7043ADA42.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/23/00401586-73B3-5121-3B4B-66D7043ADA42.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>米斯特兔</string>
			<key>number</key>
			<string>inj668</string>
			<key>user_id</key>
			<string>31969116</string>
		</dict>
		<key>user_id</key>
		<string>31969116</string>
	</dict>
</array>
</plist>
