<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20029025</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>卖萌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/4B7B3F2B-1E38-2715-703D-CEA0E2F91D70.jpg</string>
		<key>series_id</key>
		<string>7667</string>
		<key>series_name</key>
		<string>桑口先生的兔子3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/17/2D6454D7-0B5D-98B3-AB3E-E6A913635271.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/17/2D6454D7-0B5D-98B3-AB3E-E6A913635271.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20026173</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>飞吻</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/33567E65-D586-95D9-951B-DD3233A00B9A.jpg</string>
		<key>series_id</key>
		<string>6957</string>
		<key>series_name</key>
		<string>桑口先生的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/356F2BC0-C739-9802-24FF-7C759D3BD0A9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/356F2BC0-C739-9802-24FF-7C759D3BD0A9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20032657</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>送花感恩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/560200A1-4468-0BBC-3671-3C2FEEFF280C.jpg</string>
		<key>series_id</key>
		<string>8569</string>
		<key>series_name</key>
		<string>桑口先生的感恩节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/F3ACAFF6-EAC4-212D-65B4-2B7518DEBBCA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/18/F3ACAFF6-EAC4-212D-65B4-2B7518DEBBCA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20027789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>示爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/74769725-EDA5-BCF0-586E-B1EB22582B01.jpg</string>
		<key>series_id</key>
		<string>7359</string>
		<key>series_name</key>
		<string>桑口先生的小兔兔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/34CFAADC-29A0-F58F-1AB6-D0E3F8C3DB7D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/34CFAADC-29A0-F58F-1AB6-D0E3F8C3DB7D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20026175</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>亲亲</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/8FFBC647-5FD9-BFEE-2B5E-E3CA9D26FD32.jpg</string>
		<key>series_id</key>
		<string>6957</string>
		<key>series_name</key>
		<string>桑口先生的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/1B4DC227-0764-6779-AB14-022A346B7BD4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/1B4DC227-0764-6779-AB14-022A346B7BD4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20029023</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>主人我累了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/7584FDED-51AE-4E46-C84E-FCC3A7D311C8.jpg</string>
		<key>series_id</key>
		<string>7667</string>
		<key>series_name</key>
		<string>桑口先生的兔子3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/30220B62-6CE8-1985-DF57-65F8AE7C9A1E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/30220B62-6CE8-1985-DF57-65F8AE7C9A1E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20028457</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/560F5FC2-3B2D-1EB8-6442-E8F814082ED8.jpg</string>
		<key>series_id</key>
		<string>7525</string>
		<key>series_name</key>
		<string>桑口先生的小兔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/EC122716-2116-E75A-F9C4-2C6A4126FCCB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/EC122716-2116-E75A-F9C4-2C6A4126FCCB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20027791</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>互动</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/01/A69FE3D7-05C3-C247-26CA-0BBDE4175787.jpg</string>
		<key>series_id</key>
		<string>7359</string>
		<key>series_name</key>
		<string>桑口先生的小兔兔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/01/581A8EB9-AB1B-08E3-2D98-4B17490FD396.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/01/581A8EB9-AB1B-08E3-2D98-4B17490FD396.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1505</string>
		<key>id</key>
		<string>20029021</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1505</string>
		<key>name</key>
		<string>示爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/788B4059-C183-C447-E383-22FE6A80E6E3.jpg</string>
		<key>series_id</key>
		<string>7667</string>
		<key>series_name</key>
		<string>桑口先生的兔子3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/68E8E072-31AB-904A-9FDA-A532EA4FCB8E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/68E8E072-31AB-904A-9FDA-A532EA4FCB8E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
</array>
</plist>
