<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20030485</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>要下雨啦</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/08/DC6AAFFC-D689-A76D-C340-0E3DA9C6A914.jpg</string>
		<key>series_id</key>
		<string>8025</string>
		<key>series_name</key>
		<string>小小吉的小灿灿7</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/08/DCAD65D8-BB15-228B-37D9-8ABCF75A02DE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/08/DCAD65D8-BB15-228B-37D9-8ABCF75A02DE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20011631</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>Hi~</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/11612787-5265-188D-A1FC-BBFEB4A7351B.jpg</string>
		<key>series_id</key>
		<string>3145</string>
		<key>series_name</key>
		<string>小小吉的小灿灿4</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/9D4949D9-64E3-F50D-F66F-B03DFB69DFBC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/9D4949D9-64E3-F50D-F66F-B03DFB69DFBC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20013333</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>又长肉了</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/A42045F9-B4AF-5258-EF00-2DA774E2CDE3.jpg</string>
		<key>series_id</key>
		<string>3643</string>
		<key>series_name</key>
		<string>小小吉的小灿灿6</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/3FA491BD-B5DF-08C3-5052-798B7E88A530.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/3FA491BD-B5DF-08C3-5052-798B7E88A530.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20010367</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>好次</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/05/02/FD601C4C-AE32-3554-EDF9-AF64233779A3.jpg?v=2</string>
		<key>series_id</key>
		<string>2825</string>
		<key>series_name</key>
		<string>小小吉的小灿灿3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/05/02/C609F4CA-F804-2516-2DF5-ED30E84AB4E9.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/05/02/C609F4CA-F804-2516-2DF5-ED30E84AB4E9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20010019</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2265</string>
		<key>name</key>
		<string>小灿灿咔嚓</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/95F8D4FC-B3C0-F473-19B6-F95BE775EF89.jpg?v=2</string>
		<key>series_id</key>
		<string>2735</string>
		<key>series_name</key>
		<string>小小吉的小灿灿2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/031E8629-5AAD-39DC-C830-D5BB235F6FCE.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/031E8629-5AAD-39DC-C830-D5BB235F6FCE.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20030773</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>小灿灿晚安</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/F375CC63-C642-7A63-3EB4-B1726B7738B3.jpg</string>
		<key>series_id</key>
		<string>8097</string>
		<key>series_name</key>
		<string>小小吉的小灿灿9</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/3D2A6717-4BAC-80CB-609F-66603499B822.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/3D2A6717-4BAC-80CB-609F-66603499B822.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20030759</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>小小吉洗刷刷</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/2AD85860-715D-F468-BD21-FD007D06A482.jpg</string>
		<key>series_id</key>
		<string>8095</string>
		<key>series_name</key>
		<string>小小吉的小灿灿8</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/F03ED172-0EB8-00E9-C3A3-CCC6F7F84EEA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/F03ED172-0EB8-00E9-C3A3-CCC6F7F84EEA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20006254</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/790A41F4-F246-C496-AB69-C323CC3D05E9.jpg?v=2</string>
		<key>series_id</key>
		<string>1696</string>
		<key>series_name</key>
		<string>小小吉de小灿灿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/62BA4CE2-AF91-4ABC-E893-33C5FD52FD41.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/62BA4CE2-AF91-4ABC-E893-33C5FD52FD41.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20010365</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>灿灿的黑暗料理</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/11/066CB606-D734-4DD3-5C51-9519D76574D7.jpg</string>
		<key>series_id</key>
		<string>2825</string>
		<key>series_name</key>
		<string>小小吉的小灿灿3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/78D6CDC7-CCBE-50AF-1427-F2740D748EE0.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/78D6CDC7-CCBE-50AF-1427-F2740D748EE0.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
</array>
</plist>
