<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>我叫静籽</string>
		<key>cate_id</key>
		<string>837</string>
		<key>id</key>
		<string>20018019</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>837</string>
		<key>name</key>
		<string>西瓜汁</string>
		<key>number</key>
		<string>ins646812</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/51C377EC-3D4B-7F2C-A667-1B08B7738386.jpg</string>
		<key>series_id</key>
		<string>4891</string>
		<key>series_name</key>
		<string>西瓜系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/429714B5-96D4-1E1F-75C0-CCC18CE0AEA7.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/429714B5-96D4-1E1F-75C0-CCC18CE0AEA7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我叫静籽</string>
			<key>number</key>
			<string>ins646812</string>
			<key>user_id</key>
			<string>70422587</string>
		</dict>
		<key>user_id</key>
		<string>70422587</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>1345</string>
		<key>id</key>
		<string>20012131</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1345</string>
		<key>name</key>
		<string>我们都是好学生</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/6347DB9F-EB57-8D77-74FB-34F0987B0AA8.jpg</string>
		<key>series_id</key>
		<string>3277</string>
		<key>series_name</key>
		<string>半身创意装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/9BDC3564-4A43-31AC-AB40-7A50C93FBDB0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/28/9BDC3564-4A43-31AC-AB40-7A50C93FBDB0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>781</string>
		<key>id</key>
		<string>20016653</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>781</string>
		<key>name</key>
		<string>爱心</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/9BD7F5FC-2B83-2AB9-1D1C-0BD2251CFFF3.jpg</string>
		<key>series_id</key>
		<string>4497</string>
		<key>series_name</key>
		<string>可爱的我</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/2AEEE2C2-766F-8F05-67AD-E479AAF70EC8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/2AEEE2C2-766F-8F05-67AD-E479AAF70EC8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>243</string>
		<key>id</key>
		<string>20016439</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>243</string>
		<key>name</key>
		<string>小皇冠</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/70DC0ABF-F75A-B504-20E4-C57E9C79D590.jpg</string>
		<key>series_id</key>
		<string>4443</string>
		<key>series_name</key>
		<string>夏日小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/750BA012-12BA-C201-AE3B-ECBDB4B89B9F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/750BA012-12BA-C201-AE3B-ECBDB4B89B9F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>839</string>
		<key>id</key>
		<string>20004376</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>839</string>
		<key>name</key>
		<string>小糖果</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/FD3730AD-1D60-C11B-F78F-2133F58B8C8C.jpg?v=2</string>
		<key>series_id</key>
		<string>1224</string>
		<key>series_name</key>
		<string>萌萌哒吃货</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/58B36BAE-DCCF-00AF-BBA7-7B6D71321B23.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/58B36BAE-DCCF-00AF-BBA7-7B6D71321B23.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>早安豆小米</string>
		<key>cate_id</key>
		<string>253</string>
		<key>id</key>
		<string>20022613</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>253</string>
		<key>name</key>
		<string>红晕1</string>
		<key>number</key>
		<string>inc3630303</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/20/8366FDDC-4556-08DA-0BA5-75E9DD5FE4E2.jpg</string>
		<key>series_id</key>
		<string>6069</string>
		<key>series_name</key>
		<string>可爱装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/20/8A74D89E-09CF-374D-838A-583A82976404.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/20/8A74D89E-09CF-374D-838A-583A82976404.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>早安豆小米</string>
			<key>number</key>
			<string>inc3630303</string>
			<key>user_id</key>
			<string>39145680</string>
		</dict>
		<key>user_id</key>
		<string>39145680</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>691</string>
		<key>id</key>
		<string>20007497</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>691</string>
		<key>name</key>
		<string>喵爪</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/08/2A720A27-0490-7C8E-FDB8-23BB8B4D4CDE.jpg?v=2</string>
		<key>series_id</key>
		<string>2007</string>
		<key>series_name</key>
		<string>小星星的小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/08/C619DC28-370F-15C8-A0F8-448576D7DA52.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/08/C619DC28-370F-15C8-A0F8-448576D7DA52.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔盖得</string>
		<key>cate_id</key>
		<string>231</string>
		<key>id</key>
		<string>20010903</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>231</string>
		<key>name</key>
		<string>小兔</string>
		<key>number</key>
		<string>990332982</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/12/1B78A5A6-13FF-4029-71DF-1598482FAF39.jpg</string>
		<key>series_id</key>
		<string>2959</string>
		<key>series_name</key>
		<string>卡通小耳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/12/B0A16336-AF11-34A6-B62A-C551168F3F56.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/12/B0A16336-AF11-34A6-B62A-C551168F3F56.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔盖得</string>
			<key>number</key>
			<string>990332982</string>
			<key>user_id</key>
			<string>32821926</string>
		</dict>
		<key>user_id</key>
		<string>32821926</string>
	</dict>
	<dict>
		<key>author</key>
		<string>炸毛的兔叽</string>
		<key>cate_id</key>
		<string>376</string>
		<key>id</key>
		<string>20002702</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>376</string>
		<key>name</key>
		<string>天使小翅膀</string>
		<key>number</key>
		<string>ind1560335</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/22/CAB44151-BAA8-B4ED-114F-5F933BA97EE5.jpg?v=2</string>
		<key>series_id</key>
		<string>782</string>
		<key>series_name</key>
		<string>小天使与小恶魔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/22/9B4C105A-2FDC-6716-03E7-2669E328F01D.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/22/9B4C105A-2FDC-6716-03E7-2669E328F01D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>炸毛的兔叽</string>
			<key>number</key>
			<string>ind1560335</string>
			<key>user_id</key>
			<string>18649120</string>
		</dict>
		<key>user_id</key>
		<string>18649120</string>
	</dict>
</array>
</plist>
