<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20055520</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>戒指糖</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/0A9DB474-D278-E7FB-5515-775E8985A624.jpg</string>
		<key>series_id</key>
		<string>14286</string>
		<key>series_name</key>
		<string>8090时代</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/D724D0C1-A40F-6A90-4091-55FA66506B1C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/D724D0C1-A40F-6A90-4091-55FA66506B1C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20041797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>菜刀</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/361A8D6D-7C85-923E-9222-44BD98E3BCAB.jpg</string>
		<key>series_id</key>
		<string>10853</string>
		<key>series_name</key>
		<string>年轻怕什么</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/31/96FE4A5C-0620-C946-98F6-77DD2B18F2E5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/31/96FE4A5C-0620-C946-98F6-77DD2B18F2E5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>titi</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20018177</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>613</string>
		<key>name</key>
		<string>美少女魔法棒</string>
		<key>number</key>
		<string>ine2881185</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/94E7773E-4044-D5C7-B2DE-061C5A6364B1.jpg</string>
		<key>series_id</key>
		<string>4931</string>
		<key>series_name</key>
		<string>逗逼宝贝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/F637AAEA-526C-185B-7A22-2B68D19BAC95.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/F637AAEA-526C-185B-7A22-2B68D19BAC95.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鱼鱼想做放荡不羁插画师</string>
			<key>number</key>
			<string>ine2881185</string>
			<key>user_id</key>
			<string>31862974</string>
		</dict>
		<key>user_id</key>
		<string>31862974</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20053146</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>路牌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/E28835D5-6767-D1A8-CD37-FBA86A8CCE42.jpg</string>
		<key>series_id</key>
		<string>13692</string>
		<key>series_name</key>
		<string>春天踏青</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/FC13E09A-465C-230A-919A-C73A4046826A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/FC13E09A-465C-230A-919A-C73A4046826A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>脑电波</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20044191</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>沙滩救生圈</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/8D06D981-ADBB-3C4E-55C4-EF064A444E5A.jpg</string>
		<key>series_id</key>
		<string>11451</string>
		<key>series_name</key>
		<string>夏天沙滩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/E9D0C8DD-9C3A-E62F-E3BE-D1B82A572CD5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/E9D0C8DD-9C3A-E62F-E3BE-D1B82A572CD5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>脑电波发射中心</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103191454</string>
		</dict>
		<key>user_id</key>
		<string>103191454</string>
	</dict>
	<dict>
		<key>author</key>
		<string>莴苣</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20051231</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>输液</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/10/E440D2E1-B0C6-FFD6-A97C-20EBD6116CD8.jpg</string>
		<key>series_id</key>
		<string>13213</string>
		<key>series_name</key>
		<string>不想上班公主病</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/10/6CEC0FED-DB99-D232-1ECA-E81F5D60059E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/10/6CEC0FED-DB99-D232-1ECA-E81F5D60059E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>莴苣</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>38753478</string>
		</dict>
		<key>user_id</key>
		<string>38753478</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫豆豆金</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20025475</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>613</string>
		<key>name</key>
		<string>直升飞机</string>
		<key>number</key>
		<string>ind1204579</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/DD49C388-37F0-55D5-0F44-75D9F541DC8B.jpg</string>
		<key>series_id</key>
		<string>6783</string>
		<key>series_name</key>
		<string>黑猫警长</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9DF038CB-536B-CA96-4717-FCA0B6D7559B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9DF038CB-536B-CA96-4717-FCA0B6D7559B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫豆豆金</string>
			<key>number</key>
			<string>ind1204579</string>
			<key>user_id</key>
			<string>14200000</string>
		</dict>
		<key>user_id</key>
		<string>14200000</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20015181</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>613</string>
		<key>name</key>
		<string>纸飞机</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/A022E179-3236-2794-506D-65528DCC3189.jpg</string>
		<key>series_id</key>
		<string>4127</string>
		<key>series_name</key>
		<string>涂鸦风小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/CD848651-B97F-BE16-40C8-23E8B280A1F0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/CD848651-B97F-BE16-40C8-23E8B280A1F0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>脑电波</string>
		<key>cate_id</key>
		<string>613</string>
		<key>id</key>
		<string>20044189</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>拖鞋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/5B0E7FF7-1511-AABF-3494-DB977857C56B.jpg</string>
		<key>series_id</key>
		<string>11451</string>
		<key>series_name</key>
		<string>夏天沙滩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/3E9CBB2B-B8E3-E29F-AB52-DE5A45BF5726.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/3E9CBB2B-B8E3-E29F-AB52-DE5A45BF5726.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>脑电波发射中心</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103191454</string>
		</dict>
		<key>user_id</key>
		<string>103191454</string>
	</dict>
</array>
</plist>
