<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20038539</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>网红</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/6EF58AFB-2BFC-56A1-8505-49B39E92CE26.jpg</string>
		<key>series_id</key>
		<string>10039</string>
		<key>series_name</key>
		<string>大铃文字控</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/993242C1-0B17-A674-D124-5B6AB9698319.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/993242C1-0B17-A674-D124-5B6AB9698319.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20004908</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>女汉纸</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/4065DA9D-E9B9-28B5-AB4A-0F3B00899C1C.jpg?v=2</string>
		<key>series_id</key>
		<string>1356</string>
		<key>series_name</key>
		<string>你的属性鉴定完毕</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/5A77FE4C-E8CE-F4A9-5B26-CCD93005961D.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/5A77FE4C-E8CE-F4A9-5B26-CCD93005961D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20039259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝心里苦</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/13/92765DD5-7BA5-9A54-BB0B-E852E8A89EDE.jpg</string>
		<key>series_id</key>
		<string>10219</string>
		<key>series_name</key>
		<string>心情文字系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/13/E3DA8E33-CF2F-C82B-0E79-BEFA8B648372.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/13/E3DA8E33-CF2F-C82B-0E79-BEFA8B648372.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20030339</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>小鲜肉指牌手指</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/06/A7C26EBA-4308-81BA-61AF-167C36E2C71C.jpg</string>
		<key>series_id</key>
		<string>7989</string>
		<key>series_name</key>
		<string>兔叽酱指牌系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/06/23437E1F-332B-7FCC-3777-35533F1C1401.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/06/23437E1F-332B-7FCC-3777-35533F1C1401.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20017253</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>cute</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/3C2747F0-DEF2-DAA8-E1C4-7067C0302F1C.jpg</string>
		<key>series_id</key>
		<string>4695</string>
		<key>series_name</key>
		<string>小小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/A8AFC80F-36A7-CFC5-9863-E252AB2BD55D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/A8AFC80F-36A7-CFC5-9863-E252AB2BD55D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20037057</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>实力撩妹</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/41315189-B428-203B-9801-53E3A48C1C16.jpg</string>
		<key>series_id</key>
		<string>9669</string>
		<key>series_name</key>
		<string>禁止虐待单身狗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/DB5139B7-1C7A-08A4-4120-5AD82CF57C03.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/DB5139B7-1C7A-08A4-4120-5AD82CF57C03.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20008705</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>再看就把我娶掉</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/67FB886C-37AC-AE96-021F-E4808C68766D.jpg?v=2</string>
		<key>series_id</key>
		<string>2321</string>
		<key>series_name</key>
		<string>狂欢趴聚会啪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/D53725ED-5CF7-31A7-4D0A-92A77B566835.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/D53725ED-5CF7-31A7-4D0A-92A77B566835.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王潘哒</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20014741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>我是小公举</string>
		<key>number</key>
		<string>inr571916</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/14/C0A493B9-A985-D0A1-BE52-081875A7CAAB.jpg</string>
		<key>series_id</key>
		<string>4015</string>
		<key>series_name</key>
		<string>我是小公举</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/15/FEFE49E5-4B31-6CBE-79B5-590C68DF0498.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/15/FEFE49E5-4B31-6CBE-79B5-590C68DF0498.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王潘哒</string>
			<key>number</key>
			<string>inr571916</string>
			<key>user_id</key>
			<string>69665935</string>
		</dict>
		<key>user_id</key>
		<string>69665935</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20032663</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>此人颜值极高</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/19/C869B53A-9572-B258-5BD1-C3481131AE71.jpg</string>
		<key>series_id</key>
		<string>8571</string>
		<key>series_name</key>
		<string>进入感恩模式</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/19/B19964CE-3E2C-BAED-35CA-0C86BFA422A1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/19/B19964CE-3E2C-BAED-35CA-0C86BFA422A1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
</array>
</plist>
