<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20012621</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>小孩纸~</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/30/72E807AB-A079-C2C8-9EFD-E226477B3F76.jpg</string>
		<key>series_id</key>
		<string>3403</string>
		<key>series_name</key>
		<string>小么君-儿童节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/30/B1A25791-BCC5-C6FB-60E7-21FC30EBF6D7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/30/B1A25791-BCC5-C6FB-60E7-21FC30EBF6D7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20018941</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>女汉子</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/C42CEA2F-2C9C-7805-AA77-C6E11C40C2F0.jpg</string>
		<key>series_id</key>
		<string>5139</string>
		<key>series_name</key>
		<string>可爱语言贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/57DCAE21-6B6B-6ADC-0F24-E02A883B6929.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/57DCAE21-6B6B-6ADC-0F24-E02A883B6929.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20038875</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝委屈</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/06/B4E883D9-230D-A88B-9FE9-2FB6CEBBFEE0.jpg</string>
		<key>series_id</key>
		<string>10123</string>
		<key>series_name</key>
		<string>个性装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/06/D0C9FBF8-BC20-D60A-0B5C-C6D53CE235DD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/06/D0C9FBF8-BC20-D60A-0B5C-C6D53CE235DD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20013467</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>女神</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/781C8F7B-1463-7EC1-1CFF-F91C2B0B829E.jpg</string>
		<key>series_id</key>
		<string>3675</string>
		<key>series_name</key>
		<string>小么君可爱文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/E2228160-E44E-71BA-A542-5379DFD62AA7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/E2228160-E44E-71BA-A542-5379DFD62AA7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20006569</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2333</string>
		<key>name</key>
		<string>中国好女票</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/68EE50DB-B034-E454-D789-30DC911BDD00.jpg?v=2</string>
		<key>series_id</key>
		<string>1773</string>
		<key>series_name</key>
		<string>闺蜜情侣萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/38200CF9-0028-3A6C-B22D-2F2D5324930D.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/13/38200CF9-0028-3A6C-B22D-2F2D5324930D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫屁股殿下</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20037613</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美丽指数100</string>
		<key>number</key>
		<string>inr784249</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/02/CA895502-6B45-B8C1-BC10-D95DE5FD7355.jpg</string>
		<key>series_id</key>
		<string>9807</string>
		<key>series_name</key>
		<string>三月节日文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/02/4FC061FC-A1C8-1811-77DD-2AAF42A5580F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/02/4FC061FC-A1C8-1811-77DD-2AAF42A5580F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫屁股殿下</string>
			<key>number</key>
			<string>inr784249</string>
			<key>user_id</key>
			<string>71793295</string>
		</dict>
		<key>user_id</key>
		<string>71793295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20019307</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>叶小星的小文字</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/4E303AEE-7C85-5A4D-8712-09AB64C93995.jpg</string>
		<key>series_id</key>
		<string>5233</string>
		<key>series_name</key>
		<string>叶小星的小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/2813822A-7120-D63F-F474-49B31ECDC13D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/2813822A-7120-D63F-F474-49B31ECDC13D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20009727</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>Good</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/63940D1F-E051-277D-B38C-305B2583AF54.jpg?v=2</string>
		<key>series_id</key>
		<string>2663</string>
		<key>series_name</key>
		<string>涛粑鼻手写心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/48FE3BAB-D6EB-CCB9-11CD-E9FD7DCE8F50.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/24/48FE3BAB-D6EB-CCB9-11CD-E9FD7DCE8F50.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20023180</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>小鲜肉</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/71C6D001-2BF7-8C4D-4C27-03FFD5A844DA.jpg</string>
		<key>series_id</key>
		<string>6210</string>
		<key>series_name</key>
		<string>专属文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/44A3DBF1-B778-8B09-D550-8A784FCAF0C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/44A3DBF1-B778-8B09-D550-8A784FCAF0C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
</array>
</plist>
