<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049455</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ha ha</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/A36AA7A0-CCCD-BF70-0F56-FAB684165334.jpg</string>
		<key>series_id</key>
		<string>12769</string>
		<key>series_name</key>
		<string>秋田君ABCD</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/9360D033-7C07-4C2C-925C-3CB0E024E11A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/9360D033-7C07-4C2C-925C-3CB0E024E11A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049453</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ok</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/7E506618-9132-CE45-0E18-7492636D5B2C.jpg</string>
		<key>series_id</key>
		<string>12769</string>
		<key>series_name</key>
		<string>秋田君ABCD</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/DA64CE2C-7A6C-5940-29F1-4AA36C3D138F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/DA64CE2C-7A6C-5940-29F1-4AA36C3D138F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049451</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>yes</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/5DAC41C2-4C45-5F5D-33A9-BC660A363F56.jpg</string>
		<key>series_id</key>
		<string>12769</string>
		<key>series_name</key>
		<string>秋田君ABCD</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/57337277-330E-CDDC-DC8E-33DD200DDF21.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/26/57337277-330E-CDDC-DC8E-33DD200DDF21.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049449</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>what</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/8FEC4004-2D6F-8633-9507-A433EAC2648D.jpg</string>
		<key>series_id</key>
		<string>12769</string>
		<key>series_name</key>
		<string>秋田君ABCD</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/DB28948E-F222-3CA3-55E8-072DC3B9CD46.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/26/DB28948E-F222-3CA3-55E8-072DC3B9CD46.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049055</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>Hello</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/49E82C00-C6E0-BFD2-09DE-8EB5D6ED20E8.jpg</string>
		<key>series_id</key>
		<string>12669</string>
		<key>series_name</key>
		<string>日常秋田君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/097E21D4-C709-E02A-6F47-1750937D34C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/097E21D4-C709-E02A-6F47-1750937D34C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049053</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>Sorry</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/E4295F40-2729-2897-3569-33393A3C3D1B.jpg</string>
		<key>series_id</key>
		<string>12669</string>
		<key>series_name</key>
		<string>日常秋田君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/D132693D-D1F5-3F55-4DC9-E34D5FF1B129.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/D132693D-D1F5-3F55-4DC9-E34D5FF1B129.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049051</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>No</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/1C223554-7BC6-8E57-2FD3-3874F613CE16.jpg</string>
		<key>series_id</key>
		<string>12669</string>
		<key>series_name</key>
		<string>日常秋田君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/FF283548-58A8-484C-F4AA-86C15BCAB115.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/12/FF283548-58A8-484C-F4AA-86C15BCAB115.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20049049</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>Hi</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/2CBC7E78-070E-CF99-B115-63717D5D4C13.jpg</string>
		<key>series_id</key>
		<string>12669</string>
		<key>series_name</key>
		<string>日常秋田君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/9EE25E9E-6378-7296-12F9-79847479D936.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/12/9EE25E9E-6378-7296-12F9-79847479D936.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
	<dict>
		<key>author</key>
		<string>摩丝摩丝</string>
		<key>cate_id</key>
		<string>3066</string>
		<key>id</key>
		<string>20048527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string>inb2984143</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/29/D1630E9A-581D-3B58-F57C-E8DD562B6337.jpg</string>
		<key>series_id</key>
		<string>12537</string>
		<key>series_name</key>
		<string>秋田君日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/29/F196E0F2-F7F6-464A-C686-33D90DB3EDC8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/29/F196E0F2-F7F6-464A-C686-33D90DB3EDC8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BabyMocmoc</string>
			<key>number</key>
			<string>inb2984143</string>
			<key>user_id</key>
			<string>32817839</string>
		</dict>
		<key>user_id</key>
		<string>32817839</string>
	</dict>
</array>
</plist>
