<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20009953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>呆呆猫</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/28/4BB5A107-5142-ED88-40B7-4B69D69CBD03.jpg?v=2</string>
		<key>series_id</key>
		<string>2719</string>
		<key>series_name</key>
		<string>呆到深处自然萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/28/8B31587B-A777-68AA-1C4D-0EC85CDECA75.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/28/8B31587B-A777-68AA-1C4D-0EC85CDECA75.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张熙程</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20038109</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蓝鸟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/17/5DEAC564-BA13-D801-DF50-8F3FCC92E741.jpg</string>
		<key>series_id</key>
		<string>9931</string>
		<key>series_name</key>
		<string>花鸟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/17/00801024-2AC4-F84B-5BF0-ABE411A76DB7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/17/00801024-2AC4-F84B-5BF0-ABE411A76DB7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张琬茱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97125481</string>
		</dict>
		<key>user_id</key>
		<string>97125481</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20034251</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>圣诞节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小熊猫送礼物啦</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/7183413D-7EF6-5139-B5CD-035DE3096C20.jpg</string>
		<key>series_id</key>
		<string>8965</string>
		<key>series_name</key>
		<string>圣诞来临</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/E5E32E8A-566D-7BAD-2801-3D62E15062ED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/E5E32E8A-566D-7BAD-2801-3D62E15062ED.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20033894</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞节萌宠派对</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/16/453DF105-F9BB-0ECB-2FDE-56566B910166.jpg</string>
		<key>series_id</key>
		<string>8878</string>
		<key>series_name</key>
		<string>圣诞节萌宠派对</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/16/2AD175F8-9C77-AFE7-19EA-E03C422FBACA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/16/2AD175F8-9C77-AFE7-19EA-E03C422FBACA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20033375</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>冬天企鹅暖暖哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/B2DE8019-E6BC-D457-D424-2CE608FC9F93.jpg</string>
		<key>series_id</key>
		<string>8749</string>
		<key>series_name</key>
		<string>兔叽酱冬天暖暖</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/6A2E9689-04E5-4951-E294-DC9C19D21C81.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/6A2E9689-04E5-4951-E294-DC9C19D21C81.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
</array>
</plist>
