<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20014061</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>嘎嘎嘎</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/07A68E01-EEB5-EA03-6083-B8C98CA06CF2.jpg</string>
		<key>series_id</key>
		<string>3845</string>
		<key>series_name</key>
		<string>动个物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/A30701A1-DAB9-85AF-5436-488372295408.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/A30701A1-DAB9-85AF-5436-488372295408.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20028939</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>猪猪</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/F27A3B89-249D-44AF-DF26-49B257A05A12.jpg</string>
		<key>series_id</key>
		<string>7647</string>
		<key>series_name</key>
		<string>啵啵贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/29086E5D-B706-C43C-05C3-F46C2A8FCA42.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/29086E5D-B706-C43C-05C3-F46C2A8FCA42.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20045117</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鹿</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/08/A11EADB4-1A1C-C9B4-1804-97F93ADAF776.jpg</string>
		<key>series_id</key>
		<string>11685</string>
		<key>series_name</key>
		<string>美了一个夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/08/AFD66AB8-9986-7FF7-8587-FD7B98B3D25D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/08/AFD66AB8-9986-7FF7-8587-FD7B98B3D25D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20009955</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>呆呆熊</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/3352030F-A1FC-1C51-4E46-C62F45E8091E.jpg?v=2</string>
		<key>series_id</key>
		<string>2719</string>
		<key>series_name</key>
		<string>呆到深处自然萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/D117650D-1A38-395F-9C85-7A02AFA962DA.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/D117650D-1A38-395F-9C85-7A02AFA962DA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20038523</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可爱长颈鹿</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/29/08B48EC0-E65E-2318-D022-B513D4B09333.jpg</string>
		<key>series_id</key>
		<string>10035</string>
		<key>series_name</key>
		<string>可爱萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/29/6AB7D56D-DCEA-C50C-2A44-A0E4C4568D01.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/29/6AB7D56D-DCEA-C50C-2A44-A0E4C4568D01.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20030659</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>亲吻小鹿</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/44532EAD-8A61-9FCF-221B-E9D1AA258496.jpg</string>
		<key>series_id</key>
		<string>8069</string>
		<key>series_name</key>
		<string>萌饰01</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/CFE27C1E-604C-1C6D-2DB4-1782CB1276C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/15/CFE27C1E-604C-1C6D-2DB4-1782CB1276C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20022239</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>抱抱</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/8BC745CB-D022-A634-0EB8-01CE2A660A76.jpg</string>
		<key>series_id</key>
		<string>5975</string>
		<key>series_name</key>
		<string>你看我萌吗？</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/39C3310C-3B9F-5673-2601-E3FCDC08AB31.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/39C3310C-3B9F-5673-2601-E3FCDC08AB31.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20046149</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一起读书</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/8E255D38-5E23-DF84-BC3E-3426E03FB9D4.jpg</string>
		<key>series_id</key>
		<string>11943</string>
		<key>series_name</key>
		<string>上学之祖国的花朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/F1D4C05B-94AF-2D8E-EF8F-B211503E69CF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/F1D4C05B-94AF-2D8E-EF8F-B211503E69CF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20032953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1793</string>
		<key>name</key>
		<string>萌死人不偿命叉子兔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/FD4269F7-0A46-D11E-E530-356F93364A09.jpg</string>
		<key>series_id</key>
		<string>8643</string>
		<key>series_name</key>
		<string>萌死人不偿命</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/F6B47788-DAB4-9021-65EA-2CD7F202FE78.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/F6B47788-DAB4-9021-65EA-2CD7F202FE78.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
</array>
</plist>
