<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>丸子pxl</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20050233</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>卖萌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/06FECBF1-41A9-D8A8-C8FF-3152CACF35FD.jpg</string>
		<key>series_id</key>
		<string>12965</string>
		<key>series_name</key>
		<string>尼尼</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/CF9ED401-E688-438C-6E2E-977C79CC7F04.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/CF9ED401-E688-438C-6E2E-977C79CC7F04.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>丸子pxl</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110351440</string>
		</dict>
		<key>user_id</key>
		<string>110351440</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20046897</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>快来合照啦-大猫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/20/917D26D1-F69B-C265-8499-0FF996D35CB1.jpg</string>
		<key>series_id</key>
		<string>12131</string>
		<key>series_name</key>
		<string>快来合照啦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/20/07DD0749-8EAA-751C-BB31-A9A2E6CB9B25.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/20/07DD0749-8EAA-751C-BB31-A9A2E6CB9B25.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘎嘣豆</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101638822</string>
		</dict>
		<key>user_id</key>
		<string>101638822</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20046697</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秋天的小熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/038EE574-8882-2871-A355-D4AB004C43B3.jpg</string>
		<key>series_id</key>
		<string>12081</string>
		<key>series_name</key>
		<string>你好秋天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/CF99801C-62BF-FD17-3CF1-5654B232D2AE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/CF99801C-62BF-FD17-3CF1-5654B232D2AE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20043051</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>海底</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/23/397FC1F2-90F3-3FF7-AD22-B57314586C1B.jpg</string>
		<key>series_id</key>
		<string>11167</string>
		<key>series_name</key>
		<string>夏日之海底世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/23/E3DFB56C-BD9B-523A-8955-341493BC42A8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/23/E3DFB56C-BD9B-523A-8955-341493BC42A8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>厦门中天启航</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20042887</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>夏格拉斯趴着</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/25/1075F43A-7FBD-9973-26E6-21A32EE14FCE.jpg</string>
		<key>series_id</key>
		<string>11125</string>
		<key>series_name</key>
		<string>【夏格拉斯】夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/25/4FCFACB8-AF23-A1F8-4C37-3DB85428E9A0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/25/4FCFACB8-AF23-A1F8-4C37-3DB85428E9A0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>夏格拉斯</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100775135</string>
		</dict>
		<key>user_id</key>
		<string>100775135</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20039657</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>摇滚猫</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/5208A8AC-8481-D2EC-9D2B-5AB002A167C1.jpg</string>
		<key>series_id</key>
		<string>10319</string>
		<key>series_name</key>
		<string>大爱音乐节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/A4FFFAEB-0627-6AC8-A3A8-519CD51F6EDC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/A4FFFAEB-0627-6AC8-A3A8-519CD51F6EDC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20039281</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>1</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/13/47230395-B330-5BAF-CE2D-2A16D2C0CD39.jpg</string>
		<key>series_id</key>
		<string>10225</string>
		<key>series_name</key>
		<string>少女心啊3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/E8085443-7F65-D694-5DB8-0A021F6B2FBF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/E8085443-7F65-D694-5DB8-0A021F6B2FBF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20038571</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>四月文字貼紙</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/28/D66BFF73-A66E-2B65-5A23-B10310D3DD7C.jpg</string>
		<key>series_id</key>
		<string>10047</string>
		<key>series_name</key>
		<string>四月文字貼紙</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/28/5A162696-1A76-8802-B8F7-87E76BE8FDF1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/28/5A162696-1A76-8802-B8F7-87E76BE8FDF1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20035959</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>地鼠</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/28/948EA560-52AB-2977-4DD2-5B8F9D3E8381.jpg</string>
		<key>series_id</key>
		<string>9395</string>
		<key>series_name</key>
		<string>钻出来的小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/28/65E3E57A-C60C-0F1C-DBB4-1D222C70CAE3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/01/28/65E3E57A-C60C-0F1C-DBB4-1D222C70CAE3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
</array>
</plist>
