<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20035105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>3只猴子</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/05/1B138FE5-8F80-1308-A741-6D2302FC7786.jpg</string>
		<key>series_id</key>
		<string>9179</string>
		<key>series_name</key>
		<string>请把我放在角落哦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/05/B593A173-E14D-B23C-9C3E-8218F3E298E6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/05/B593A173-E14D-B23C-9C3E-8218F3E298E6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20047051</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜻蜓</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/22/2ADED82D-5F82-B19D-C998-471A9BDD6374.jpg</string>
		<key>series_id</key>
		<string>12169</string>
		<key>series_name</key>
		<string>叶子花与果实</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/22/68AFBF7F-20EA-A7DD-1865-26EBC55584E0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/22/68AFBF7F-20EA-A7DD-1865-26EBC55584E0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20040803</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>爱你,告白</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>约起</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/17/00D9765C-1C4D-E56A-6260-197D86D2EF74.jpg</string>
		<key>series_id</key>
		<string>10605</string>
		<key>series_name</key>
		<string>闺蜜约起</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/17/5DC61CAA-4C77-EA0F-40CC-8DCCF82F9025.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/17/5DC61CAA-4C77-EA0F-40CC-8DCCF82F9025.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20053820</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>燕子</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/01/C39FE4EA-99EC-CD68-D46E-C16C42F6C7DE.jpg</string>
		<key>series_id</key>
		<string>13860</string>
		<key>series_name</key>
		<string>春日卡通</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/01/6CAB2D9A-676B-FCC7-7BEB-4E52C4C4391B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/01/6CAB2D9A-676B-FCC7-7BEB-4E52C4C4391B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>浅夏</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20053402</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小兔子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/23671657-8DDA-90A2-F127-95E6346F9CA3.jpg</string>
		<key>series_id</key>
		<string>13756</string>
		<key>series_name</key>
		<string>春天套装</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/928A6E24-D1E0-43FB-1679-E08E7E2C2EF8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/928A6E24-D1E0-43FB-1679-E08E7E2C2EF8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>浅夏T未眠</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112757003</string>
		</dict>
		<key>user_id</key>
		<string>112757003</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20053682</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可爱兔子</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/27/6558A4D2-C682-4217-50D6-F773F689310B.jpg</string>
		<key>series_id</key>
		<string>13826</string>
		<key>series_name</key>
		<string>一起去春游～</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/27/E901AE43-85D5-C341-4603-F7D094EC8B83.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/27/E901AE43-85D5-C341-4603-F7D094EC8B83.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20027829</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>吃货</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/F6A3BDCA-81F0-1348-6D51-A2841CD099D9.jpg</string>
		<key>series_id</key>
		<string>7369</string>
		<key>series_name</key>
		<string>霹雳文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/1420E3B0-C21E-E19E-96B4-7223088B778A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/1420E3B0-C21E-E19E-96B4-7223088B778A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小馋猫Demi</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20044881</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>鸟</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小喜鹊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/04/B2F1C2E7-8D23-7DE8-7752-BC094D492480.jpg</string>
		<key>series_id</key>
		<string>11627</string>
		<key>series_name</key>
		<string>七夕小配件</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/04/2EC66A9D-DFA7-A776-7FDC-521F9D365562.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/04/2EC66A9D-DFA7-A776-7FDC-521F9D365562.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Demi_lovelygirl</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100531022</string>
		</dict>
		<key>user_id</key>
		<string>100531022</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lt</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20027593</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>hi</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/14/40274693-0243-9281-4DF6-7653D3698319.jpg</string>
		<key>series_id</key>
		<string>7309</string>
		<key>series_name</key>
		<string>lt</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/14/894050DF-D580-25FF-F978-72A3FC263074.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/14/894050DF-D580-25FF-F978-72A3FC263074.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>聆听_26328</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>79900509</string>
		</dict>
		<key>user_id</key>
		<string>79900509</string>
	</dict>
</array>
</plist>
