<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20053834</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小燕子2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/48330498-6385-055A-CB17-9BCEE076B965.jpg</string>
		<key>series_id</key>
		<string>13864</string>
		<key>series_name</key>
		<string>小燕子穿花衣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/0FF83AD0-D2CA-A6F0-04C4-87580BEB02FE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/0FF83AD0-D2CA-A6F0-04C4-87580BEB02FE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宝儿小莹莹</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20040629</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>萌萌哒鼠小苍吃西瓜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/5B79C7B5-263F-3ECC-96EC-8B9AFE815E8B.jpg</string>
		<key>series_id</key>
		<string>10561</string>
		<key>series_name</key>
		<string>宝儿萌萌哒鼠小苍</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/9FD73CD8-7C75-6C63-318D-D99BEF791CE5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/9FD73CD8-7C75-6C63-318D-D99BEF791CE5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宝儿小莹莹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77656084</string>
		</dict>
		<key>user_id</key>
		<string>77656084</string>
	</dict>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20035649</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我萌不萌</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/19/B8458A73-7C3D-CD6E-4C29-F388CB5E9221.jpg</string>
		<key>series_id</key>
		<string>9317</string>
		<key>series_name</key>
		<string>小熊与小兔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/19/95D48AFB-863F-1177-3D69-7B52BAC378F6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/19/95D48AFB-863F-1177-3D69-7B52BAC378F6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20030397</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>比耶</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/07/37F7DB82-40B9-ED5F-FC79-B7D388D760BC.jpg</string>
		<key>series_id</key>
		<string>8003</string>
		<key>series_name</key>
		<string>小猪兔儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/07/07F83655-E19C-8CAE-9E25-35DCEBF100D3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/07/07F83655-E19C-8CAE-9E25-35DCEBF100D3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>芒果好吃吗</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20020859</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>熊猫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/11/191385E0-F700-FEBA-700E-E2B176CEABB7.jpg</string>
		<key>series_id</key>
		<string>5629</string>
		<key>series_name</key>
		<string>芒果的动物园</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/11/D9F77403-E57F-88FD-5FEA-27A1F7499B91.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/11/D9F77403-E57F-88FD-5FEA-27A1F7499B91.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lovemango酱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73155254</string>
		</dict>
		<key>user_id</key>
		<string>73155254</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20054542</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鸟</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/20/1D3453E8-D489-45E4-0574-492752E21BFE.jpg</string>
		<key>series_id</key>
		<string>14040</string>
		<key>series_name</key>
		<string>－—春姑娘—－</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/20/768B6BBA-0E5C-D4B2-86A3-B7DFA768E00A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/20/768B6BBA-0E5C-D4B2-86A3-B7DFA768E00A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20033817</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小肥</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/10/1804AA12-D108-687E-570B-FE24FF7F5DF3.jpg</string>
		<key>series_id</key>
		<string>8859</string>
		<key>series_name</key>
		<string>萌萌小家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/10/3664FF18-954A-7E4E-5AEB-774B27B35B0E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/10/3664FF18-954A-7E4E-5AEB-774B27B35B0E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20043181</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>夏天玩水</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/D7B4FDAC-E37F-37C9-B82C-E8134F1C6A9F.jpg</string>
		<key>series_id</key>
		<string>11199</string>
		<key>series_name</key>
		<string>夏天玩水</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/BA44075E-6197-3CC2-3A3E-37B5929B8293.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/BA44075E-6197-3CC2-3A3E-37B5929B8293.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张熙程</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20038105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>唱歌的鸟儿</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/16/B509C7D3-5C8C-E307-78BA-D761DBB60A2B.jpg</string>
		<key>series_id</key>
		<string>9931</string>
		<key>series_name</key>
		<string>花鸟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/16/C64E6868-86DA-DF40-9430-A55CCE9D3104.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/16/C64E6868-86DA-DF40-9430-A55CCE9D3104.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张琬茱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97125481</string>
		</dict>
		<key>user_id</key>
		<string>97125481</string>
	</dict>
</array>
</plist>
