<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {600, 800}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<dict>
			<key>Root</key>
			<string>image</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>file</key>
			<string>title.png</string>
			<key>fill</key>
			<dict>
				<key>Root</key>
				<string>fill</string>
				<key>mode</key>
				<string>origin</string>
			</dict>
			<key>id</key>
			<string>title</string>
			<key>margin</key>
			<dict>
				<key>Root</key>
				<string>margin</string>
				<key>bottom</key>
				<string>586</string>
				<key>left</key>
				<string>-1</string>
				<key>right</key>
				<string>-1</string>
				<key>top</key>
				<string>28</string>
			</dict>
			<key>zIndex</key>
			<string>4</string>
		</dict>
		<key>part</key>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>0</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>rect</key>
				<dict>
					<key>Root</key>
					<string>rect</string>
					<key>height</key>
					<string>525</string>
					<key>width</key>
					<string>412</string>
					<key>x</key>
					<string>152</string>
					<key>y</key>
					<string>239</string>
				</dict>
				<key>shape</key>
				<string>rectangle</string>
			</dict>
			<key>zIndex</key>
			<string>1</string>
		</dict>
		<key>text</key>
		<array>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>center</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>2015.06.17  /  09:01</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Optima-Regular</string>
				</dict>
				<key>format</key>
				<string>yyyy.MM.dd/HH:mm</string>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>20</string>
					<key>width</key>
					<string>140</string>
					<key>x</key>
					<string>426</string>
					<key>y</key>
					<string>194</string>
				</dict>
				<key>id</key>
				<string>txt_3</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>16</string>
				<key>minSize</key>
				<string>14</string>
				<key>size</key>
				<string>14</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>6</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>angle</key>
				<string>-90</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>70</string>
					<key>green</key>
					<string>70</string>
					<key>red</key>
					<string>70</string>
				</dict>
				<key>defaultValue</key>
				<string>Love oneself</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Optima-Regular</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>42</string>
					<key>width</key>
					<string>420</string>
					<key>x</key>
					<string>-111</string>
					<key>y</key>
					<string>533</string>
				</dict>
				<key>id</key>
				<string>slogan1</string>
				<key>maxSize</key>
				<string>36</string>
				<key>minSize</key>
				<string>36</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>angle</key>
				<string>-90</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>70</string>
					<key>green</key>
					<string>70</string>
					<key>red</key>
					<string>70</string>
				</dict>
				<key>defaultValue</key>
				<string>To love oneself is the beginning of a lifelong romance.</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Optima-Regular</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>24</string>
					<key>width</key>
					<string>500</string>
					<key>x</key>
					<string>-120</string>
					<key>y</key>
					<string>502</string>
				</dict>
				<key>id</key>
				<string>slogan2</string>
				<key>maxSize</key>
				<string>18</string>
				<key>minSize</key>
				<string>18</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
