<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>瑞瑞瑞比</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20038015</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>撅嘴牛奶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/12/ADD18EEB-F011-7607-4B06-08808D7D5DDD.jpg</string>
		<key>series_id</key>
		<string>9907</string>
		<key>series_name</key>
		<string>早餐的起床气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/12/935DB729-742A-3FCD-8437-E70254260E65.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/12/935DB729-742A-3FCD-8437-E70254260E65.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瑞瑞瑞比</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97918394</string>
		</dict>
		<key>user_id</key>
		<string>97918394</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20055274</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早餐吐司</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/B4ECB481-ACA7-8BBF-338B-04B6D8BA5F52.jpg</string>
		<key>series_id</key>
		<string>14224</string>
		<key>series_name</key>
		<string>早安公主</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/B042A28A-35B5-F3C2-DF21-D7FF7A27B55C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/B042A28A-35B5-F3C2-DF21-D7FF7A27B55C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>海盐</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20014593</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>烤肉串</string>
		<key>number</key>
		<string>ini3259174</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/BFC3AD0B-D3E2-5072-5A1F-008933B1A999.jpg</string>
		<key>series_id</key>
		<string>3977</string>
		<key>series_name</key>
		<string>撸串啊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/969F5045-33D8-C038-310E-9400BF95D402.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/969F5045-33D8-C038-310E-9400BF95D402.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>海盐</string>
			<key>number</key>
			<string>ini3259174</string>
			<key>user_id</key>
			<string>35487649</string>
		</dict>
		<key>user_id</key>
		<string>35487649</string>
	</dict>
	<dict>
		<key>author</key>
		<string>周小鱼的闺蜜</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20025609</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>小蛋黄</string>
		<key>number</key>
		<string>ine3332094</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/F970FF2E-167D-B543-21A6-B9089563E653.jpg</string>
		<key>series_id</key>
		<string>6815</string>
		<key>series_name</key>
		<string>周小鱼的小餐具</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/3A97F060-F672-325A-62D7-6D95494D365F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/3A97F060-F672-325A-62D7-6D95494D365F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>周小鱼闺蜜</string>
			<key>number</key>
			<string>ine3332094</string>
			<key>user_id</key>
			<string>36214226</string>
		</dict>
		<key>user_id</key>
		<string>36214226</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20055806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>烤蘑菇</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/3F85C53D-36D5-12E3-DE13-CEA3B2586BC5.jpg</string>
		<key>series_id</key>
		<string>14356</string>
		<key>series_name</key>
		<string>撸串季节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/144EC60B-4F69-2ECA-9473-308948074112.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/144EC60B-4F69-2ECA-9473-308948074112.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20055786</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>彩迪卷</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/0464A13E-A257-0FB1-B1CA-2DA3A1863847.jpg</string>
		<key>series_id</key>
		<string>14352</string>
		<key>series_name</key>
		<string>冰淇淋~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/D07A2A0C-A7B8-3D70-A304-62729FC48EC1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/D07A2A0C-A7B8-3D70-A304-62729FC48EC1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20012137</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>好次的汉堡</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/F47D0671-D386-9366-E574-3D5E5139AF76.jpg</string>
		<key>series_id</key>
		<string>3279</string>
		<key>series_name</key>
		<string>心情小装饰2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/37D34F31-D343-E109-6548-F2A7C202B146.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/37D34F31-D343-E109-6548-F2A7C202B146.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>634</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>寿司</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/A8F45C57-5FFE-2BA0-7E41-5126D3837F9F.jpg?v=2</string>
		<key>series_id</key>
		<string>219</string>
		<key>series_name</key>
		<string>美食</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/FB7FBD11-DA3F-1DC7-90CF-13339A38240F.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/FB7FBD11-DA3F-1DC7-90CF-13339A38240F.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>628</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>披萨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/4D9974E3-8393-35CD-99C7-98894B1C987B.jpg?v=2</string>
		<key>series_id</key>
		<string>219</string>
		<key>series_name</key>
		<string>美食</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/B1D025C4-54DE-BE68-91EF-8760031E6E95.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/02/B1D025C4-54DE-BE68-91EF-8760031E6E95.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
