<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20055784</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>甜筒</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/988EE19C-28E9-AF71-1A72-87937289CA4C.jpg</string>
		<key>series_id</key>
		<string>14352</string>
		<key>series_name</key>
		<string>冰淇淋~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/D474319D-6881-1A23-B709-05CE6C72A2EB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/D474319D-6881-1A23-B709-05CE6C72A2EB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>李芥菜</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20050309</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>烤红薯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/D21199B2-B585-9ECE-E8D5-6643ED30BD3D.jpg</string>
		<key>series_id</key>
		<string>12983</string>
		<key>series_name</key>
		<string>冬天的味道</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/DD7C66A8-A581-10F1-5011-3DA816516FB4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/DD7C66A8-A581-10F1-5011-3DA816516FB4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李芥菜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109971728</string>
		</dict>
		<key>user_id</key>
		<string>109971728</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小盆栽</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20049925</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>糖葫芦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/13/56BA08E0-7E44-CFD9-5591-8EFE03B2EC89.jpg</string>
		<key>series_id</key>
		<string>12887</string>
		<key>series_name</key>
		<string>冬至节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/13/7C1B7154-4CB2-EFA8-629A-9A2F13729E60.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/13/7C1B7154-4CB2-EFA8-629A-9A2F13729E60.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小盆栽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78689073</string>
		</dict>
		<key>user_id</key>
		<string>78689073</string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20016599</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>pocky</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/967DDF4D-B0AD-CB10-BAB9-2CBDCE09874F.jpg</string>
		<key>series_id</key>
		<string>4483</string>
		<key>series_name</key>
		<string>日本零食</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/840AD8D7-0F51-2E63-2203-F3367B1D683C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/840AD8D7-0F51-2E63-2203-F3367B1D683C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>咔CEN</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20012851</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>蛋餐</string>
		<key>number</key>
		<string>ino545743</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/6E766EA7-E7D6-495F-2132-DE5A7C68A3A4.jpg</string>
		<key>series_id</key>
		<string>3489</string>
		<key>series_name</key>
		<string>萌萌大咔CEN3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/B89411AD-8EB8-7554-794E-0B8EDF8B8959.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/B89411AD-8EB8-7554-794E-0B8EDF8B8959.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>风岛Wind-i</string>
			<key>number</key>
			<string>ino545743</string>
			<key>user_id</key>
			<string>69429452</string>
		</dict>
		<key>user_id</key>
		<string>69429452</string>
	</dict>
	<dict>
		<key>author</key>
		<string>里斯鬼</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20005190</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>219</string>
		<key>name</key>
		<string>薯条君</string>
		<key>number</key>
		<string>sunsecret</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/3B5B1DCF-87A2-A95F-3F75-EDE9CB8AC035.jpg?v=2</string>
		<key>series_id</key>
		<string>1430</string>
		<key>series_name</key>
		<string>奔跑的食物君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/C1F686D7-2250-B17E-4178-76CD218DFC79.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/C1F686D7-2250-B17E-4178-76CD218DFC79.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>里斯鬼</string>
			<key>number</key>
			<string>sunsecret</string>
			<key>user_id</key>
			<string>34777395</string>
		</dict>
		<key>user_id</key>
		<string>34777395</string>
	</dict>
	<dict>
		<key>author</key>
		<string>李芥菜</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20050169</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>包子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/DF45361F-642F-138B-CECA-AE9263BE1437.jpg</string>
		<key>series_id</key>
		<string>12949</string>
		<key>series_name</key>
		<string>冬天需要趁热吃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/77DCBDA7-2CD9-8B04-138B-B44265C69F1C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/19/77DCBDA7-2CD9-8B04-138B-B44265C69F1C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李芥菜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109971728</string>
		</dict>
		<key>user_id</key>
		<string>109971728</string>
	</dict>
	<dict>
		<key>author</key>
		<string>李芥菜</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20050305</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>糖葫芦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/FCC85AA6-E9DC-6697-8A96-C17B3C7707CF.jpg</string>
		<key>series_id</key>
		<string>12983</string>
		<key>series_name</key>
		<string>冬天的味道</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/580458E4-02C2-6075-C321-DE0FC84BA2BE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/21/580458E4-02C2-6075-C321-DE0FC84BA2BE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李芥菜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109971728</string>
		</dict>
		<key>user_id</key>
		<string>109971728</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Vivi酱、</string>
		<key>cate_id</key>
		<string>219</string>
		<key>id</key>
		<string>20056264</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>草莓蛋糕</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/02/1D2CF379-BAD9-5E3A-AE73-1FB073DC14B0.jpg</string>
		<key>series_id</key>
		<string>14486</string>
		<key>series_name</key>
		<string>兔叽的屋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/02/C6BED1DB-4BC7-0DE4-CCDF-B66BF84051D4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/02/C6BED1DB-4BC7-0DE4-CCDF-B66BF84051D4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Aoi丶Nyannko</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>116162449</string>
		</dict>
		<key>user_id</key>
		<string>116162449</string>
	</dict>
</array>
</plist>
