<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1028</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>十万个冷笑话</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/695DF2C7-30B4-ACB3-C30D-DAB05B16C3C0.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/8A622A94-F1B6-7874-B237-F9EAC915E81A.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/8A622A94-F1B6-7874-B237-F9EAC915E81A.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1026</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>时光机</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/A7B7A84B-7116-3371-84D1-63F5462FE87E.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/6202A01E-850F-EE3D-A0BE-02FAFF3BAB13.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/6202A01E-850F-EE3D-A0BE-02FAFF3BAB13.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1014</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>鼻子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/F29BD87E-4044-DF7B-B980-691B36E54059.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/3F041BFA-3B88-0B17-2179-D3613A62CBD2.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/3F041BFA-3B88-0B17-2179-D3613A62CBD2.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1018</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>剑</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/76C0FEF6-C428-D096-3D46-15CC9541288B.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/99E4D9DA-27AC-CA96-6E2B-24B31B448E14.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/99E4D9DA-27AC-CA96-6E2B-24B31B448E14.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1016</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>蝴蝶结</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/B5D7FC93-B72E-1776-F1B9-C441C4945315.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/594B5A0A-A625-671A-EAD7-F90E4EE807ED.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/594B5A0A-A625-671A-EAD7-F90E4EE807ED.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1020</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>哪吒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/1C401400-5290-3151-1E41-E78EA82C3371.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/3DD038F4-9EC1-2277-F88A-435F198D2924.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/09/3DD038F4-9EC1-2277-F88A-435F198D2924.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1024</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>扫把</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/F11BCCF0-87B2-5AEA-3DD2-284A0D508B8E.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/BD729BBA-5B7B-F95D-0FA8-A8A802EB9F3E.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/09/BD729BBA-5B7B-F95D-0FA8-A8A802EB9F3E.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>116</string>
		<key>id</key>
		<string>1022</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>116</string>
		<key>name</key>
		<string>牛角</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/2DA11E1F-CA3B-8CB8-FCB7-A358C418B584.jpg?v=2</string>
		<key>series_id</key>
		<string>116</string>
		<key>series_name</key>
		<string>十万个冷笑话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/C6B5FD7C-B399-BF8A-8511-2F97BCD939A1.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/09/C6B5FD7C-B399-BF8A-8511-2F97BCD939A1.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
