<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>Q</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C737F001-82CF-44CB-FAE8-262BF69265F8.jpg</string>
		<key>series_id</key>
		<string>5089</string>
		<key>series_name</key>
		<string>多多酱の萌字母5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/8A435256-8858-2556-BCBE-5F1CAD79BA97.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/8A435256-8858-2556-BCBE-5F1CAD79BA97.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018799</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>z</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/88F30FDD-301C-C77C-DB45-D9FEB203DB47.jpg</string>
		<key>series_id</key>
		<string>5103</string>
		<key>series_name</key>
		<string>多多酱の萌字母7</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/9AFC2794-5C01-6A06-3B5B-2985AB6F1917.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/9AFC2794-5C01-6A06-3B5B-2985AB6F1917.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018667</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>H</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/A18C1D22-ED99-722B-E203-A0F801E5982D.jpg</string>
		<key>series_id</key>
		<string>5069</string>
		<key>series_name</key>
		<string>多多酱の萌字母2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/27178F6C-3C6A-F46A-DE45-FB9797B53504.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/27178F6C-3C6A-F46A-DE45-FB9797B53504.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018777</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>W</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/9DE256BD-BB4A-4562-F618-3B14B1EE6624.jpg</string>
		<key>series_id</key>
		<string>5097</string>
		<key>series_name</key>
		<string>多多酱の萌字母6</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/51DD37CC-5C1F-B4E7-BDC0-497043F0E918.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/51DD37CC-5C1F-B4E7-BDC0-497043F0E918.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>T</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/1D7F65C0-7557-94AE-C10A-CCDB67E1A9B1.jpg</string>
		<key>series_id</key>
		<string>5089</string>
		<key>series_name</key>
		<string>多多酱の萌字母5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/EEFF1F10-0ABD-FE82-A97C-22998E614C26.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/EEFF1F10-0ABD-FE82-A97C-22998E614C26.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018779</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>X</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/26862161-6B5A-BE22-C75A-8E773C303FE5.jpg</string>
		<key>series_id</key>
		<string>5097</string>
		<key>series_name</key>
		<string>多多酱の萌字母6</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/F05C4467-1F87-EBE3-94F0-41CB8C02A880.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/F05C4467-1F87-EBE3-94F0-41CB8C02A880.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018803</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>?</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/4A7D9DC2-DFBE-11E9-AA3A-DA7C601B41C1.jpg</string>
		<key>series_id</key>
		<string>5103</string>
		<key>series_name</key>
		<string>多多酱の萌字母7</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/C9E5C1AF-5207-E937-62A9-30D1C11B4262.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/C9E5C1AF-5207-E937-62A9-30D1C11B4262.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018625</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>C</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C8DFA72E-746F-A159-0FB6-044206693FAE.jpg</string>
		<key>series_id</key>
		<string>5059</string>
		<key>series_name</key>
		<string>多多酱の萌字母1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/65C1A172-1BB9-23DD-F2A1-BF8A53473A39.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/65C1A172-1BB9-23DD-F2A1-BF8A53473A39.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018685</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>I</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/68B6AE89-4C28-AD07-D941-7D7D8EFC3938.jpg</string>
		<key>series_id</key>
		<string>5075</string>
		<key>series_name</key>
		<string>多多酱の萌字母3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/FA9AFD3C-1B52-A460-559A-E411B4539D95.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/FA9AFD3C-1B52-A460-559A-E411B4539D95.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
</array>
</plist>
