<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>just love it</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i4.jiuyan.info/in/2014/08/22/E7C76217-1313-C6E1-E315-B85DEDB17192.jpg?v=2</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i4.jiuyan.info/in/2014/08/22/73332403-9736-6042-A936-A65755FCA5C3.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i4.jiuyan.info/in/2014/08/22/73332403-9736-6042-A936-A65755FCA5C3.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20004928</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>命中注定我爱你</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/04/01/6B142E10-1D98-0C25-C3A8-47C1421F61D2.jpg?v=2</string>
		<key>series_id</key>
		<string>1362</string>
		<key>series_name</key>
		<string>一句一心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/04/01/D4660C75-6847-788E-E92A-E8C86917D213.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/04/01/D4660C75-6847-788E-E92A-E8C86917D213.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20010949</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>Mr.Right，对的人，爱情</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/4506F7FF-C2AA-FB52-8B38-976A4E62024F.jpg</string>
		<key>series_id</key>
		<string>2971</string>
		<key>series_name</key>
		<string>520我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/6CED4CE4-C098-F10D-C6B9-9DD748091E0E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/6CED4CE4-C098-F10D-C6B9-9DD748091E0E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>瓜小西</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20008079</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>MISS YOU</string>
		<key>number</key>
		<string>xalayo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/C253B0B6-FECC-810B-C863-AE74B4ADD955.jpg?v=2</string>
		<key>series_id</key>
		<string>2159</string>
		<key>series_name</key>
		<string>瓜小西文艺水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/1AF48DB4-03DF-BE59-5ABE-6F9B9B962994.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/31/1AF48DB4-03DF-BE59-5ABE-6F9B9B962994.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>瓜小西</string>
			<key>number</key>
			<string>xalayo</string>
			<key>user_id</key>
			<string>35910588</string>
		</dict>
		<key>user_id</key>
		<string>35910588</string>
	</dict>
	<dict>
		<key>author</key>
		<string>椒图</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20014483</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>幸福</string>
		<key>number</key>
		<string>zzparallel233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/79525C4F-F8DD-D75C-0B1B-A3C16F84B583.jpg</string>
		<key>series_id</key>
		<string>3949</string>
		<key>series_name</key>
		<string>关于爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/B488B724-1005-B4AD-CB09-EC069B6B2FC9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/B488B724-1005-B4AD-CB09-EC069B6B2FC9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>椒图</string>
			<key>number</key>
			<string>zzparallel233</string>
			<key>user_id</key>
			<string>67965408</string>
		</dict>
		<key>user_id</key>
		<string>67965408</string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20017313</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>夜深人静</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/8A31A1C2-B9A8-6C8D-F321-551870CDD8B8.jpg</string>
		<key>series_id</key>
		<string>4709</string>
		<key>series_name</key>
		<string>晚安GN</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/897CD840-7575-54D5-1B76-CBCFBCFBF434.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/897CD840-7575-54D5-1B76-CBCFBCFBF434.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm 忠犬女王</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20008541</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>you're my sunshine</string>
		<key>number</key>
		<string>ine2987801</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/1B98D2FE-B92E-C071-38BC-D21938DE1FA0.jpg?v=2</string>
		<key>series_id</key>
		<string>2277</string>
		<key>series_name</key>
		<string>春天添点文艺气息</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/EBC0D536-9A3A-0BDD-6CB4-5E1D72BBEA4E.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/EBC0D536-9A3A-0BDD-6CB4-5E1D72BBEA4E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忠犬的女王</string>
			<key>number</key>
			<string>ine2987801</string>
			<key>user_id</key>
			<string>32867476</string>
		</dict>
		<key>user_id</key>
		<string>32867476</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20019303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>叶小星的小文字</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/AD3B8C94-D7D9-BDF7-75F2-C5B6C4AC427F.jpg</string>
		<key>series_id</key>
		<string>5233</string>
		<key>series_name</key>
		<string>叶小星的小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/9034C9FE-233D-6EC9-41FF-FB7C85F31C8F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/06/9034C9FE-233D-6EC9-41FF-FB7C85F31C8F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>2253</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>I love u</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/4244947A-00CA-F2FC-163C-038F35B8A404.jpg</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/37C46C9C-9D9F-6383-EFC2-34CBC52EC4B8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/37C46C9C-9D9F-6383-EFC2-34CBC52EC4B8.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
