<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20009979</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>陪伴是最长情的告白</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/29/796CCB29-E833-026F-FA23-F533380738AF.jpg?v=2</string>
		<key>series_id</key>
		<string>2725</string>
		<key>series_name</key>
		<string>灵魂伴侣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/29/749596CD-FEAC-88DE-0B80-9461B76ABC9C.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/29/749596CD-FEAC-88DE-0B80-9461B76ABC9C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20010955</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>女王，女神，皇冠</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/7581EB7D-59F7-2239-49F4-9F28E48E43A2.jpg</string>
		<key>series_id</key>
		<string>2971</string>
		<key>series_name</key>
		<string>520我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/12/C869B2AC-8E06-59C5-C00D-95126F667C6A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/12/C869B2AC-8E06-59C5-C00D-95126F667C6A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20028017</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>你让我忘忧</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/3AE1788C-53A9-2ACE-BF74-61EE1644811B.jpg</string>
		<key>series_id</key>
		<string>7415</string>
		<key>series_name</key>
		<string>偶像来了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/7B8DF1B1-09F0-9690-8539-CE002748FD97.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/7B8DF1B1-09F0-9690-8539-CE002748FD97.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>1550</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>有情人终成眷属</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/02/10/266EA52E-D6ED-6846-5B18-66DE3E0BA640.jpg?v=2</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/02/10/6DFEF233-FDFF-A2D4-2EE3-8ADF3DA19DCE.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/02/10/6DFEF233-FDFF-A2D4-2EE3-8ADF3DA19DCE.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>1156</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>向来缘浅奈何情深</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/19/205DD38E-7232-59AC-DA4E-F05781B3B5C3.jpg?v=2</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/19/AE64A3EB-2EEF-97B4-F5F9-E17CB158A47B.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/19/AE64A3EB-2EEF-97B4-F5F9-E17CB158A47B.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20008117</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>思念是一种病</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/E6638581-1A16-FCFE-1902-5D2D44AAFDF5.jpg?v=2</string>
		<key>series_id</key>
		<string>2169</string>
		<key>series_name</key>
		<string>❤小小心晴❤</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/BE5AB83B-2A72-7902-4EA1-116988E43666.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/BE5AB83B-2A72-7902-4EA1-116988E43666.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>赵锐</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20026811</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>初恋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/1A2ACF01-FD67-9D85-717E-30BBF1000912.jpg</string>
		<key>series_id</key>
		<string>7115</string>
		<key>series_name</key>
		<string>天王盖地虎</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/11CC5F0D-1949-4E14-06C3-56E8506AEA53.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/11CC5F0D-1949-4E14-06C3-56E8506AEA53.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>joker沐</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77896655</string>
		</dict>
		<key>user_id</key>
		<string>77896655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>咸鱼GoYo</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20006458</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>love you</string>
		<key>number</key>
		<string>inh3272282</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/DD27B041-7855-CF1D-352E-E1A34812B8C3.jpg?v=2</string>
		<key>series_id</key>
		<string>1746</string>
		<key>series_name</key>
		<string>咸鱼白色情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/09A5F003-E130-3636-290B-C46F3E32DE6C.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/12/09A5F003-E130-3636-290B-C46F3E32DE6C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>咸魚GoYo</string>
			<key>number</key>
			<string>inh3272282</string>
			<key>user_id</key>
			<string>35613430</string>
		</dict>
		<key>user_id</key>
		<string>35613430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>椒图</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20014481</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>我们要</string>
		<key>number</key>
		<string>zzparallel233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/0DCA5569-7501-EF0B-3CFE-A52B6FA7F181.jpg</string>
		<key>series_id</key>
		<string>3949</string>
		<key>series_name</key>
		<string>关于爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/14F6D937-58B1-DCA0-0963-08A588C9E9F9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/14F6D937-58B1-DCA0-0963-08A588C9E9F9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>椒图</string>
			<key>number</key>
			<string>zzparallel233</string>
			<key>user_id</key>
			<string>67965408</string>
		</dict>
		<key>user_id</key>
		<string>67965408</string>
	</dict>
</array>
</plist>
