<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>赵锐</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20026813</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>夏日恋歌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/420ED2D1-BBB1-5D00-A70A-58EACCE77A12.jpg</string>
		<key>series_id</key>
		<string>7115</string>
		<key>series_name</key>
		<string>天王盖地虎</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/F0CBE968-9C7E-A6EA-E071-AB982FB6E339.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/F0CBE968-9C7E-A6EA-E071-AB982FB6E339.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>joker沐</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77896655</string>
		</dict>
		<key>user_id</key>
		<string>77896655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>椒图</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20014479</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>一世</string>
		<key>number</key>
		<string>zzparallel233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/49486154-84FB-AEE4-02F2-78C4898248D7.jpg</string>
		<key>series_id</key>
		<string>3949</string>
		<key>series_name</key>
		<string>关于爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/FD6A4091-79D5-EC15-6BFD-7604E1E58F67.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/FD6A4091-79D5-EC15-6BFD-7604E1E58F67.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>椒图</string>
			<key>number</key>
			<string>zzparallel233</string>
			<key>user_id</key>
			<string>67965408</string>
		</dict>
		<key>user_id</key>
		<string>67965408</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>144</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/11/9DF5223D-7C1C-9DC6-BD6F-27DACD70C358.jpg?v=2</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/07/0991B381-A2D5-8905-1B43-0DAA082D0B66.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i1.jiuyan.info/in/2014/08/07/0991B381-A2D5-8905-1B43-0DAA082D0B66.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20019555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>最好的时光</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/4FAB4E39-A891-CDCE-B72D-CF003D7DA199.jpg</string>
		<key>series_id</key>
		<string>5295</string>
		<key>series_name</key>
		<string>时光心情2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/4710D959-4F2F-4756-7CE4-B7BEB1068346.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/4710D959-4F2F-4756-7CE4-B7BEB1068346.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爱画画的米小芽</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20008339</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>思念</string>
		<key>number</key>
		<string>inj4242329</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/1E7D45EC-38CE-FC0F-D158-89508CCC03E7.jpg?v=2</string>
		<key>series_id</key>
		<string>2225</string>
		<key>series_name</key>
		<string>温暖问候</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/63752756-A52E-B4ED-8568-19093479EB44.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/63752756-A52E-B4ED-8568-19093479EB44.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱画画的米小芽</string>
			<key>number</key>
			<string>inj4242329</string>
			<key>user_id</key>
			<string>45253686</string>
		</dict>
		<key>user_id</key>
		<string>45253686</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20010953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>king,国王，骑士，白马王子</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/513BC5C4-02EA-553E-4855-8DBD60EEFE94.jpg</string>
		<key>series_id</key>
		<string>2971</string>
		<key>series_name</key>
		<string>520我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/5A5CAB5F-6D65-14D1-9F76-79A690402B3D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/5A5CAB5F-6D65-14D1-9F76-79A690402B3D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>2259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>怦然心动</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/86B06CB3-3146-5C98-FFE0-51E7A59B0447.jpg</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/8F3A940D-6903-11AE-C963-567229C4801E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/8F3A940D-6903-11AE-C963-567229C4801E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>大练</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20012939</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>等你</string>
		<key>number</key>
		<string>int1013</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/CD0423B0-697B-B7F2-46A1-3DAEE15C2986.jpg</string>
		<key>series_id</key>
		<string>3511</string>
		<key>series_name</key>
		<string>赐我暖男啦~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/E37EB601-4805-AD93-9556-16F977BE7A7B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/E37EB601-4805-AD93-9556-16F977BE7A7B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>练洁莹</string>
			<key>number</key>
			<string>int1013</string>
			<key>user_id</key>
			<string>68996656</string>
		</dict>
		<key>user_id</key>
		<string>68996656</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20007119</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>趁你还年轻趁他还未老</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/19/3CAA8E68-32A8-4F42-B125-C539883E0A45.jpg?v=2</string>
		<key>series_id</key>
		<string>1913</string>
		<key>series_name</key>
		<string>莫负春光莫负卿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/19/4D40CCEF-4471-064B-F71E-66C649EF92D3.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/19/4D40CCEF-4471-064B-F71E-66C649EF92D3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
</array>
</plist>
