<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20049259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>穿秋裤</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/20/AF71946A-B52A-82C8-5485-20176E25C4BE.jpg</string>
		<key>series_id</key>
		<string>12721</string>
		<key>series_name</key>
		<string>油爆叽丁冷空气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/20/CB90FFEE-F414-DFB9-B4B6-96E84EA6A70D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/20/CB90FFEE-F414-DFB9-B4B6-96E84EA6A70D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20049257</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>降温啦</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/20/A87EA5AC-68CB-2941-EBC7-C63E31F21718.jpg</string>
		<key>series_id</key>
		<string>12721</string>
		<key>series_name</key>
		<string>油爆叽丁冷空气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/20/B0E89F63-E5A5-F9DD-BBB7-426097F58AEB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/20/B0E89F63-E5A5-F9DD-BBB7-426097F58AEB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20048757</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>买买买</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/A9203D40-C6AC-DC21-209F-3AD7E7FDA40B.jpg</string>
		<key>series_id</key>
		<string>12595</string>
		<key>series_name</key>
		<string>油爆叽丁购物节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/2FE8B7B3-31E8-CA4C-497B-733BD74BFD96.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/2FE8B7B3-31E8-CA4C-497B-733BD74BFD96.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20048753</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>刷我滴卡</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/EA57CC80-47A6-276F-B443-55AFB30A28A7.jpg</string>
		<key>series_id</key>
		<string>12595</string>
		<key>series_name</key>
		<string>油爆叽丁购物节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/345F0BA9-4C94-F379-3D26-868F9E24DEF5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/345F0BA9-4C94-F379-3D26-868F9E24DEF5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20046375</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>中秋,中秋节,中秋佳节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>赏月咯</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/F7037A88-732F-3CA0-BD8A-356BCF3EA409.jpg</string>
		<key>series_id</key>
		<string>11999</string>
		<key>series_name</key>
		<string>油爆叽丁贺中秋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/46C4E7E3-23A4-34EA-2FAF-DEE82F25B2D2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/46C4E7E3-23A4-34EA-2FAF-DEE82F25B2D2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20046371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>中秋,中秋节,中秋佳节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玩灯笼</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/AFBC921F-4D45-5A54-FD71-AE8C460E1E9D.jpg</string>
		<key>series_id</key>
		<string>11999</string>
		<key>series_name</key>
		<string>油爆叽丁贺中秋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/9C9C207C-0FAE-BAFC-009B-6A3E1D30B79B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/06/9C9C207C-0FAE-BAFC-009B-6A3E1D30B79B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20046369</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>中秋,中秋节,中秋佳节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃月饼</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/06/E9CA94C5-3709-2374-E699-6E780DCF9D90.jpg</string>
		<key>series_id</key>
		<string>11999</string>
		<key>series_name</key>
		<string>油爆叽丁贺中秋</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/06/55BE9977-F4BE-DCB9-0983-B69A975386D0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/06/55BE9977-F4BE-DCB9-0983-B69A975386D0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20046383</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一起来运动</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/07/6977D9AF-77A8-D150-970D-E0E95F471328.jpg</string>
		<key>series_id</key>
		<string>12001</string>
		<key>series_name</key>
		<string>油爆叽丁の运动篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/07/C68C85CD-3E2C-F5B5-EDE1-3541E8FA7C21.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/07/C68C85CD-3E2C-F5B5-EDE1-3541E8FA7C21.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>3098</string>
		<key>id</key>
		<string>20051911</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>油爆叽丁发财</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/C1FE1F4A-3792-422C-7F0D-03BC78892040.jpg</string>
		<key>series_id</key>
		<string>13383</string>
		<key>series_name</key>
		<string>油爆叽丁鸡年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/2E1C02E2-8FBA-B55F-39F4-D7B7A4953D8C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/2E1C02E2-8FBA-B55F-39F4-D7B7A4953D8C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
</array>
</plist>
