<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20008531</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃货</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/B2937B81-5C2E-6C3E-8CF6-014406BF4AB3.jpg?v=2</string>
		<key>series_id</key>
		<string>2273</string>
		<key>series_name</key>
		<string>小清新文艺范er</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/5F051F84-A7B4-7A67-8D8A-D421F6FCF62A.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/5F051F84-A7B4-7A67-8D8A-D421F6FCF62A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20040471</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我要吃西瓜</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/09/2AFB2638-EAA1-C065-B45B-E6CDB8E29B50.jpg</string>
		<key>series_id</key>
		<string>10521</string>
		<key>series_name</key>
		<string>几何的夏日文字1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/09/A7BE393F-83CD-74EE-C75D-5A1D4741A00B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/09/A7BE393F-83CD-74EE-C75D-5A1D4741A00B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>眼袋鱿鱼干</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20040693</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>元气果汁</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/13/4598C51B-B3D3-ECA2-1B7B-434959B8EC0E.jpg</string>
		<key>series_id</key>
		<string>10577</string>
		<key>series_name</key>
		<string>元气食物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/13/C35E2674-7CE7-0EB8-31E9-D22F2DDBCAC7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/13/C35E2674-7CE7-0EB8-31E9-D22F2DDBCAC7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>眼袋鱿鱼干</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>42039011</string>
		</dict>
		<key>user_id</key>
		<string>42039011</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20040765</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>巧克力蛋糕</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/638973A7-1141-8D73-B500-12CB90AB02A0.jpg</string>
		<key>series_id</key>
		<string>10595</string>
		<key>series_name</key>
		<string>透鲜美食系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/24109684-E819-768E-9557-981B138B8060.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/24109684-E819-768E-9557-981B138B8060.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>30</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃货</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/08/34E1FC5F-14E6-1431-0354-5F1411D8F76E.jpg?v=2</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/04/40B141A8-2A2E-B819-DDD8-DC61B25D65C7.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i1.jiuyan.info/in/2014/08/04/40B141A8-2A2E-B819-DDD8-DC61B25D65C7.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20040775</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>西瓜雨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/E185ACBB-CCCD-A594-EDF4-EAE2EB51FD3E.jpg</string>
		<key>series_id</key>
		<string>10597</string>
		<key>series_name</key>
		<string>TA夏了夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/66522E76-863C-F41D-8C72-456C297E3CC2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/66522E76-863C-F41D-8C72-456C297E3CC2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>曲大宝</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20024767</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃遍天下</string>
		<key>number</key>
		<string>ina4034377</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/CAEBE21E-436E-BC94-25AC-AC7925D9180B.jpg</string>
		<key>series_id</key>
		<string>6605</string>
		<key>series_name</key>
		<string>八月の文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/812019E8-1EB1-1C9B-C397-EFE55361E661.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/812019E8-1EB1-1C9B-C397-EFE55361E661.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>伟大的曲大宝</string>
			<key>number</key>
			<string>ina4034377</string>
			<key>user_id</key>
			<string>43193475</string>
		</dict>
		<key>user_id</key>
		<string>43193475</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20033373</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃货</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/02/FECD2DD1-822A-517D-B945-51CE78176507.jpg</string>
		<key>series_id</key>
		<string>8747</string>
		<key>series_name</key>
		<string>花样文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/02/7E81D013-355B-05B3-76C1-1A4C2E0E7AB2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/02/7E81D013-355B-05B3-76C1-1A4C2E0E7AB2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20012213</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>资深吃货</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/8907CE7A-CB45-C21D-3587-1E61A3FA7D18.jpg</string>
		<key>series_id</key>
		<string>3301</string>
		<key>series_name</key>
		<string>夏日吐槽</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/61A1F131-C916-53AA-DF06-0ABB9FB524DF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/28/61A1F131-C916-53AA-DF06-0ABB9FB524DF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
</array>
</plist>
