<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20038519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>春天可爱文字</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/26/669A027B-ECEA-F45D-2C3D-608BDFBE55C4.jpg</string>
		<key>series_id</key>
		<string>10033</string>
		<key>series_name</key>
		<string>春天可爱文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/26/6D6DCE55-550F-55C8-51F9-134C7FF5242F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/26/6D6DCE55-550F-55C8-51F9-134C7FF5242F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>1879</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃货的世界</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/40E5BDA8-CF9F-862E-47B7-3C546D1A57CD.jpg?v=2</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/583CC613-BE69-B24D-B71E-C3680EA07795.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/583CC613-BE69-B24D-B71E-C3680EA07795.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20008113</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>幸福的吃货</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/D466DCEB-393E-7B67-8CED-36647E578066.jpg?v=2</string>
		<key>series_id</key>
		<string>2167</string>
		<key>series_name</key>
		<string>吃货志</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/7F9078CF-FFDB-A1F6-22AF-C180F1A41AAC.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/31/7F9078CF-FFDB-A1F6-22AF-C180F1A41AAC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20040637</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美食点赞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/591DA113-01AA-3D2D-7D16-400E54447122.jpg</string>
		<key>series_id</key>
		<string>10563</string>
		<key>series_name</key>
		<string>手机也爱美食</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/91802BBC-9AFB-94FE-E2D0-E1238D62D86C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/91802BBC-9AFB-94FE-E2D0-E1238D62D86C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>2639</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>我不是饿了只是嘴巴寂寞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/0139C1FB-6054-B45C-5394-B5411B0584AC.jpg</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/8B206CE6-B9F8-995B-97F7-EEE565E3D704.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/8B206CE6-B9F8-995B-97F7-EEE565E3D704.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>1881</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃货的心情你懂吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/09/75483116-C74D-F3A1-9838-F5A047C133A4.jpg?v=2</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/09/13AAAF0C-26E3-D0B7-7E47-32D2646E62CD.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/09/13AAAF0C-26E3-D0B7-7E47-32D2646E62CD.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>1919</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>我的胃是胃plus</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/16/3A49A0CB-1515-CA76-80A1-615D06273694.jpg?v=2</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/16/EFD13ED5-15D7-F6A9-4BE8-DA15BD990D99.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/16/EFD13ED5-15D7-F6A9-4BE8-DA15BD990D99.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>1897</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>咋都吃不胖</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/11E094CD-B9B1-0B2A-13A8-0D083036EA5B.jpg?v=2</string>
		<key>series_id</key>
		<string>665</string>
		<key>series_name</key>
		<string>吃货专用</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/9EF84578-12CF-2FB9-6440-4E1FA3D4EC30.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/09/9EF84578-12CF-2FB9-6440-4E1FA3D4EC30.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>665</string>
		<key>id</key>
		<string>20023026</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>665</string>
		<key>name</key>
		<string>吃吃吃</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/6CB3CC80-3ECB-F28B-6702-0CA7B4AB69DD.jpg</string>
		<key>series_id</key>
		<string>6170</string>
		<key>series_name</key>
		<string>心情儿文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/EF1265A9-B445-E73A-E732-2DBAC68ECCE0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/EF1265A9-B445-E73A-E732-2DBAC68ECCE0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
</array>
</plist>
