<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20044263</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/46523D7A-F44E-F410-650D-5BCE8534EA8B.jpg</string>
		<key>series_id</key>
		<string>11469</string>
		<key>series_name</key>
		<string>夏日系列第二波</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/2DECA6D5-25A0-EE0E-A9BD-479FFA6B926C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/2DECA6D5-25A0-EE0E-A9BD-479FFA6B926C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20044259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>葛优躺</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/ABB0731B-EA89-1D66-0FF0-F976E821A6C4.jpg</string>
		<key>series_id</key>
		<string>11469</string>
		<key>series_name</key>
		<string>夏日系列第二波</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/CD0CF551-AC85-48A6-74C4-6A6014A64220.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/21/CD0CF551-AC85-48A6-74C4-6A6014A64220.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20044257</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>带你飞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/4DD96570-4F09-8CB5-A4DB-79D4DCFAFBB3.jpg</string>
		<key>series_id</key>
		<string>11469</string>
		<key>series_name</key>
		<string>夏日系列第二波</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/C002DF69-3D3D-C8F0-3B31-335170577F88.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/C002DF69-3D3D-C8F0-3B31-335170577F88.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20043879</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃西瓜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/BBC4CA6F-E65D-A8D5-03E9-5F4216FD5301.jpg</string>
		<key>series_id</key>
		<string>11373</string>
		<key>series_name</key>
		<string>小怪兽夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/650031BD-738C-A9C6-1140-363631AFCF52.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/650031BD-738C-A9C6-1140-363631AFCF52.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20043875</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>游泳圈</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/6769ACFD-4DC1-3EBA-A931-9FDA9E7A0B1B.jpg</string>
		<key>series_id</key>
		<string>11373</string>
		<key>series_name</key>
		<string>小怪兽夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/CF9BA08E-6CC2-1872-65DB-86E1AB802E3E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/CF9BA08E-6CC2-1872-65DB-86E1AB802E3E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20043877</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>舒服</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/460878A1-6778-3D1C-BBEC-193A283A09DD.jpg</string>
		<key>series_id</key>
		<string>11373</string>
		<key>series_name</key>
		<string>小怪兽夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/3C30A5AE-7943-265E-4869-0724F63A9EA1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/3C30A5AE-7943-265E-4869-0724F63A9EA1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20044261</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>浇水</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/6386ADA2-FB32-105A-AFF0-F14848A2EA08.jpg</string>
		<key>series_id</key>
		<string>11469</string>
		<key>series_name</key>
		<string>夏日系列第二波</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/D08BB140-413F-58B9-6B7F-0F545EBEFB7F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/D08BB140-413F-58B9-6B7F-0F545EBEFB7F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>2881</string>
		<key>id</key>
		<string>20043873</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>这冰爽~</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/2441F855-242E-F61D-1404-E105672E2C7F.jpg</string>
		<key>series_id</key>
		<string>11373</string>
		<key>series_name</key>
		<string>小怪兽夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/5A0AC150-D728-9389-A3FE-6B645A7E15D8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/14/5A0AC150-D728-9389-A3FE-6B645A7E15D8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
</array>
</plist>
