<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>213</string>
		<key>id</key>
		<string>20016103</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>花冠</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/6A786410-6399-B1BE-C5B3-21A760D4EA3C.jpg</string>
		<key>series_id</key>
		<string>4357</string>
		<key>series_name</key>
		<string>爱文艺</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/A81A0CF5-BE95-6FDA-034B-780D91780B16.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/A81A0CF5-BE95-6FDA-034B-780D91780B16.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>1819</string>
		<key>id</key>
		<string>20003526</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1819</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/2C78EAD3-1F6A-7C22-CAC7-0073E0C27CB6.jpg?v=2</string>
		<key>series_id</key>
		<string>1008</string>
		<key>series_name</key>
		<string>一生有你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/C7C0731F-9DBB-5627-9CF6-58DA4CDE9931.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/03/C7C0731F-9DBB-5627-9CF6-58DA4CDE9931.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20003220</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>亲亲</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/06492450-2F5B-0A83-27FD-2CA92F8B71FC.jpg?v=2</string>
		<key>series_id</key>
		<string>928</string>
		<key>series_name</key>
		<string>手写心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/4AAC5A85-8FAE-2C71-B3BA-9A80D6978BB4.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/4AAC5A85-8FAE-2C71-B3BA-9A80D6978BB4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20024929</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>最好的时光</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/86CD0CEA-B96E-F11D-2289-ADDDDE898FE6.jpg</string>
		<key>series_id</key>
		<string>6645</string>
		<key>series_name</key>
		<string>文艺时光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/E524BD14-C9B2-90C4-A0BF-75C48B7F1086.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/05/E524BD14-C9B2-90C4-A0BF-75C48B7F1086.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20016107</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>羊驼</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/003AE5F4-78F2-56F6-CE3E-7DFABC7F1480.jpg</string>
		<key>series_id</key>
		<string>4357</string>
		<key>series_name</key>
		<string>爱文艺</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/6534FFAD-C19B-00E2-52A4-619082FE2D86.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/22/6534FFAD-C19B-00E2-52A4-619082FE2D86.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>292</string>
		<key>id</key>
		<string>20003222</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>292</string>
		<key>name</key>
		<string>想你</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/28/D26E7BD9-1C53-F465-3C7F-14E5FE17C852.jpg?v=2</string>
		<key>series_id</key>
		<string>930</string>
		<key>series_name</key>
		<string>手写心情2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/28/1D12501D-5CE6-5881-C614-900F18A8EF53.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/28/1D12501D-5CE6-5881-C614-900F18A8EF53.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>819</string>
		<key>id</key>
		<string>20011459</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>819</string>
		<key>name</key>
		<string>气球</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/2D8ADB94-300F-FFE2-1EB7-76B1B7B882CD.jpg</string>
		<key>series_id</key>
		<string>3101</string>
		<key>series_name</key>
		<string>线描心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/08646BB2-A39F-45BF-A422-401A932861A6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/08646BB2-A39F-45BF-A422-401A932861A6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20020213</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>在看你哟~</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/31F927F3-5EEF-7C1B-64D4-8B1FC5CBAB49.jpg</string>
		<key>series_id</key>
		<string>5463</string>
		<key>series_name</key>
		<string>白色长角小幽灵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/A9202944-464A-4247-EBCD-DBA5F7E3D79B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/A9202944-464A-4247-EBCD-DBA5F7E3D79B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20008973</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>早安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1513</string>
		<key>name</key>
		<string>早安</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/13/AF444859-1957-E66A-B49A-3DF01386F30E.jpg?v=2</string>
		<key>series_id</key>
		<string>2441</string>
		<key>series_name</key>
		<string>小C-情景文字1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/13/5F831845-6CE7-97CE-7DEF-D26143DC71EC.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/13/5F831845-6CE7-97CE-7DEF-D26143DC71EC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
</array>
</plist>
