<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>280</string>
		<key>id</key>
		<string>20025139</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>280</string>
		<key>name</key>
		<string>邮戳</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/757D00C6-CC6A-DC65-371E-809E40639D77.jpg</string>
		<key>series_id</key>
		<string>6699</string>
		<key>series_name</key>
		<string>旅行清新水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/5C686A60-630F-24BF-32E9-9289DB043D25.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/5C686A60-630F-24BF-32E9-9289DB043D25.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>585</string>
		<key>id</key>
		<string>20011439</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>星星</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/05D12E93-2DB0-A696-9C6C-39AAF8B0B378.jpg</string>
		<key>series_id</key>
		<string>3097</string>
		<key>series_name</key>
		<string>白色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/C1372CA1-E2C7-97D6-1923-A3BBBE1F33F1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/C1372CA1-E2C7-97D6-1923-A3BBBE1F33F1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>smile好美</string>
		<key>cate_id</key>
		<string>2843</string>
		<key>id</key>
		<string>20017739</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>果粉</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>601</string>
		<key>name</key>
		<string>look at me</string>
		<key>number</key>
		<string>ind3288667</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/9654320A-D97A-F2A6-2C9D-EE6F58BC1B71.jpg</string>
		<key>series_id</key>
		<string>4821</string>
		<key>series_name</key>
		<string>夏日文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/2A94FBB4-381B-E0CB-6F0F-1F036856B32B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/2A94FBB4-381B-E0CB-6F0F-1F036856B32B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Smile好美</string>
			<key>number</key>
			<string>ind3288667</string>
			<key>user_id</key>
			<string>35776981</string>
		</dict>
		<key>user_id</key>
		<string>35776981</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>282</string>
		<key>id</key>
		<string>20003214</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>282</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/15AA5B4D-2A98-C433-8884-301F7355FA03.jpg?v=2</string>
		<key>series_id</key>
		<string>928</string>
		<key>series_name</key>
		<string>手写心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/7CFD26A0-471B-9975-C71B-1BD2029092C3.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/28/7CFD26A0-471B-9975-C71B-1BD2029092C3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20018027</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>星星闪闪</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/B9A6D360-C99B-76BF-6827-BFEAE4BE4BBE.jpg</string>
		<key>series_id</key>
		<string>4893</string>
		<key>series_name</key>
		<string>文艺必备繁星点点</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/A9B3B1CC-9949-D38D-70E7-B22ACE8D5C87.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/A9B3B1CC-9949-D38D-70E7-B22ACE8D5C87.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20025275</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>时光</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/DAD33F8F-EEDE-2F22-F7F2-EE81FCF49862.jpg</string>
		<key>series_id</key>
		<string>6733</string>
		<key>series_name</key>
		<string>歌词控</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/AE833BAD-14ED-F1FB-EB5D-416DB64A5ADC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/AE833BAD-14ED-F1FB-EB5D-416DB64A5ADC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>娇气姐姐</string>
		<key>cate_id</key>
		<string>292</string>
		<key>id</key>
		<string>20003140</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>292</string>
		<key>name</key>
		<string>enjoy the moment</string>
		<key>number</key>
		<string>jiaoqijiejie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/27/434A1971-6B92-3F19-7D03-9B19EB05551E.jpg?v=2</string>
		<key>series_id</key>
		<string>906</string>
		<key>series_name</key>
		<string>樱花小精灵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/27/240846F2-C673-DBFF-86A2-4D8945EA55E0.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/27/240846F2-C673-DBFF-86A2-4D8945EA55E0.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>娇气姐姐</string>
			<key>number</key>
			<string>jiaoqijiejie</string>
			<key>user_id</key>
			<string>16332455</string>
		</dict>
		<key>user_id</key>
		<string>16332455</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>819</string>
		<key>id</key>
		<string>20011455</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>819</string>
		<key>name</key>
		<string>流星雨</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/76BB85B5-6322-06BD-6297-0F0B602CB13B.jpg</string>
		<key>series_id</key>
		<string>3101</string>
		<key>series_name</key>
		<string>线描心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/151010B1-A103-7401-FA9E-FC7F84F27892.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/151010B1-A103-7401-FA9E-FC7F84F27892.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20025555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/374AAA01-7E39-EEF8-BA4E-5B1301D9F75C.jpg</string>
		<key>series_id</key>
		<string>6803</string>
		<key>series_name</key>
		<string>唯美心情系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/55CCDF72-28C3-7FA7-E38F-2E3D3457B9F2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/55CCDF72-28C3-7FA7-E38F-2E3D3457B9F2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
</array>
</plist>
