<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033443</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 抖</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/1C6E2989-6A3E-24AC-3903-89589DFCE3E3.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/651A054E-8C08-A0B8-6883-FC8A940BF0C6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/651A054E-8C08-A0B8-6883-FC8A940BF0C6.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033437</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 吊车</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/8EE2BA52-93D2-28EB-151A-74A3E7DD3444.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/C020318F-6DD7-9CDF-BB81-D51714514FF6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/17/C020318F-6DD7-9CDF-BB81-D51714514FF6.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033415</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 船</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/8FCC1121-B81F-D3F5-B796-2466BC31FE9C.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/CE3C0DF9-D80B-DEDC-DE40-16D9F8EC1883.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/CE3C0DF9-D80B-DEDC-DE40-16D9F8EC1883.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033451</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 靴子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/AA68E85B-A5E4-62FE-32DA-AA8FA66ED1C5.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/88F97E10-FB6E-0764-992E-5A49470C3AE3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/17/88F97E10-FB6E-0764-992E-5A49470C3AE3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033446</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 指示灯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/4BEBDC07-F101-1AB8-069F-A3A9D291D398.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/E35E6933-0E1D-BA66-4F26-8D8C5BCD2BB2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/10/17/E35E6933-0E1D-BA66-4F26-8D8C5BCD2BB2.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>干脆来碗面</string>
		<key>cate_id</key>
		<string>3178</string>
		<key>id</key>
		<string>1033432</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宠物的梦游世界 奏折</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/B31DC996-0C1F-5114-CA3E-24CE4D020D70.jpg</string>
		<key>series_id</key>
		<string>3178</string>
		<key>series_name</key>
		<string>宠物的梦游世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/086DC397-3E97-2D7B-6443-8BF210D3C993.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/10/17/086DC397-3E97-2D7B-6443-8BF210D3C993.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
