<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>吃纸妖怪</string>
		<key>cate_id</key>
		<string>2711</string>
		<key>id</key>
		<string>20040431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>曲筱绡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/07/4BDD418A-D1B7-8E06-3EC4-FDB16A92AB33.jpg</string>
		<key>series_id</key>
		<string>10511</string>
		<key>series_name</key>
		<string>欢乐颂卡通系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/06/DCCB48EA-5F08-5935-EBC2-AB0E6C54DFB4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/06/DCCB48EA-5F08-5935-EBC2-AB0E6C54DFB4.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>G-2TK</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100029939</string>
		</dict>
		<key>user_id</key>
		<string>100029939</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃纸妖怪</string>
		<key>cate_id</key>
		<string>2711</string>
		<key>id</key>
		<string>20040429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>关雎尔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/07/3C962794-D431-CBFF-9BF8-D2C2053F6083.jpg</string>
		<key>series_id</key>
		<string>10511</string>
		<key>series_name</key>
		<string>欢乐颂卡通系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/06/CDB6E4F0-C12B-65FC-17F2-B2DD3C183BBC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/06/CDB6E4F0-C12B-65FC-17F2-B2DD3C183BBC.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>G-2TK</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100029939</string>
		</dict>
		<key>user_id</key>
		<string>100029939</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃纸妖怪</string>
		<key>cate_id</key>
		<string>2711</string>
		<key>id</key>
		<string>20040427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>邱莹莹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/07/89C245A2-2FC7-DB30-232D-7A3431875AF0.jpg</string>
		<key>series_id</key>
		<string>10511</string>
		<key>series_name</key>
		<string>欢乐颂卡通系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/06/691656FC-49FD-74F8-9006-0D40F27633BB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/06/691656FC-49FD-74F8-9006-0D40F27633BB.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>G-2TK</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100029939</string>
		</dict>
		<key>user_id</key>
		<string>100029939</string>
	</dict>
	<dict>
		<key>author</key>
		<string>吃纸妖怪</string>
		<key>cate_id</key>
		<string>2711</string>
		<key>id</key>
		<string>20040425</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>赵启平</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/07/97983EB9-0B0F-40F3-38FE-CBFFC297D124.jpg</string>
		<key>series_id</key>
		<string>10511</string>
		<key>series_name</key>
		<string>欢乐颂卡通系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/06/35D4B4D2-263C-B070-A4C2-EDF4A40F1DA9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/06/35D4B4D2-263C-B070-A4C2-EDF4A40F1DA9.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>G-2TK</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100029939</string>
		</dict>
		<key>user_id</key>
		<string>100029939</string>
	</dict>
</array>
</plist>
