<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053966</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>芙蓉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/D806D82C-8DEB-1141-6207-457B5A8B63FE.jpg</string>
		<key>series_id</key>
		<string>13896</string>
		<key>series_name</key>
		<string>武林外传+</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/9EA350A2-7D0B-F916-E2E2-E9C5ED92CDF9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/9EA350A2-7D0B-F916-E2E2-E9C5ED92CDF9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053964</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秀才</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/4C7FC11A-BCBB-6879-C272-A82C76A57DE7.jpg</string>
		<key>series_id</key>
		<string>13896</string>
		<key>series_name</key>
		<string>武林外传+</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/DAB817DC-7B84-1098-2B50-A6AB01FF2D46.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/DAB817DC-7B84-1098-2B50-A6AB01FF2D46.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053960</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秀才</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/053701E7-3ABC-A238-1B6D-627B71216260.jpg</string>
		<key>series_id</key>
		<string>13896</string>
		<key>series_name</key>
		<string>武林外传+</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/7B2479C0-3BDB-BE33-F533-C2A7F0CC661A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/7B2479C0-3BDB-BE33-F533-C2A7F0CC661A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053958</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>老邢</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/B5103DE7-2DD1-AB15-2A83-FED26398EF3F.jpg</string>
		<key>series_id</key>
		<string>13894</string>
		<key>series_name</key>
		<string>武林外传</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/A0E0F8A6-4DC9-8518-0BFF-949DE4E84BEF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/A0E0F8A6-4DC9-8518-0BFF-949DE4E84BEF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053956</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>白展堂</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/C8D9B39A-600B-2191-5009-62DBB5D0FFD6.jpg</string>
		<key>series_id</key>
		<string>13894</string>
		<key>series_name</key>
		<string>武林外传</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/F8FC976E-A748-012A-A1F1-7047FC724BB9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/F8FC976E-A748-012A-A1F1-7047FC724BB9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053954</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大嘴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/AD82AC13-9D09-AE8F-0489-0CE3941DE6EC.jpg</string>
		<key>series_id</key>
		<string>13894</string>
		<key>series_name</key>
		<string>武林外传</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/870FF54B-A6B5-C7E1-DBB5-C4875187E9D4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/870FF54B-A6B5-C7E1-DBB5-C4875187E9D4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053952</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>湘玉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/556DE57A-5896-F5E3-7B12-BC0533269D1C.jpg</string>
		<key>series_id</key>
		<string>13894</string>
		<key>series_name</key>
		<string>武林外传</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/F2AD5562-3C8D-95BC-6EEB-D2A5E90310B1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/02/F2AD5562-3C8D-95BC-6EEB-D2A5E90310B1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
	<dict>
		<key>author</key>
		<string>马甲</string>
		<key>cate_id</key>
		<string>3676</string>
		<key>id</key>
		<string>20053962</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>无双</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/505473C4-0216-EC0A-96E8-52025DCEF4B7.jpg</string>
		<key>series_id</key>
		<string>13896</string>
		<key>series_name</key>
		<string>武林外传+</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/85D46F5B-F0D5-AB2B-3F12-86FEC42CA7C4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/02/85D46F5B-F0D5-AB2B-3F12-86FEC42CA7C4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>----HU----</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113022558</string>
		</dict>
		<key>user_id</key>
		<string>113022558</string>
	</dict>
</array>
</plist>
