<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20016983</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1513</string>
		<key>name</key>
		<string>炫酷字02</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/993392C1-065F-2256-AC8C-93616301769D.jpg</string>
		<key>series_id</key>
		<string>4593</string>
		<key>series_name</key>
		<string>炫酷字02</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/1226DDDF-7665-EAF0-AE6E-34D5F7ACCC49.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/1226DDDF-7665-EAF0-AE6E-34D5F7ACCC49.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>2561</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/768090BF-F4A1-F8C7-0DDD-DB91CD2F5ADD.jpg</string>
		<key>series_id</key>
		<string>1513</string>
		<key>series_name</key>
		<string>早安晚安</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/FA123C30-0CC7-94C3-06D8-C7D6A50C3669.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/FA123C30-0CC7-94C3-06D8-C7D6A50C3669.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20024563</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>早安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1513</string>
		<key>name</key>
		<string>晨曦</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/31/5A8DD9E2-1872-F0BE-FCC0-833290CA1C50.jpg</string>
		<key>series_id</key>
		<string>6555</string>
		<key>series_name</key>
		<string>叶小星的文艺字1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/31/B09679B3-C7E0-A139-DB1D-07C5801CF45C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/31/B09679B3-C7E0-A139-DB1D-07C5801CF45C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿步-Abu</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20025823</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚安,概率论,一周CP</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>许你一个好梦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/B9E0BCE7-F8CF-6576-5EAC-77615081241A.jpg</string>
		<key>series_id</key>
		<string>6869</string>
		<key>series_name</key>
		<string>字体设计</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/ACAF8C5F-3DF5-771F-9415-FD858360B5FB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/ACAF8C5F-3DF5-771F-9415-FD858360B5FB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>阿步-Abu</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579233</string>
		</dict>
		<key>user_id</key>
		<string>77579233</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20008975</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/13/7F530E7B-08C6-E7F9-B1D0-A1509F392183.jpg?v=2</string>
		<key>series_id</key>
		<string>2441</string>
		<key>series_name</key>
		<string>小C-情景文字1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/13/58DF4D32-372A-E9C7-1233-0666EE1773D1.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/13/58DF4D32-372A-E9C7-1233-0666EE1773D1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20024591</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>flyme</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/51ED2A15-624D-17F1-BD79-4575A7C17CF0.jpg</string>
		<key>series_id</key>
		<string>6561</string>
		<key>series_name</key>
		<string>叶小星的文艺字3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/5E270D72-79DF-5AFF-FEAC-B09FAFAA5456.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/5E270D72-79DF-5AFF-FEAC-B09FAFAA5456.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>904</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/31/0068A752-9225-87B2-4429-6FF9791590EC.jpg?v=2</string>
		<key>series_id</key>
		<string>1513</string>
		<key>series_name</key>
		<string>早安晚安</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/31/EB8C1EA9-195E-0291-4442-E550BB728156.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/31/EB8C1EA9-195E-0291-4442-E550BB728156.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20008285</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>晚安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>我要早睡</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/79E6D6AA-04C5-4BA9-9D85-49F669CC8A61.jpg?v=2</string>
		<key>series_id</key>
		<string>2213</string>
		<key>series_name</key>
		<string>养成好习惯</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/44508EAA-FB6C-83A9-A879-D4E1171D5DED.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/44508EAA-FB6C-83A9-A879-D4E1171D5DED.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20024589</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>早安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1513</string>
		<key>name</key>
		<string>早安</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/B66DF472-B159-F494-BCF0-BAAEF2F7AF17.jpg</string>
		<key>series_id</key>
		<string>6561</string>
		<key>series_name</key>
		<string>叶小星的文艺字3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/32A25E25-089C-61B1-6D4A-83676964392F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/32A25E25-089C-61B1-6D4A-83676964392F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
</array>
</plist>
