<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粽肥兔</string>
		<key>cate_id</key>
		<string>323</string>
		<key>id</key>
		<string>20013067</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>323</string>
		<key>name</key>
		<string>青春</string>
		<key>number</key>
		<string>ind1223264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/9D67B0AB-C32C-0E2C-E7B6-4A2519CB1F01.jpg</string>
		<key>series_id</key>
		<string>3543</string>
		<key>series_name</key>
		<string>小萌猪之考试加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/EDB31BF7-004B-B290-5A70-FE0E499F0ADF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/EDB31BF7-004B-B290-5A70-FE0E499F0ADF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宗小兔</string>
			<key>number</key>
			<string>ind1223264</string>
			<key>user_id</key>
			<string>14645220</string>
		</dict>
		<key>user_id</key>
		<string>14645220</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粽肥兔</string>
		<key>cate_id</key>
		<string>323</string>
		<key>id</key>
		<string>20013065</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>323</string>
		<key>name</key>
		<string>好运</string>
		<key>number</key>
		<string>ind1223264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/B8DEF5BC-5422-D267-F40D-53486D49EB43.jpg</string>
		<key>series_id</key>
		<string>3543</string>
		<key>series_name</key>
		<string>小萌猪之考试加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/160CC636-68F4-B059-67C8-90DBB6C05E30.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/160CC636-68F4-B059-67C8-90DBB6C05E30.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宗小兔</string>
			<key>number</key>
			<string>ind1223264</string>
			<key>user_id</key>
			<string>14645220</string>
		</dict>
		<key>user_id</key>
		<string>14645220</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粽肥兔</string>
		<key>cate_id</key>
		<string>323</string>
		<key>id</key>
		<string>20013063</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>323</string>
		<key>name</key>
		<string>必胜</string>
		<key>number</key>
		<string>ind1223264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/2502A3CE-0A3A-10DC-EBDB-E8E3B6F0F688.jpg</string>
		<key>series_id</key>
		<string>3543</string>
		<key>series_name</key>
		<string>小萌猪之考试加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/422B375D-F95F-D851-51AE-B9DC1609485C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/04/422B375D-F95F-D851-51AE-B9DC1609485C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宗小兔</string>
			<key>number</key>
			<string>ind1223264</string>
			<key>user_id</key>
			<string>14645220</string>
		</dict>
		<key>user_id</key>
		<string>14645220</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粽肥兔</string>
		<key>cate_id</key>
		<string>323</string>
		<key>id</key>
		<string>20013061</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>323</string>
		<key>name</key>
		<string>加油</string>
		<key>number</key>
		<string>ind1223264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/B6673BAD-686C-81F4-4F6B-FD0C98AF7B61.jpg</string>
		<key>series_id</key>
		<string>3543</string>
		<key>series_name</key>
		<string>小萌猪之考试加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/22487DE6-17D5-CCA7-3A15-4ADC215DAC4A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/22487DE6-17D5-CCA7-3A15-4ADC215DAC4A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宗小兔</string>
			<key>number</key>
			<string>ind1223264</string>
			<key>user_id</key>
			<string>14645220</string>
		</dict>
		<key>user_id</key>
		<string>14645220</string>
	</dict>
</array>
</plist>
