<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>宛城君</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20013041</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>邪恶的花</string>
		<key>number</key>
		<string>inp535711</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/B70EDBA4-DE53-34F2-41A2-EF4140F02BDE.jpg</string>
		<key>series_id</key>
		<string>3537</string>
		<key>series_name</key>
		<string>那些花花草草</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/A623D5C4-A57F-A44B-CE19-0173FEB9CD5B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/A623D5C4-A57F-A44B-CE19-0173FEB9CD5B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宛城君</string>
			<key>number</key>
			<string>inp535711</string>
			<key>user_id</key>
			<string>69320529</string>
		</dict>
		<key>user_id</key>
		<string>69320529</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20011027</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>花簇</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/7E1CD80A-C4E6-08CE-54EF-CA65CA11B913.jpg</string>
		<key>series_id</key>
		<string>2989</string>
		<key>series_name</key>
		<string>睿雨装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/928B85A2-DC94-D5C6-240D-27CE14F0376A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/928B85A2-DC94-D5C6-240D-27CE14F0376A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20007127</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>花花</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/4DDAD2B3-8FEC-C2FB-29C0-CFDED64C4088.jpg?v=2</string>
		<key>series_id</key>
		<string>1915</string>
		<key>series_name</key>
		<string>春暖花开头饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/7ADE0463-5BDE-CA63-51B8-66A928AD75BD.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/19/7ADE0463-5BDE-CA63-51B8-66A928AD75BD.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
</array>
</plist>
