<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20028433</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>太阳花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/8191FF90-2CC5-A7ED-3FA3-4F24ED193984.jpg</string>
		<key>series_id</key>
		<string>7519</string>
		<key>series_name</key>
		<string>可爱萌物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/AF3FF713-1E89-4EAF-526B-088F6CE0ED0B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/AF3FF713-1E89-4EAF-526B-088F6CE0ED0B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>皮忠</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>10908</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>鲜花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/313BE97F-82C3-9012-322B-20A182BB4BBE.jpg</string>
		<key>series_id</key>
		<string>611</string>
		<key>series_name</key>
		<string>多色花</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/8612E471-60DD-C1F9-DBDE-7005397D16C4.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/8612E471-60DD-C1F9-DBDE-7005397D16C4.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20022357</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>花</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/5E65CCFF-6FA5-59E7-6D38-B88B66A28CAD.jpg</string>
		<key>series_id</key>
		<string>6005</string>
		<key>series_name</key>
		<string>可爱的装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/DFA48F71-0F32-4E15-9791-24E2E178DF49.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/DFA48F71-0F32-4E15-9791-24E2E178DF49.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果心</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20003498</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>花露露</string>
		<key>number</key>
		<string>ine2966513</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/05/D1812975-59B7-A822-456D-ECB043AB27C9.jpg?v=2</string>
		<key>series_id</key>
		<string>1000</string>
		<key>series_name</key>
		<string>小碎花</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/05/7094647B-CB5C-1896-27DC-4F6F59C8D49D.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/05/7094647B-CB5C-1896-27DC-4F6F59C8D49D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>LXY果心</string>
			<key>number</key>
			<string>ine2966513</string>
			<key>user_id</key>
			<string>32664838</string>
		</dict>
		<key>user_id</key>
		<string>32664838</string>
	</dict>
	<dict>
		<key>author</key>
		<string>炸毛的兔叽</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20003614</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>Daisy</string>
		<key>number</key>
		<string>ind1560335</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/04/0284923A-D3B4-FEB3-F260-5D2B5DAEAAE6.jpg?v=2</string>
		<key>series_id</key>
		<string>1030</string>
		<key>series_name</key>
		<string>花与爱丽丝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/04/A2C7C892-471F-5ACA-E386-EC5121A45377.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/04/A2C7C892-471F-5ACA-E386-EC5121A45377.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>炸毛的兔叽</string>
			<key>number</key>
			<string>ind1560335</string>
			<key>user_id</key>
			<string>18649120</string>
		</dict>
		<key>user_id</key>
		<string>18649120</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小彪子</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20002768</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>怒放的小菊</string>
		<key>number</key>
		<string>inj2968576</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/23/00266A87-719B-3732-E651-E166AE1C8667.jpg?v=2</string>
		<key>series_id</key>
		<string>814</string>
		<key>series_name</key>
		<string>奇怪的她/他</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/23/39C06C24-424B-8E99-4F6D-FF2BACC5C5B3.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/23/39C06C24-424B-8E99-4F6D-FF2BACC5C5B3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>彪氏双牛座</string>
			<key>number</key>
			<string>inj2968576</string>
			<key>user_id</key>
			<string>32687225</string>
		</dict>
		<key>user_id</key>
		<string>32687225</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ponyo包包</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20044851</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玫瑰</string>
		<key>number</key>
		<string>bun213</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/04/6B331550-35E6-0BF6-7BC9-B3B99964F1DA.jpg</string>
		<key>series_id</key>
		<string>11619</string>
		<key>series_name</key>
		<string>七夕情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/04/F5270AA2-4F5B-682F-C99C-CD7C38231878.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/04/F5270AA2-4F5B-682F-C99C-CD7C38231878.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Ponyo包包</string>
			<key>number</key>
			<string>bun213</string>
			<key>user_id</key>
			<string>34322474</string>
		</dict>
		<key>user_id</key>
		<string>34322474</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20006178</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>红鼻子左</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/14/C971CF84-DA11-54EB-3F40-6BD8DB5E6320.jpg?v=2</string>
		<key>series_id</key>
		<string>1676</string>
		<key>series_name</key>
		<string>睿雨火爆装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/14/E61C52C8-72AA-F39B-0A25-07F0D888B84E.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/14/E61C52C8-72AA-F39B-0A25-07F0D888B84E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20023491</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>向日葵</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/24/C2107A9E-4A9B-8518-498E-43487F9D4DC8.jpg</string>
		<key>series_id</key>
		<string>6287</string>
		<key>series_name</key>
		<string>鹿之川的头饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/24/F32C9FAB-9C46-03F5-E663-618C3C4C8D96.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/24/F32C9FAB-9C46-03F5-E663-618C3C4C8D96.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
</array>
</plist>
