<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>张小能</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20027159</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>棒棒小太阳</string>
		<key>number</key>
		<string>inc3424110</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/28/B1E6A88F-849D-1C83-DC6A-13E16F5F631C.jpg</string>
		<key>series_id</key>
		<string>7201</string>
		<key>series_name</key>
		<string>张小能的小黄脸5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/28/A8F6C720-9610-8959-D044-ADB621A55AC9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/28/A8F6C720-9610-8959-D044-ADB621A55AC9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张小能</string>
			<key>number</key>
			<string>inc3424110</string>
			<key>user_id</key>
			<string>37116489</string>
		</dict>
		<key>user_id</key>
		<string>37116489</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20001860</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>萌萌哒天气</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/12/2F1DCD33-7789-FD3F-49AA-AB2B9728B558.jpg?v=2</string>
		<key>series_id</key>
		<string>570</string>
		<key>series_name</key>
		<string>萌萌哒天气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/12/D5517F17-0F6B-FC9A-7BC4-6240AB82D7E3.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/12/D5517F17-0F6B-FC9A-7BC4-6240AB82D7E3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20053452</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小太阳</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/A291D453-6B8C-7331-969D-1D58F41A2BE7.jpg</string>
		<key>series_id</key>
		<string>13768</string>
		<key>series_name</key>
		<string>天气播报</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/892E521E-E1DC-3A01-896E-68237E7506ED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/892E521E-E1DC-3A01-896E-68237E7506ED.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20028437</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君欢迎</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/B5214CCA-BBB2-CA18-B369-6FB18FEE03FF.jpg</string>
		<key>series_id</key>
		<string>7521</string>
		<key>series_name</key>
		<string>果果哟太阳君3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/F3BE4FB7-3C4F-3318-2AA5-E8154232A4A1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/F3BE4FB7-3C4F-3318-2AA5-E8154232A4A1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20008523</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>小太阳</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/10C61B70-F905-A1B0-95A2-86EBD93E5FCB.jpg?v=2</string>
		<key>series_id</key>
		<string>2271</string>
		<key>series_name</key>
		<string>小丁点装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/8D548722-995A-9527-696E-9A470742D015.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/8D548722-995A-9527-696E-9A470742D015.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20028101</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/F8EF1F1B-064A-79AE-8BB1-20E1E01F2E1E.jpg</string>
		<key>series_id</key>
		<string>7437</string>
		<key>series_name</key>
		<string>果果哟太阳君2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/FCA83A62-E075-27FA-BFE3-57D141A44E27.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/FCA83A62-E075-27FA-BFE3-57D141A44E27.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20027429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君开心</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/EA121325-31E1-01BA-0E65-5BAE76551CC9.jpg</string>
		<key>series_id</key>
		<string>7269</string>
		<key>series_name</key>
		<string>果果哟太阳君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/BD1295D4-EA78-AC3F-14C0-DC891880FE6A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/BD1295D4-EA78-AC3F-14C0-DC891880FE6A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20027433</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君得意</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/8898C7E3-3030-9696-8AF2-B32A45725F00.jpg</string>
		<key>series_id</key>
		<string>7269</string>
		<key>series_name</key>
		<string>果果哟太阳君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/B4B38078-8A04-E30C-99FD-30A608EB5793.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/28/B4B38078-8A04-E30C-99FD-30A608EB5793.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20011639</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>好心情</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/9D1F5FA5-D163-54E2-9D79-95CFE624829E.jpg</string>
		<key>series_id</key>
		<string>3147</string>
		<key>series_name</key>
		<string>心情小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/E676148E-3169-5888-ECD8-DFF64692080E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/E676148E-3169-5888-ECD8-DFF64692080E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
</array>
</plist>
