<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20028105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/07/FE11DAD7-DB9E-2561-1756-B805AC1CB0D8.jpg</string>
		<key>series_id</key>
		<string>7437</string>
		<key>series_name</key>
		<string>果果哟太阳君2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/AF8B6D57-DC14-3727-04C9-D9846E023196.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/AF8B6D57-DC14-3727-04C9-D9846E023196.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>七月不笑猫</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20013631</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>卷毛小太阳</string>
		<key>number</key>
		<string>inj4027670</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/5E0BB452-1C82-6428-31FB-3D2B8CBF6970.jpg</string>
		<key>series_id</key>
		<string>3717</string>
		<key>series_name</key>
		<string>夏季小饰品</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/B2295B0A-0D34-334C-A1C2-610C9060553D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/B2295B0A-0D34-334C-A1C2-610C9060553D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>七月不笑猫</string>
			<key>number</key>
			<string>inj4027670</string>
			<key>user_id</key>
			<string>43120687</string>
		</dict>
		<key>user_id</key>
		<string>43120687</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20028441</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君消灭你</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/D43934F6-BAA4-8317-361B-67C1454DAF86.jpg</string>
		<key>series_id</key>
		<string>7521</string>
		<key>series_name</key>
		<string>果果哟太阳君3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/CCFDB667-B1EA-3965-A759-E78A3A82C805.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/09/CCFDB667-B1EA-3965-A759-E78A3A82C805.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20016645</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>夏热解暑必备-太阳</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/47223252-5FF9-2839-BF65-527FB2D71DAC.jpg</string>
		<key>series_id</key>
		<string>4495</string>
		<key>series_name</key>
		<string>夏日解暑必备~热</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/C61F90CF-D3C6-685C-0331-857470F74973.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/25/C61F90CF-D3C6-685C-0331-857470F74973.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm 忠犬女王</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20007071</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>暖阳</string>
		<key>number</key>
		<string>ine2987801</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/950B7371-1E80-38AA-48AE-C612BC728764.jpg?v=2</string>
		<key>series_id</key>
		<string>1901</string>
		<key>series_name</key>
		<string>春天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/9341555F-5729-4DB9-D151-3CD78330DE9D.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/9341555F-5729-4DB9-D151-3CD78330DE9D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忠犬的女王</string>
			<key>number</key>
			<string>ine2987801</string>
			<key>user_id</key>
			<string>32867476</string>
		</dict>
		<key>user_id</key>
		<string>32867476</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20028099</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳君</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/31003F5B-34CD-05A1-5C0D-6EF84C1C5357.jpg</string>
		<key>series_id</key>
		<string>7437</string>
		<key>series_name</key>
		<string>果果哟太阳君2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/769BAE43-7090-3861-8E19-916EAA4D623D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/769BAE43-7090-3861-8E19-916EAA4D623D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>2403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>太阳与伞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/811E0820-E308-F09F-C2C1-2E8BD7C0CA09.jpg</string>
		<key>series_id</key>
		<string>603</string>
		<key>series_name</key>
		<string>太阳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/AB419EA4-D3D2-086F-B366-1D3326B7E564.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/AB419EA4-D3D2-086F-B366-1D3326B7E564.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>明姑娘</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20001642</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>晴</string>
		<key>number</key>
		<string>Lily1991</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/09/3E40B3FC-9141-8CE8-CD63-4FF42ED7A7A9.jpg?v=2</string>
		<key>series_id</key>
		<string>516</string>
		<key>series_name</key>
		<string>周小喵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/09/C3C451DB-296B-BF8C-3767-973C4488075F.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/09/C3C451DB-296B-BF8C-3767-973C4488075F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>明姑娘的故事</string>
			<key>number</key>
			<string>Lily1991</string>
			<key>user_id</key>
			<string>34796039</string>
		</dict>
		<key>user_id</key>
		<string>34796039</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>603</string>
		<key>id</key>
		<string>20014077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>603</string>
		<key>name</key>
		<string>夏天太阳吃冰激凌</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/C01A1595-7638-47D7-E1CB-31886147E078.jpg</string>
		<key>series_id</key>
		<string>3849</string>
		<key>series_name</key>
		<string>夏日&amp;amp;生日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/6A787BEF-DEAF-6902-B901-05DB664DF94E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/6A787BEF-DEAF-6902-B901-05DB664DF94E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
</array>
</plist>
