<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20016345</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>smile</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/C82BE1AC-DB48-C643-3210-B270D28B9A4E.jpg</string>
		<key>series_id</key>
		<string>4417</string>
		<key>series_name</key>
		<string>神神经经2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/78B3F769-52F7-7F25-B0B2-BA72361D2725.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/78B3F769-52F7-7F25-B0B2-BA72361D2725.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20016343</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>哇</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/25593673-96CD-7BA4-73F4-7BFDA820CA76.jpg</string>
		<key>series_id</key>
		<string>4417</string>
		<key>series_name</key>
		<string>神神经经2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/5AEBDA79-5EE0-E8DE-445F-5808C3E8A171.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/5AEBDA79-5EE0-E8DE-445F-5808C3E8A171.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20013867</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>嗨起来</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/97868F1D-69F7-4D0A-7B71-730F83D8A596.jpg</string>
		<key>series_id</key>
		<string>3775</string>
		<key>series_name</key>
		<string>神神经经</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/6544FAB8-38F9-8BF5-715C-AF72556B906D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/6544FAB8-38F9-8BF5-715C-AF72556B906D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20013865</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>约么</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/FBC729A3-0AEB-8B69-CD35-68BCB87A64C9.jpg</string>
		<key>series_id</key>
		<string>3775</string>
		<key>series_name</key>
		<string>神神经经</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/C918D74C-BC7C-6E68-EA97-4A862EA9FD21.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/C918D74C-BC7C-6E68-EA97-4A862EA9FD21.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20013863</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/3843DE5E-333E-0EF4-8DF8-98C7B920DF0A.jpg</string>
		<key>series_id</key>
		<string>3775</string>
		<key>series_name</key>
		<string>神神经经</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/0E6AAF9F-B5FE-0460-5C7B-237821EDE037.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/0E6AAF9F-B5FE-0460-5C7B-237821EDE037.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20013861</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>duang</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/3DCDAEFD-1AAE-EDF4-4994-7E10FF16ED36.jpg</string>
		<key>series_id</key>
		<string>3775</string>
		<key>series_name</key>
		<string>神神经经</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/ED83AA07-BC2C-C440-97DB-0C5C85519CF3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/09/ED83AA07-BC2C-C440-97DB-0C5C85519CF3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20016347</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>撕逼</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/B046CB61-D6BB-98F2-D490-EB8EC222BA4D.jpg</string>
		<key>series_id</key>
		<string>4417</string>
		<key>series_name</key>
		<string>神神经经2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/5ED5006F-66FA-A558-1631-D1C719D5C7AB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/24/5ED5006F-66FA-A558-1631-D1C719D5C7AB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神经蜂</string>
		<key>cate_id</key>
		<string>969</string>
		<key>id</key>
		<string>20016341</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>969</string>
		<key>name</key>
		<string>你有病我有药</string>
		<key>number</key>
		<string>int611554</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/FD9644EC-9702-3C59-F999-AFDAF25E8C66.jpg</string>
		<key>series_id</key>
		<string>4417</string>
		<key>series_name</key>
		<string>神神经经2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/75F2BC37-86DE-1130-BE85-4179EB55B559.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/24/75F2BC37-86DE-1130-BE85-4179EB55B559.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>两个好友</string>
			<key>number</key>
			<string>int611554</string>
			<key>user_id</key>
			<string>70071655</string>
		</dict>
		<key>user_id</key>
		<string>70071655</string>
	</dict>
</array>
</plist>
