<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024439</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-哼哼</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/4D9F5C11-6490-9C29-218D-EC2B22C42F24.jpg</string>
		<key>series_id</key>
		<string>6523</string>
		<key>series_name</key>
		<string>拉肥尔系列07</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/33E2E20A-609D-02D3-9C18-D6DF43E2FF13.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/33E2E20A-609D-02D3-9C18-D6DF43E2FF13.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-高傲</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/8A28FC1A-52E5-F598-70F3-8C4FB521ED2A.jpg</string>
		<key>series_id</key>
		<string>6521</string>
		<key>series_name</key>
		<string>拉肥尔系列06</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/80615954-B50F-25DF-0388-CDBF38FA9748.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/80615954-B50F-25DF-0388-CDBF38FA9748.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-说教</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/87343603-421B-57C0-9282-1A0DBB5B2FFE.jpg</string>
		<key>series_id</key>
		<string>6521</string>
		<key>series_name</key>
		<string>拉肥尔系列06</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/A6A42A7D-3343-0ABE-307F-66A155D2AEDF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/A6A42A7D-3343-0ABE-307F-66A155D2AEDF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024395</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-太棒了</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/B15E1582-3CF7-5543-FD0C-7C5D56A52A9A.jpg</string>
		<key>series_id</key>
		<string>6513</string>
		<key>series_name</key>
		<string>拉肥尔系列05</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/C4B847F5-FF53-6301-B2C0-1414B5839FCA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/C4B847F5-FF53-6301-B2C0-1414B5839FCA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024397</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-奸笑</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/6A1307ED-E41B-C810-1FB2-944892791A7B.jpg</string>
		<key>series_id</key>
		<string>6513</string>
		<key>series_name</key>
		<string>拉肥尔系列05</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/AE4BEAD4-E070-8AE1-F582-CA21B3CF5F46.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/AE4BEAD4-E070-8AE1-F582-CA21B3CF5F46.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024433</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-喝可乐</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/D2750101-A1DE-F050-5925-95271314ECD8.jpg</string>
		<key>series_id</key>
		<string>6521</string>
		<key>series_name</key>
		<string>拉肥尔系列06</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/65119444-6638-B8AD-EE92-239F615101CC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/65119444-6638-B8AD-EE92-239F615101CC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024435</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-嘴馋</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/26DE9988-6813-2DC1-4279-BF7AE45470B3.jpg</string>
		<key>series_id</key>
		<string>6523</string>
		<key>series_name</key>
		<string>拉肥尔系列07</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/476B7FFF-E29C-5CCB-1020-0A185E359005.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/476B7FFF-E29C-5CCB-1020-0A185E359005.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-抠鼻</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/87A53E79-D1CF-5F25-AA30-CDDB08B62367.jpg</string>
		<key>series_id</key>
		<string>6521</string>
		<key>series_name</key>
		<string>拉肥尔系列06</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/2B397125-0982-50B2-F4D2-2D2B3FEA4E3A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/2B397125-0982-50B2-F4D2-2D2B3FEA4E3A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
	<dict>
		<key>author</key>
		<string>画画的拉肥尔</string>
		<key>cate_id</key>
		<string>1413</string>
		<key>id</key>
		<string>20024401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1413</string>
		<key>name</key>
		<string>来踢狗-喝雪碧</string>
		<key>number</key>
		<string>zhanglang_dzw</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/6F641613-7636-EC27-E5C5-00625152BB2A.jpg</string>
		<key>series_id</key>
		<string>6513</string>
		<key>series_name</key>
		<string>拉肥尔系列05</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/CACDE0CB-5302-74AE-50B0-810AA70FE88E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/30/CACDE0CB-5302-74AE-50B0-810AA70FE88E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我系Raphael</string>
			<key>number</key>
			<string>zhanglang_dzw</string>
			<key>user_id</key>
			<string>70482875</string>
		</dict>
		<key>user_id</key>
		<string>70482875</string>
	</dict>
</array>
</plist>
