<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008135</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>桃花眼</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/E3DE57BB-957C-E68D-236A-0337BDB7C764.jpg?v=2</string>
		<key>series_id</key>
		<string>2173</string>
		<key>series_name</key>
		<string>萌萌的表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/53A4696C-4DDE-5BD7-14E1-AE7328698687.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/53A4696C-4DDE-5BD7-14E1-AE7328698687.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>合家欢阿欢</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20005024</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>美少女</string>
		<key>number</key>
		<string>ini3292157</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/26/7BE9DB82-1FA6-6085-399C-4CE863153597.jpg?v=2</string>
		<key>series_id</key>
		<string>1388</string>
		<key>series_name</key>
		<string>你是我的眼</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/20/8BE04FB9-BC6C-851E-B5CA-81E82752EC8D.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/20/8BE04FB9-BC6C-851E-B5CA-81E82752EC8D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>合家欢阿欢阿欢</string>
			<key>number</key>
			<string>ini3292157</string>
			<key>user_id</key>
			<string>35808863</string>
		</dict>
		<key>user_id</key>
		<string>35808863</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20009927</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>=- -=</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/2C390103-0A27-5E8F-9E74-9137C75C36EB.jpg?v=2</string>
		<key>series_id</key>
		<string>2713</string>
		<key>series_name</key>
		<string>粉扑扑羞答答表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/601A5613-05FA-B7C3-FC08-B70E74ADB74E.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/601A5613-05FA-B7C3-FC08-B70E74ADB74E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008385</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>啊呀呀</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/4E70E03F-3CB0-A779-FB54-EB32B45FCF5C.jpg?v=2</string>
		<key>series_id</key>
		<string>2237</string>
		<key>series_name</key>
		<string>颜文字小表情儿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/23C4FF75-1F5B-3343-5EBF-D0468481E3B5.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/23C4FF75-1F5B-3343-5EBF-D0468481E3B5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20014671</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>哭 伤心</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/13/DB25DAE6-8EEC-8C73-C688-B6712A1F4D54.jpg</string>
		<key>series_id</key>
		<string>3997</string>
		<key>series_name</key>
		<string>表情show</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/13/55009493-842C-B1CC-BBB7-28670B405539.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/13/55009493-842C-B1CC-BBB7-28670B405539.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20009027</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>不高兴</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/06468412-69FB-9C51-E740-DB66D8C47547.jpg?v=2</string>
		<key>series_id</key>
		<string>2453</string>
		<key>series_name</key>
		<string>美食表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/CB459EF4-FE6E-278C-5234-014D85144F67.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/CB459EF4-FE6E-278C-5234-014D85144F67.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20005066</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>汤圆表情</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/23/39BF6042-0E94-83C3-8784-B60BCF8D0E08.jpg?v=2</string>
		<key>series_id</key>
		<string>1398</string>
		<key>series_name</key>
		<string>得得尼元宵节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/23/26C0E9CC-9D3E-C4F2-8172-8D7D9A92CDDB.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/23/26C0E9CC-9D3E-C4F2-8172-8D7D9A92CDDB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小纯纯</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20017987</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>笑哭</string>
		<key>number</key>
		<string>inn780890</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/BEF1D280-EEFB-C334-75FB-BFFFB2F8C4AA.jpg</string>
		<key>series_id</key>
		<string>4883</string>
		<key>series_name</key>
		<string>表情拽系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/F9A51C45-D99A-6E5C-4B48-7DB01E3E823F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/30/F9A51C45-D99A-6E5C-4B48-7DB01E3E823F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小小蠢蠢蠢蠢</string>
			<key>number</key>
			<string>inn780890</string>
			<key>user_id</key>
			<string>71780441</string>
		</dict>
		<key>user_id</key>
		<string>71780441</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20005360</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>陶醉</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/27/FF9FE441-AE02-8511-28B1-EC09368BC264.jpg?v=2</string>
		<key>series_id</key>
		<string>1472</string>
		<key>series_name</key>
		<string>萌表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/27/1C28FF79-D228-41FE-EF9D-7F54A8B70148.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/27/1C28FF79-D228-41FE-EF9D-7F54A8B70148.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
</array>
</plist>
