<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20006204</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>嘴馋</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/D5CC02F5-9803-841D-E252-42013F92DCE0.jpg?v=2</string>
		<key>series_id</key>
		<string>1682</string>
		<key>series_name</key>
		<string>小C表情系列-2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/8C389A1A-1C1E-D1F8-E54B-DA9F833F4058.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/8C389A1A-1C1E-D1F8-E54B-DA9F833F4058.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008273</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>吼吼</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/37929A46-E5CB-0340-D4F9-6FBDD0D0A438.jpg?v=2</string>
		<key>series_id</key>
		<string>2209</string>
		<key>series_name</key>
		<string>团子表情萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/62648C4F-AC55-E460-FAF4-28FE0D36757C.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/62648C4F-AC55-E460-FAF4-28FE0D36757C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20005358</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>微笑</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/72EA93C6-5996-2054-7FDC-2D9ABF03F483.jpg?v=2</string>
		<key>series_id</key>
		<string>1472</string>
		<key>series_name</key>
		<string>萌表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/6555A4B9-70C1-FB04-F8D0-B70B486E19A4.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/6555A4B9-70C1-FB04-F8D0-B70B486E19A4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>零度C橘子汽水</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008279</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>萌萌哒表情2</string>
		<key>number</key>
		<string>mantic</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/FFF0CC5D-4343-7439-B8FE-CADB2C8264E8.jpg?v=2</string>
		<key>series_id</key>
		<string>2211</string>
		<key>series_name</key>
		<string>萌萌哒的表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/11720DE8-E49A-47CE-47CD-DA1A28433558.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/02/11720DE8-E49A-47CE-47CD-DA1A28433558.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑吧鸡米花</string>
			<key>number</key>
			<string>mantic</string>
			<key>user_id</key>
			<string>19995159</string>
		</dict>
		<key>user_id</key>
		<string>19995159</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20009925</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>（・ｗ・）</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/CCAF7AD2-1745-1481-629C-8A929735565B.jpg?v=2</string>
		<key>series_id</key>
		<string>2713</string>
		<key>series_name</key>
		<string>粉扑扑羞答答表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/5E5B04D0-9B0F-8F66-D1DE-36C3AFA9E709.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/28/5E5B04D0-9B0F-8F66-D1DE-36C3AFA9E709.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008831</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>吐舌</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/58591487-26FF-0716-D5BE-EB7C28A667EF.jpg?v=2</string>
		<key>series_id</key>
		<string>2353</string>
		<key>series_name</key>
		<string>嘻嘻哈哈</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/02B69082-E2A3-6208-A96D-3789F9087FF2.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/02B69082-E2A3-6208-A96D-3789F9087FF2.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20006198</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>眨眼</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/F58E4A9F-6A0B-EB1F-49B1-428E0EFD50BB.jpg?v=2</string>
		<key>series_id</key>
		<string>1682</string>
		<key>series_name</key>
		<string>小C表情系列-2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/36260CEB-1B2B-2415-88C2-F42F58D186D8.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/11/36260CEB-1B2B-2415-88C2-F42F58D186D8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20008185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>温暖笑容</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/7CE7BA5B-6FA3-3AF6-C937-7D413B64F77B.jpg?v=2</string>
		<key>series_id</key>
		<string>2185</string>
		<key>series_name</key>
		<string>萌萌小表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/EA970F67-BA56-8EBF-80D4-3BB9C5CC0999.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/01/EA970F67-BA56-8EBF-80D4-3BB9C5CC0999.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>615</string>
		<key>id</key>
		<string>20009021</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>615</string>
		<key>name</key>
		<string>吐舌头</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/F4B93E18-36A7-4496-9B32-57F610C6B00F.jpg?v=2</string>
		<key>series_id</key>
		<string>2453</string>
		<key>series_name</key>
		<string>美食表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/7B34AECF-A8BA-CE15-B863-2915CB6C9E78.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/7B34AECF-A8BA-CE15-B863-2915CB6C9E78.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
</array>
</plist>
