<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20009227</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>烘焙</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/17/1547D982-43BF-0002-CCF7-E0308767450F.jpg?v=2</string>
		<key>series_id</key>
		<string>2507</string>
		<key>series_name</key>
		<string>得得尼-聚会美食</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/17/7A6FA12A-5FBB-8AD5-D7FE-CEC100CA5D03.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/17/7A6FA12A-5FBB-8AD5-D7FE-CEC100CA5D03.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20051881</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红包拿来</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/41177DFB-DFA1-5A94-84CC-67C15F4F55BD.jpg</string>
		<key>series_id</key>
		<string>13377</string>
		<key>series_name</key>
		<string>得得尼鸡年装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/D17371B2-63CE-28B8-9007-A09DED39E385.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/19/D17371B2-63CE-28B8-9007-A09DED39E385.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20005064</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>吃汤圆</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/D1C88C80-C679-07B3-FE5B-915F0BAAC098.jpg?v=2</string>
		<key>series_id</key>
		<string>1398</string>
		<key>series_name</key>
		<string>得得尼元宵节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/70BF00B1-0776-C023-8A19-E1073BAC9C07.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/70BF00B1-0776-C023-8A19-E1073BAC9C07.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20005410</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>腮红尼</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/F6BCC78C-A8C1-A98A-51B3-DB83F5ADB97E.jpg?v=2</string>
		<key>series_id</key>
		<string>1484</string>
		<key>series_name</key>
		<string>得得尼-帮尼化妆</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/BC68C943-AFBB-81B9-367F-0296A1ADD190.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/28/BC68C943-AFBB-81B9-367F-0296A1ADD190.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20005062</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>喂你吃汤圆</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/23/73AE8A80-DEF8-F3AE-113B-40D1D35F049E.jpg?v=2</string>
		<key>series_id</key>
		<string>1398</string>
		<key>series_name</key>
		<string>得得尼元宵节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/23/C6AC589D-EE5B-D055-EA0C-B17AD7B90DE7.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/23/C6AC589D-EE5B-D055-EA0C-B17AD7B90DE7.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20005600</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>女生就该爱自己</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/04/2AE9227E-B87D-5BC2-839E-83B2DC3A853B.jpg?v=2</string>
		<key>series_id</key>
		<string>1532</string>
		<key>series_name</key>
		<string>永远都是十八岁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/04/E6081F72-75B9-8B4A-A7E5-FBBF22345722.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/04/E6081F72-75B9-8B4A-A7E5-FBBF22345722.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20004118</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>绵绵尼</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/10/A3F93108-10E6-F076-A5A1-3B7461D604BB.jpg?v=2</string>
		<key>series_id</key>
		<string>1158</string>
		<key>series_name</key>
		<string>得得尼新年系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/10/0DC0FB68-9F8D-797D-A1F0-076C5C300B00.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/10/0DC0FB68-9F8D-797D-A1F0-076C5C300B00.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20005406</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>385</string>
		<key>name</key>
		<string>粉扑尼</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/A62B9A52-FEA6-E128-A2E4-3731D86A722E.jpg?v=2</string>
		<key>series_id</key>
		<string>1484</string>
		<key>series_name</key>
		<string>得得尼-帮尼化妆</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/BAD4B70A-49A3-71C0-5614-1513D27B04E1.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/28/BAD4B70A-49A3-71C0-5614-1513D27B04E1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>385</string>
		<key>id</key>
		<string>20042151</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鼠喝茶</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/04/CE3AD6BF-A1B7-C33E-9190-6AC24D11CC87.jpg</string>
		<key>series_id</key>
		<string>10941</string>
		<key>series_name</key>
		<string>得得尼爱丽丝系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/04/FAA9A570-1406-D387-90D2-CEEC61809F30.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/04/FAA9A570-1406-D387-90D2-CEEC61809F30.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
</array>
</plist>
