<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20054806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>被汉堡夹啦</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/9B2356DF-5339-D3AD-CC3A-A9156D9F1E58.jpg</string>
		<key>series_id</key>
		<string>14106</string>
		<key>series_name</key>
		<string>抖抖村愚人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/3E5B0252-C5F8-5FCF-7608-C757949B9FF6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/28/3E5B0252-C5F8-5FCF-7608-C757949B9FF6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20052719</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>杀光所有情侣</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/CBAE4BE0-C3C5-EE7F-FE8F-921270C39725.jpg</string>
		<key>series_id</key>
		<string>13585</string>
		<key>series_name</key>
		<string>抖抖村的恋人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/38767F30-3763-1888-9550-B3D073382BC8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/38767F30-3763-1888-9550-B3D073382BC8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20052717</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>英国绅士的爱</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/E8EC7CF1-82B8-26B1-C809-FDA5BE188C70.jpg</string>
		<key>series_id</key>
		<string>13585</string>
		<key>series_name</key>
		<string>抖抖村的恋人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/30FBB4D6-AE29-6314-67B6-6EF79B480EE8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/30FBB4D6-AE29-6314-67B6-6EF79B480EE8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20052715</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>抖抖煤炭好基友</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/340702AA-1E63-09A4-851A-3BAB17243EE4.jpg</string>
		<key>series_id</key>
		<string>13585</string>
		<key>series_name</key>
		<string>抖抖村的恋人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/00323303-D302-9040-2407-0BFA4B9853DA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/00323303-D302-9040-2407-0BFA4B9853DA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20052713</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中国兔啵小日本狐狸</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/BC265D39-2A3D-8894-7A93-32800123A382.jpg</string>
		<key>series_id</key>
		<string>13585</string>
		<key>series_name</key>
		<string>抖抖村的恋人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/F8004276-D936-0594-B19E-926F87AFB0B9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/F8004276-D936-0594-B19E-926F87AFB0B9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20050223</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>送你个大礼包</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/C8E5FB0A-1E1D-667B-4329-928BE394D8B0.jpg</string>
		<key>series_id</key>
		<string>12961</string>
		<key>series_name</key>
		<string>抖抖村圣诞的浪漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/E66BC169-7C4B-0C0C-0761-90C4DC3044F0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/E66BC169-7C4B-0C0C-0761-90C4DC3044F0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20050221</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>雪人我爱你</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/0FF82B1B-C56B-99C9-2BBE-4DCFD0D3E5C1.jpg</string>
		<key>series_id</key>
		<string>12961</string>
		<key>series_name</key>
		<string>抖抖村圣诞的浪漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/44E5AF24-66BD-8C3D-CBBD-88B7A6FAE0AA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/44E5AF24-66BD-8C3D-CBBD-88B7A6FAE0AA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20050219</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>雪地小人儿</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/EC3DAF93-C050-E4F3-9CAB-A6FEAE763065.jpg</string>
		<key>series_id</key>
		<string>12961</string>
		<key>series_name</key>
		<string>抖抖村圣诞的浪漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/4A6FA4D4-A8DC-90DA-3912-8817F4A38EB9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/20/4A6FA4D4-A8DC-90DA-3912-8817F4A38EB9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20050217</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞老人掉啦</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/67038146-0A30-BCEA-8C41-B771FDFF8462.jpg</string>
		<key>series_id</key>
		<string>12961</string>
		<key>series_name</key>
		<string>抖抖村圣诞的浪漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/CE6B663B-30CA-E693-D3F4-FBBC14077B79.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/20/CE6B663B-30CA-E693-D3F4-FBBC14077B79.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
</array>
</plist>
