<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20044757</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>头槌撞-抖抖村</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/03/4AB66F91-68AA-300B-7C6A-306718600BB3.jpg</string>
		<key>series_id</key>
		<string>11595</string>
		<key>series_name</key>
		<string>抖抖村超忐忑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/02/B60F48AF-BC13-5910-6F62-AF403C15DA21.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/02/B60F48AF-BC13-5910-6F62-AF403C15DA21.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20044531</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可乐亲亲</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/28/50271E0F-37A6-D9E1-7175-BDDD6BBA2F9D.jpg</string>
		<key>series_id</key>
		<string>11539</string>
		<key>series_name</key>
		<string>抖抖村超咻咻</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/28/F0913D9A-D6BB-77B3-7448-E25A72F71750.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/28/F0913D9A-D6BB-77B3-7448-E25A72F71750.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20043989</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>wifi不断</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/847CE6D7-8E31-F603-2B72-3C40ACB726B6.jpg</string>
		<key>series_id</key>
		<string>11401</string>
		<key>series_name</key>
		<string>抖抖村超夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/81A2BF34-A1D6-4FDA-B096-9E40B4A3EA1B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/81A2BF34-A1D6-4FDA-B096-9E40B4A3EA1B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20043985</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>冰爽西瓜</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/D182C593-789A-0D60-2350-8007FBD770F0.jpg</string>
		<key>series_id</key>
		<string>11401</string>
		<key>series_name</key>
		<string>抖抖村超夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/718E997D-CCD9-3AB9-B89A-231417E5FE72.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/718E997D-CCD9-3AB9-B89A-231417E5FE72.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20032351</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>吃甜甜圈不</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/11/1856BF0B-7905-6307-17F5-9005F2494B33.jpg</string>
		<key>series_id</key>
		<string>8493</string>
		<key>series_name</key>
		<string>抖抖村地洞系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/11/283DC60B-307F-539A-5983-32A2D690A4AB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/11/283DC60B-307F-539A-5983-32A2D690A4AB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20031221</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>易胖体质谁又懂</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/22/67424D83-BDDB-BC3A-3B64-2B61530156D9.jpg</string>
		<key>series_id</key>
		<string>8209</string>
		<key>series_name</key>
		<string>抖抖村吃货系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/22/7D48A13E-8D47-D618-80E8-1FB8BA7D1FF3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/22/7D48A13E-8D47-D618-80E8-1FB8BA7D1FF3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20031219</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>冰淇淋吃货</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/AE2A4585-823C-BE2B-017F-761E6EE06382.jpg</string>
		<key>series_id</key>
		<string>8209</string>
		<key>series_name</key>
		<string>抖抖村吃货系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/99F1C404-3B8A-EC2D-7A81-D82EB7064695.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/99F1C404-3B8A-EC2D-7A81-D82EB7064695.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20031215</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>甜甜圈吃货</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/97FD822D-9185-4756-25AC-1859A5637D4B.jpg</string>
		<key>series_id</key>
		<string>8209</string>
		<key>series_name</key>
		<string>抖抖村吃货系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/001F9B0B-4E2A-E0AD-2EAB-CC7BDBBFC271.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/22/001F9B0B-4E2A-E0AD-2EAB-CC7BDBBFC271.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20030781</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>扭曲睡</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/2600D5BE-BB06-EC36-3B65-F5432EDC62E0.jpg</string>
		<key>series_id</key>
		<string>8099</string>
		<key>series_name</key>
		<string>抖抖村困困小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/2C708A09-EFEB-DEE5-2E64-5EDC5D8AFC55.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/2C708A09-EFEB-DEE5-2E64-5EDC5D8AFC55.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
</array>
</plist>
