<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20030779</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>大字睡</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/F8A84671-33E7-9F4F-DD5E-395A178344E0.jpg</string>
		<key>series_id</key>
		<string>8099</string>
		<key>series_name</key>
		<string>抖抖村困困小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/DD3CE723-5BB0-CE42-F0BB-B26D9A880034.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/DD3CE723-5BB0-CE42-F0BB-B26D9A880034.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20030777</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>流口水睡</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/057E817E-2188-11D1-99DF-CC4A93F7B1B8.jpg</string>
		<key>series_id</key>
		<string>8099</string>
		<key>series_name</key>
		<string>抖抖村困困小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/3505F9AC-8126-00C4-75E9-1EE87E4B7BEC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/14/3505F9AC-8126-00C4-75E9-1EE87E4B7BEC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20030775</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>吮指睡</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/EEE1BFD8-75A2-B7CA-A6AE-EAA0D56E9AAF.jpg</string>
		<key>series_id</key>
		<string>8099</string>
		<key>series_name</key>
		<string>抖抖村困困小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/692F84BA-A127-8F20-B624-AD17E6C46108.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/14/692F84BA-A127-8F20-B624-AD17E6C46108.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20029873</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>揪脸蛋</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/64F7E76E-7406-60E2-263F-AB48362DB73F.jpg</string>
		<key>series_id</key>
		<string>7875</string>
		<key>series_name</key>
		<string>抖抖村吐舌头系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/613B2BC6-4209-ED4A-F040-95160F317EA8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/613B2BC6-4209-ED4A-F040-95160F317EA8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20029871</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>舔人杰克</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/81210D58-2C03-F4F6-8FB4-02C6CD7CC9DE.jpg</string>
		<key>series_id</key>
		<string>7875</string>
		<key>series_name</key>
		<string>抖抖村吐舌头系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/02FE2387-CED5-22A7-8BA3-692960568EF3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/02FE2387-CED5-22A7-8BA3-692960568EF3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20029869</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>舔人煤炭</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/59568892-E47F-FD37-EFCD-6B8BE6611888.jpg</string>
		<key>series_id</key>
		<string>7875</string>
		<key>series_name</key>
		<string>抖抖村吐舌头系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/86490867-B584-718A-58C5-511F88091D0D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/01/86490867-B584-718A-58C5-511F88091D0D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20011667</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>绿巨人</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/DE2BFCD2-F63A-241F-AE2A-9D3EE84A8614.jpg</string>
		<key>series_id</key>
		<string>3153</string>
		<key>series_name</key>
		<string>抖抖村复联小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/67C3CDD4-1353-6E7D-6E0F-F666B88C17F1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/67C3CDD4-1353-6E7D-6E0F-F666B88C17F1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20011663</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>雷神</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/6AEDF37D-7F00-187B-F45F-3E5A3BF146BA.jpg</string>
		<key>series_id</key>
		<string>3153</string>
		<key>series_name</key>
		<string>抖抖村复联小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/C5550D2C-8252-8E43-FAFF-BF4CBD2C1AFF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/C5550D2C-8252-8E43-FAFF-BF4CBD2C1AFF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20011661</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>队长</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/B23198BA-83C0-359A-A146-4FCE6F9C6825.jpg</string>
		<key>series_id</key>
		<string>3153</string>
		<key>series_name</key>
		<string>抖抖村复联小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/E6C3C254-6ADF-49A6-1862-67E91C5DF779.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/E6C3C254-6ADF-49A6-1862-67E91C5DF779.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
</array>
</plist>
