<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20005020</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>你别过来</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/48F56E3D-B123-56D4-1C55-66B0E573DC0F.jpg?v=2</string>
		<key>series_id</key>
		<string>1386</string>
		<key>series_name</key>
		<string>抖抖村第二辑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/C1D7B7A7-8695-D933-4DDB-C84C7F111394.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/C1D7B7A7-8695-D933-4DDB-C84C7F111394.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20005018</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>啃头</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/20/9300B0AC-84C8-7168-594C-073E835CFAEB.jpg?v=2</string>
		<key>series_id</key>
		<string>1386</string>
		<key>series_name</key>
		<string>抖抖村第二辑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/20/EF2713F9-B0DD-0679-2171-7FCB22995D1D.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/20/EF2713F9-B0DD-0679-2171-7FCB22995D1D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20005016</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>贱婢</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/20/71B666F3-186F-6A77-2C67-146B1EB9A80A.jpg?v=2</string>
		<key>series_id</key>
		<string>1386</string>
		<key>series_name</key>
		<string>抖抖村第二辑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/20/F3F9C73F-4ED5-F590-EC12-74A830E5CC50.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/20/F3F9C73F-4ED5-F590-EC12-74A830E5CC50.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20005014</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>啵一个</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/A45D5E52-F7B9-ED65-53ED-32E024E87798.jpg?v=2</string>
		<key>series_id</key>
		<string>1386</string>
		<key>series_name</key>
		<string>抖抖村第二辑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/91ACDC04-BC3F-82B4-41CF-CBA880133537.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/20/91ACDC04-BC3F-82B4-41CF-CBA880133537.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20003818</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>抱抱-煤炭</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/06/A217ABE2-33B3-AA62-3DAC-A7101723EE9A.jpg?v=2</string>
		<key>series_id</key>
		<string>1080</string>
		<key>series_name</key>
		<string>抖抖村</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/06/1CC1DBDE-7DB1-8C9A-37DA-2583437B4E5F.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/06/1CC1DBDE-7DB1-8C9A-37DA-2583437B4E5F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20003814</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>亲亲-煤炭</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/06/2C2F48AE-693F-ACF0-0853-CDEE3542F0A8.jpg?v=2</string>
		<key>series_id</key>
		<string>1080</string>
		<key>series_name</key>
		<string>抖抖村</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/06/BA8F8222-A4FA-AA6E-1302-73611CCE78B7.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/06/BA8F8222-A4FA-AA6E-1302-73611CCE78B7.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20029867</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>518</string>
		<key>name</key>
		<string>舔人抖抖</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/4ACA50A3-CA7F-3F91-8C0A-7AA6A099CA95.jpg</string>
		<key>series_id</key>
		<string>7875</string>
		<key>series_name</key>
		<string>抖抖村吐舌头系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/A7A13D0A-044B-A12E-5B92-B81F7DE0A3A5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/01/A7A13D0A-044B-A12E-5B92-B81F7DE0A3A5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20047715</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>抖抖出太阳</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/F2CD0433-2E09-C6D2-937F-72F0A328512D.jpg</string>
		<key>series_id</key>
		<string>12335</string>
		<key>series_name</key>
		<string>抖抖村快乐天气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/7C0497D5-837A-C2AA-9321-F6F5E2FDD2C2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/11/7C0497D5-837A-C2AA-9321-F6F5E2FDD2C2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
	<dict>
		<key>author</key>
		<string>抖抖村</string>
		<key>cate_id</key>
		<string>518</string>
		<key>id</key>
		<string>20044755</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大脑门撞-抖抖村</string>
		<key>number</key>
		<string>ind3490714</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/03/FE246C6E-ABEB-05E6-AFA4-33F79C980124.jpg</string>
		<key>series_id</key>
		<string>11595</string>
		<key>series_name</key>
		<string>抖抖村超忐忑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/03/20B33FA8-ED95-B950-1548-9871DDCF2833.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/03/20B33FA8-ED95-B950-1548-9871DDCF2833.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>DDM大王</string>
			<key>number</key>
			<string>ind3490714</string>
			<key>user_id</key>
			<string>37783940</string>
		</dict>
		<key>user_id</key>
		<string>37783940</string>
	</dict>
</array>
</plist>
