<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {600, 600}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>part</key>
		<dict>
			<key>Root</key>
			<string>part</string>
			<key>__text</key>
			<array>
				<string>
        </string>
				<string>
    </string>
			</array>
			<key>index</key>
			<string>0</string>
			<key>path</key>
			<dict>
				<key>Root</key>
				<string>path</string>
				<key>__text</key>
				<array>
					<string>
            </string>
					<string>
        </string>
				</array>
				<key>rect</key>
				<dict>
					<key>Root</key>
					<string>rect</string>
					<key>height</key>
					<string>375</string>
					<key>width</key>
					<string>375</string>
					<key>x</key>
					<string>112</string>
					<key>y</key>
					<string>77</string>
				</dict>
				<key>shape</key>
				<string>rectangle</string>
			</dict>
			<key>zIndex</key>
			<string>1</string>
		</dict>
		<key>text</key>
		<array>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>center</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>Have a good time!</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Bradley Hand</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>44</string>
					<key>width</key>
					<string>372</string>
					<key>x</key>
					<string>113</string>
					<key>y</key>
					<string>516</string>
				</dict>
				<key>id</key>
				<string>txt_MTL</string>
				<key>maxSize</key>
				<string>31</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>31</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>center</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>15:30</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Avenir-Black</string>
				</dict>
				<key>format</key>
				<string>HH:mm</string>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>64</string>
					<key>width</key>
					<string>224</string>
					<key>x</key>
					<string>190</string>
					<key>y</key>
					<string>464</string>
				</dict>
				<key>id</key>
				<string>txt_DVI</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>43</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>43</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
