<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-眼镜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/46551720-362C-F61B-6C49-7DEB50AB45E9.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/E9C39E43-C787-7448-6D67-AA0878FBD016.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/E9C39E43-C787-7448-6D67-AA0878FBD016.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25406</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-bobo头</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/15/AFB4D3B4-1493-BA72-573E-22CA227D5CA1.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/15/EED62F49-D7FB-65C2-B322-28968A15C9B1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/15/EED62F49-D7FB-65C2-B322-28968A15C9B1.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25407</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-魅卷</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/4D46963B-3064-5389-E855-CA52C1BED96C.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/D8C3E0A1-9D35-572C-B903-FE1B2DFE74CA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/15/D8C3E0A1-9D35-572C-B903-FE1B2DFE74CA.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25409</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-朋克短发</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/8DC08DEC-24E7-CC80-A62E-E46196929BAD.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/3E21F237-BBBF-2B37-9C1F-9FF450B06456.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/3E21F237-BBBF-2B37-9C1F-9FF450B06456.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25405</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-耳机</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/35F52267-7E23-26D7-7E49-B54347FD03D3.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/0081EE06-E906-F3D4-1697-2B72C6F503D0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/0081EE06-E906-F3D4-1697-2B72C6F503D0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25413</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-花环</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/71CB98C8-DAE3-0294-524D-4F01EBC28EB5.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/4361F6BE-20D5-92C3-A3DF-48DEE1D37263.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/15/4361F6BE-20D5-92C3-A3DF-48DEE1D37263.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>封宇娟</string>
		<key>cate_id</key>
		<string>2801</string>
		<key>id</key>
		<string>25404</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美涛-挎包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/15/4CC49756-DD7D-7FF2-F778-306DC5761B6B.jpg</string>
		<key>series_id</key>
		<string>2801</string>
		<key>series_name</key>
		<string>美涛</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/15/4AD8BE7B-B7C6-2957-49CF-76BD080E04B2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/15/4AD8BE7B-B7C6-2957-49CF-76BD080E04B2.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
