<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>脑电波</string>
		<key>cate_id</key>
		<string>2883</string>
		<key>id</key>
		<string>28102</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>脑子有屎-脑电波</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/28/25FF00A2-ABC0-CFBE-2B35-4AD7209154CC.jpg</string>
		<key>series_id</key>
		<string>2883</string>
		<key>series_name</key>
		<string>脑电波 萌宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/28/975E19A1-0222-1534-1A37-D1851C568EEC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/28/975E19A1-0222-1534-1A37-D1851C568EEC.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>脑电波</string>
		<key>cate_id</key>
		<string>2883</string>
		<key>id</key>
		<string>20043835</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>雨天开心ben</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/115C9782-7540-03F3-78EB-074C02C7B359.jpg</string>
		<key>series_id</key>
		<string>11363</string>
		<key>series_name</key>
		<string>呆萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/04DA70A8-EBB6-E86C-6C44-B6CE6CB34015.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/14/04DA70A8-EBB6-E86C-6C44-B6CE6CB34015.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>脑电波发射中心</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103191454</string>
		</dict>
		<key>user_id</key>
		<string>103191454</string>
	</dict>
</array>
</plist>
