<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20046065</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好巧</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/D3EDB779-2AF3-14DD-9BDF-80367A7AA0A9.jpg</string>
		<key>series_id</key>
		<string>11923</string>
		<key>series_name</key>
		<string>高糖甜蜜对白</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/22187467-54E9-81ED-E1CF-68B0AE39ADAE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/22187467-54E9-81ED-E1CF-68B0AE39ADAE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20026819</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>南山南</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/91DDB8D3-7C10-354B-5F98-A6EF0EC78882.jpg</string>
		<key>series_id</key>
		<string>7117</string>
		<key>series_name</key>
		<string>叶小星的文艺字5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/5010191C-1D89-E28D-DBA7-C9908CA7C1BB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/5010191C-1D89-E28D-DBA7-C9908CA7C1BB.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>22303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>歌浴森 最新单曲——街头巷尾</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/15/040D1456-EB95-AD87-FCCE-F10751CF5B0D.jpg</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/15/D0773D84-8CD2-6BBB-CD69-9EC093B326DA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/15/D0773D84-8CD2-6BBB-CD69-9EC093B326DA.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20040679</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>得不到的永远在骚动</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/2C385C84-7838-FBE9-CAD8-C83C23AF86D5.jpg</string>
		<key>series_id</key>
		<string>10573</string>
		<key>series_name</key>
		<string>多多酱歌词系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/A7C5CEFC-C695-D077-9B6D-A79D1DAB5D33.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/A7C5CEFC-C695-D077-9B6D-A79D1DAB5D33.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20008527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>浮夸</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/03/76EB41ED-132C-1068-E3C5-F56C50058C2B.jpg?v=2</string>
		<key>series_id</key>
		<string>2273</string>
		<key>series_name</key>
		<string>小清新文艺范er</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/03/F8720AF0-8FCB-1F44-9368-A049C330E884.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/03/F8720AF0-8FCB-1F44-9368-A049C330E884.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20004930</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>我就是我</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/04/01/3699DAE0-694C-C017-4CDE-F1C04B0924A9.jpg?v=2</string>
		<key>series_id</key>
		<string>1362</string>
		<key>series_name</key>
		<string>一句一心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/04/01/9FAEBA06-5C2F-32A8-85A9-AC4D44C9CB8A.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/04/01/9FAEBA06-5C2F-32A8-85A9-AC4D44C9CB8A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>1142</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>那一天会有人代替</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/AE79DAE1-9AE7-4799-3D99-F9776A111B16.jpg?v=2</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/4A54A83F-6781-9D1E-93D4-6EC2A748256B.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/4A54A83F-6781-9D1E-93D4-6EC2A748256B.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20043591</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>演员</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/10/816F7B9D-4C17-192C-79E2-489C33990FAF.jpg</string>
		<key>series_id</key>
		<string>11301</string>
		<key>series_name</key>
		<string>心情贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/10/566A8445-2F49-EFA6-794B-D68E22C90589.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/10/566A8445-2F49-EFA6-794B-D68E22C90589.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>1136</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>最美的不是下雨天</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/E0F22A26-E888-4BF6-F352-21A4E26C0BB1.jpg?v=2</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/4F0C6CB4-30BE-A08B-3F00-AA4A22032845.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/16/4F0C6CB4-30BE-A08B-3F00-AA4A22032845.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
