<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20040675</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小情歌</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/A48AE44B-5B69-A097-D035-B0BCBBE01753.jpg</string>
		<key>series_id</key>
		<string>10573</string>
		<key>series_name</key>
		<string>多多酱歌词系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/ADFCF7F3-3EB2-481F-EDA0-0C1508BE2EB0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/12/ADFCF7F3-3EB2-481F-EDA0-0C1508BE2EB0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20046259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>微微一笑中毒</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/12/EF9FC765-4E07-F1F0-0F6A-9F1AB37FCBC1.jpg</string>
		<key>series_id</key>
		<string>11971</string>
		<key>series_name</key>
		<string>潮流时尚文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/05/D3C801C2-CDDE-D492-C2D6-5F7F6AC92E98.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/05/D3C801C2-CDDE-D492-C2D6-5F7F6AC92E98.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20009449</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>飞得更高</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/22/0470FB80-A9A3-D320-5FB9-37E50B0188F4.jpg?v=2</string>
		<key>series_id</key>
		<string>2593</string>
		<key>series_name</key>
		<string>一句一心情2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/22/DF9ABB20-8D6B-A862-44A7-C5D2EA3FBB9D.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/22/DF9ABB20-8D6B-A862-44A7-C5D2EA3FBB9D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>2937</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>我在人民广场吃炸鸡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/27/75FDE773-FA57-F344-C949-3F9DD40F84A3.jpg</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/27/608E703F-C684-25EF-5F70-11EBB2349E00.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/27/608E703F-C684-25EF-5F70-11EBB2349E00.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20046691</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>W两个世界-我爱你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/14/E2E4B36D-C020-FF59-2C97-618942BAA361.jpg</string>
		<key>series_id</key>
		<string>12079</string>
		<key>series_name</key>
		<string>两个世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/14/7F8AE384-28EA-C6CC-11B2-12DCA1DC8D40.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/14/7F8AE384-28EA-C6CC-11B2-12DCA1DC8D40.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20046069</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>陌上花开可缓缓归</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/03B78069-3643-6377-6063-9592EC8DF7CC.jpg</string>
		<key>series_id</key>
		<string>11923</string>
		<key>series_name</key>
		<string>高糖甜蜜对白</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/E1857612-1C43-9E2D-8917-2BBC11C4CC74.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/E1857612-1C43-9E2D-8917-2BBC11C4CC74.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>1132</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>想回到过去</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/16/3B19D9F7-C9DA-5CEB-15A6-88BE0790FA91.jpg?v=2</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/16/55454138-FF85-696F-2037-238CA427417E.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/16/55454138-FF85-696F-2037-238CA427417E.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>1474</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>394</string>
		<key>name</key>
		<string>有一个地方只有我们知道</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/02/10/FABC9769-3AA2-AFF6-EF68-8335B4783892.jpg?v=2</string>
		<key>series_id</key>
		<string>394</string>
		<key>series_name</key>
		<string>影视音乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/02/10/6B4E566E-F9F1-AB9C-692D-A83B93F06735.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/02/10/6B4E566E-F9F1-AB9C-692D-A83B93F06735.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>伊欣漾</string>
		<key>cate_id</key>
		<string>394</string>
		<key>id</key>
		<string>20038509</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>时间煮雨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/28/C788E19E-0009-0C16-44D9-E86632D5AF04.jpg</string>
		<key>series_id</key>
		<string>10031</string>
		<key>series_name</key>
		<string>梵梵的文艺字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/28/E1BD38F1-D304-9E3E-6A34-6763E0F2BB58.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/28/E1BD38F1-D304-9E3E-6A34-6763E0F2BB58.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我不知道</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80717928</string>
		</dict>
		<key>user_id</key>
		<string>80717928</string>
	</dict>
</array>
</plist>
