<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>阿九九九九</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20052175</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红包纸包鸡</string>
		<key>number</key>
		<string>inb4400456</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/1F0C5D19-0FE4-AB65-3770-FDB7663BDDAF.jpg</string>
		<key>series_id</key>
		<string>13449</string>
		<key>series_name</key>
		<string>非洲鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/1E3C37FE-42C2-E629-82E5-7079C14024B3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/1E3C37FE-42C2-E629-82E5-7079C14024B3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>风吹鸭毛绿_</string>
			<key>number</key>
			<string>inb4400456</string>
			<key>user_id</key>
			<string>46791000</string>
		</dict>
		<key>user_id</key>
		<string>46791000</string>
	</dict>
	<dict>
		<key>author</key>
		<string>丸子君WZJ</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20051751</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃年夜饭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/F73E8A04-F2F7-A717-3E44-FFC86289AB59.jpg</string>
		<key>series_id</key>
		<string>13343</string>
		<key>series_name</key>
		<string>无脸男过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/21421388-F390-13CA-948D-61E443594B44.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/21421388-F390-13CA-948D-61E443594B44.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>丸子君WZJ</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78050846</string>
		</dict>
		<key>user_id</key>
		<string>78050846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>丸子君WZJ</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20051749</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>过年好</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/1C803441-62A2-3CCA-05B3-1597A708E547.jpg</string>
		<key>series_id</key>
		<string>13343</string>
		<key>series_name</key>
		<string>无脸男过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/8CE8CA7A-CC0A-58C9-B370-A0C2A3B2DE62.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/8CE8CA7A-CC0A-58C9-B370-A0C2A3B2DE62.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>丸子君WZJ</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78050846</string>
		</dict>
		<key>user_id</key>
		<string>78050846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>丸子君WZJ</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20051747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>放烟花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/531682D6-E917-23A4-61C1-1B328C55582C.jpg</string>
		<key>series_id</key>
		<string>13343</string>
		<key>series_name</key>
		<string>无脸男过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/9E82A8BF-F3CD-9713-8E88-3CF587760992.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/9E82A8BF-F3CD-9713-8E88-3CF587760992.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>丸子君WZJ</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78050846</string>
		</dict>
		<key>user_id</key>
		<string>78050846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>丸子君WZJ</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20051745</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>比心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/4E63FDD4-5CB3-BE48-D9A8-68111684C034.jpg</string>
		<key>series_id</key>
		<string>13343</string>
		<key>series_name</key>
		<string>无脸男过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/A23E6E4E-A096-1287-4988-EDD57517A339.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/A23E6E4E-A096-1287-4988-EDD57517A339.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>丸子君WZJ</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78050846</string>
		</dict>
		<key>user_id</key>
		<string>78050846</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿九九九九</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20052173</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玩鸡鸡</string>
		<key>number</key>
		<string>inb4400456</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/52EDF082-0B56-2EDB-F9CA-BC2BC059E5C6.jpg</string>
		<key>series_id</key>
		<string>13449</string>
		<key>series_name</key>
		<string>非洲鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/7D4305D0-8360-FF84-3D64-12657C424791.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/7D4305D0-8360-FF84-3D64-12657C424791.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>风吹鸭毛绿_</string>
			<key>number</key>
			<string>inb4400456</string>
			<key>user_id</key>
			<string>46791000</string>
		</dict>
		<key>user_id</key>
		<string>46791000</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿九九九九</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20052171</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>花痴鸡</string>
		<key>number</key>
		<string>inb4400456</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/6A95546B-A16B-EB3B-75A1-A962BF5295AD.jpg</string>
		<key>series_id</key>
		<string>13449</string>
		<key>series_name</key>
		<string>非洲鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/DEA1C8DB-C84A-DC82-7335-0D29DDE4D382.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/DEA1C8DB-C84A-DC82-7335-0D29DDE4D382.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>风吹鸭毛绿_</string>
			<key>number</key>
			<string>inb4400456</string>
			<key>user_id</key>
			<string>46791000</string>
		</dict>
		<key>user_id</key>
		<string>46791000</string>
	</dict>
	<dict>
		<key>author</key>
		<string>阿九九九九</string>
		<key>cate_id</key>
		<string>3510</string>
		<key>id</key>
		<string>20052169</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>深夜食堂鸡</string>
		<key>number</key>
		<string>inb4400456</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/FC5C338E-D8A5-E8EF-7D90-6700D0A1217C.jpg</string>
		<key>series_id</key>
		<string>13449</string>
		<key>series_name</key>
		<string>非洲鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/535775B2-69D4-4B16-3D63-10C6BC950362.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/22/535775B2-69D4-4B16-3D63-10C6BC950362.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>风吹鸭毛绿_</string>
			<key>number</key>
			<string>inb4400456</string>
			<key>user_id</key>
			<string>46791000</string>
		</dict>
		<key>user_id</key>
		<string>46791000</string>
	</dict>
</array>
</plist>
