<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051891</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好运传送</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/7AD9C4D6-30B3-6552-F8AD-6F8BA448EE92.jpg</string>
		<key>series_id</key>
		<string>13379</string>
		<key>series_name</key>
		<string>好运袭来</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/D23D8E81-4C02-59A3-B799-FB887261E269.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/19/D23D8E81-4C02-59A3-B799-FB887261E269.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052293</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>鸡蛋装饰花边</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/513BEAAD-7368-50FA-0F48-7D75891401C1.jpg</string>
		<key>series_id</key>
		<string>13479</string>
		<key>series_name</key>
		<string>过完年更美了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/24/AE109593-B223-BA6B-F2B1-F8FF0CF44A0A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/24/AE109593-B223-BA6B-F2B1-F8FF0CF44A0A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>湿小怪不怪谁怪</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052207</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一地鸡毛</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/7645F477-3A50-9869-95A0-0BE0310DB2C3.jpg</string>
		<key>series_id</key>
		<string>13457</string>
		<key>series_name</key>
		<string>鸡年鸡窝头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/CF3967B9-84A5-B5BD-F203-DE46B8C6464A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/22/CF3967B9-84A5-B5BD-F203-DE46B8C6464A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>湿小怪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>31278789</string>
		</dict>
		<key>user_id</key>
		<string>31278789</string>
	</dict>
</array>
</plist>
