<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051599</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>财宝</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/16/4D4FDF0D-F847-29B4-6975-341D6258A02A.jpg</string>
		<key>series_id</key>
		<string>13305</string>
		<key>series_name</key>
		<string>一心发财</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/16/AE973F1D-B198-181A-2F29-75B4C94CF079.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/16/AE973F1D-B198-181A-2F29-75B4C94CF079.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052079</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红包雨来啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/2093C0B1-D596-3A96-4D60-A40F88CF874B.jpg</string>
		<key>series_id</key>
		<string>13425</string>
		<key>series_name</key>
		<string>红包雨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/5AB7931C-D109-54CD-CBEB-3004A4B8170B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/5AB7931C-D109-54CD-CBEB-3004A4B8170B.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051593</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>铃铛</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/16/00EB10C4-0CB2-E776-8703-4068071C74E7.jpg</string>
		<key>series_id</key>
		<string>13305</string>
		<key>series_name</key>
		<string>一心发财</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/16/12D2FF3B-51D1-BD54-8BBB-F93FDC3BAEC6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/16/12D2FF3B-51D1-BD54-8BBB-F93FDC3BAEC6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051693</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>2017加油边框</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/87323895-489C-0D5B-1A84-03D9972968B6.jpg</string>
		<key>series_id</key>
		<string>13329</string>
		<key>series_name</key>
		<string>小年快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/869A63B9-3075-9D20-00DC-3A8554E61431.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/18/869A63B9-3075-9D20-00DC-3A8554E61431.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小盆栽</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051665</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>年年有鱼边框</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/17/F32A5B34-C816-1327-FA6D-EA31B2E4F4EF.jpg</string>
		<key>series_id</key>
		<string>13323</string>
		<key>series_name</key>
		<string>咕叽咕叽过新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/17/FB1FA15D-92B3-A4D1-2B9B-91567FE4EE23.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/17/FB1FA15D-92B3-A4D1-2B9B-91567FE4EE23.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小盆栽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78689073</string>
		</dict>
		<key>user_id</key>
		<string>78689073</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052309</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>灯笼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/3F27C90E-DF41-4323-FB0B-C0736C6EA4D9.jpg</string>
		<key>series_id</key>
		<string>13483</string>
		<key>series_name</key>
		<string>2017红红火火</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/158AFEAF-5794-BA8D-293A-F33A0A6BA0D4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/23/158AFEAF-5794-BA8D-293A-F33A0A6BA0D4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052291</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>装饰花边</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/23/F122E841-7311-2BFC-6C99-BD6594FDE33E.jpg</string>
		<key>series_id</key>
		<string>13479</string>
		<key>series_name</key>
		<string>过完年更美了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/24/3CC5DC8A-D832-CEEA-43BA-EE3D204E62FA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/24/3CC5DC8A-D832-CEEA-43BA-EE3D204E62FA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20051799</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>鞭炮</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/36C3D35D-DD3B-25AD-F554-DD13EC7F446A.jpg</string>
		<key>series_id</key>
		<string>13355</string>
		<key>series_name</key>
		<string>欢喜回家过年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/E323DCA2-9B72-C7C3-D656-97104BC9DD0C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/18/E323DCA2-9B72-C7C3-D656-97104BC9DD0C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3378</string>
		<key>id</key>
		<string>20052073</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鸡钱袋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/21/D1C5C73C-CE48-B6D3-7DB1-BDA042FD884B.jpg</string>
		<key>series_id</key>
		<string>13425</string>
		<key>series_name</key>
		<string>红包雨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/21/62C3C5AF-C2CD-C2F6-68FE-44FB3A4C5079.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/21/62C3C5AF-C2CD-C2F6-68FE-44FB3A4C5079.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
</array>
</plist>
