<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20007337</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>no</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/20/72C1BDEE-AB79-D48D-B51B-DEDE00207D0B.jpg?v=2</string>
		<key>series_id</key>
		<string>1967</string>
		<key>series_name</key>
		<string>小对话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/20/A369EDEA-E379-DDC1-634F-07115609653E.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/20/A369EDEA-E379-DDC1-634F-07115609653E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20006420</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>纳尼</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/45772620-9F85-64B9-9773-DE2911260FEC.jpg?v=2</string>
		<key>series_id</key>
		<string>1736</string>
		<key>series_name</key>
		<string>可爱对话框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/AD5C36C2-A776-5191-553F-0DB80AAC9AD4.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/AD5C36C2-A776-5191-553F-0DB80AAC9AD4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20009591</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>喵</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/9831BDEF-9F0C-47F4-23CB-98E01E9A6628.jpg?v=2</string>
		<key>series_id</key>
		<string>2629</string>
		<key>series_name</key>
		<string>情景文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/84E4613E-C24D-0515-835F-79C15771D694.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/84E4613E-C24D-0515-835F-79C15771D694.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小娘子法号爱俏</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20018447</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>嗷~</string>
		<key>number</key>
		<string>ini4130642</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/00449B91-7B52-5477-9B44-92447D89C0B9.jpg</string>
		<key>series_id</key>
		<string>4999</string>
		<key>series_name</key>
		<string>七月语录</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/0B20A28E-E81B-8E35-0438-61C037ED65FF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/0B20A28E-E81B-8E35-0438-61C037ED65FF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小娘子法号爱俏</string>
			<key>number</key>
			<string>ini4130642</string>
			<key>user_id</key>
			<string>44126021</string>
		</dict>
		<key>user_id</key>
		<string>44126021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小伊</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20012453</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>ohshit</string>
		<key>number</key>
		<string>inh3235126</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/29/5909B532-F5A5-1A6A-6BF4-6516EAB5179F.jpg</string>
		<key>series_id</key>
		<string>3361</string>
		<key>series_name</key>
		<string>小伊贴纸-文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/29/FC4C1591-E076-528A-DD3C-4B13B359B9BB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/29/FC4C1591-E076-528A-DD3C-4B13B359B9BB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>伊人花醉花</string>
			<key>number</key>
			<string>inh3235126</string>
			<key>user_id</key>
			<string>35240675</string>
		</dict>
		<key>user_id</key>
		<string>35240675</string>
	</dict>
	<dict>
		<key>author</key>
		<string>比兽还帅</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20028741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>bang</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/29/1B07023B-D995-F744-02E9-84CA0C67E4AC.jpg</string>
		<key>series_id</key>
		<string>7597</string>
		<key>series_name</key>
		<string>让文字飞飞飞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/29/9FE3C8A8-ED97-CCFC-6D55-29658E295F77.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/29/9FE3C8A8-ED97-CCFC-6D55-29658E295F77.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李想逃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>79626037</string>
		</dict>
		<key>user_id</key>
		<string>79626037</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20053842</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>下午茶时间</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/A5051E4D-E8A1-C21E-D2FC-E2C0C3BAABCB.jpg</string>
		<key>series_id</key>
		<string>13866</string>
		<key>series_name</key>
		<string>天使同萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/06760A65-4804-E221-D646-0389641BCEB7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/01/06760A65-4804-E221-D646-0389641BCEB7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20038543</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>boom</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/BA6EA4A8-69AF-CCAA-B080-0A03CA6E72D4.jpg</string>
		<key>series_id</key>
		<string>10039</string>
		<key>series_name</key>
		<string>大铃文字控</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/02890434-1DE7-34D4-DC3F-B36C8B32B02D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/27/02890434-1DE7-34D4-DC3F-B36C8B32B02D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20007339</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>wow</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/602E92E5-5AC6-F853-A681-DEBE6DC0CC11.jpg?v=2</string>
		<key>series_id</key>
		<string>1967</string>
		<key>series_name</key>
		<string>小对话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/AC008271-3F77-37C1-AFCA-C662E14ACDA1.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/AC008271-3F77-37C1-AFCA-C662E14ACDA1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
</array>
</plist>
