<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>珈玙</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20053628</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>冰冷的狗粮拍在脸上</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/26/FC4152F9-CC2D-61A8-195F-3ED196930C5A.jpg</string>
		<key>series_id</key>
		<string>13812</string>
		<key>series_name</key>
		<string>单身狗，虐狗系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/26/3DA04E2C-FE27-E912-2D77-442BCE68C47A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/26/3DA04E2C-FE27-E912-2D77-442BCE68C47A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>橙咖咖</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80247173</string>
		</dict>
		<key>user_id</key>
		<string>80247173</string>
	</dict>
</array>
</plist>
