<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20050867</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>坚强的自己</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/3F7DC634-5CFA-2C11-4409-05E0F22C9DC6.jpg</string>
		<key>series_id</key>
		<string>13123</string>
		<key>series_name</key>
		<string>治愈系小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/56581B66-BC14-21E4-8A90-FD077994FD8E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/56581B66-BC14-21E4-8A90-FD077994FD8E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘟小图</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74468460</string>
		</dict>
		<key>user_id</key>
		<string>74468460</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20040617</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>WOW</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/1C1736E0-BC0A-D3B3-C5E6-145113EA176D.jpg</string>
		<key>series_id</key>
		<string>10559</string>
		<key>series_name</key>
		<string>多多酱文字系列4</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/C21A40F6-51E4-25B4-54DF-19AE9A42019E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/12/C21A40F6-51E4-25B4-54DF-19AE9A42019E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20021645</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>wow</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/CE07E615-D5BC-467C-A0BE-F11B86563DD5.jpg</string>
		<key>series_id</key>
		<string>5827</string>
		<key>series_name</key>
		<string>潮流文字系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/A41D8A13-DCC9-01C0-9E81-1C553E6D894D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/A41D8A13-DCC9-01C0-9E81-1C553E6D894D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20033435</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>哟</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/56CE8F7A-9744-6BCE-DA07-BF58EA679FBD.jpg</string>
		<key>series_id</key>
		<string>8763</string>
		<key>series_name</key>
		<string>雾霾天怎么破</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/74ACB0A3-22F9-009B-9315-4A2C8BB0942A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/02/74ACB0A3-22F9-009B-9315-4A2C8BB0942A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yogta由塔</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20027043</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>撑出嗝来额</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/26/CD48EFF1-B291-F5EE-8505-6B75870D355C.jpg</string>
		<key>series_id</key>
		<string>7173</string>
		<key>series_name</key>
		<string>日常小事</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/24/90CCA044-BE68-B11B-89AE-FE8F91D87A48.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/24/90CCA044-BE68-B11B-89AE-FE8F91D87A48.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Yogta由塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78365509</string>
		</dict>
		<key>user_id</key>
		<string>78365509</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yogta由塔</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20027045</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>噗噗~</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/26/A55B0E05-1449-E171-BBC6-BD924F7456F7.jpg</string>
		<key>series_id</key>
		<string>7173</string>
		<key>series_name</key>
		<string>日常小事</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/24/AAEA65B4-881E-3AF1-A023-6145A0FF7BF6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/24/AAEA65B4-881E-3AF1-A023-6145A0FF7BF6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Yogta由塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78365509</string>
		</dict>
		<key>user_id</key>
		<string>78365509</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20010527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>piupiu</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/88875B0E-C1A1-AFA2-92AA-E04577DD1371.jpg?v=2</string>
		<key>series_id</key>
		<string>2865</string>
		<key>series_name</key>
		<string>小丁点</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/AE05E999-A9D6-BEC1-B387-860007C78DB2.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/AE05E999-A9D6-BEC1-B387-860007C78DB2.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫屁股殿下</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20036013</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>呵呵</string>
		<key>number</key>
		<string>inr784249</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/2D47D87E-34D0-33EC-479B-32FAE22918AE.jpg</string>
		<key>series_id</key>
		<string>9407</string>
		<key>series_name</key>
		<string>2016萌萌文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/424FC080-8E60-C17F-AB00-FA299A52D080.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/25/424FC080-8E60-C17F-AB00-FA299A52D080.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫屁股殿下</string>
			<key>number</key>
			<string>inr784249</string>
			<key>user_id</key>
			<string>71793295</string>
		</dict>
		<key>user_id</key>
		<string>71793295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔盖得</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20010885</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>OMG</string>
		<key>number</key>
		<string>990332982</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/AF38C443-658A-DF1C-5C90-C17D49F69078.jpg</string>
		<key>series_id</key>
		<string>2955</string>
		<key>series_name</key>
		<string>开心文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/FB3C564C-7A34-9F75-0934-618C808C3953.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/12/FB3C564C-7A34-9F75-0934-618C808C3953.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔盖得</string>
			<key>number</key>
			<string>990332982</string>
			<key>user_id</key>
			<string>32821926</string>
		</dict>
		<key>user_id</key>
		<string>32821926</string>
	</dict>
</array>
</plist>
