<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050801</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>鸡头套</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/B3695F74-27BC-4DB7-A761-C85B66504786.jpg</string>
		<key>series_id</key>
		<string>13107</string>
		<key>series_name</key>
		<string>鸡年快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/988F7A50-66FC-B999-A4AB-DB5EAF362D93.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/988F7A50-66FC-B999-A4AB-DB5EAF362D93.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可爱小鸡帽子</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/9B10BD76-184A-BB7A-8F9C-B94AA245BBBC.jpg</string>
		<key>series_id</key>
		<string>13103</string>
		<key>series_name</key>
		<string>迎接2017</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/3F353731-33AA-6C09-3528-E1133D8E8F0B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/3F353731-33AA-6C09-3528-E1133D8E8F0B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小盆栽</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鸡帽子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/29/DD764DED-F222-35C8-0748-2880D6E54439.jpg</string>
		<key>series_id</key>
		<string>13093</string>
		<key>series_name</key>
		<string>新年好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/29/06E07FB7-7A28-5E3E-4B1A-D150AF1ED53A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/29/06E07FB7-7A28-5E3E-4B1A-D150AF1ED53A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小盆栽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78689073</string>
		</dict>
		<key>user_id</key>
		<string>78689073</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050737</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>元旦头饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/16646BDB-0E45-9BAF-E272-D1027F3833AD.jpg</string>
		<key>series_id</key>
		<string>13091</string>
		<key>series_name</key>
		<string>元旦快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/9A0588A7-DEC1-7192-FA2E-8193F9976C50.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/9A0588A7-DEC1-7192-FA2E-8193F9976C50.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050673</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>元旦快乐眼镜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/EB5E4AD9-3734-89E5-79BB-58EEB816409B.jpg</string>
		<key>series_id</key>
		<string>13075</string>
		<key>series_name</key>
		<string>你好呀2017</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/96D38B1D-3693-6D64-668E-DA2A68775991.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/28/96D38B1D-3693-6D64-668E-DA2A68775991.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白猫君</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050605</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>若我为鹿3</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/AA59C42D-702E-0348-59B9-A11AD3E2A3CB.jpg</string>
		<key>series_id</key>
		<string>13057</string>
		<key>series_name</key>
		<string>若我为鹿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/A2F06E5C-17FD-BC51-011C-11476D159A23.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/A2F06E5C-17FD-BC51-011C-11476D159A23.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>-大白猫-</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110353615</string>
		</dict>
		<key>user_id</key>
		<string>110353615</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白猫君</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050601</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>若我为鹿1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/9CBA3F76-6A01-BF59-4311-EF9603627FFC.jpg</string>
		<key>series_id</key>
		<string>13057</string>
		<key>series_name</key>
		<string>若我为鹿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/C8871386-9161-50F7-2150-1EAC546B1A30.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/25/C8871386-9161-50F7-2150-1EAC546B1A30.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>-大白猫-</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110353615</string>
		</dict>
		<key>user_id</key>
		<string>110353615</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050643</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>招财猫鼻子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/27/235A869B-4E79-33E2-E6B1-AA4DE633514F.jpg</string>
		<key>series_id</key>
		<string>13067</string>
		<key>series_name</key>
		<string>新年COS招财猫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/27/B33E3471-901F-B39F-7175-71E88D858870.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/27/B33E3471-901F-B39F-7175-71E88D858870.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小盆栽</string>
		<key>cate_id</key>
		<string>3386</string>
		<key>id</key>
		<string>20050749</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>少女腮红</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/F7F9DEFE-AC01-5061-09CA-9F544EF2659F.jpg</string>
		<key>series_id</key>
		<string>13093</string>
		<key>series_name</key>
		<string>新年好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/C079818E-1AAD-7375-AA59-EEAF31A0E75B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/29/C079818E-1AAD-7375-AA59-EEAF31A0E75B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小盆栽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78689073</string>
		</dict>
		<key>user_id</key>
		<string>78689073</string>
	</dict>
</array>
</plist>
