<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>文溢小歪</string>
		<key>cate_id</key>
		<string>289</string>
		<key>id</key>
		<string>20006857</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>289</string>
		<key>name</key>
		<string>吃吃吃</string>
		<key>number</key>
		<string>ind3551022</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/34F85378-C25D-FA58-838C-71D6488F5700.jpg?v=2</string>
		<key>series_id</key>
		<string>1847</string>
		<key>series_name</key>
		<string>减肥or吃吃吃</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/7965E5C8-F329-AB44-77C3-0888BE599D6E.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/7965E5C8-F329-AB44-77C3-0888BE599D6E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>文溢小歪</string>
			<key>number</key>
			<string>ind3551022</string>
			<key>user_id</key>
			<string>38388706</string>
		</dict>
		<key>user_id</key>
		<string>38388706</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>310</string>
		<key>id</key>
		<string>20007929</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>310</string>
		<key>name</key>
		<string>哭</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/8B55C61E-8E43-25F1-DC84-9C9153406A7F.jpg?v=2</string>
		<key>series_id</key>
		<string>2119</string>
		<key>series_name</key>
		<string>小C-愚人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/1F644FC0-89F4-234E-204C-5AF6384EE847.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/1F644FC0-89F4-234E-204C-5AF6384EE847.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>104</string>
		<key>id</key>
		<string>898</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>104</string>
		<key>name</key>
		<string>吃苹果</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/31/C6766931-5D52-2233-6152-509EF354EB88.jpg?v=2</string>
		<key>series_id</key>
		<string>104</string>
		<key>series_name</key>
		<string>呆萌喵星人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/06/EC88A94D-FB97-E8F1-5D80-37A545035A89.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/06/EC88A94D-FB97-E8F1-5D80-37A545035A89.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20026785</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1903</string>
		<key>name</key>
		<string>偷看</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/BD73D55B-4CFB-90AA-3DB1-F42310B87D91.jpg</string>
		<key>series_id</key>
		<string>7109</string>
		<key>series_name</key>
		<string>可爱家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/4042C7E2-CD38-B93C-458D-798E6AAE10BE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/4042C7E2-CD38-B93C-458D-798E6AAE10BE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1371</string>
		<key>id</key>
		<string>20024129</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1371</string>
		<key>name</key>
		<string>开吃啦</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/5C7F2BD1-1784-B314-19BE-85D3BD289522.jpg</string>
		<key>series_id</key>
		<string>6445</string>
		<key>series_name</key>
		<string>我和我的小伙伴2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/1CD6DD69-E9D1-03CC-F24D-C57201B049AE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/1CD6DD69-E9D1-03CC-F24D-C57201B049AE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>372</string>
		<key>id</key>
		<string>20000922</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>372</string>
		<key>name</key>
		<string>嗝</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2014/12/28/BA3EAE21-23A8-98E4-B333-4AE080AF96E5.jpg?v=2</string>
		<key>series_id</key>
		<string>334</string>
		<key>series_name</key>
		<string>萝卜兔3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2014/12/28/2AACAC7B-C661-5935-3BD2-ED5D133C44FC.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2014/12/28/2AACAC7B-C661-5935-3BD2-ED5D133C44FC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>樱桃</string>
		<key>cate_id</key>
		<string>705</string>
		<key>id</key>
		<string>20009843</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>705</string>
		<key>name</key>
		<string>棒啊！</string>
		<key>number</key>
		<string>inc1223795</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/63EDC677-E11C-B773-97DC-641B4A637224.jpg?v=2</string>
		<key>series_id</key>
		<string>2691</string>
		<key>series_name</key>
		<string>乌咪酱是小清新</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/F5288163-9811-E291-DC52-2DA7439BC4EA.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/F5288163-9811-E291-DC52-2DA7439BC4EA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>樱桃的理想</string>
			<key>number</key>
			<string>inc1223795</string>
			<key>user_id</key>
			<string>15571520</string>
		</dict>
		<key>user_id</key>
		<string>15571520</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20024537</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>全家福</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/4A7729A1-9192-4764-5AD3-1CE974CE1AC8.jpg</string>
		<key>series_id</key>
		<string>6547</string>
		<key>series_name</key>
		<string>小小吉的小灿灿</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/67A1A76B-42CF-DB45-5CFE-154E83E9582F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/31/67A1A76B-42CF-DB45-5CFE-154E83E9582F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>早安豆小米</string>
		<key>cate_id</key>
		<string>522</string>
		<key>id</key>
		<string>20004848</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>522</string>
		<key>name</key>
		<string>卖萌</string>
		<key>number</key>
		<string>inc3630303</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/18/76B92AB7-EF1C-40CD-E865-1B138C0B0607.jpg?v=2</string>
		<key>series_id</key>
		<string>1342</string>
		<key>series_name</key>
		<string>早安豆小米系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/18/FAA57E54-196D-498D-4A61-0AF0A892203C.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/18/FAA57E54-196D-498D-4A61-0AF0A892203C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>早安豆小米</string>
			<key>number</key>
			<string>inc3630303</string>
			<key>user_id</key>
			<string>39145680</string>
		</dict>
		<key>user_id</key>
		<string>39145680</string>
	</dict>
</array>
</plist>
