<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>大猫彭彭</string>
		<key>cate_id</key>
		<string>3402</string>
		<key>id</key>
		<string>20050995</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>榛子慕斯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/87500AE3-77C3-BAD9-F459-A6A9BFDCCB94.jpg</string>
		<key>series_id</key>
		<string>13155</string>
		<key>series_name</key>
		<string>吃甜点吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/CA2B8EC9-68B9-3DD1-9826-26AF8517B46A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/CA2B8EC9-68B9-3DD1-9826-26AF8517B46A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>包子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110837279</string>
		</dict>
		<key>user_id</key>
		<string>110837279</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大猫彭彭</string>
		<key>cate_id</key>
		<string>3402</string>
		<key>id</key>
		<string>20050997</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>草莓巧克力慕斯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/A72E8B5A-231F-5D1C-FA37-76927E3726A5.jpg</string>
		<key>series_id</key>
		<string>13155</string>
		<key>series_name</key>
		<string>吃甜点吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/690A3868-7978-BB47-8C5A-578DC6EE5E98.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/690A3868-7978-BB47-8C5A-578DC6EE5E98.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>包子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110837279</string>
		</dict>
		<key>user_id</key>
		<string>110837279</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大猫彭彭</string>
		<key>cate_id</key>
		<string>3402</string>
		<key>id</key>
		<string>20050999</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>草莓慕斯挞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/7D8900E9-BF69-2EB3-8DFD-1644BC58BC5F.jpg</string>
		<key>series_id</key>
		<string>13155</string>
		<key>series_name</key>
		<string>吃甜点吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/92F04D42-D63A-D648-6366-34660FBEF28E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/04/92F04D42-D63A-D648-6366-34660FBEF28E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>包子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110837279</string>
		</dict>
		<key>user_id</key>
		<string>110837279</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大猫彭彭</string>
		<key>cate_id</key>
		<string>3402</string>
		<key>id</key>
		<string>20050993</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>抹茶慕斯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/53F6CCFA-D08D-A4D2-6906-A164E88F698D.jpg</string>
		<key>series_id</key>
		<string>13155</string>
		<key>series_name</key>
		<string>吃甜点吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/6130752B-8C7B-9A36-833C-FEAF817E3191.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/04/6130752B-8C7B-9A36-833C-FEAF817E3191.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>包子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110837279</string>
		</dict>
		<key>user_id</key>
		<string>110837279</string>
	</dict>
</array>
</plist>
