<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041402</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克-爱心头像</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/E1830397-078B-2E5B-56A1-9EF06262123C.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/6A5E546D-583E-C95E-B6C5-7F33C93A6D77.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/6A5E546D-583E-C95E-B6C5-7F33C93A6D77.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克-魔法棒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/11/19E34BF5-79FF-7A40-D9E4-C5E729268966.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/11/5ABEF38C-9979-B215-B9CE-B6FA074C3758.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/11/5ABEF38C-9979-B215-B9CE-B6FA074C3758.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041616</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克－笑脸</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/12/98331CE6-7EA5-6A4C-E4E2-E8D9BDD7CDB3.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/12/2C391BCF-DA67-8154-51C9-1D3F64299786.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/12/2C391BCF-DA67-8154-51C9-1D3F64299786.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041416</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克-爱心背景</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/11/8225342B-5115-C41D-8BAE-A97CA662E7E6.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/12/60A21A3B-4ED7-6EC8-19ED-CAA012922E54.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/12/60A21A3B-4ED7-6EC8-19ED-CAA012922E54.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克-墨镜头像</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/11/E3029D2B-CBCF-3148-A29D-D51649E65800.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/11/CAC9AF9B-FC23-B698-FD65-7BFE73ED7F30.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/11/CAC9AF9B-FC23-B698-FD65-7BFE73ED7F30.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041410</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克-be mine</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/C906E93C-F33D-84C8-9D49-F3C3D4D53585.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/D0641464-2067-CDCC-F96E-0FD5FF3F6FE6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/11/D0641464-2067-CDCC-F96E-0FD5FF3F6FE6.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041606</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克－绿色背景</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/4832E160-3BEF-EB59-AA00-245CF3570F8A.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/5EB5B1FD-8333-D503-AF4E-84452028A7E4.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/5EB5B1FD-8333-D503-AF4E-84452028A7E4.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041609</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克－爱心杯背景</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/16B21EF9-7920-CF0B-CF68-2B665A3BD826.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/8046F2B2-D4C8-55E8-EBBD-2AA72846ED9E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/8046F2B2-D4C8-55E8-EBBD-2AA72846ED9E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>星巴克</string>
		<key>cate_id</key>
		<string>3420</string>
		<key>id</key>
		<string>1041618</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>星巴克</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>星巴克－文字</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/05059187-44E2-E6AF-7D10-8A6896B56608.jpg</string>
		<key>series_id</key>
		<string>3420</string>
		<key>series_name</key>
		<string>星巴克</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/B18D4BAB-ADF8-4BFA-2B01-C053CFC99977.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/12/B18D4BAB-ADF8-4BFA-2B01-C053CFC99977.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
