<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053358</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>奶瓶</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/2304792B-8265-07A1-C49E-1D83CDBBCDC8.jpg</string>
		<key>series_id</key>
		<string>13744</string>
		<key>series_name</key>
		<string>午休时间~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/74E28D56-0C7D-91B8-8E47-F3A2106D8A72.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/74E28D56-0C7D-91B8-8E47-F3A2106D8A72.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053522</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>闪亮星星</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/8FD923F0-86C5-2C09-3D4D-88E77F4C6E24.jpg</string>
		<key>series_id</key>
		<string>13786</string>
		<key>series_name</key>
		<string>宝宝很酷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/93A7C8F8-7542-F72C-EFFB-BA779E9FFC18.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/93A7C8F8-7542-F72C-EFFB-BA779E9FFC18.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053526</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>奶瓶</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/2908B550-E2D7-71D7-08AD-99AE318D890D.jpg</string>
		<key>series_id</key>
		<string>13786</string>
		<key>series_name</key>
		<string>宝宝很酷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/4E92F860-B7DF-F845-7963-046A5518C815.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/4E92F860-B7DF-F845-7963-046A5518C815.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053338</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>美人鱼</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/880FF0F2-9414-A32B-76B9-46126C27879F.jpg</string>
		<key>series_id</key>
		<string>13740</string>
		<key>series_name</key>
		<string>双鱼座物语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/E206AA71-1754-3AF9-E6AC-E3DC153C6BF3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/21/E206AA71-1754-3AF9-E6AC-E3DC153C6BF3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053524</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>婴儿围嘴</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/C13C5568-261A-B44D-F741-05BE66D38C7A.jpg</string>
		<key>series_id</key>
		<string>13786</string>
		<key>series_name</key>
		<string>宝宝很酷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/79E4EEAC-04A2-2DB8-9C7F-B996914C7343.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/79E4EEAC-04A2-2DB8-9C7F-B996914C7343.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053520</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝很酷</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/75CFC00A-2922-2D4A-08D0-472186CE873F.jpg</string>
		<key>series_id</key>
		<string>13786</string>
		<key>series_name</key>
		<string>宝宝很酷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/E5CBF955-4633-0F28-7763-6A85B6FB33ED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/E5CBF955-4633-0F28-7763-6A85B6FB33ED.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053430</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝萌萌哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/D291367D-30FE-1BD2-43E9-53848EBD5066.jpg</string>
		<key>series_id</key>
		<string>13762</string>
		<key>series_name</key>
		<string>宝妈的日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/7508EE0D-DD09-8486-2105-56A42503EFF6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/22/7508EE0D-DD09-8486-2105-56A42503EFF6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053336</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小章鱼</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/351DD35A-48E5-48DC-264E-9DF064F0A54E.jpg</string>
		<key>series_id</key>
		<string>13740</string>
		<key>series_name</key>
		<string>双鱼座物语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/7F0DB45D-20E7-513A-FC14-0AAE3E47CDA1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/7F0DB45D-20E7-513A-FC14-0AAE3E47CDA1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小馋猫Demi</string>
		<key>cate_id</key>
		<string>3602</string>
		<key>id</key>
		<string>20053516</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早安小牛奶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/F5DF14EB-2943-ADD6-8D78-C6C5A63DBCD4.jpg</string>
		<key>series_id</key>
		<string>13784</string>
		<key>series_name</key>
		<string>二月的小尾巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/A02B6B9C-0D3D-CCD5-DEA9-E7E2593ED403.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/A02B6B9C-0D3D-CCD5-DEA9-E7E2593ED403.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Demi_lovelygirl</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100531022</string>
		</dict>
		<key>user_id</key>
		<string>100531022</string>
	</dict>
</array>
</plist>
