<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20018529</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>困还熬夜</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/CAD5CFC6-1FB1-63A2-0F8A-EB7E538F0FE1.jpg</string>
		<key>series_id</key>
		<string>5019</string>
		<key>series_name</key>
		<string>小茶和小伙伴3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/7F44C65E-4031-9CB0-4271-D4585F52B723.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/7F44C65E-4031-9CB0-4271-D4585F52B723.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20017427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>贱萌逗比</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/27/3A08D218-E4DA-1F45-42DF-7B63B10B8701.jpg</string>
		<key>series_id</key>
		<string>4737</string>
		<key>series_name</key>
		<string>小茶和小伙伴2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/27/EA19689E-8996-DEDE-4667-C319016486B9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/27/EA19689E-8996-DEDE-4667-C319016486B9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20017421</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>肥而不腻就是我</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/5273D4CC-A47A-344E-E4D3-8BCCAAEB00D2.jpg</string>
		<key>series_id</key>
		<string>4737</string>
		<key>series_name</key>
		<string>小茶和小伙伴2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/FADA797E-8121-44AF-542D-4037E56A8502.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/27/FADA797E-8121-44AF-542D-4037E56A8502.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20016227</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>快跑</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/4F7C7DEC-75F8-B21F-0866-E43CE0A29CCE.jpg</string>
		<key>series_id</key>
		<string>4387</string>
		<key>series_name</key>
		<string>逗比小茶和小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/2C2610D0-32B9-E001-468F-AF5A4F68EFAD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/2C2610D0-32B9-E001-468F-AF5A4F68EFAD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20016225</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>你太美啦 迷死我啦</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/1D4D4586-09C9-478F-EF6F-6E69BACF95AF.jpg</string>
		<key>series_id</key>
		<string>4387</string>
		<key>series_name</key>
		<string>逗比小茶和小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/4A5D91A2-4D42-FDAA-1434-A1F68ED622CD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/4A5D91A2-4D42-FDAA-1434-A1F68ED622CD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20016223</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>哎呀妈呀</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/18262C71-ECCB-AE34-182F-53BF450E157E.jpg</string>
		<key>series_id</key>
		<string>4387</string>
		<key>series_name</key>
		<string>逗比小茶和小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/EC66FF5E-BD8D-2DB6-59F4-1D3D449937CA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/23/EC66FF5E-BD8D-2DB6-59F4-1D3D449937CA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20020973</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>逗比贱萌王大条</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/53BDDD4D-4DE2-DD45-C846-9B728926B398.jpg</string>
		<key>series_id</key>
		<string>5659</string>
		<key>series_name</key>
		<string>小茶逗比贴纸2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/2039B7E9-3FEE-56FA-4D70-06A6AD41CA46.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/2039B7E9-3FEE-56FA-4D70-06A6AD41CA46.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20016221</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>胖 也要很美</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/58D6E490-06C2-3AD2-CCD0-354BCD67B3FD.jpg</string>
		<key>series_id</key>
		<string>4387</string>
		<key>series_name</key>
		<string>逗比小茶和小伙伴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/47F25E69-AE6C-2343-6ABB-5CE206C9828B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/47F25E69-AE6C-2343-6ABB-5CE206C9828B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1083</string>
		<key>id</key>
		<string>20018527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1083</string>
		<key>name</key>
		<string>人丑还颜控</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/CB28598D-A2FB-8D91-CCD6-44C8D02215FA.jpg</string>
		<key>series_id</key>
		<string>5019</string>
		<key>series_name</key>
		<string>小茶和小伙伴3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/1934C8CA-0802-689E-5C6B-00E8FC71CB80.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/1934C8CA-0802-689E-5C6B-00E8FC71CB80.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
</array>
</plist>
