<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20007523</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>我是白羊座</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/25/E1116DF2-9AE2-2985-23A8-06210E07B1EE.jpg?v=2</string>
		<key>series_id</key>
		<string>2013</string>
		<key>series_name</key>
		<string>小C-四月文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/24/7C56CBE3-8E77-0908-C5D0-8FEBA1B63A80.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/24/7C56CBE3-8E77-0908-C5D0-8FEBA1B63A80.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20006114</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>天平座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/59AC540C-F84D-93B8-E73C-21E6161E36B3.jpg?v=2</string>
		<key>series_id</key>
		<string>1660</string>
		<key>series_name</key>
		<string>12星座-02</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/54545726-400B-C31B-E004-D5AC7BA2CC80.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/54545726-400B-C31B-E004-D5AC7BA2CC80.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20006112</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>处女座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/BB06A4B4-3A41-32E7-EA2F-8659B8579206.jpg?v=2</string>
		<key>series_id</key>
		<string>1660</string>
		<key>series_name</key>
		<string>12星座-02</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/205A268B-CBEA-60A7-8C90-D1FF4FAF432B.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/205A268B-CBEA-60A7-8C90-D1FF4FAF432B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20005644</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>巨蟹座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/30BC2A61-D946-1E8C-988D-C883A139DD07.jpg?v=2</string>
		<key>series_id</key>
		<string>1542</string>
		<key>series_name</key>
		<string>12星座-01</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/0127CBD7-0119-7ECD-815F-17351BEE3118.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/0127CBD7-0119-7ECD-815F-17351BEE3118.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20005640</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>金牛座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/10/154D053E-2816-B1BB-855A-24F63F689213.jpg?v=2</string>
		<key>series_id</key>
		<string>1542</string>
		<key>series_name</key>
		<string>12星座-01</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/09/76CCC89A-936E-0AEB-18DB-2E259A116C09.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/09/76CCC89A-936E-0AEB-18DB-2E259A116C09.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20005638</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>白羊座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/10/DA2BC86F-579B-34B7-4A2C-77A528F7944A.jpg?v=2</string>
		<key>series_id</key>
		<string>1542</string>
		<key>series_name</key>
		<string>12星座-01</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/738234A9-840B-8CD0-54D7-931079CB4D26.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/738234A9-840B-8CD0-54D7-931079CB4D26.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>20005636</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>双鱼座</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/10/3C8661C4-168D-8238-F6C4-00279E32BB97.jpg?v=2</string>
		<key>series_id</key>
		<string>1540</string>
		<key>series_name</key>
		<string>12星座-03</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/10/178C87C8-D5CF-F1DD-7544-9C0AF682DA0B.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/10/178C87C8-D5CF-F1DD-7544-9C0AF682DA0B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>418</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>天秤座</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i5.jiuyan.info/in/2014/09/30/23C5DE00-A5CD-0B22-009B-A070C9F8206E.jpg?v=2</string>
		<key>series_id</key>
		<string>295</string>
		<key>series_name</key>
		<string>星座</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i5.jiuyan.info/in/2014/09/30/552BDF88-2087-F1F6-D930-52771BE2BFF9.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i5.jiuyan.info/in/2014/09/30/552BDF88-2087-F1F6-D930-52771BE2BFF9.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>295</string>
		<key>id</key>
		<string>417</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>295</string>
		<key>name</key>
		<string>水瓶座</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i4.jiuyan.info/in/2014/09/30/F672F2E0-AB54-5678-C205-70417DD59F62.jpg?v=2</string>
		<key>series_id</key>
		<string>295</string>
		<key>series_name</key>
		<string>星座</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i4.jiuyan.info/in/2014/09/30/38EA6E30-1195-A497-8ABE-B8890D3DB28D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i4.jiuyan.info/in/2014/09/30/38EA6E30-1195-A497-8ABE-B8890D3DB28D.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
