<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3240</string>
		<key>id</key>
		<string>1035727</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双十一秋裤怎么还没到</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/217DF67E-EA3F-9EAF-4CC3-854631B2DB38.jpg</string>
		<key>series_id</key>
		<string>3240</string>
		<key>series_name</key>
		<string>11.11剁手&amp;单身（bluecherry）</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/79260035-2B87-2BD6-E728-F6233764B54C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/79260035-2B87-2BD6-E728-F6233764B54C.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3240</string>
		<key>id</key>
		<string>1035730</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双十一变弯喷雾</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/35633DB0-83C6-72DC-D8DB-FEAA830F11EB.jpg</string>
		<key>series_id</key>
		<string>3240</string>
		<key>series_name</key>
		<string>11.11剁手&amp;单身（bluecherry）</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/5D6B978A-47EF-1748-C77F-4B1E011FBEC9.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/5D6B978A-47EF-1748-C77F-4B1E011FBEC9.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3240</string>
		<key>id</key>
		<string>1035726</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双十一土饮</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/5B5A08A4-E6BB-9067-0D23-F6B29FB1B9D6.jpg</string>
		<key>series_id</key>
		<string>3240</string>
		<key>series_name</key>
		<string>11.11剁手&amp;单身（bluecherry）</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/8FE06EE3-C57B-C2FF-452B-47C12A61785F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/07/8FE06EE3-C57B-C2FF-452B-47C12A61785F.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3240</string>
		<key>id</key>
		<string>1035723</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双十一咖喱盖浇土</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/0FA3A094-148E-D7F9-1758-CE02098D0482.jpg</string>
		<key>series_id</key>
		<string>3240</string>
		<key>series_name</key>
		<string>11.11剁手&amp;单身（bluecherry）</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/2C3AA8D4-A5CA-7527-7998-D42084774B9A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/2C3AA8D4-A5CA-7527-7998-D42084774B9A.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>bluecherry</string>
		<key>cate_id</key>
		<string>3240</string>
		<key>id</key>
		<string>1035731</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双十一有你的快递</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/C9D9BEC4-F7D5-AC00-1E5D-BB7379AE89BC.jpg</string>
		<key>series_id</key>
		<string>3240</string>
		<key>series_name</key>
		<string>11.11剁手&amp;单身（bluecherry）</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/12A288CD-EE09-0DAE-CA31-E63622CEF788.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/07/12A288CD-EE09-0DAE-CA31-E63622CEF788.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
