<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>683</string>
		<key>id</key>
		<string>20009553</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>683</string>
		<key>name</key>
		<string>卜娜娜</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/33E2B629-C51F-1686-988F-73CD530EFFF8.jpg?v=2</string>
		<key>series_id</key>
		<string>2619</string>
		<key>series_name</key>
		<string>蔬果人跳跳跳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/284C3866-4270-7F66-8D1A-3D80D2205DAB.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/23/284C3866-4270-7F66-8D1A-3D80D2205DAB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>683</string>
		<key>id</key>
		<string>20009551</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>683</string>
		<key>name</key>
		<string>番茄先森</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/36649B15-DFAE-348C-B6D5-45A56EB3FA9B.jpg?v=2</string>
		<key>series_id</key>
		<string>2619</string>
		<key>series_name</key>
		<string>蔬果人跳跳跳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/705C0ED8-466E-EEC3-FA1F-C0F890639C44.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/705C0ED8-466E-EEC3-FA1F-C0F890639C44.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>683</string>
		<key>id</key>
		<string>20009549</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>683</string>
		<key>name</key>
		<string>西瓜先森</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/CAAB065F-8207-0AFA-3DA4-124C7E4C1EE5.jpg?v=2</string>
		<key>series_id</key>
		<string>2619</string>
		<key>series_name</key>
		<string>蔬果人跳跳跳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/D315376C-CC40-24E6-B657-7A2F3BF5BC1E.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/D315376C-CC40-24E6-B657-7A2F3BF5BC1E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>683</string>
		<key>id</key>
		<string>20009555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>683</string>
		<key>name</key>
		<string>胡萝卜君</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/EB0B6E7F-D48F-1FBB-BF1E-87C086509E5B.jpg?v=2</string>
		<key>series_id</key>
		<string>2619</string>
		<key>series_name</key>
		<string>蔬果人跳跳跳</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/A558FA64-9110-2395-AC1D-6FD43293CBF5.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/23/A558FA64-9110-2395-AC1D-6FD43293CBF5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
