<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>2285</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>光棍节,单身狗</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>单身狗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/2FF74752-1FAA-25A9-0776-2E2EBD9FBAD6.jpg</string>
		<key>series_id</key>
		<string>296</string>
		<key>series_name</key>
		<string>印章属性</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/C2A4D43F-CB4D-45BE-8C41-78F4D7C9EADF.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/18/C2A4D43F-CB4D-45BE-8C41-78F4D7C9EADF.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Yolanda</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20003358</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>学霸认证</string>
		<key>number</key>
		<string>inc3193105</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/29/E41DC5DE-0ADE-8E0B-01E6-085A4B7A5310.jpg?v=2</string>
		<key>series_id</key>
		<string>966</string>
		<key>series_name</key>
		<string>最牛认证</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/29/583C0254-4B85-2D38-2FF8-1061736C21F3.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/29/583C0254-4B85-2D38-2FF8-1061736C21F3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Yolanda125gifts325</string>
			<key>number</key>
			<string>inc3193105</string>
			<key>user_id</key>
			<string>34819149</string>
		</dict>
		<key>user_id</key>
		<string>34819149</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Cony</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20005846</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>女神和女汉子</string>
		<key>number</key>
		<string>conysun</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/069D0173-8C67-0A12-5409-9ADC00E3A83B.jpg?v=2</string>
		<key>series_id</key>
		<string>1594</string>
		<key>series_name</key>
		<string>永远18岁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/6F82FFC2-1AB5-5526-281E-02E7AC4A647F.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/6F82FFC2-1AB5-5526-281E-02E7AC4A647F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Cony</string>
			<key>number</key>
			<string>conysun</string>
			<key>user_id</key>
			<string>31874017</string>
		</dict>
		<key>user_id</key>
		<string>31874017</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20006424</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>逗比</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/8C666C97-FDDE-EADD-0BB6-526EC94CA2A7.jpg?v=2</string>
		<key>series_id</key>
		<string>1738</string>
		<key>series_name</key>
		<string>属性印章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/A22C24A0-DCA9-6913-2D6C-98286EE7CFDC.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/A22C24A0-DCA9-6913-2D6C-98286EE7CFDC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白粥小姐</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20011363</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>标准男神</string>
		<key>number</key>
		<string>in751295244</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/19/26D6A038-B66D-3222-66C3-09CB91FC441E.jpg</string>
		<key>series_id</key>
		<string>3077</string>
		<key>series_name</key>
		<string>标准印章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/19/B461C106-AD38-8A4D-754F-CCFC01FD7140.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/19/B461C106-AD38-8A4D-754F-CCFC01FD7140.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>白粥小姐c</string>
			<key>number</key>
			<string>in751295244</string>
			<key>user_id</key>
			<string>44805296</string>
		</dict>
		<key>user_id</key>
		<string>44805296</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20022970</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>987</string>
		<key>name</key>
		<string>礼物</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/D72DF199-CFE6-7D73-1BD1-E0727383908F.jpg</string>
		<key>series_id</key>
		<string>6156</string>
		<key>series_name</key>
		<string>印章系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/42E6207F-D6B2-7A69-366B-064739F05143.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/42E6207F-D6B2-7A69-366B-064739F05143.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小伊泽</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20015035</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>好奇宝宝</string>
		<key>number</key>
		<string>inb1729232</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/54228826-077C-BBC1-A265-4E4BC38C6EDE.jpg</string>
		<key>series_id</key>
		<string>4087</string>
		<key>series_name</key>
		<string>个性卡通装饰品</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/8E9D31D6-6CDE-81B4-842B-DA38491E39D2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/8E9D31D6-6CDE-81B4-842B-DA38491E39D2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猴阿贱</string>
			<key>number</key>
			<string>inb1729232</string>
			<key>user_id</key>
			<string>20331518</string>
		</dict>
		<key>user_id</key>
		<string>20331518</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白粥小姐</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20011357</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>标准吃货</string>
		<key>number</key>
		<string>in751295244</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/20/06225B9A-F023-E767-3439-450B719CE9B2.jpg</string>
		<key>series_id</key>
		<string>3077</string>
		<key>series_name</key>
		<string>标准印章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/19/978C4E58-6CD0-3181-2FBA-779638F313F3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/19/978C4E58-6CD0-3181-2FBA-779638F313F3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>白粥小姐c</string>
			<key>number</key>
			<string>in751295244</string>
			<key>user_id</key>
			<string>44805296</string>
		</dict>
		<key>user_id</key>
		<string>44805296</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白粥小姐</string>
		<key>cate_id</key>
		<string>296</string>
		<key>id</key>
		<string>20011359</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>296</string>
		<key>name</key>
		<string>标准汉子</string>
		<key>number</key>
		<string>in751295244</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/BC5F0735-FDBC-04FC-BD68-AF614D587E62.jpg</string>
		<key>series_id</key>
		<string>3077</string>
		<key>series_name</key>
		<string>标准印章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/19/BE3D9AE6-9840-543C-9E76-7799C301C535.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/19/BE3D9AE6-9840-543C-9E76-7799C301C535.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>白粥小姐c</string>
			<key>number</key>
			<string>in751295244</string>
			<key>user_id</key>
			<string>44805296</string>
		</dict>
		<key>user_id</key>
		<string>44805296</string>
	</dict>
</array>
</plist>
