<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>神气乖怪</string>
		<key>cate_id</key>
		<string>1973</string>
		<key>id</key>
		<string>20029167</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1973</string>
		<key>name</key>
		<string>我吹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/2830B65B-405C-159B-4FEF-16E357081C35.jpg</string>
		<key>series_id</key>
		<string>7703</string>
		<key>series_name</key>
		<string>流氓小兔爷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/D8DA9D94-C10E-D7C8-C7B7-7CFBB75FC60F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/D8DA9D94-C10E-D7C8-C7B7-7CFBB75FC60F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>神气地很</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80408155</string>
		</dict>
		<key>user_id</key>
		<string>80408155</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神气乖怪</string>
		<key>cate_id</key>
		<string>1973</string>
		<key>id</key>
		<string>20029165</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1973</string>
		<key>name</key>
		<string>哈喽美女</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/BB202C10-FC6B-8866-FCE8-9F60F146DCEB.jpg</string>
		<key>series_id</key>
		<string>7703</string>
		<key>series_name</key>
		<string>流氓小兔爷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/11FC339B-3F13-9631-E90E-DED972E5EFD6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/16/11FC339B-3F13-9631-E90E-DED972E5EFD6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>神气地很</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80408155</string>
		</dict>
		<key>user_id</key>
		<string>80408155</string>
	</dict>
	<dict>
		<key>author</key>
		<string>神气乖怪</string>
		<key>cate_id</key>
		<string>1973</string>
		<key>id</key>
		<string>20029163</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1973</string>
		<key>name</key>
		<string>哇塞美女</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/11605B0F-2244-6AB0-6F36-1AF6DFABFD5C.jpg</string>
		<key>series_id</key>
		<string>7703</string>
		<key>series_name</key>
		<string>流氓小兔爷</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/B04DACE2-AF6A-CF82-D7A5-98EB1BB27977.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/16/B04DACE2-AF6A-CF82-D7A5-98EB1BB27977.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>神气地很</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80408155</string>
		</dict>
		<key>user_id</key>
		<string>80408155</string>
	</dict>
</array>
</plist>
