<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20029773</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>萌萌哒</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/2C8A7938-C24B-345F-BAEC-2A042AB599BA.jpg</string>
		<key>series_id</key>
		<string>7851</string>
		<key>series_name</key>
		<string>微光圆圆的小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/47E529C2-E77A-C72F-D602-C789C9726368.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/47E529C2-E77A-C72F-D602-C789C9726368.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20026797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>小熊Ha</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/188A7015-DE79-4184-F3B1-39346A0193E1.jpg</string>
		<key>series_id</key>
		<string>7111</string>
		<key>series_name</key>
		<string>微光小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/C2730511-B902-DA8D-C1AF-829A9B4CFC0E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/C2730511-B902-DA8D-C1AF-829A9B4CFC0E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20025185</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>萌萌的大熊-羞羞哒</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/8BC1840F-DDEC-C2C1-5A92-A84E16B68C14.jpg</string>
		<key>series_id</key>
		<string>6709</string>
		<key>series_name</key>
		<string>萌萌的大熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/B2D44977-8EEB-5D13-4811-29BDBDE20F5A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/B2D44977-8EEB-5D13-4811-29BDBDE20F5A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20025181</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>萌萌的大熊-萌吗</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/B5AC1BFB-05BF-7882-FFD0-64AF6F027C6A.jpg</string>
		<key>series_id</key>
		<string>6709</string>
		<key>series_name</key>
		<string>萌萌的大熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/88F7D207-91F4-28F8-ABA9-58484D7AFF22.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/06/88F7D207-91F4-28F8-ABA9-58484D7AFF22.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20025179</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>萌萌的大熊-Hi</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/F0AF75B6-1207-7E68-5842-9164446A0F2E.jpg</string>
		<key>series_id</key>
		<string>6709</string>
		<key>series_name</key>
		<string>萌萌的大熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/BD0AAFBF-774B-0A05-616F-9CE3624C2B69.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/06/BD0AAFBF-774B-0A05-616F-9CE3624C2B69.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20026795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>小猴wow</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/BF5DFE6A-8F09-1AEF-5D53-16A22B754628.jpg</string>
		<key>series_id</key>
		<string>7111</string>
		<key>series_name</key>
		<string>微光小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/5799A85E-5988-8462-2875-8BF88A93FC72.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/5799A85E-5988-8462-2875-8BF88A93FC72.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20029771</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>Happy Day</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/24/2BC559DA-3362-4BF2-4C17-A5FC537A02C1.jpg</string>
		<key>series_id</key>
		<string>7851</string>
		<key>series_name</key>
		<string>微光圆圆的小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/24/6AD6046F-DE0F-3507-6794-44FC06C1CCE9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/24/6AD6046F-DE0F-3507-6794-44FC06C1CCE9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20026793</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>小海豚送爱心</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/2DD5EA5F-1332-2327-8A6C-9516BE89BA0D.jpg</string>
		<key>series_id</key>
		<string>7111</string>
		<key>series_name</key>
		<string>微光小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/A496E3ED-8BD9-1D58-A01A-CC47D4E53F31.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/A496E3ED-8BD9-1D58-A01A-CC47D4E53F31.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1441</string>
		<key>id</key>
		<string>20029777</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1441</string>
		<key>name</key>
		<string>For you</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/A4C5EA04-7B7C-D287-8EF0-87CC3483C7AF.jpg</string>
		<key>series_id</key>
		<string>7851</string>
		<key>series_name</key>
		<string>微光圆圆的小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/6A71DF2B-FF1B-021F-5A5A-1197E2DD36EE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/6A71DF2B-FF1B-021F-5A5A-1197E2DD36EE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
</array>
</plist>
