<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20052431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早安酱全家福</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/25/8CB35DF9-13AD-F001-B2F3-66854256B90E.jpg</string>
		<key>series_id</key>
		<string>13513</string>
		<key>series_name</key>
		<string>早安酱贺新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/25/52FE2A41-6BFB-29E9-9927-BB96895E2E03.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/25/52FE2A41-6BFB-29E9-9927-BB96895E2E03.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20052429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早安酱大元宝</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/25/0E59CD2D-5CA1-78D9-0FB7-C169C0EA3FAF.jpg</string>
		<key>series_id</key>
		<string>13513</string>
		<key>series_name</key>
		<string>早安酱贺新年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/25/FACE24EC-61F0-32FA-A1F5-825C16D5B7BD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/25/FACE24EC-61F0-32FA-A1F5-825C16D5B7BD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20041391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小鸟</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/269C940E-6A74-88F2-56F8-E9915CE54EDF.jpg</string>
		<key>series_id</key>
		<string>10751</string>
		<key>series_name</key>
		<string>宝宝们飞起来！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/950D7A20-9719-5D80-9A9E-C460B7F66E15.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/25/950D7A20-9719-5D80-9A9E-C460B7F66E15.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20040735</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱心</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/C8CE681E-5DED-890F-CF37-BC75E7ACD866.jpg</string>
		<key>series_id</key>
		<string>10587</string>
		<key>series_name</key>
		<string>兔纸鱼的日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/E5627070-9246-A4C5-DFBA-01B27766BC87.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/15/E5627070-9246-A4C5-DFBA-01B27766BC87.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20040729</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喷血</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/9A0A9CD4-2C10-CBA4-2018-97C46D487167.jpg</string>
		<key>series_id</key>
		<string>10587</string>
		<key>series_name</key>
		<string>兔纸鱼的日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/4F515546-05EC-E9BC-0D80-AE6735494D23.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/4F515546-05EC-E9BC-0D80-AE6735494D23.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20040725</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/BA318B58-7F23-B803-9398-E42911025EFE.jpg</string>
		<key>series_id</key>
		<string>10585</string>
		<key>series_name</key>
		<string>兔纸鱼的日常1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/22D84BED-0CF2-39CA-913E-AC7EB8519A55.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/15/22D84BED-0CF2-39CA-913E-AC7EB8519A55.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20004336</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>579</string>
		<key>name</key>
		<string>红包你别跑</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/12/8F6A27CB-9031-E5DB-545C-F8297E5A0F4D.jpg?v=2</string>
		<key>series_id</key>
		<string>1214</string>
		<key>series_name</key>
		<string>抢红包系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/12/56AD9BD9-05D2-3912-5802-1A75E687B8E7.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/12/56AD9BD9-05D2-3912-5802-1A75E687B8E7.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20004334</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>579</string>
		<key>name</key>
		<string>马老板你憋骗我</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/F457B56A-B94C-1B37-8A48-148BE0DD99D1.jpg?v=2</string>
		<key>series_id</key>
		<string>1214</string>
		<key>series_name</key>
		<string>抢红包系列2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/00AA89B7-AAE5-0956-AF8A-264A00048D59.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/12/00AA89B7-AAE5-0956-AF8A-264A00048D59.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
	<dict>
		<key>author</key>
		<string>兔纸鱼</string>
		<key>cate_id</key>
		<string>579</string>
		<key>id</key>
		<string>20004326</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>579</string>
		<key>name</key>
		<string>谢谢马老板</string>
		<key>number</key>
		<string>tuzhiyu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/12/54DBB374-DA29-E930-8B50-A9BC6B3C372A.jpg?v=2</string>
		<key>series_id</key>
		<string>1212</string>
		<key>series_name</key>
		<string>抢红包系列1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/12/05DB55DA-9874-B358-D989-D8C6C40C4419.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/12/05DB55DA-9874-B358-D989-D8C6C40C4419.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>兔纸鱼</string>
			<key>number</key>
			<string>tuzhiyu</string>
			<key>user_id</key>
			<string>13687447</string>
		</dict>
		<key>user_id</key>
		<string>13687447</string>
	</dict>
</array>
</plist>
