<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊一号</string>
		<key>cate_id</key>
		<string>3440</string>
		<key>id</key>
		<string>20051431</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/E9A2F904-43B7-668B-FDB2-916B924A4EB5.jpg</string>
		<key>series_id</key>
		<string>13263</string>
		<key>series_name</key>
		<string>狐哩哩与17小鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/54677D9C-A870-BFAA-1000-D6B7CECD4FB0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/54677D9C-A870-BFAA-1000-D6B7CECD4FB0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊一号</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109164944</string>
		</dict>
		<key>user_id</key>
		<string>109164944</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊一号</string>
		<key>cate_id</key>
		<string>3440</string>
		<key>id</key>
		<string>20051429</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>乖巧</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/622A6362-F5C6-689B-4693-8BC9511B5A39.jpg</string>
		<key>series_id</key>
		<string>13263</string>
		<key>series_name</key>
		<string>狐哩哩与17小鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/FA262684-0523-23CC-A79B-9D2A446D3EE5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/FA262684-0523-23CC-A79B-9D2A446D3EE5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊一号</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109164944</string>
		</dict>
		<key>user_id</key>
		<string>109164944</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊一号</string>
		<key>cate_id</key>
		<string>3440</string>
		<key>id</key>
		<string>20051427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你好</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/0EB788AB-EAE4-B7F5-3330-CC3F27426A88.jpg</string>
		<key>series_id</key>
		<string>13263</string>
		<key>series_name</key>
		<string>狐哩哩与17小鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/5A0C1BC3-4C5A-A63E-F193-AE59933938A5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/5A0C1BC3-4C5A-A63E-F193-AE59933938A5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊一号</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109164944</string>
		</dict>
		<key>user_id</key>
		<string>109164944</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊一号</string>
		<key>cate_id</key>
		<string>3440</string>
		<key>id</key>
		<string>20051425</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好美</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/5DCA4237-F4DB-BBBF-FA75-8907AF71ACFC.jpg</string>
		<key>series_id</key>
		<string>13263</string>
		<key>series_name</key>
		<string>狐哩哩与17小鸡</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/71EB95E0-3F71-D103-8F24-84DDED15702E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/71EB95E0-3F71-D103-8F24-84DDED15702E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊一号</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109164944</string>
		</dict>
		<key>user_id</key>
		<string>109164944</string>
	</dict>
</array>
</plist>
