<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048919</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>坐等双11</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/58981722-F135-EEAC-B324-B917C7331A81.jpg</string>
		<key>series_id</key>
		<string>12635</string>
		<key>series_name</key>
		<string>双11来啦~~~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/A25BC9A2-EF60-DEB0-19DD-13BA66F2CE06.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/08/A25BC9A2-EF60-DEB0-19DD-13BA66F2CE06.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048917</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双11购买</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/10B56A3D-2267-40B6-B41E-65A58511D54A.jpg</string>
		<key>series_id</key>
		<string>12635</string>
		<key>series_name</key>
		<string>双11来啦~~~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/2FEC1EF2-6A83-8EEE-0F69-D84F8E25D5C5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/2FEC1EF2-6A83-8EEE-0F69-D84F8E25D5C5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048913</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>马云爸爸的双11</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/8A66B3D1-DA61-629D-BEBB-097BA4D900A1.jpg</string>
		<key>series_id</key>
		<string>12635</string>
		<key>series_name</key>
		<string>双11来啦~~~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/84F8C06D-BAF2-BE62-D6AC-12A2C3F72F37.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/08/84F8C06D-BAF2-BE62-D6AC-12A2C3F72F37.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>JEICA</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048817</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>剁手党</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/05/4D56DBCB-65B6-1F49-2D3A-F72122221655.jpg</string>
		<key>series_id</key>
		<string>12611</string>
		<key>series_name</key>
		<string>吃土宝宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/05/9F4FCA69-3E4C-FF8D-6D3A-D10C60165F45.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/05/9F4FCA69-3E4C-FF8D-6D3A-D10C60165F45.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jeica-沈久朝</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100886103</string>
		</dict>
		<key>user_id</key>
		<string>100886103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宝儿小莹莹</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048775</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双11剁手节没钱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/56ED65A0-897F-E871-9EFD-A23DD732326D.jpg</string>
		<key>series_id</key>
		<string>12599</string>
		<key>series_name</key>
		<string>双11剁手节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/38DE80E1-6971-C555-F8EB-AC20241C0F28.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/38DE80E1-6971-C555-F8EB-AC20241C0F28.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宝儿小莹莹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77656084</string>
		</dict>
		<key>user_id</key>
		<string>77656084</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048731</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>剁手计时器</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/7AC6FEFF-0792-D565-E2E8-00FDD77746BF.jpg</string>
		<key>series_id</key>
		<string>12589</string>
		<key>series_name</key>
		<string>剁手节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/9DD4E8AD-EE36-0D80-42A0-775E606764BE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/9DD4E8AD-EE36-0D80-42A0-775E606764BE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048727</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秀恩爱</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/A53B6D82-D289-504B-AF8D-A2A53640A288.jpg</string>
		<key>series_id</key>
		<string>12587</string>
		<key>series_name</key>
		<string>一大波秀恩爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/1196E5E2-71FD-BBFD-609F-82953E5D44C2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/1196E5E2-71FD-BBFD-609F-82953E5D44C2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048725</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一大波秀恩爱</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/AB0D60E7-B64C-29E9-5734-65651C830EF7.jpg</string>
		<key>series_id</key>
		<string>12587</string>
		<key>series_name</key>
		<string>一大波秀恩爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/B432EE25-2F22-79E3-DD4F-B7FF1FFC67FC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/03/B432EE25-2F22-79E3-DD4F-B7FF1FFC67FC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>3250</string>
		<key>id</key>
		<string>20048723</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>汪汪</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/B1D07A2B-287B-C957-B751-7FB73EA200EA.jpg</string>
		<key>series_id</key>
		<string>12587</string>
		<key>series_name</key>
		<string>一大波秀恩爱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/455AE938-1119-74F6-CA30-3AB34FB63FEA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/03/455AE938-1119-74F6-CA30-3AB34FB63FEA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
</array>
</plist>
