<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20015745</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>冰棒</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/F3378C0C-8EAD-BE67-6F77-D2505ADDB030.jpg</string>
		<key>series_id</key>
		<string>4267</string>
		<key>series_name</key>
		<string>可爱の小装饰3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/5CAE45AA-CEDB-7A4A-F2B4-3DBA06BDC877.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/5CAE45AA-CEDB-7A4A-F2B4-3DBA06BDC877.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>papa鬼</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20020761</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>奶油甜筒</string>
		<key>number</key>
		<string>ins530803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/1DB1E733-CA05-787E-96D9-A9EDCE66765D.jpg</string>
		<key>series_id</key>
		<string>5601</string>
		<key>series_name</key>
		<string>papa鬼闹夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/2FA3F11B-789F-01EB-169F-EABF6CED8CF1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/2FA3F11B-789F-01EB-169F-EABF6CED8CF1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>papa鬼</string>
			<key>number</key>
			<string>ins530803</string>
			<key>user_id</key>
			<string>69271988</string>
		</dict>
		<key>user_id</key>
		<string>69271988</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Ponyo包包</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20017321</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>冰淇淋</string>
		<key>number</key>
		<string>bun213</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/1AF67A5D-A5FE-9688-E3F9-23BF89450F31.jpg</string>
		<key>series_id</key>
		<string>4711</string>
		<key>series_name</key>
		<string>猪猪的夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/AD71929A-B1E3-FD6C-0D99-EF85015F8811.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/AD71929A-B1E3-FD6C-0D99-EF85015F8811.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Ponyo包包</string>
			<key>number</key>
			<string>bun213</string>
			<key>user_id</key>
			<string>34322474</string>
		</dict>
		<key>user_id</key>
		<string>34322474</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20013569</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>来个冰棍</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/07/7ACE5C13-71AF-7366-3C87-BB851C235CB0.jpg</string>
		<key>series_id</key>
		<string>3701</string>
		<key>series_name</key>
		<string>热热热屎了啦！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/07/9B7CC6EE-F3AD-1FD3-1E90-755851D94B1C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/07/9B7CC6EE-F3AD-1FD3-1E90-755851D94B1C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>脑电波</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20044177</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>柠檬冰棒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/791485D9-052B-34DC-42E2-682C257F6385.jpg</string>
		<key>series_id</key>
		<string>11449</string>
		<key>series_name</key>
		<string>脑电波雪糕饮料</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/E2DEDB1A-2DA2-891A-C59C-26EC9750F809.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/E2DEDB1A-2DA2-891A-C59C-26EC9750F809.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>脑电波发射中心</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103191454</string>
		</dict>
		<key>user_id</key>
		<string>103191454</string>
	</dict>
	<dict>
		<key>author</key>
		<string>titi</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20017635</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>西瓜冰糕</string>
		<key>number</key>
		<string>ine2881185</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/7DE4A547-5DE8-605B-5B6A-02E50C73CD07.jpg</string>
		<key>series_id</key>
		<string>4793</string>
		<key>series_name</key>
		<string>夏日么么哒2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/753D15DE-8B92-1BA0-A681-5B048F38E4FE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/29/753D15DE-8B92-1BA0-A681-5B048F38E4FE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鱼鱼想做放荡不羁插画师</string>
			<key>number</key>
			<string>ine2881185</string>
			<key>user_id</key>
			<string>31862974</string>
		</dict>
		<key>user_id</key>
		<string>31862974</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20012043</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>冰棒</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/527AD163-ABC8-D8A6-3A84-D1771780AA06.jpg</string>
		<key>series_id</key>
		<string>3255</string>
		<key>series_name</key>
		<string>夏天装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/5D540493-D2D3-6D16-EE5C-252C585E9965.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/5D540493-D2D3-6D16-EE5C-252C585E9965.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>我叫静籽</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20018017</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1795</string>
		<key>name</key>
		<string>西瓜味雪糕</string>
		<key>number</key>
		<string>ins646812</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/D4BE2187-AAF5-BA6B-81E7-3A0654CB27E6.jpg</string>
		<key>series_id</key>
		<string>4891</string>
		<key>series_name</key>
		<string>西瓜系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/8A017518-63D0-3EB5-A5AB-F8B1C2C36967.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/01/8A017518-63D0-3EB5-A5AB-F8B1C2C36967.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>我叫静籽</string>
			<key>number</key>
			<string>ins646812</string>
			<key>user_id</key>
			<string>70422587</string>
		</dict>
		<key>user_id</key>
		<string>70422587</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1795</string>
		<key>id</key>
		<string>20040391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>花脸雪糕</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/207C5E4D-37A7-BDA1-14EA-C4F5E656D5E5.jpg</string>
		<key>series_id</key>
		<string>10501</string>
		<key>series_name</key>
		<string>萌萌的夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/89E32127-D557-818C-34C6-8E9BC5232C58.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/89E32127-D557-818C-34C6-8E9BC5232C58.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
</array>
</plist>
