<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>素包</string>
		<key>cate_id</key>
		<string>437</string>
		<key>id</key>
		<string>20000564</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>437</string>
		<key>name</key>
		<string>礼物</string>
		<key>number</key>
		<string>ing2995538</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/FE41F2D6-7B04-C9E1-2D77-9B4F6EF54586.jpg?v=2</string>
		<key>series_id</key>
		<string>154</string>
		<key>series_name</key>
		<string>害羞的小红</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/A0DBAF59-80B9-B126-F28B-5ADBB1082C7F.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/A0DBAF59-80B9-B126-F28B-5ADBB1082C7F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>素包子_bun</string>
			<key>number</key>
			<string>ing2995538</string>
			<key>user_id</key>
			<string>32945817</string>
		</dict>
		<key>user_id</key>
		<string>32945817</string>
	</dict>
	<dict>
		<key>author</key>
		<string>素包</string>
		<key>cate_id</key>
		<string>437</string>
		<key>id</key>
		<string>20000562</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>437</string>
		<key>name</key>
		<string>亲亲</string>
		<key>number</key>
		<string>ing2995538</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2014/12/19/45200F4F-F1E6-271B-6541-4A45B9B9BA04.jpg?v=2</string>
		<key>series_id</key>
		<string>154</string>
		<key>series_name</key>
		<string>害羞的小红</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2014/12/19/143C053E-F97D-08E8-CE82-4599CAD9FBA8.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2014/12/19/143C053E-F97D-08E8-CE82-4599CAD9FBA8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>素包子_bun</string>
			<key>number</key>
			<string>ing2995538</string>
			<key>user_id</key>
			<string>32945817</string>
		</dict>
		<key>user_id</key>
		<string>32945817</string>
	</dict>
	<dict>
		<key>author</key>
		<string>素包</string>
		<key>cate_id</key>
		<string>437</string>
		<key>id</key>
		<string>20000560</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>437</string>
		<key>name</key>
		<string>招手</string>
		<key>number</key>
		<string>ing2995538</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2014/12/19/A9AF04CD-E7FE-B55B-8E75-6897B312F107.jpg?v=2</string>
		<key>series_id</key>
		<string>154</string>
		<key>series_name</key>
		<string>害羞的小红</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2014/12/19/942DE7A2-1F3E-DA79-8C07-2340A2763592.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2014/12/19/942DE7A2-1F3E-DA79-8C07-2340A2763592.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>素包子_bun</string>
			<key>number</key>
			<string>ing2995538</string>
			<key>user_id</key>
			<string>32945817</string>
		</dict>
		<key>user_id</key>
		<string>32945817</string>
	</dict>
	<dict>
		<key>author</key>
		<string>素包</string>
		<key>cate_id</key>
		<string>437</string>
		<key>id</key>
		<string>20000558</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>437</string>
		<key>name</key>
		<string>嗨</string>
		<key>number</key>
		<string>ing2995538</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/F6CC9865-E390-5A87-1D74-5D7BAD72BF63.jpg?v=2</string>
		<key>series_id</key>
		<string>154</string>
		<key>series_name</key>
		<string>害羞的小红</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/7FCC18BD-9289-340A-247D-E4B79EE838EF.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2014/12/19/7FCC18BD-9289-340A-247D-E4B79EE838EF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>素包子_bun</string>
			<key>number</key>
			<string>ing2995538</string>
			<key>user_id</key>
			<string>32945817</string>
		</dict>
		<key>user_id</key>
		<string>32945817</string>
	</dict>
</array>
</plist>
