<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {600, 800}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<array>
			<dict>
				<key>file</key>
				<string>2.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>mask</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>right</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>pitu.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>logo</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>74</string>
					<key>left</key>
					<string>512</string>
					<key>right</key>
					<string>22</string>
					<key>top</key>
					<string>700</string>
				</dict>
				<key>zIndex</key>
				<string>3</string>
			</dict>
		</array>
		<key>part</key>
		<array>
			<dict>
				<key>index</key>
				<string>0</string>
				<key>path</key>
				<dict>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<string>196.0</string>
						<key>x</key>
						<string>392.0</string>
						<key>y</key>
						<string>330.0</string>
					</dict>
					<key>shape</key>
					<string>circle</string>
				</dict>
				<key>zIndex</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<string>1</string>
				<key>path</key>
				<dict>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<string>196.0</string>
						<key>x</key>
						<string>248.0</string>
						<key>y</key>
						<string>526.0</string>
					</dict>
					<key>shape</key>
					<string>circle</string>
				</dict>
				<key>zIndex</key>
				<string>1</string>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>align</key>
				<string>right</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>32</string>
					<key>green</key>
					<string>56</string>
					<key>red</key>
					<string>61</string>
				</dict>
				<key>defaultValue</key>
				<string>在路上</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>24.0</string>
					<key>width</key>
					<string>240.0</string>
					<key>x</key>
					<string>342.0</string>
					<key>y</key>
					<string>730.0</string>
				</dict>
				<key>id</key>
				<string>location</string>
				<key>maxSize</key>
				<string>24</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>24</string>
				<key>value</key>
				<string>$(exifPlace)</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
			<dict>
				<key>align</key>
				<string>right</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>32</string>
					<key>green</key>
					<string>56</string>
					<key>red</key>
					<string>61</string>
				</dict>
				<key>defaultValue</key>
				<string>2015/04/09</string>
				<key>format</key>
				<string>yyyy/MM/dd</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>16</string>
					<key>width</key>
					<string>104</string>
					<key>x</key>
					<string>478</string>
					<key>y</key>
					<string>760</string>
				</dict>
				<key>id</key>
				<string>date</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>20</string>
				<key>minSize</key>
				<string>16</string>
				<key>size</key>
				<string>20</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
