<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>292</string>
		<key>id</key>
		<string>20004896</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>292</string>
		<key>name</key>
		<string>命中注定我爱你</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/2A10FC1F-2D7D-9333-D84B-B00ABEAF7DD5.jpg?v=2</string>
		<key>series_id</key>
		<string>1354</string>
		<key>series_name</key>
		<string>手写心情5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/AEB8EE00-CFC1-3B4E-ED77-41BFA09EA3A1.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/17/AEB8EE00-CFC1-3B4E-ED77-41BFA09EA3A1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20017313</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>夜深人静</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/8A31A1C2-B9A8-6C8D-F321-551870CDD8B8.jpg</string>
		<key>series_id</key>
		<string>4709</string>
		<key>series_name</key>
		<string>晚安GN</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/897CD840-7575-54D5-1B76-CBCFBCFBF434.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/897CD840-7575-54D5-1B76-CBCFBCFBF434.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm 忠犬女王</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20008541</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>you're my sunshine</string>
		<key>number</key>
		<string>ine2987801</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/1B98D2FE-B92E-C071-38BC-D21938DE1FA0.jpg?v=2</string>
		<key>series_id</key>
		<string>2277</string>
		<key>series_name</key>
		<string>春天添点文艺气息</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/EBC0D536-9A3A-0BDD-6CB4-5E1D72BBEA4E.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/EBC0D536-9A3A-0BDD-6CB4-5E1D72BBEA4E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忠犬的女王</string>
			<key>number</key>
			<string>ine2987801</string>
			<key>user_id</key>
			<string>32867476</string>
		</dict>
		<key>user_id</key>
		<string>32867476</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>2253</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>I love u</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/4244947A-00CA-F2FC-163C-038F35B8A404.jpg</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/37C46C9C-9D9F-6383-EFC2-34CBC52EC4B8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/13/37C46C9C-9D9F-6383-EFC2-34CBC52EC4B8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20019553</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>不将就</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/33A47952-27C7-BB20-3B90-A890F475F08C.jpg</string>
		<key>series_id</key>
		<string>5295</string>
		<key>series_name</key>
		<string>时光心情2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/239610BB-6588-CAF5-2A7C-B386573AA567.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/239610BB-6588-CAF5-2A7C-B386573AA567.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>2255</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>love me if you dare</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/00665AFF-B84B-D705-50ED-9A063B519DD4.jpg</string>
		<key>series_id</key>
		<string>633</string>
		<key>series_name</key>
		<string>爱情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/233F4639-D882-E54F-1669-214A99ED5863.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/13/233F4639-D882-E54F-1669-214A99ED5863.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西瓜味汤圆师傅</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20019519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>遇到你才是最美好的时光</string>
		<key>number</key>
		<string>ing3909803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/F8712D7C-B66C-CCEC-D5B2-3C381D8C7967.jpg</string>
		<key>series_id</key>
		<string>5287</string>
		<key>series_name</key>
		<string>时光心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/0AB6FFAE-2843-956C-5644-2783505D9338.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/0AB6FFAE-2843-956C-5644-2783505D9338.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>西瓜味汤圆师傅</string>
			<key>number</key>
			<string>ing3909803</string>
			<key>user_id</key>
			<string>41951780</string>
		</dict>
		<key>user_id</key>
		<string>41951780</string>
	</dict>
	<dict>
		<key>author</key>
		<string>咸鱼GoYo</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20006456</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>forever</string>
		<key>number</key>
		<string>inh3272282</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/9BB43A6E-CCD2-07B2-DE55-ED6AFA602D97.jpg?v=2</string>
		<key>series_id</key>
		<string>1746</string>
		<key>series_name</key>
		<string>咸鱼白色情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/C16A9932-CC77-750F-33A2-C6B566F6070C.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/12/C16A9932-CC77-750F-33A2-C6B566F6070C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>咸魚GoYo</string>
			<key>number</key>
			<string>inh3272282</string>
			<key>user_id</key>
			<string>35613430</string>
		</dict>
		<key>user_id</key>
		<string>35613430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>633</string>
		<key>id</key>
		<string>20026089</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>633</string>
		<key>name</key>
		<string>爱的味道</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/252D4609-F4F1-DE93-116C-9FCBA26E8FB5.jpg</string>
		<key>series_id</key>
		<string>6935</string>
		<key>series_name</key>
		<string>微光文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/CC9B1214-06B8-58DC-7FA5-BB81C245AB05.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/CC9B1214-06B8-58DC-7FA5-BB81C245AB05.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
</array>
</plist>
