<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20039519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>闪粉蝴蝶结</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/767A6478-8B5D-5E94-9F12-1BA4A426146D.jpg</string>
		<key>series_id</key>
		<string>10283</string>
		<key>series_name</key>
		<string>梦幻少女心</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/E981B439-6ADA-79FF-7F58-C181CBF4DBC4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/20/E981B439-6ADA-79FF-7F58-C181CBF4DBC4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20028873</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>蝴蝶结</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/15/87DD6B8C-7E6D-E344-C78D-478863B52E11.jpg</string>
		<key>series_id</key>
		<string>7629</string>
		<key>series_name</key>
		<string>格子控小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/15/9B26493B-AAF5-8B5A-BAEF-2C076600D37A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/15/9B26493B-AAF5-8B5A-BAEF-2C076600D37A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宛城君</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20013603</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>粉色蝴蝶结</string>
		<key>number</key>
		<string>inp535711</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/D3CDD6B8-0690-48C9-DA25-5BED1228814E.jpg</string>
		<key>series_id</key>
		<string>3709</string>
		<key>series_name</key>
		<string>宛城君蝴蝶结系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/AC0554D5-6E34-9119-7CC7-DC508B02D14F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/AC0554D5-6E34-9119-7CC7-DC508B02D14F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宛城君</string>
			<key>number</key>
			<string>inp535711</string>
			<key>user_id</key>
			<string>69320529</string>
		</dict>
		<key>user_id</key>
		<string>69320529</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20008045</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>1</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/590116F3-1D04-56BF-22A3-40287F3882E6.jpg?v=2</string>
		<key>series_id</key>
		<string>2151</string>
		<key>series_name</key>
		<string>文艺复古蝴蝶结</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/76E2B010-BEAC-0994-6204-E33E5932D82A.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/76E2B010-BEAC-0994-6204-E33E5932D82A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20013145</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>可爱卖萌星星蝴蝶结</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/6C26E635-95BF-7C4A-298C-A125D4D68257.jpg</string>
		<key>series_id</key>
		<string>3593</string>
		<key>series_name</key>
		<string>一起嗨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/63442768-43C7-A44D-A899-239B4469217E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/63442768-43C7-A44D-A899-239B4469217E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20024381</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>黄色蝴蝶结</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/11/0E808620-0D86-A291-550B-411425A2466A.jpg</string>
		<key>series_id</key>
		<string>6509</string>
		<key>series_name</key>
		<string>夏日小装饰3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/11/F1E3F05A-C47C-BB62-2B1B-418261D601A9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/11/F1E3F05A-C47C-BB62-2B1B-418261D601A9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20039285</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>3</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/13/CEA55ECC-0B29-F856-AA24-9C83F8E69104.jpg</string>
		<key>series_id</key>
		<string>10225</string>
		<key>series_name</key>
		<string>少女心啊3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/13/24467F05-E9F3-102E-6D10-0DE40AFB12F9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/13/24467F05-E9F3-102E-6D10-0DE40AFB12F9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20027607</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>甜美蝴蝶结</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/31/0D3C6DB4-A155-8775-6ED0-A2F570C76426.jpg</string>
		<key>series_id</key>
		<string>7313</string>
		<key>series_name</key>
		<string>傻白甜的一天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/31/ED9C7723-C90D-D22D-8CC3-7FCE0DA765CA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/31/ED9C7723-C90D-D22D-8CC3-7FCE0DA765CA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20022873</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>淡蓝波点</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/7F580B0A-5D67-5237-DE6C-7ECE0F012FEE.jpg</string>
		<key>series_id</key>
		<string>6133</string>
		<key>series_name</key>
		<string>叶小星的小发饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/4ABB1C1E-0CF1-7F5C-5F69-C244F04E9B04.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/21/4ABB1C1E-0CF1-7F5C-5F69-C244F04E9B04.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
</array>
</plist>
