<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20015363</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>老爸你最棒</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/9E2F3296-03F6-D205-F288-E3302BAE2E19.jpg</string>
		<key>series_id</key>
		<string>4171</string>
		<key>series_name</key>
		<string>老爸节日快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/8191B538-950E-A83C-5941-C25EDE4D1FE2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/8191B538-950E-A83C-5941-C25EDE4D1FE2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20015361</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>老爸请笑纳</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/81ECB4F3-59FE-00FD-DE00-D1520CCE84BF.jpg</string>
		<key>series_id</key>
		<string>4171</string>
		<key>series_name</key>
		<string>老爸节日快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/28484B23-7494-0423-F391-9D8043E52D06.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/28484B23-7494-0423-F391-9D8043E52D06.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20015359</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>老爸加油</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/6956B48F-AB49-32AC-5C4A-DC06FC8AE7C9.jpg</string>
		<key>series_id</key>
		<string>4171</string>
		<key>series_name</key>
		<string>老爸节日快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/C31B7AD6-CE71-8D55-9267-5BC9B4EA1A14.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/C31B7AD6-CE71-8D55-9267-5BC9B4EA1A14.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20015357</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>老爸我爱你</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/75EA7345-AA62-E68B-4D3E-0607ADC13403.jpg</string>
		<key>series_id</key>
		<string>4171</string>
		<key>series_name</key>
		<string>老爸节日快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/8E7629B5-036D-15CC-57DA-24CA2400BD3B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/8E7629B5-036D-15CC-57DA-24CA2400BD3B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20014123</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>毕业不分手女</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/F3304AD8-9849-6423-05C8-1739D94E0A6A.jpg</string>
		<key>series_id</key>
		<string>3859</string>
		<key>series_name</key>
		<string>花酱毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/743CA67A-BF64-B968-5499-0B4C0940824A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/743CA67A-BF64-B968-5499-0B4C0940824A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20014121</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>毕业不分手男</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/251EE821-9CFE-6594-D9A8-A2BC7CB93576.jpg</string>
		<key>series_id</key>
		<string>3859</string>
		<key>series_name</key>
		<string>花酱毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/8C39A745-A068-3FD5-19BF-3772AA86ED2E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/8C39A745-A068-3FD5-19BF-3772AA86ED2E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20014119</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>考上重点</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/73EE7F96-ECC1-FF3A-5F15-6DAE7E540BD8.jpg</string>
		<key>series_id</key>
		<string>3859</string>
		<key>series_name</key>
		<string>花酱毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/1783AB00-E219-B8E5-C75C-F806472DD5C9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/1783AB00-E219-B8E5-C75C-F806472DD5C9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20014117</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>早日脱单</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/F7B3F350-5717-39C7-CD4D-19A9F29DD0E6.jpg</string>
		<key>series_id</key>
		<string>3859</string>
		<key>series_name</key>
		<string>花酱毕业季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/E687B44B-35DF-C935-9676-CB0BDC4A5F79.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/E687B44B-35DF-C935-9676-CB0BDC4A5F79.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
	<dict>
		<key>author</key>
		<string>花花酱</string>
		<key>cate_id</key>
		<string>891</string>
		<key>id</key>
		<string>20012059</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>891</string>
		<key>name</key>
		<string>给我买</string>
		<key>number</key>
		<string>ino422975</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/2D2C6809-8508-990F-AE61-E655BEFDA5CC.jpg</string>
		<key>series_id</key>
		<string>3259</string>
		<key>series_name</key>
		<string>花酱的六一</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/87288AD5-E093-3A1C-AE7F-B96FDC5404E8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/27/87288AD5-E093-3A1C-AE7F-B96FDC5404E8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>花花酱Flora</string>
			<key>number</key>
			<string>ino422975</string>
			<key>user_id</key>
			<string>68197483</string>
		</dict>
		<key>user_id</key>
		<string>68197483</string>
	</dict>
</array>
</plist>
