<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>圈圈</string>
		<key>cate_id</key>
		<string>1919</string>
		<key>id</key>
		<string>20018675</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1919</string>
		<key>name</key>
		<string>《浮溪4》</string>
		<key>number</key>
		<string>inn863078</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/9670DEF7-72D8-1A6F-4B5B-E6B2BE19FA6E.jpg</string>
		<key>series_id</key>
		<string>5071</string>
		<key>series_name</key>
		<string>浮溪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/B7E6E25F-DA62-F9CE-A67A-261CFACFDFB5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/B7E6E25F-DA62-F9CE-A67A-261CFACFDFB5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>绘绘妹</string>
			<key>number</key>
			<string>inn863078</string>
			<key>user_id</key>
			<string>72599736</string>
		</dict>
		<key>user_id</key>
		<string>72599736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>圈圈</string>
		<key>cate_id</key>
		<string>1919</string>
		<key>id</key>
		<string>20018673</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1919</string>
		<key>name</key>
		<string>《浮溪3》</string>
		<key>number</key>
		<string>inn863078</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/34762FD7-4314-5E86-6CE7-815BC00605CD.jpg</string>
		<key>series_id</key>
		<string>5071</string>
		<key>series_name</key>
		<string>浮溪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/ED1EBA03-3B28-ABD2-BB0C-ECC7430F8320.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/ED1EBA03-3B28-ABD2-BB0C-ECC7430F8320.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>绘绘妹</string>
			<key>number</key>
			<string>inn863078</string>
			<key>user_id</key>
			<string>72599736</string>
		</dict>
		<key>user_id</key>
		<string>72599736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>圈圈</string>
		<key>cate_id</key>
		<string>1919</string>
		<key>id</key>
		<string>20018671</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1919</string>
		<key>name</key>
		<string>《浮溪2》</string>
		<key>number</key>
		<string>inn863078</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/396AC5FE-CC14-9C8E-8B22-388D8964568F.jpg</string>
		<key>series_id</key>
		<string>5071</string>
		<key>series_name</key>
		<string>浮溪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/D2C2379B-D0F3-E2CB-D05F-DEC20013A5BB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/D2C2379B-D0F3-E2CB-D05F-DEC20013A5BB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>绘绘妹</string>
			<key>number</key>
			<string>inn863078</string>
			<key>user_id</key>
			<string>72599736</string>
		</dict>
		<key>user_id</key>
		<string>72599736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>圈圈</string>
		<key>cate_id</key>
		<string>1919</string>
		<key>id</key>
		<string>20018669</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1919</string>
		<key>name</key>
		<string>《浮溪1》</string>
		<key>number</key>
		<string>inn863078</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/E77C8C4F-D6CE-65E4-81E5-A8DC36D88387.jpg</string>
		<key>series_id</key>
		<string>5071</string>
		<key>series_name</key>
		<string>浮溪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C852BA63-A104-EB04-43C1-0BAB0DDCF0BD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C852BA63-A104-EB04-43C1-0BAB0DDCF0BD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>绘绘妹</string>
			<key>number</key>
			<string>inn863078</string>
			<key>user_id</key>
			<string>72599736</string>
		</dict>
		<key>user_id</key>
		<string>72599736</string>
	</dict>
</array>
</plist>
