<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>rainbow</string>
		<key>cate_id</key>
		<string>3982</string>
		<key>id</key>
		<string>20056628</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>薄荷叶女孩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/B769B991-E259-8EBD-839D-1108C620B53F.jpg</string>
		<key>series_id</key>
		<string>14582</string>
		<key>series_name</key>
		<string>夏日女孩2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/FB76826D-71B6-2273-8B99-856871737677.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/FB76826D-71B6-2273-8B99-856871737677.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>rainbow</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15985746</string>
		</dict>
		<key>user_id</key>
		<string>15985746</string>
	</dict>
	<dict>
		<key>author</key>
		<string>rainbow</string>
		<key>cate_id</key>
		<string>3982</string>
		<key>id</key>
		<string>20056624</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>红帽女孩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/F8AD9BE4-39DF-DC01-6F94-87C1DAD6194D.jpg</string>
		<key>series_id</key>
		<string>14582</string>
		<key>series_name</key>
		<string>夏日女孩2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/D1D6DD74-A760-208D-1E48-440E849FF548.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/04/D1D6DD74-A760-208D-1E48-440E849FF548.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>rainbow</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15985746</string>
		</dict>
		<key>user_id</key>
		<string>15985746</string>
	</dict>
	<dict>
		<key>author</key>
		<string>rainbow</string>
		<key>cate_id</key>
		<string>3982</string>
		<key>id</key>
		<string>20056626</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>墨镜女孩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/EA535C7A-2C80-5E3C-75CE-57581EBA4BE1.jpg</string>
		<key>series_id</key>
		<string>14582</string>
		<key>series_name</key>
		<string>夏日女孩2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/8BFDCCA4-17BF-DFE4-2602-ED11BF5690A5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/8BFDCCA4-17BF-DFE4-2602-ED11BF5690A5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>rainbow</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15985746</string>
		</dict>
		<key>user_id</key>
		<string>15985746</string>
	</dict>
	<dict>
		<key>author</key>
		<string>rainbow</string>
		<key>cate_id</key>
		<string>3982</string>
		<key>id</key>
		<string>20056630</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>冰块女孩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/88A9067A-BA79-D172-55B4-EC50A667C556.jpg</string>
		<key>series_id</key>
		<string>14582</string>
		<key>series_name</key>
		<string>夏日女孩2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/992DAC05-2F5C-8717-0929-1AB598091A67.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/04/992DAC05-2F5C-8717-0929-1AB598091A67.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>rainbow</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15985746</string>
		</dict>
		<key>user_id</key>
		<string>15985746</string>
	</dict>
</array>
</plist>
