<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>啊啊啊桃纸</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20042077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小卷</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/DAF1B5D1-D752-7CF3-E05B-7D79F322DA83.jpg</string>
		<key>series_id</key>
		<string>10923</string>
		<key>series_name</key>
		<string>端午来啦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/0B0F7825-94B0-BE9B-F9AE-8B9CDEEE6097.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/0B0F7825-94B0-BE9B-F9AE-8B9CDEEE6097.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>李喋喋喋喋易喋喋</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>32308412</string>
		</dict>
		<key>user_id</key>
		<string>32308412</string>
	</dict>
	<dict>
		<key>author</key>
		<string>莴苣</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20051221</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝贝植物</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/7AEA5568-CFF2-E1FA-A8C4-6618213E4EB7.jpg</string>
		<key>series_id</key>
		<string>13211</string>
		<key>series_name</key>
		<string>冬日宝贝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/4FF85FA8-44A2-CD88-085B-18EF64757DDC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/10/4FF85FA8-44A2-CD88-085B-18EF64757DDC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>莴苣</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>38753478</string>
		</dict>
		<key>user_id</key>
		<string>38753478</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宝儿小莹莹</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20047077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秋天我也萌萌哒叶子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/27E40F04-E039-539B-DEA6-A0E4752FABB4.jpg</string>
		<key>series_id</key>
		<string>12175</string>
		<key>series_name</key>
		<string>秋天我也萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/A318893F-2550-D5FB-4B0D-124FCB896D44.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/A318893F-2550-D5FB-4B0D-124FCB896D44.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宝儿小莹莹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77656084</string>
		</dict>
		<key>user_id</key>
		<string>77656084</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20054536</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>花边1</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/20/716F1CA4-2649-4F6F-097C-5186BF656E32.jpg</string>
		<key>series_id</key>
		<string>14040</string>
		<key>series_name</key>
		<string>－—春姑娘—－</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/20/0D267048-5A8A-04B7-54F5-1C24FBEF668A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/20/0D267048-5A8A-04B7-54F5-1C24FBEF668A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20053244</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>花边</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/16/792F3001-760B-FB33-BF3D-382778B35987.jpg</string>
		<key>series_id</key>
		<string>13716</string>
		<key>series_name</key>
		<string>春天的味道</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/16/253C331D-5601-4891-7B17-523DF07D93B1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/16/253C331D-5601-4891-7B17-523DF07D93B1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杨译淇</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20016141</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>607</string>
		<key>name</key>
		<string>叶子</string>
		<key>number</key>
		<string>ini3290155</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/4951F437-8982-3B2C-55B7-294C22DE3E3D.jpg</string>
		<key>series_id</key>
		<string>4367</string>
		<key>series_name</key>
		<string>八宝仔泰国游2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/589C8D2C-12C9-82C7-A01D-44281DDEE0A0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/23/589C8D2C-12C9-82C7-A01D-44281DDEE0A0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杨大淇</string>
			<key>number</key>
			<string>ini3290155</string>
			<key>user_id</key>
			<string>35788011</string>
		</dict>
		<key>user_id</key>
		<string>35788011</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哟茶酱</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20006805</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>607</string>
		<key>name</key>
		<string>发芽</string>
		<key>number</key>
		<string>ind1122258</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/16/A5DBE6C2-B5C0-D50C-583A-1F6903F2F5BA.jpg?v=2</string>
		<key>series_id</key>
		<string>1835</string>
		<key>series_name</key>
		<string>春萌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/16/BE257F25-9F87-5E44-7856-353B66FD271A.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/16/BE257F25-9F87-5E44-7856-353B66FD271A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>yo茶酱</string>
			<key>number</key>
			<string>ind1122258</string>
			<key>user_id</key>
			<string>15064585</string>
		</dict>
		<key>user_id</key>
		<string>15064585</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20009397</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>607</string>
		<key>name</key>
		<string>叶子</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/21/D66F6EA8-1A95-C91C-9EA1-B61AF53904AB.jpg?v=2</string>
		<key>series_id</key>
		<string>2551</string>
		<key>series_name</key>
		<string>萌萌的头饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/21/EEF6E053-8494-28C8-9B08-D96C75FB9B7D.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/21/EEF6E053-8494-28C8-9B08-D96C75FB9B7D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>607</string>
		<key>id</key>
		<string>20047053</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>金黄麦穗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/EF32FD7B-A2FD-2405-3E1D-65EBFD5DEBFD.jpg</string>
		<key>series_id</key>
		<string>12169</string>
		<key>series_name</key>
		<string>叶子花与果实</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/571615D8-7C52-BD63-2178-820FD96606A2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/22/571615D8-7C52-BD63-2178-820FD96606A2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
</array>
</plist>
