<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20044377</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>趴住</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/587703D9-4F38-1B5C-98B6-9B8E355971CE.jpg</string>
		<key>series_id</key>
		<string>11501</string>
		<key>series_name</key>
		<string>野萌君乱入篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/EFDA0073-BF43-036E-D4AA-05E3FD90094A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/EFDA0073-BF43-036E-D4AA-05E3FD90094A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20037357</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>照相</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/23/4F9A496F-ECB7-6594-7001-C6E28129422B.jpg</string>
		<key>series_id</key>
		<string>9743</string>
		<key>series_name</key>
		<string>野萌君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/23/B0C45BE8-48DE-B172-ADA0-E332C9080B5E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/23/B0C45BE8-48DE-B172-ADA0-E332C9080B5E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20044285</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>粘着你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/24/08D5627E-F780-AD4F-E014-C8E33C3EA128.jpg</string>
		<key>series_id</key>
		<string>11475</string>
		<key>series_name</key>
		<string>野萌君夏日篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/23/715E8A6B-563B-4D0F-CA07-C3C3A30D23E3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/23/715E8A6B-563B-4D0F-CA07-C3C3A30D23E3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20042713</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>野萌君做笔记</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/18/0FEFB9B4-3BC1-F073-F160-18A6354A40B8.jpg</string>
		<key>series_id</key>
		<string>11083</string>
		<key>series_name</key>
		<string>野萌君学习篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/18/087AE800-C04E-3829-627F-8FD53F9359C7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/18/087AE800-C04E-3829-627F-8FD53F9359C7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20044283</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>游泳</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/24/C5436647-79D3-282E-8A1D-F0149CDEEA7B.jpg</string>
		<key>series_id</key>
		<string>11475</string>
		<key>series_name</key>
		<string>野萌君夏日篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/23/30210FB5-016B-26B6-B28D-844E2B2C1B2B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/23/30210FB5-016B-26B6-B28D-844E2B2C1B2B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20037355</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好吃</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/24/2B093F7B-2ED6-3283-1BE7-61591B6F9E55.jpg</string>
		<key>series_id</key>
		<string>9743</string>
		<key>series_name</key>
		<string>野萌君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/24/6B60384B-0EB9-F9E4-F4E0-1CA8EC2E45BD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/24/6B60384B-0EB9-F9E4-F4E0-1CA8EC2E45BD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小破桃君</string>
		<key>cate_id</key>
		<string>2491</string>
		<key>id</key>
		<string>20037359</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>茄子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/23/E5FF28F7-0277-D9EE-0712-146D2BC93979.jpg</string>
		<key>series_id</key>
		<string>9743</string>
		<key>series_name</key>
		<string>野萌君</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/23/510E3D91-B8F0-21CD-4783-73ADBC5BFE60.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/23/510E3D91-B8F0-21CD-4783-73ADBC5BFE60.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小破桃r</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>97134801</string>
		</dict>
		<key>user_id</key>
		<string>97134801</string>
	</dict>
</array>
</plist>
