<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28203</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,王俊凯,林惊羽,林惊羽少年,少年</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>王俊凯林惊羽少年q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/29/44C3C03C-51EC-D57A-88BD-1705074A90EC.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/29/881C75DF-2368-1057-E90A-B412C2E2951B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/29/881C75DF-2368-1057-E90A-B412C2E2951B.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28202</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,王源,张小凡,王源张小凡</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>王源张小凡少年q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/29/F293F1E9-7639-DC84-C50D-C32467870FA1.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/29/429836CB-1A19-9D44-B878-8EF91AB50736.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/29/429836CB-1A19-9D44-B878-8EF91AB50736.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,易烊千玺,小七,易烊千玺小七</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>易烊千玺小七q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/29/9B7C2021-7E9E-B73F-08C0-D490E8EC9D3D.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/29/A7979E64-8AF4-2897-354B-198F69667807.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/29/A7979E64-8AF4-2897-354B-198F69667807.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28005</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,杨紫陆雪琪,杨紫,陆雪琪</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>杨紫陆雪琪q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/DCAA091E-3808-42B1-5015-79B7DBECA8D3.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/078D2B0C-5FAD-C5F6-730D-34B8C2F04787.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/078D2B0C-5FAD-C5F6-730D-34B8C2F04787.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28004</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,秦俊杰曾书书,秦俊杰,曾书书</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秦俊杰曾书书q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/07/27/ACDD6AA7-8CDE-F6A8-AD55-F07D6959335D.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/07/27/6E79B76E-A0C7-D894-411E-2C0F87F8D842.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/07/27/6E79B76E-A0C7-D894-411E-2C0F87F8D842.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28002</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,李易峰鬼厉,鬼厉,李易峰</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>李易峰鬼厉q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/8D34B4A0-5548-AADB-2022-C78319292C78.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/D806718A-F556-7CA3-BD04-EF7AD63851E9.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/D806718A-F556-7CA3-BD04-EF7AD63851E9.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28001</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,成毅林惊羽,成毅,林惊羽</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>成毅林惊羽q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/48E84E82-E5C6-B62F-244F-91219F71AF2E.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/4C982748-A8FD-8296-799E-CDA5AEA389A6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/27/4C982748-A8FD-8296-799E-CDA5AEA389A6.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28006</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,赵丽颖碧瑶,赵丽颖,碧瑶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>赵丽颖碧瑶q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/511704FD-8A69-DCC3-39E8-23834915654C.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/EDA0C8CD-49F9-EE6A-9AE6-A13D60DC4580.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/27/EDA0C8CD-49F9-EE6A-9AE6-A13D60DC4580.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2935</string>
		<key>id</key>
		<string>28003</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>诛仙,青云志,诛仙青云志,李易峰小凡,小凡,李易峰,张小凡</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>李易峰小凡q版</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/27/B3E3810B-0831-8488-90D6-83003CB1DF44.jpg</string>
		<key>series_id</key>
		<string>2935</string>
		<key>series_name</key>
		<string>《诛仙青云志》卡通形象</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/27/2C756AF0-6010-8755-8274-F8D6AE492F52.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/27/2C756AF0-6010-8755-8274-F8D6AE492F52.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
