<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>673</string>
		<key>id</key>
		<string>20009395</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>673</string>
		<key>name</key>
		<string>约吗</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/22/18CA7227-2307-B864-FD86-0C20C172E146.jpg?v=2</string>
		<key>series_id</key>
		<string>2549</string>
		<key>series_name</key>
		<string>逗比羊驼</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/21/F549C29E-CCF7-62B3-94FA-3BCA9AB717C9.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/21/F549C29E-CCF7-62B3-94FA-3BCA9AB717C9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>673</string>
		<key>id</key>
		<string>20009897</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>673</string>
		<key>name</key>
		<string>晚安，好梦</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/5DBB6069-99FB-BC9D-D853-E5EEF2AB8DB5.jpg?v=2</string>
		<key>series_id</key>
		<string>2705</string>
		<key>series_name</key>
		<string>逗比羊驼2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/73AFE50E-6B9F-23C9-724F-7DD55B227A76.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/27/73AFE50E-6B9F-23C9-724F-7DD55B227A76.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
</array>
</plist>
