<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>米朵朵</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20056182</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜡笔画气球</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/BBC68F26-17FB-2380-8042-5FA744440A9F.jpg</string>
		<key>series_id</key>
		<string>14462</string>
		<key>series_name</key>
		<string>蜡笔画装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/6EE25C65-1B86-9DB9-8995-652A23D95B8E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/6EE25C65-1B86-9DB9-8995-652A23D95B8E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>CG少先队员</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>116111249</string>
		</dict>
		<key>user_id</key>
		<string>116111249</string>
	</dict>
	<dict>
		<key>author</key>
		<string>米朵朵</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20056178</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜡笔画空中城堡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/ECC833E4-0D16-4F28-8F5C-05D593A9455D.jpg</string>
		<key>series_id</key>
		<string>14462</string>
		<key>series_name</key>
		<string>蜡笔画装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/810BC046-D350-12C3-8012-EE0B3CA2E4F8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/26/810BC046-D350-12C3-8012-EE0B3CA2E4F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>CG少先队员</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>116111249</string>
		</dict>
		<key>user_id</key>
		<string>116111249</string>
	</dict>
	<dict>
		<key>author</key>
		<string>米朵朵</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20056184</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜡笔画星星云朵</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/3C3717CD-407C-CD6E-D558-049209598130.jpg</string>
		<key>series_id</key>
		<string>14462</string>
		<key>series_name</key>
		<string>蜡笔画装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/A49E7C3D-921C-77E3-0160-B24A876F9A3B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/A49E7C3D-921C-77E3-0160-B24A876F9A3B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>CG少先队员</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>116111249</string>
		</dict>
		<key>user_id</key>
		<string>116111249</string>
	</dict>
	<dict>
		<key>author</key>
		<string>米朵朵</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20056180</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜡笔画花环</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/2DD30C0C-337A-5C99-9142-BE644C460F72.jpg</string>
		<key>series_id</key>
		<string>14462</string>
		<key>series_name</key>
		<string>蜡笔画装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/DFEACA5D-51D4-DAA0-E7C3-E3EE3EA63EFD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/DFEACA5D-51D4-DAA0-E7C3-E3EE3EA63EFD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>CG少先队员</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>116111249</string>
		</dict>
		<key>user_id</key>
		<string>116111249</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20055328</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清新蜡笔简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/FA4C9D6C-DA78-73B9-E15C-4319F4C9AD74.jpg</string>
		<key>series_id</key>
		<string>14238</string>
		<key>series_name</key>
		<string>清新蜡笔简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/157656A0-F3CF-6392-0AEA-ABE65FD5076F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/157656A0-F3CF-6392-0AEA-ABE65FD5076F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20055334</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清新蜡笔简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/977044D4-AC90-6755-3C5E-1F962CBBFFB8.jpg</string>
		<key>series_id</key>
		<string>14238</string>
		<key>series_name</key>
		<string>清新蜡笔简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/59AE5374-993C-38F0-DEB0-B6E8D0B2B159.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/59AE5374-993C-38F0-DEB0-B6E8D0B2B159.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20055330</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清新蜡笔简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/2F9F1068-E42D-37C5-D0BA-2A127F5FEE72.jpg</string>
		<key>series_id</key>
		<string>14238</string>
		<key>series_name</key>
		<string>清新蜡笔简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/0346291D-A8C4-8E59-FC6F-44009FCE4D9C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/09/0346291D-A8C4-8E59-FC6F-44009FCE4D9C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3898</string>
		<key>id</key>
		<string>20055332</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>清新蜡笔简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/D9E287D7-FB97-A49A-5DC0-17BC7A3FDA40.jpg</string>
		<key>series_id</key>
		<string>14238</string>
		<key>series_name</key>
		<string>清新蜡笔简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/BC170B0F-D1B6-CB33-41D3-4C9D76FF035F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/09/BC170B0F-D1B6-CB33-41D3-4C9D76FF035F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
</array>
</plist>
