<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20058808</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>就是要你萌,六一</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>谁还不是个宝宝啊</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/71DF6C88-A0C9-6F5B-827B-D952F683ED8D-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15232</string>
		<key>series_name</key>
		<string>六一萌字贴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/4D45C909-AACE-BE79-99D9-F75F3E8BC56D-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/28/4D45C909-AACE-BE79-99D9-F75F3E8BC56D-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>珈玙</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20058478</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>过节,派对,六一儿童节,彩灯,挂饰</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>彩灯挂饰</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/25/643A29C4-E46A-804F-EDB2-42BDF5096438-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15098</string>
		<key>series_name</key>
		<string>六一儿童节派对</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/25/FC586CC7-D988-FCDB-CDA5-A6901E7C6944-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/25/FC586CC7-D988-FCDB-CDA5-A6901E7C6944-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>橙咖咖</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>80247173</string>
		</dict>
		<key>user_id</key>
		<string>80247173</string>
	</dict>
	<dict>
		<key>author</key>
		<string>纯圆小红帽</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20057028</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>最美妈妈</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/10/B1570460-23D3-585F-B6D9-2E62FBC908EF.jpg</string>
		<key>series_id</key>
		<string>14686</string>
		<key>series_name</key>
		<string>最美妈妈</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/10/459CBA76-3FD2-C656-D0B6-141B4A64CDE6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/10/459CBA76-3FD2-C656-D0B6-141B4A64CDE6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>纯圆小红帽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109877516</string>
		</dict>
		<key>user_id</key>
		<string>109877516</string>
	</dict>
	<dict>
		<key>author</key>
		<string>MoMo麻麻酱</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20059018</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>我的节日我做主,女王,六一快乐,儿童节,文字装饰,六一文字,装饰文字,可爱,大宝宝</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我的节日我做主</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/4165BD42-0291-9C31-BDC0-DEC3F75ED79A-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15300</string>
		<key>series_name</key>
		<string>61装饰文字大合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/921F6912-F1AF-AF70-EA73-084175F0A2A8-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/921F6912-F1AF-AF70-EA73-084175F0A2A8-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MoMo麻麻酱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117101796</string>
		</dict>
		<key>user_id</key>
		<string>117101796</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20058830</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>少女心,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>永远少女心</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/85D77121-3209-D886-2E2E-A81C89D58EAB-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15238</string>
		<key>series_name</key>
		<string>永远少女心</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/80585C23-991E-1D22-E1D7-1A5E5C75CAA1-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/28/80585C23-991E-1D22-E1D7-1A5E5C75CAA1-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>纯圆小红帽</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20057414</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>放诞不羁爱自由</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/16/7F9ED2C8-8870-7D8D-82DA-5680110B4D24.jpg</string>
		<key>series_id</key>
		<string>14782</string>
		<key>series_name</key>
		<string>单身狗的反击</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/16/F2614109-EA39-96D7-BDDC-3CA7CA87FCE6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/16/F2614109-EA39-96D7-BDDC-3CA7CA87FCE6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>纯圆小红帽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109877516</string>
		</dict>
		<key>user_id</key>
		<string>109877516</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20058052</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>六一,儿童节,文字,气球</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>六一儿童节</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/D0C8AFF5-8E6C-7ADE-2E10-C4922E63CFCB-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14960</string>
		<key>series_name</key>
		<string>初夏文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/AE313FF7-001C-5B01-02F0-135E56887516-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/23/AE313FF7-001C-5B01-02F0-135E56887516-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一只燕子</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20057248</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想嫁给电风扇</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/6ADF799D-8B07-A544-4B99-9E2788904AE4.jpg</string>
		<key>series_id</key>
		<string>14740</string>
		<key>series_name</key>
		<string>热到报表</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/96FDC89F-F4FD-42C7-FB03-F4D66BFF497D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/16/96FDC89F-F4FD-42C7-FB03-F4D66BFF497D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Cly--燕</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15207992</string>
		</dict>
		<key>user_id</key>
		<string>15207992</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一只燕子</string>
		<key>cate_id</key>
		<string>3396</string>
		<key>id</key>
		<string>20057246</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>热到爆表</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/15/8FE2D578-29C6-D481-BF12-770DE1290911.jpg</string>
		<key>series_id</key>
		<string>14740</string>
		<key>series_name</key>
		<string>热到报表</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/15/CED6DC1C-4512-29AE-35EC-48AAE069D765.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/15/CED6DC1C-4512-29AE-35EC-48AAE069D765.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Cly--燕</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15207992</string>
		</dict>
		<key>user_id</key>
		<string>15207992</string>
	</dict>
</array>
</plist>
