<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Chellly</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1330</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>腊八</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/F9082102-2210-AEA9-CE72-B40B5058E25C.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/1648BC3C-981D-7B51-9771-D1905AD229F3.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/1648BC3C-981D-7B51-9771-D1905AD229F3.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Chellly</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1328</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>腊八粥</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/E1B9CE6E-1119-BBD8-D124-C3F6D88E08AA.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/86EC94D3-8E19-427E-6C11-50DECE79B140.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/86EC94D3-8E19-427E-6C11-50DECE79B140.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷漠冰稀饭</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1326</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>腊八</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>雪人</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/F5B04B01-1C8C-57BB-D9E3-F2699E7E90C1.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/8CA92838-E85D-F496-9951-50BDBEA766A1.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/8CA92838-E85D-F496-9951-50BDBEA766A1.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷漠冰稀饭</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1322</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2285</string>
		<key>name</key>
		<string>腊八粥</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/01A46655-D8E0-1DB1-291C-F8F7AEE6BE53.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/F560A79D-CA56-FADC-69B6-80BDB42FDB46.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/F560A79D-CA56-FADC-69B6-80BDB42FDB46.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷漠冰稀饭</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1320</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2285</string>
		<key>name</key>
		<string>腊八节</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/A969D4CE-F99D-45EB-E493-AFCD408C896A.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/0A07AEEE-AD75-5550-DE55-50D0A48FEB61.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/0A07AEEE-AD75-5550-DE55-50D0A48FEB61.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1318</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>腊八节快乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/24805920-26E0-20BF-B857-854FA68A3E26.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/8D567AF9-7F03-AD87-8270-78AD0E39040F.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/8D567AF9-7F03-AD87-8270-78AD0E39040F.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1316</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>腊八</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>蜡笔大联欢</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/35B2BA8B-30BF-8C39-C4A9-DF6DDC45C096.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/EE86CEB5-0BD2-7DBD-67F1-E1E045686D0C.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/26/EE86CEB5-0BD2-7DBD-67F1-E1E045686D0C.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1314</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>腊八粥</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/EFD176D3-03F4-322D-BDCC-8B6F66291766.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/0E22C302-A372-4DA3-2063-204F559D8D54.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/26/0E22C302-A372-4DA3-2063-204F559D8D54.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>142</string>
		<key>id</key>
		<string>1312</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>142</string>
		<key>name</key>
		<string>一碗粥暖人心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/2A4719DA-E52A-4302-652C-C377A0175997.jpg?v=2</string>
		<key>series_id</key>
		<string>142</string>
		<key>series_name</key>
		<string>腊八节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/7452E445-F577-F0B3-4347-DD6B007A1BF9.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/26/7452E445-F577-F0B3-4347-DD6B007A1BF9.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
