<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20045419</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喵</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/17/90F3AB2D-8B53-29F5-04EB-CCF407920764.jpg</string>
		<key>series_id</key>
		<string>11761</string>
		<key>series_name</key>
		<string>变身性感小猫妹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/17/53C04410-9E72-9EAC-4DB8-0E3620BCDB99.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/17/53C04410-9E72-9EAC-4DB8-0E3620BCDB99.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20018945</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>635</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/428CF0B4-E07E-5023-A13E-DD5873C79D71.jpg</string>
		<key>series_id</key>
		<string>5139</string>
		<key>series_name</key>
		<string>可爱语言贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/A03C5438-97BE-29CE-FC22-54860D88CFBD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/A03C5438-97BE-29CE-FC22-54860D88CFBD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>酥酥沫</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20045171</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>变瘦吧</string>
		<key>number</key>
		<string>Mimomo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/10/EFCE56E9-C7EE-FD0F-AC12-07FB555AB9FC.jpg</string>
		<key>series_id</key>
		<string>11699</string>
		<key>series_name</key>
		<string>巴啦啦魔法棒系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/10/59F60F75-2273-234D-86BE-D5018278E887.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/10/59F60F75-2273-234D-86BE-D5018278E887.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>酥酥沫MO</string>
			<key>number</key>
			<string>Mimomo</string>
			<key>user_id</key>
			<string>38997933</string>
		</dict>
		<key>user_id</key>
		<string>38997933</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20054832</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>快乐一天</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/28/2BCC295C-3C19-8727-7A83-440A0C44FAC4.jpg</string>
		<key>series_id</key>
		<string>14114</string>
		<key>series_name</key>
		<string>快乐の节日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/28/D65D7CEB-44AD-71ED-990A-CAD731B07ABB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/28/D65D7CEB-44AD-71ED-990A-CAD731B07ABB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20044149</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝宝生气了</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/440DB366-0FB6-25A9-3EE8-103608EBA8DA.jpg</string>
		<key>series_id</key>
		<string>11441</string>
		<key>series_name</key>
		<string>宝宝生气了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/BA0F4A44-027F-5BB1-B1A8-B2B0712BB269.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/21/BA0F4A44-027F-5BB1-B1A8-B2B0712BB269.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20040969</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>nice</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/483E9645-4750-3B52-7C3E-074088618A0D.jpg</string>
		<key>series_id</key>
		<string>10647</string>
		<key>series_name</key>
		<string>多多酱文字系列5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/D2BDF579-3516-D40F-79C3-D28285531C85.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/D2BDF579-3516-D40F-79C3-D28285531C85.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>胖胖妞</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20037503</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>起床困难户4</string>
		<key>number</key>
		<string>inb3224979</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/29/DE93B832-E6C6-DA61-8A04-B688F8366956.jpg</string>
		<key>series_id</key>
		<string>9779</string>
		<key>series_name</key>
		<string>起床困难户</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/29/8EA7A473-4DA8-7279-23CB-C5D5A14EC99E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/29/8EA7A473-4DA8-7279-23CB-C5D5A14EC99E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>圆那个圆</string>
			<key>number</key>
			<string>inb3224979</string>
			<key>user_id</key>
			<string>35122722</string>
		</dict>
		<key>user_id</key>
		<string>35122722</string>
	</dict>
	<dict>
		<key>author</key>
		<string>上官凝儿</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20053444</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我敲可爱的</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/0C9A35BD-A010-9192-98A9-992E37416EF4.jpg</string>
		<key>series_id</key>
		<string>13766</string>
		<key>series_name</key>
		<string>仙女宝宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/C88EEDD3-5331-6D00-26FB-764E98665184.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/22/C88EEDD3-5331-6D00-26FB-764E98665184.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>上官凝儿XTing</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>38813217</string>
		</dict>
		<key>user_id</key>
		<string>38813217</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20049411</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>减-肉肉肥失败</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/45EB0EB6-9F3B-2933-83A1-8E37C689707A.jpg</string>
		<key>series_id</key>
		<string>12759</string>
		<key>series_name</key>
		<string>减肥失败</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/FBD74971-B39D-8BA9-5A67-0AFABD12F7CF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/FBD74971-B39D-8BA9-5A67-0AFABD12F7CF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘎嘣豆</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101638822</string>
		</dict>
		<key>user_id</key>
		<string>101638822</string>
	</dict>
</array>
</plist>
