<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20011265</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>状态不错</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/6491F72F-5181-CC8F-E667-D0FBF421F476.jpg</string>
		<key>series_id</key>
		<string>3051</string>
		<key>series_name</key>
		<string>睿雨清新文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/1C10EBA7-5814-E537-7D0F-CB713421FCE8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/1C10EBA7-5814-E537-7D0F-CB713421FCE8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张小能</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20023893</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>smile</string>
		<key>number</key>
		<string>inc3424110</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/2904F1BA-B684-408D-6EA6-EB581065F2C1.jpg</string>
		<key>series_id</key>
		<string>6387</string>
		<key>series_name</key>
		<string>张小能的嘴唇文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/A92B4CFF-6311-BDDB-9353-1C407104EBA0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/A92B4CFF-6311-BDDB-9353-1C407104EBA0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张小能</string>
			<key>number</key>
			<string>inc3424110</string>
			<key>user_id</key>
			<string>37116489</string>
		</dict>
		<key>user_id</key>
		<string>37116489</string>
	</dict>
	<dict>
		<key>author</key>
		<string>芒果好吃吗</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20019969</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>smiling</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/F5C4C799-82A8-7B1F-1DEB-2703758AD6A3.jpg</string>
		<key>series_id</key>
		<string>5401</string>
		<key>series_name</key>
		<string>韩国笑脸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/E1B93EB3-FE84-E3D6-A060-9A32E08E0B14.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/10/E1B93EB3-FE84-E3D6-A060-9A32E08E0B14.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lovemango酱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73155254</string>
		</dict>
		<key>user_id</key>
		<string>73155254</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小资女Q</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20012831</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>快乐时光</string>
		<key>number</key>
		<string>inf3180049</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/16B27645-213E-39E8-EC1D-C1F06A0104AB.jpg</string>
		<key>series_id</key>
		<string>3483</string>
		<key>series_name</key>
		<string>小图章</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/3B772C9E-5E82-BDC6-77F1-DFD1A02697EB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/03/3B772C9E-5E82-BDC6-77F1-DFD1A02697EB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小资女Q</string>
			<key>number</key>
			<string>inf3180049</string>
			<key>user_id</key>
			<string>34705175</string>
		</dict>
		<key>user_id</key>
		<string>34705175</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20053372</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>一天一天又一天</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/15000251-5A69-580A-4A78-F6CF8F09A893.jpg</string>
		<key>series_id</key>
		<string>13748</string>
		<key>series_name</key>
		<string>发条少女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/1679573A-660B-15BA-A9D5-2D1089E33B41.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/21/1679573A-660B-15BA-A9D5-2D1089E33B41.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20053432</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早睡</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/23/C1B74D71-9AAC-C474-CB9A-F395F20865E2.jpg</string>
		<key>series_id</key>
		<string>13764</string>
		<key>series_name</key>
		<string>心情时段文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/23/A68EFBCF-09AF-7E2B-9040-96C179EF3E7A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/23/A68EFBCF-09AF-7E2B-9040-96C179EF3E7A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>里斯鬼</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20006360</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>wow</string>
		<key>number</key>
		<string>sunsecret</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/F52DA8D2-0212-D86D-0C7A-A7CEB6251C82.jpg?v=2</string>
		<key>series_id</key>
		<string>1722</string>
		<key>series_name</key>
		<string>可爱文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/25E066F0-EA56-450E-2D56-AD0FA98DC724.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/13/25E066F0-EA56-450E-2D56-AD0FA98DC724.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>里斯鬼</string>
			<key>number</key>
			<string>sunsecret</string>
			<key>user_id</key>
			<string>34777395</string>
		</dict>
		<key>user_id</key>
		<string>34777395</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫屁股殿下</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20021025</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>孤独患者</string>
		<key>number</key>
		<string>inr784249</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/0B0BB96F-65E7-FD8A-B39B-B6A1C1F01119.jpg</string>
		<key>series_id</key>
		<string>5671</string>
		<key>series_name</key>
		<string>小清新小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/C345F9C4-6707-119F-50C2-C0F5C1F42FEA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/C345F9C4-6707-119F-50C2-C0F5C1F42FEA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫屁股殿下</string>
			<key>number</key>
			<string>inr784249</string>
			<key>user_id</key>
			<string>71793295</string>
		</dict>
		<key>user_id</key>
		<string>71793295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Yolanda</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20003934</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>本姑娘今天心情好</string>
		<key>number</key>
		<string>inc3193105</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/08/3405A973-1990-427B-9CD5-BC5C5F6EE70B.jpg?v=2</string>
		<key>series_id</key>
		<string>1110</string>
		<key>series_name</key>
		<string>女生心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/08/43A5A513-57FE-1FCF-62AC-2B74BC604E13.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/08/43A5A513-57FE-1FCF-62AC-2B74BC604E13.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Yolanda125gifts325</string>
			<key>number</key>
			<string>inc3193105</string>
			<key>user_id</key>
			<string>34819149</string>
		</dict>
		<key>user_id</key>
		<string>34819149</string>
	</dict>
</array>
</plist>
