<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20021647</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>可爱韩文</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/F3BB7EC2-798A-E73C-4D8B-7F4BE47011B2.jpg</string>
		<key>series_id</key>
		<string>5827</string>
		<key>series_name</key>
		<string>潮流文字系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/DAAA11A2-5325-3F5B-EC34-80BE9ED717D5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/DAAA11A2-5325-3F5B-EC34-80BE9ED717D5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20021065</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>LoveStory。</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/6835BA10-6F27-603E-E52F-B77E0EF0A8DF.jpg</string>
		<key>series_id</key>
		<string>5681</string>
		<key>series_name</key>
		<string>霉霉脑残粉</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/AA0ABE63-04F1-AD29-E081-C4C1CA6DEA64.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/AA0ABE63-04F1-AD29-E081-C4C1CA6DEA64.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫屁股殿下</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20021021</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>开心每一天呀</string>
		<key>number</key>
		<string>inr784249</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/7C168D74-6B29-8D3D-CB48-BDBC54157D40.jpg</string>
		<key>series_id</key>
		<string>5671</string>
		<key>series_name</key>
		<string>小清新小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/B34906C2-957A-6BFA-9C6C-D3C318E4F415.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/B34906C2-957A-6BFA-9C6C-D3C318E4F415.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫屁股殿下</string>
			<key>number</key>
			<string>inr784249</string>
			<key>user_id</key>
			<string>71793295</string>
		</dict>
		<key>user_id</key>
		<string>71793295</string>
	</dict>
	<dict>
		<key>author</key>
		<string>芒果好吃吗</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20019967</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>sleep</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/22B5A3BA-E0C9-E14F-709B-6C2E879DE2B6.jpg</string>
		<key>series_id</key>
		<string>5401</string>
		<key>series_name</key>
		<string>韩国笑脸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/11485B9B-D460-9F7B-6955-9DBBDB690ED7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/11485B9B-D460-9F7B-6955-9DBBDB690ED7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lovemango酱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73155254</string>
		</dict>
		<key>user_id</key>
		<string>73155254</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20018657</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>呵呵哒</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/2BF4C261-230C-0D99-D530-03A9B2631683.jpg</string>
		<key>series_id</key>
		<string>5067</string>
		<key>series_name</key>
		<string>心情哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/45F331D2-AA66-B219-F185-37EEAF4011E6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/45F331D2-AA66-B219-F185-37EEAF4011E6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20017259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>good</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/F77A7943-DFD7-2E52-F2A0-B05D445A2080.jpg</string>
		<key>series_id</key>
		<string>4695</string>
		<key>series_name</key>
		<string>小小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/9216403E-1C5D-7C5C-8157-9854243697AC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/9216403E-1C5D-7C5C-8157-9854243697AC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>明姑娘</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20011735</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>游泳</string>
		<key>number</key>
		<string>Lily1991</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/9BD3713E-20C9-4FE5-F2A3-0862A7FD5EFB.jpg</string>
		<key>series_id</key>
		<string>3173</string>
		<key>series_name</key>
		<string>粗去粗去快粗去</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/57CBA276-D7B6-53DE-06C8-C39B1FFA5359.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/57CBA276-D7B6-53DE-06C8-C39B1FFA5359.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>明姑娘的故事</string>
			<key>number</key>
			<string>Lily1991</string>
			<key>user_id</key>
			<string>34796039</string>
		</dict>
		<key>user_id</key>
		<string>34796039</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20010549</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>不舍</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/05/06/76E49179-A35B-6815-0806-9B8A07880574.jpg?v=2</string>
		<key>series_id</key>
		<string>2871</string>
		<key>series_name</key>
		<string>彩色心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/05/06/45557C2B-F5D0-798E-2F94-8A6C127B7204.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/05/06/45557C2B-F5D0-798E-2F94-8A6C127B7204.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爪饭</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20010359</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>属于我的秘密</string>
		<key>number</key>
		<string>ine2883006</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/53673528-5CD1-B7B1-1927-F0BF1A7BCEC6.jpg?v=2</string>
		<key>series_id</key>
		<string>2823</string>
		<key>series_name</key>
		<string>夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/AF73573C-5D87-23EC-FBD0-7AFE2ECE9BD0.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/02/AF73573C-5D87-23EC-FBD0-7AFE2ECE9BD0.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爪饭</string>
			<key>number</key>
			<string>ine2883006</string>
			<key>user_id</key>
			<string>31879463</string>
		</dict>
		<key>user_id</key>
		<string>31879463</string>
	</dict>
</array>
</plist>
