<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20011261</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>心情不错</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/FDA80622-400F-DCDF-D803-81708B01FA31.jpg</string>
		<key>series_id</key>
		<string>3051</string>
		<key>series_name</key>
		<string>睿雨清新文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/38D89218-1CF6-3B9F-5FD9-F5DB25D78758.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/15/38D89218-1CF6-3B9F-5FD9-F5DB25D78758.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20023078</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>YES。</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/31/48477C88-27B9-EAEE-CB0A-09345AB52D11.jpg</string>
		<key>series_id</key>
		<string>6184</string>
		<key>series_name</key>
		<string>Words4。</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/31/DD4618B1-1041-7FC5-9FD8-CB533BB5CE06.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/31/DD4618B1-1041-7FC5-9FD8-CB533BB5CE06.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20020723</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>Beautiful</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/2850FD00-6ECE-AA10-F7B3-74680BD73A8E.jpg</string>
		<key>series_id</key>
		<string>5591</string>
		<key>series_name</key>
		<string>小茶的文字贴纸2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/043A4C29-FC27-2C49-FB40-9CAB0DC07A06.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/043A4C29-FC27-2C49-FB40-9CAB0DC07A06.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20009677</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>祝愿</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/264B318B-D73E-80F0-23E4-536EFF9F238E.jpg?v=2</string>
		<key>series_id</key>
		<string>2651</string>
		<key>series_name</key>
		<string>幸福文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/C54DEA9B-B988-5086-833F-A4693E545416.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/24/C54DEA9B-B988-5086-833F-A4693E545416.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20036485</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>单身狗</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>求带走</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/01/6484AF2A-2340-7F29-1019-4DAF84B885D9.jpg</string>
		<key>series_id</key>
		<string>9525</string>
		<key>series_name</key>
		<string>情人节单身狗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/01/55B51C98-91A7-30C9-35D6-C6DB037EDC88.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/01/55B51C98-91A7-30C9-35D6-C6DB037EDC88.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20014315</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>滚去睡觉</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/33AE94CE-D3B3-7FA3-357C-2BE1008A4F5B.jpg</string>
		<key>series_id</key>
		<string>3907</string>
		<key>series_name</key>
		<string>灰色文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/5B2189C1-3B59-7A22-59E1-F7C217E1FB31.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/12/5B2189C1-3B59-7A22-59E1-F7C217E1FB31.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20023024</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>本小姐</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/5AD00040-DB5E-990C-AB11-7188099A49CA.jpg</string>
		<key>series_id</key>
		<string>6170</string>
		<key>series_name</key>
		<string>心情儿文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/0C355D4C-F3FE-3841-55FF-0F2007BFC008.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/0C355D4C-F3FE-3841-55FF-0F2007BFC008.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20023252</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>我想静静</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/1275555D-AEFA-6092-98DF-734162C86A16.jpg</string>
		<key>series_id</key>
		<string>6228</string>
		<key>series_name</key>
		<string>谁的对话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/99814F15-6BD5-04B1-606B-98A1DFE7B47F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/99814F15-6BD5-04B1-606B-98A1DFE7B47F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>猫屁股殿下</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20021023</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>微笑每一天</string>
		<key>number</key>
		<string>inr784249</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/12/9B28AE79-257D-F75F-6B40-0435C9635212.jpg</string>
		<key>series_id</key>
		<string>5671</string>
		<key>series_name</key>
		<string>小清新小文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/12/E5D2748D-33DF-9E8E-C30A-3A46B394C005.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/12/E5D2748D-33DF-9E8E-C30A-3A46B394C005.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猫屁股殿下</string>
			<key>number</key>
			<string>inr784249</string>
			<key>user_id</key>
			<string>71793295</string>
		</dict>
		<key>user_id</key>
		<string>71793295</string>
	</dict>
</array>
</plist>
