<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052819</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>依然还是单身狗</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/6F034B55-CD66-A66E-B609-DABA23698C57.jpg</string>
		<key>series_id</key>
		<string>13611</string>
		<key>series_name</key>
		<string>情人节play~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/75DDD9BD-3D5B-A815-1722-FDABC55F7318.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/75DDD9BD-3D5B-A815-1722-FDABC55F7318.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>忘川</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052887</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>荧光红唇</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/69361580-7725-380A-2D07-DEDBF5744C44.jpg</string>
		<key>series_id</key>
		<string>13627</string>
		<key>series_name</key>
		<string>情人节荧光装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/2C883A57-EE0B-07B0-B2ED-0268B654F948.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/2C883A57-EE0B-07B0-B2ED-0268B654F948.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忘川_JN</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>46757271</string>
		</dict>
		<key>user_id</key>
		<string>46757271</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052623</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>十八禁</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/02188F5D-2D11-06EB-3CA0-B0D9474C0444.jpg</string>
		<key>series_id</key>
		<string>13561</string>
		<key>series_name</key>
		<string>单身狗的情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/30C1238D-325D-8AE4-958D-510FD68710A1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/30C1238D-325D-8AE4-958D-510FD68710A1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052463</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>love</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/06/0F512509-0F59-509B-B28C-64B54DD7C6B3.jpg</string>
		<key>series_id</key>
		<string>13521</string>
		<key>series_name</key>
		<string>情人节小甜心</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/06/DADB4041-E186-6279-1CB8-BDB4039C773F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/06/DADB4041-E186-6279-1CB8-BDB4039C773F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>灰</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052639</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想要</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/FB586CDB-D2E8-EC0A-BBC7-A62DC39D0700.jpg</string>
		<key>series_id</key>
		<string>13565</string>
		<key>series_name</key>
		<string>灰小物语想要礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/3E52603C-143E-894D-70B9-ABAA8BB204EB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/3E52603C-143E-894D-70B9-ABAA8BB204EB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>灰_huiii</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111705625</string>
		</dict>
		<key>user_id</key>
		<string>111705625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>HsuCham</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>擦浪嘿呦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/C8DBA5A1-D701-984C-87D4-4F5BB5A38BCE.jpg</string>
		<key>series_id</key>
		<string>13603</string>
		<key>series_name</key>
		<string>爱要表达</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/14529ADA-1FA1-E234-8B8A-31E46FE71448.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/14529ADA-1FA1-E234-8B8A-31E46FE71448.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>若明似暗</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103785451</string>
		</dict>
		<key>user_id</key>
		<string>103785451</string>
	</dict>
	<dict>
		<key>author</key>
		<string>H.Yao</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052597</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>宝贝2017</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/BB6C3B89-035D-787F-DDD7-E5A4AA5AA5CC.jpg</string>
		<key>series_id</key>
		<string>13555</string>
		<key>series_name</key>
		<string>HYao元宵系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/C87213DA-BFDD-2EAC-E17C-548791476380.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/C87213DA-BFDD-2EAC-E17C-548791476380.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>H.yao</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>87203664</string>
		</dict>
		<key>user_id</key>
		<string>87203664</string>
	</dict>
	<dict>
		<key>author</key>
		<string>灰</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052637</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想买</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/F9593312-7057-E074-32AD-976C163E312B.jpg</string>
		<key>series_id</key>
		<string>13565</string>
		<key>series_name</key>
		<string>灰小物语想要礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/CA050810-89ED-776A-7E6F-A45DD713AFB2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/CA050810-89ED-776A-7E6F-A45DD713AFB2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>灰_huiii</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>111705625</string>
		</dict>
		<key>user_id</key>
		<string>111705625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>卡卡隆滴咚</string>
		<key>cate_id</key>
		<string>3546</string>
		<key>id</key>
		<string>20052621</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>您的狗粮到了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/A4EE982A-06D0-CD45-B55B-F63FE60506A7.jpg</string>
		<key>series_id</key>
		<string>13561</string>
		<key>series_name</key>
		<string>单身狗的情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/938C964F-C9B2-ED46-EB40-1EFAD8CC80CB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/08/938C964F-C9B2-ED46-EB40-1EFAD8CC80CB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卡卡隆滴咚</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110823794</string>
		</dict>
		<key>user_id</key>
		<string>110823794</string>
	</dict>
</array>
</plist>
