<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>967</string>
		<key>id</key>
		<string>20013791</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>967</string>
		<key>name</key>
		<string>冷漠脸。</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/93407A82-6C13-683D-0D5A-21A9894652B8.jpg</string>
		<key>series_id</key>
		<string>3757</string>
		<key>series_name</key>
		<string>松鼠大王</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/9DC29965-5661-CB49-F33F-884F730015FC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/9DC29965-5661-CB49-F33F-884F730015FC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>967</string>
		<key>id</key>
		<string>20029535</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>967</string>
		<key>name</key>
		<string>怀挺！</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/22/453008BA-3718-45AD-B7A1-7275CA162309.jpg</string>
		<key>series_id</key>
		<string>7795</string>
		<key>series_name</key>
		<string>松鼠大王4</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/22/46578576-48A6-A037-3237-243908D05345.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/22/46578576-48A6-A037-3237-243908D05345.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>967</string>
		<key>id</key>
		<string>20014033</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>967</string>
		<key>name</key>
		<string>蛤。</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/38B27EE7-70AA-B648-6B13-15AA2A4DAD9C.jpg</string>
		<key>series_id</key>
		<string>3837</string>
		<key>series_name</key>
		<string>松鼠大王2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/B9B4B638-D91E-C02D-86C3-9F3C250CD294.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/10/B9B4B638-D91E-C02D-86C3-9F3C250CD294.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
</array>
</plist>
