<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1180</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/0B3D3A4F-E409-C9C4-BB1D-04CD7BB36DB7.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/22/E19D410D-1B92-168C-DE0E-48180A61659E.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/22/E19D410D-1B92-168C-DE0E-48180A61659E.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1178</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>11</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/11BA26D5-777B-B2B7-B172-9791CA1E6FA4.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/AA586CE2-7CDD-2E4C-D925-0BD571820F0A.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/AA586CE2-7CDD-2E4C-D925-0BD571820F0A.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1176</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/E175CE5D-C495-6179-EF21-A40D90F1B33C.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/F83E4583-919B-97FE-C45D-CEE595ECB546.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/F83E4583-919B-97FE-C45D-CEE595ECB546.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1174</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>nice</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/2B8F8679-3E61-1857-8D37-BC823DCBE0BE.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/D05F474A-2439-A67B-3948-7973DC79CF29.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/D05F474A-2439-A67B-3948-7973DC79CF29.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1172</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>头大心累</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/F2BC1497-DF0B-7535-6FB5-A808A15949E2.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/F66B0E91-2AB3-1830-AC4B-CC3F3C58AACE.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/F66B0E91-2AB3-1830-AC4B-CC3F3C58AACE.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1170</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/4EC5480F-E406-7A1F-1924-D19AD7D8D249.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/20422D9B-4276-512E-3D66-115404705C68.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/20422D9B-4276-512E-3D66-115404705C68.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1168</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘伐开心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/6D43FAA8-0423-E873-38E4-6BD59927CF02.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/C64AF311-96C7-270A-BFD0-0BA8D833BD56.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/21/C64AF311-96C7-270A-BFD0-0BA8D833BD56.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1166</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘吃吃吃</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/D063A146-CBF3-E01E-1310-F56368559795.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/D5571027-322D-8DE2-0224-BEE6C5E7AB98.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/21/D5571027-322D-8DE2-0224-BEE6C5E7AB98.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>KOTOKO</string>
		<key>cate_id</key>
		<string>130</string>
		<key>id</key>
		<string>1164</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>古装</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>130</string>
		<key>name</key>
		<string>武媚娘凤冠</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/04EC9778-1695-3AC9-F316-90FDE9DD8BEF.jpg?v=2</string>
		<key>series_id</key>
		<string>130</string>
		<key>series_name</key>
		<string>搞笑武大头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/A182876B-D545-DADB-CF4B-41BE0D76BFD2.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/21/A182876B-D545-DADB-CF4B-41BE0D76BFD2.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
