<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Echo田林</string>
		<key>cate_id</key>
		<string>2957</string>
		<key>id</key>
		<string>20044787</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>抱抱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/02/6ED768FB-6D5E-ADD4-2D1F-BA237F044788.jpg</string>
		<key>series_id</key>
		<string>11603</string>
		<key>series_name</key>
		<string>元气小白熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/02/BF1DC495-E51B-5C9B-C8D4-E45E274B0D6A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/02/BF1DC495-E51B-5C9B-C8D4-E45E274B0D6A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>你徒经我的盛放</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12839706</string>
		</dict>
		<key>user_id</key>
		<string>12839706</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Echo田林</string>
		<key>cate_id</key>
		<string>2957</string>
		<key>id</key>
		<string>20044653</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>去游泳啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/E4E9B614-1D92-455F-63A0-A60386105529.jpg</string>
		<key>series_id</key>
		<string>11569</string>
		<key>series_name</key>
		<string>夏天里的白熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/92330878-D773-98C3-470E-3DAC1937D740.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/92330878-D773-98C3-470E-3DAC1937D740.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>你徒经我的盛放</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12839706</string>
		</dict>
		<key>user_id</key>
		<string>12839706</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Echo田林</string>
		<key>cate_id</key>
		<string>2957</string>
		<key>id</key>
		<string>20044649</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小熊吃西瓜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/95B19B39-3476-CFB1-0C3A-9E3979E7EA02.jpg</string>
		<key>series_id</key>
		<string>11569</string>
		<key>series_name</key>
		<string>夏天里的白熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/945C7FD6-72BD-5FDD-EACD-C5137A596344.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/30/945C7FD6-72BD-5FDD-EACD-C5137A596344.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>你徒经我的盛放</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12839706</string>
		</dict>
		<key>user_id</key>
		<string>12839706</string>
	</dict>
</array>
</plist>
