<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>赵小朵</string>
		<key>cate_id</key>
		<string>2203</string>
		<key>id</key>
		<string>20033189</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>买买买 购物狂</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/11317398-611B-64A0-F93C-1F729809CA77.jpg</string>
		<key>series_id</key>
		<string>8701</string>
		<key>series_name</key>
		<string>赵小朵的小日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/3719419C-8E13-F54D-6CFC-B24C4C50E77C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/01/3719419C-8E13-F54D-6CFC-B24C4C50E77C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>勤劳的赵小朵</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>16615651</string>
		</dict>
		<key>user_id</key>
		<string>16615651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>赵小朵</string>
		<key>cate_id</key>
		<string>2203</string>
		<key>id</key>
		<string>20033187</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>点赞你真棒好样的</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/1360C7B2-5596-249F-0B9D-3DF2E8D69BEA.jpg</string>
		<key>series_id</key>
		<string>8701</string>
		<key>series_name</key>
		<string>赵小朵的小日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/A23DEF40-0472-05F8-E043-5B552DA7306E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/A23DEF40-0472-05F8-E043-5B552DA7306E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>勤劳的赵小朵</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>16615651</string>
		</dict>
		<key>user_id</key>
		<string>16615651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>赵小朵</string>
		<key>cate_id</key>
		<string>2203</string>
		<key>id</key>
		<string>20033183</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>睡觉好想你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/83DB2532-ABD2-1284-85E5-62DAA3B29076.jpg</string>
		<key>series_id</key>
		<string>8701</string>
		<key>series_name</key>
		<string>赵小朵的小日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/0274C3E2-6F38-1FB2-A56B-E03BA59D215A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/01/0274C3E2-6F38-1FB2-A56B-E03BA59D215A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>勤劳的赵小朵</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>16615651</string>
		</dict>
		<key>user_id</key>
		<string>16615651</string>
	</dict>
</array>
</plist>
