<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>九九</string>
		<key>cate_id</key>
		<string>1793</string>
		<key>id</key>
		<string>20017641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1793</string>
		<key>name</key>
		<string>蝴蝶仙子</string>
		<key>number</key>
		<string>ing3459075</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/29/F741EA0F-92E2-48D8-E708-5D5871FF9427.jpg</string>
		<key>series_id</key>
		<string>4795</string>
		<key>series_name</key>
		<string>生日快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/29/FFC964AC-7F5E-D804-B1D5-D87030BD03BF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/29/FFC964AC-7F5E-D804-B1D5-D87030BD03BF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>-0-九九-0-</string>
			<key>number</key>
			<string>ing3459075</string>
			<key>user_id</key>
			<string>37476456</string>
		</dict>
		<key>user_id</key>
		<string>37476456</string>
	</dict>
	<dict>
		<key>author</key>
		<string>厦门中天启航</string>
		<key>cate_id</key>
		<string>1793</string>
		<key>id</key>
		<string>20042883</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>夏格拉斯吃冰欺凌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/22/8E27B37F-F7E7-EE64-EFEA-B873FF881821.jpg</string>
		<key>series_id</key>
		<string>11125</string>
		<key>series_name</key>
		<string>【夏格拉斯】夏天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/22/3FBADB45-E9A1-DA13-1599-30218661293D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/22/3FBADB45-E9A1-DA13-1599-30218661293D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>夏格拉斯</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>100775135</string>
		</dict>
		<key>user_id</key>
		<string>100775135</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1793</string>
		<key>id</key>
		<string>20022707</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1793</string>
		<key>name</key>
		<string>可爱</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/64379605-AB15-7A92-E395-95EABD533F54.jpg</string>
		<key>series_id</key>
		<string>6091</string>
		<key>series_name</key>
		<string>帽子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/3AFEA0AE-7FFF-F650-19D7-D8E3F0AE0B98.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/21/3AFEA0AE-7FFF-F650-19D7-D8E3F0AE0B98.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
</array>
</plist>
