<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027879</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>鲜花墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/24C65E34-6CA4-2586-4841-E22D338322AA.jpg</string>
		<key>series_id</key>
		<string>7381</string>
		<key>series_name</key>
		<string>小屁墩系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/46555DD3-389A-F7C6-C677-32BBDBEC567B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/46555DD3-389A-F7C6-C677-32BBDBEC567B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027877</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>绿叶墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/64475912-B9B5-E51D-8F76-EA1FC8176A3A.jpg</string>
		<key>series_id</key>
		<string>7381</string>
		<key>series_name</key>
		<string>小屁墩系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/A4A97231-6E37-104D-BE3F-779575DFF0B3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/A4A97231-6E37-104D-BE3F-779575DFF0B3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027875</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>开心墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/5F961CA1-8F3C-BE83-C19B-51D070CDF597.jpg</string>
		<key>series_id</key>
		<string>7381</string>
		<key>series_name</key>
		<string>小屁墩系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/2FEDD191-FA54-7878-348C-6F506FA1ABAC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/02/2FEDD191-FA54-7878-348C-6F506FA1ABAC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027297</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>叮叮小屁墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/0BAB3258-299F-AC94-68FB-B30C572AEFE2.jpg</string>
		<key>series_id</key>
		<string>7235</string>
		<key>series_name</key>
		<string>小屁墩日记</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/7A4BC87B-2140-DE51-9722-7D7C364DBA42.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/7A4BC87B-2140-DE51-9722-7D7C364DBA42.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027291</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>飞天小屁墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/449B8289-ACF1-5CE4-3523-A82DF886426D.jpg</string>
		<key>series_id</key>
		<string>7235</string>
		<key>series_name</key>
		<string>小屁墩日记</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/C18E0362-8515-E457-0441-386A608F7829.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/C18E0362-8515-E457-0441-386A608F7829.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027295</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>浇水小屁墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/7DF71C35-C7D2-C0A0-3158-C0573CA98D5F.jpg</string>
		<key>series_id</key>
		<string>7235</string>
		<key>series_name</key>
		<string>小屁墩日记</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/184248A3-DE0E-42ED-21BB-FC3C2B754319.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/184248A3-DE0E-42ED-21BB-FC3C2B754319.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027293</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>放屁小屁墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/1142AA39-0194-6271-9D91-C65095113BC1.jpg</string>
		<key>series_id</key>
		<string>7235</string>
		<key>series_name</key>
		<string>小屁墩日记</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/1D730B3E-CA54-F57E-38CC-FF6EFACA7367.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/1D730B3E-CA54-F57E-38CC-FF6EFACA7367.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墩小贤</string>
		<key>cate_id</key>
		<string>1847</string>
		<key>id</key>
		<string>20027881</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1847</string>
		<key>name</key>
		<string>亲亲墩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/6C133616-B154-83F2-AFB8-2221D9AC7BAA.jpg</string>
		<key>series_id</key>
		<string>7381</string>
		<key>series_name</key>
		<string>小屁墩系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/B21B3BFF-0F44-8B24-082C-77E68C1B0D8D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/B21B3BFF-0F44-8B24-082C-77E68C1B0D8D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墩小贤</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74199956</string>
		</dict>
		<key>user_id</key>
		<string>74199956</string>
	</dict>
</array>
</plist>
