<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>1905</string>
		<key>id</key>
		<string>20040841</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>爱你,告白</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/18/F2E3E289-EB7F-AEB1-CA23-7C1CC6FAF76F.jpg</string>
		<key>series_id</key>
		<string>10615</string>
		<key>series_name</key>
		<string>520秀恩爱套装</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/17/66E43E17-FFA6-98F3-E77E-14F4543E76BB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/17/66E43E17-FFA6-98F3-E77E-14F4543E76BB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1905</string>
		<key>id</key>
		<string>20013695</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1905</string>
		<key>name</key>
		<string>鸵鸟</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/42E62729-9CE3-79DF-1D25-607925CE902B.jpg</string>
		<key>series_id</key>
		<string>3733</string>
		<key>series_name</key>
		<string>动物世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/3697B53D-8708-C171-A5C4-972000B21A7D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/3697B53D-8708-C171-A5C4-972000B21A7D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>海盐</string>
		<key>cate_id</key>
		<string>1905</string>
		<key>id</key>
		<string>20006969</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1905</string>
		<key>name</key>
		<string>长颈鹿</string>
		<key>number</key>
		<string>ini3259174</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/6B374EF5-455B-BDFE-B523-EF909178E00B.png?v=2</string>
		<key>series_id</key>
		<string>1875</string>
		<key>series_name</key>
		<string>春天的童话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/17/D961004D-16A0-1A15-C5EF-EB7F47A7985A.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/17/D961004D-16A0-1A15-C5EF-EB7F47A7985A.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>海盐</string>
			<key>number</key>
			<string>ini3259174</string>
			<key>user_id</key>
			<string>35487649</string>
		</dict>
		<key>user_id</key>
		<string>35487649</string>
	</dict>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>1905</string>
		<key>id</key>
		<string>20035805</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>长颈鹿</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/21/90C1FF16-3414-D4D7-7F2A-F507F779D99A.jpg</string>
		<key>series_id</key>
		<string>9357</string>
		<key>series_name</key>
		<string>蜡笔动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/21/CD99DBBB-3B1C-77C0-18BE-779BF350E348.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/21/CD99DBBB-3B1C-77C0-18BE-779BF350E348.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>1905</string>
		<key>id</key>
		<string>20033960</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小兔子</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/13/0701ED18-BF48-62D4-1247-DE70B32F062C.jpg</string>
		<key>series_id</key>
		<string>8894</string>
		<key>series_name</key>
		<string>白色平安夜</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/17/74A800E8-8844-D0E1-9885-7FFDED0BF409.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/17/74A800E8-8844-D0E1-9885-7FFDED0BF409.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
</array>
</plist>
