<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>2619</string>
		<key>id</key>
		<string>20039463</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/D1C88FF9-4AA9-CE96-591F-1B43DF2EF008.jpg</string>
		<key>series_id</key>
		<string>10269</string>
		<key>series_name</key>
		<string>桑口的女孩5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/C31AFD97-9093-4E70-E33F-FD45150E34F5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/C31AFD97-9093-4E70-E33F-FD45150E34F5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>2619</string>
		<key>id</key>
		<string>20039461</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>飞吻</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/5F6CC270-852F-8D9F-B20C-6D62BCE5C184.jpg</string>
		<key>series_id</key>
		<string>10269</string>
		<key>series_name</key>
		<string>桑口的女孩5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/DDD3843D-23EF-C0D5-F5F1-652986A835B7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/DDD3843D-23EF-C0D5-F5F1-652986A835B7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>2619</string>
		<key>id</key>
		<string>20039459</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>call me</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/CECF5103-DB93-C9F5-2AA5-48918B2C7EFF.jpg</string>
		<key>series_id</key>
		<string>10269</string>
		<key>series_name</key>
		<string>桑口的女孩5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/939E8F24-4551-10FD-97D7-44FB7ABB843F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/18/939E8F24-4551-10FD-97D7-44FB7ABB843F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>2619</string>
		<key>id</key>
		<string>20039457</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>网红</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/4E77CD13-E3D6-35B4-9D4A-7D116DA4FE30.jpg</string>
		<key>series_id</key>
		<string>10269</string>
		<key>series_name</key>
		<string>桑口的女孩5</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/C0316A4C-24B1-8774-9D62-30E4C88F7F85.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/18/C0316A4C-24B1-8774-9D62-30E4C88F7F85.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
</array>
</plist>
