<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20041987</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我就是宝宝！</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/A018DFEE-509F-C07F-C913-1973D38FC902.jpg</string>
		<key>series_id</key>
		<string>10901</string>
		<key>series_name</key>
		<string>in2岁快乐~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/F207BA37-D767-6C50-4FA3-E201BAD85FF0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/F207BA37-D767-6C50-4FA3-E201BAD85FF0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20027081</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>让我静静</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/24/C705CCB4-1E3A-9E61-2747-00136BFAC464.jpg</string>
		<key>series_id</key>
		<string>7181</string>
		<key>series_name</key>
		<string>桑口先生的文字2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/24/0D1BBA4C-3A29-8E60-CCD6-774A8D2D2AEB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/24/0D1BBA4C-3A29-8E60-CCD6-774A8D2D2AEB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福子杂货铺</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20023555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>萌萌哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/30/CDC472C5-3085-30BF-61C0-F43F70EA4CB8.jpg</string>
		<key>series_id</key>
		<string>6303</string>
		<key>series_name</key>
		<string>福子的日常用语</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/24/942A2CA1-6F50-B847-90E0-A3C70A9D5A8A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/24/942A2CA1-6F50-B847-90E0-A3C70A9D5A8A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福子雑貨店</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73695715</string>
		</dict>
		<key>user_id</key>
		<string>73695715</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20040303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>今天我是女王</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/BC56665D-9C84-CF8F-665C-1BC4C9B7182C.jpg</string>
		<key>series_id</key>
		<string>10479</string>
		<key>series_name</key>
		<string>LOVE母亲节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/6F69939B-03D6-2BAA-7C21-048B6B35F853.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/6F69939B-03D6-2BAA-7C21-048B6B35F853.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20055832</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>早上好</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/EDFB0FA4-EF8C-16BD-31F2-F04C86DF39BD.jpg</string>
		<key>series_id</key>
		<string>14364</string>
		<key>series_name</key>
		<string>小熊日系文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/0F8C50DD-ED3B-F255-1521-694A517C1613.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/19/0F8C50DD-ED3B-F255-1521-694A517C1613.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20055838</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>加油</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/3611BB09-757E-FB1D-331E-70A73B75E11B.jpg</string>
		<key>series_id</key>
		<string>14364</string>
		<key>series_name</key>
		<string>小熊日系文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/3A1C31A7-3983-1191-6816-3A3BB1E01376.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/19/3A1C31A7-3983-1191-6816-3A3BB1E01376.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20006070</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>这个姑娘有点傻</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/19D51CAB-CAD3-E320-EA0A-5B54D4BF9BF1.jpg?v=2</string>
		<key>series_id</key>
		<string>1650</string>
		<key>series_name</key>
		<string>白色情人节快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/FAD14670-3277-A741-3C83-B40C33AE15F8.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/09/FAD14670-3277-A741-3C83-B40C33AE15F8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20025375</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>美女耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/C731C1DE-F782-0B23-F477-513A5F5439A7.jpg</string>
		<key>series_id</key>
		<string>6757</string>
		<key>series_name</key>
		<string>钉子扈の可爱文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/4CCDBB99-7569-5E1A-9902-8D5B36EC0E7B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/4CCDBB99-7569-5E1A-9902-8D5B36EC0E7B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20010351</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>我女神</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/05/02/2718D0B4-E8F4-DC3D-BFEF-D8BDDFF9CB34.jpg?v=2</string>
		<key>series_id</key>
		<string>2821</string>
		<key>series_name</key>
		<string>男神女神</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/05/02/8BEB5C83-8595-CAFE-F12C-069DEB6095B8.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/05/02/8BEB5C83-8595-CAFE-F12C-069DEB6095B8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
</array>
</plist>
