<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20019379</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>糖宝萌萌哒</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/14028CEA-6452-52C3-B289-DA6E3288D20A.jpg</string>
		<key>series_id</key>
		<string>5251</string>
		<key>series_name</key>
		<string>Anne萌萌哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/24AA8DB9-A942-2397-8C65-6B838B135FB9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/24AA8DB9-A942-2397-8C65-6B838B135FB9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小伊泽</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20015031</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>我是神经病</string>
		<key>number</key>
		<string>inb1729232</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/23FB9959-34A1-1A2A-37C5-67C466869E2D.jpg</string>
		<key>series_id</key>
		<string>4087</string>
		<key>series_name</key>
		<string>个性卡通装饰品</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/C920AD97-6F5D-0FE4-DDBF-3C7C43A0002F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/C920AD97-6F5D-0FE4-DDBF-3C7C43A0002F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>猴阿贱</string>
			<key>number</key>
			<string>inb1729232</string>
			<key>user_id</key>
			<string>20331518</string>
		</dict>
		<key>user_id</key>
		<string>20331518</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20025641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>故事女同学</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/72E4E069-0F5D-F946-1DB0-A33354E917CA.jpg</string>
		<key>series_id</key>
		<string>6823</string>
		<key>series_name</key>
		<string>唯美心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/DD21849C-ED7F-F118-6A64-34ED6ED8E387.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/12/DD21849C-ED7F-F118-6A64-34ED6ED8E387.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20033125</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>人美歌甜</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/EF05556C-6CFE-2ACB-60EB-569D91FDA9D7.jpg</string>
		<key>series_id</key>
		<string>8685</string>
		<key>series_name</key>
		<string>鹿之川的任性体</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/99F6D746-4C51-2021-A214-2FEC6F092096.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/99F6D746-4C51-2021-A214-2FEC6F092096.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>墨云阁</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20025839</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>此间少年</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/B70DFAB9-6F53-B16F-A1FF-9A0B09693E2E.jpg</string>
		<key>series_id</key>
		<string>6873</string>
		<key>series_name</key>
		<string>青葱岁月</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/9BBAF977-06C7-5B91-8131-EF014AEAF0FF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/13/9BBAF977-06C7-5B91-8131-EF014AEAF0FF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>墨云阁</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33192827</string>
		</dict>
		<key>user_id</key>
		<string>33192827</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20023625</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>4</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/04/9DCF9614-3357-5F85-060F-BDAE4D68D6DC.jpg</string>
		<key>series_id</key>
		<string>6319</string>
		<key>series_name</key>
		<string>白字文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/04/3EEB0776-4454-45BF-2315-673A18BE44D8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/04/3EEB0776-4454-45BF-2315-673A18BE44D8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小晨宝宝很酷</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20025635</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>都市外乡人</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/F0BD35ED-4290-FD43-BC30-C6194DFCA2B3.jpg</string>
		<key>series_id</key>
		<string>6823</string>
		<key>series_name</key>
		<string>唯美心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/9A095A10-4684-7A1C-CB16-870029807101.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/12/9A095A10-4684-7A1C-CB16-870029807101.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in贴纸设计师：小晨宝宝很酷</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77579855</string>
		</dict>
		<key>user_id</key>
		<string>77579855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20023072</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>CUTE。</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/04/951966A5-2604-DF54-4384-7E17427BDF1F.jpg</string>
		<key>series_id</key>
		<string>6184</string>
		<key>series_name</key>
		<string>Words4。</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/04/F04F5C37-CB55-E178-1F42-7CC792A8C0C6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/04/F04F5C37-CB55-E178-1F42-7CC792A8C0C6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宛城君</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20021267</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>sexy</string>
		<key>number</key>
		<string>inp535711</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/13/101B0CDF-4AE5-5020-390C-F4792E61E2A1.jpg</string>
		<key>series_id</key>
		<string>5731</string>
		<key>series_name</key>
		<string>水彩字母7</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/13/04368144-35B5-03F7-3C8F-1B9D89740A41.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/13/04368144-35B5-03F7-3C8F-1B9D89740A41.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宛城君</string>
			<key>number</key>
			<string>inp535711</string>
			<key>user_id</key>
			<string>69320529</string>
		</dict>
		<key>user_id</key>
		<string>69320529</string>
	</dict>
</array>
</plist>
