<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>粽肥兔</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20016803</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>自拍控</string>
		<key>number</key>
		<string>ind1223264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/C5B42C6E-4F53-C562-358F-33EC96096C7C.jpg</string>
		<key>series_id</key>
		<string>4533</string>
		<key>series_name</key>
		<string>就爱自拍</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/75C698E3-1A6B-A68E-15DB-5879130E8893.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/75C698E3-1A6B-A68E-15DB-5879130E8893.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宗小兔</string>
			<key>number</key>
			<string>ind1223264</string>
			<key>user_id</key>
			<string>14645220</string>
		</dict>
		<key>user_id</key>
		<string>14645220</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>11905</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>外卖党</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/AD365750-D37C-A318-C8C5-830C7C3DA185.jpg</string>
		<key>series_id</key>
		<string>789</string>
		<key>series_name</key>
		<string>文字属性</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/9A515749-B88A-1DE6-FF8A-ABAD2E68F801.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/9A515749-B88A-1DE6-FF8A-ABAD2E68F801.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>湖南善禧文化</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20040189</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>单身狗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/F1455F78-31CF-3DEF-E91C-B9E6B1F4D3E0.jpg</string>
		<key>series_id</key>
		<string>10451</string>
		<key>series_name</key>
		<string>一克拉系列单身狗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/391551B8-D544-8B12-9AAC-19B1F401DF4C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/391551B8-D544-8B12-9AAC-19B1F401DF4C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>卜鲁兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>93841897</string>
		</dict>
		<key>user_id</key>
		<string>93841897</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20036121</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>暖宝宝</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/28/EFB2A579-A009-DD5B-FE19-432E24F8F6BF.jpg</string>
		<key>series_id</key>
		<string>9435</string>
		<key>series_name</key>
		<string>我是你的暖宝宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/28/728A9057-BAF5-945B-AE21-66179358C94A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/01/28/728A9057-BAF5-945B-AE21-66179358C94A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>876</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>萌萌哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/31/4AB0E787-D0B1-1D0D-1430-CA4D8356FE1B.jpg?v=2</string>
		<key>series_id</key>
		<string>789</string>
		<key>series_name</key>
		<string>文字属性</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/31/4B259FDF-2762-FAF5-F52C-85B06E4285AE.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/31/4B259FDF-2762-FAF5-F52C-85B06E4285AE.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20019669</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>Girls</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/4232810A-6DA6-CCD0-8D56-A093F94A60AE.jpg</string>
		<key>series_id</key>
		<string>5325</string>
		<key>series_name</key>
		<string>可爱的文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/097F4ADB-2E58-2BC5-DD7E-F259B35B2EB8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/07/097F4ADB-2E58-2BC5-DD7E-F259B35B2EB8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20011415</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>萌</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/6D52EF0D-E949-DCF2-ADCE-405013395A5F.jpg</string>
		<key>series_id</key>
		<string>3091</string>
		<key>series_name</key>
		<string>框框属性文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/59BFDB41-5187-ABB0-88CF-E588C27BEEDA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/20/59BFDB41-5187-ABB0-88CF-E588C27BEEDA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20010079</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>我是小公主</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/E720DF1A-3CD3-7321-030B-E2AA5389708E.jpg?v=2</string>
		<key>series_id</key>
		<string>2751</string>
		<key>series_name</key>
		<string>可爱日文</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/049465A9-104B-1841-F4B8-5A1C54646073.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/29/049465A9-104B-1841-F4B8-5A1C54646073.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>vogea</string>
		<key>cate_id</key>
		<string>789</string>
		<key>id</key>
		<string>20026691</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>789</string>
		<key>name</key>
		<string>萌神驾到3</string>
		<key>number</key>
		<string>inr927466</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/19/B6078F11-3C9B-4966-02F9-AC41763F97C5.jpg</string>
		<key>series_id</key>
		<string>7083</string>
		<key>series_name</key>
		<string>蘑菇点点萌神驾到</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/F67EFB86-96B7-AF08-5D02-111D700B2C6B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/27/F67EFB86-96B7-AF08-5D02-111D700B2C6B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>duckbillboy</string>
			<key>number</key>
			<string>inr927466</string>
			<key>user_id</key>
			<string>73224719</string>
		</dict>
		<key>user_id</key>
		<string>73224719</string>
	</dict>
</array>
</plist>
