<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20055496</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>锤</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/3A3737FF-333A-8E72-2DAE-A5414A377148.jpg</string>
		<key>series_id</key>
		<string>14280</string>
		<key>series_name</key>
		<string>吃玩系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/310310D6-C925-5C1B-CDC8-7A63ECBFF72B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/12/310310D6-C925-5C1B-CDC8-7A63ECBFF72B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20055270</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>炫COOL简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/0967A608-1577-AC1C-C55C-1F3377455D53.jpg</string>
		<key>series_id</key>
		<string>14222</string>
		<key>series_name</key>
		<string>炫COOL简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/EDDA1F0C-34E2-6CC5-CAFB-03108D8EFC7B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/EDDA1F0C-34E2-6CC5-CAFB-03108D8EFC7B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20055266</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>炫COOL简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/80EDCC41-B524-053D-BF5D-971507F57A02.jpg</string>
		<key>series_id</key>
		<string>14222</string>
		<key>series_name</key>
		<string>炫COOL简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/8E8940B9-1357-E92E-F340-C9A81A046B66.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/06/8E8940B9-1357-E92E-F340-C9A81A046B66.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20055264</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>炫COOL简笔画</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/06/0041EFF9-CD0A-505F-752E-24024BBA4274.jpg</string>
		<key>series_id</key>
		<string>14222</string>
		<key>series_name</key>
		<string>炫COOL简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/06/2B2015F4-F1A0-CCC2-B582-9DC89905EBD0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/06/2B2015F4-F1A0-CCC2-B582-9DC89905EBD0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20054926</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>香肠先森</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/29/FDBF307C-EBC8-096A-D0C6-B3682114B08C.jpg</string>
		<key>series_id</key>
		<string>14136</string>
		<key>series_name</key>
		<string>早餐拍档</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/29/E9E76032-3500-076B-B236-96C00B481779.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/29/E9E76032-3500-076B-B236-96C00B481779.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20054002</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>三月你减肥了吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/05/68D652E0-2BBF-9FA1-0F9F-309C87968093.jpg</string>
		<key>series_id</key>
		<string>13906</string>
		<key>series_name</key>
		<string>三月你减肥了吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/05/DA7D88EB-8AFF-0381-5A49-258EC928CA73.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/05/DA7D88EB-8AFF-0381-5A49-258EC928CA73.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大猫彭彭</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20050835</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>刮刀</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/31/D7D2B031-34CF-F20F-4EE7-4CE8FEB0D431.jpg</string>
		<key>series_id</key>
		<string>13115</string>
		<key>series_name</key>
		<string>假装是西点师</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/31/DA085E22-428A-FFB7-CD2B-53642F8B1615.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/31/DA085E22-428A-FFB7-CD2B-53642F8B1615.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>包子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110837279</string>
		</dict>
		<key>user_id</key>
		<string>110837279</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20054688</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>钱袋</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/23/36DE5A0B-1216-63E8-A5A1-03E08533D54C.jpg</string>
		<key>series_id</key>
		<string>14078</string>
		<key>series_name</key>
		<string>我爱黄色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/23/B5FB65F1-AF06-2D22-69D4-038037407973.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/23/B5FB65F1-AF06-2D22-69D4-038037407973.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>纯圆小红帽</string>
		<key>cate_id</key>
		<string>867</string>
		<key>id</key>
		<string>20053678</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>SUNDAY</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/356A2BBF-3AA7-4490-29ED-326B2B5DAF67.jpg</string>
		<key>series_id</key>
		<string>13824</string>
		<key>series_name</key>
		<string>涂鸦简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/E3C79051-C137-3942-280D-99BFE5D600CD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/28/E3C79051-C137-3942-280D-99BFE5D600CD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>纯圆小红帽</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109877516</string>
		</dict>
		<key>user_id</key>
		<string>109877516</string>
	</dict>
</array>
</plist>
