<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>离缘</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20049427</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我的风格 伞 粉色</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/48261BBC-2C3A-837F-B54B-D68E44A9DC93.jpg</string>
		<key>series_id</key>
		<string>12763</string>
		<key>series_name</key>
		<string>我的风格 装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/AEB31368-1AE2-374A-E5D6-F292891DAE0B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/24/AEB31368-1AE2-374A-E5D6-F292891DAE0B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>离缘殇-DSY</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17961754</string>
		</dict>
		<key>user_id</key>
		<string>17961754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20011501</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>海滩伞</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/21/E4E20602-6C4D-7F64-17A3-0F3AABCE05B4.jpg</string>
		<key>series_id</key>
		<string>3113</string>
		<key>series_name</key>
		<string>涂鸦世界</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/21/168C8092-3B89-43C1-9D08-7FF59D642DA8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/21/168C8092-3B89-43C1-9D08-7FF59D642DA8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>源小嘟</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20015395</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>雨伞</string>
		<key>number</key>
		<string>inh3501165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/149ED454-E23E-CB07-0E10-4816DFA20581.jpg</string>
		<key>series_id</key>
		<string>4179</string>
		<key>series_name</key>
		<string>在路上</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/2B41AF5B-8EE8-B5A4-AAB0-0A6E552AD821.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/17/2B41AF5B-8EE8-B5A4-AAB0-0A6E552AD821.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>源小嘟GYY</string>
			<key>number</key>
			<string>inh3501165</string>
			<key>user_id</key>
			<string>37883299</string>
		</dict>
		<key>user_id</key>
		<string>37883299</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20021391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>小伞</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/11248C89-28B2-43DD-960B-E38C16C8B203.jpg</string>
		<key>series_id</key>
		<string>5763</string>
		<key>series_name</key>
		<string>小装饰么么哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/2C1FD39B-CB83-9CC7-ACC0-8E6A6C4A7199.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/2C1FD39B-CB83-9CC7-ACC0-8E6A6C4A7199.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20027733</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>西瓜雨伞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/95CE5DFD-5512-BD17-C3DF-0DB60D4D67C8.jpg</string>
		<key>series_id</key>
		<string>7345</string>
		<key>series_name</key>
		<string>创意小品</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/E094FAA4-19D0-9BB0-3D16-11A4346B4F03.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/01/E094FAA4-19D0-9BB0-3D16-11A4346B4F03.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20011795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>雨伞</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/593F1659-B30E-31DB-EA4A-C3FB166E0602.jpg</string>
		<key>series_id</key>
		<string>3187</string>
		<key>series_name</key>
		<string>趣味简笔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/2E4D06BC-CC92-336F-5708-414ED80FF68F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/2E4D06BC-CC92-336F-5708-414ED80FF68F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20053122</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>雨伞</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/6D7FC5EE-2839-0C46-13B8-CB61B8647E91.jpg</string>
		<key>series_id</key>
		<string>13686</string>
		<key>series_name</key>
		<string>雨水节气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/8A59E7ED-756C-B333-3ECE-75A7958DFEB8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/15/8A59E7ED-756C-B333-3ECE-75A7958DFEB8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>2405</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>小黑伞</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/550A58FD-1E7C-F463-E4B4-6FCEA1034624.jpg</string>
		<key>series_id</key>
		<string>1097</string>
		<key>series_name</key>
		<string>伞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/B43DD3FA-45B8-DF7B-057F-2B4396A50B5A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/11/B43DD3FA-45B8-DF7B-057F-2B4396A50B5A.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>三树</string>
		<key>cate_id</key>
		<string>1097</string>
		<key>id</key>
		<string>20014501</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1097</string>
		<key>name</key>
		<string>遮阳伞</string>
		<key>number</key>
		<string>sanshuart</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/2023E54F-EE59-3BA4-B705-C55199E2F30F.jpg</string>
		<key>series_id</key>
		<string>3955</string>
		<key>series_name</key>
		<string>夏日素材</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/63871FA4-634E-9CE9-3578-AA4DB5A456DD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/12/63871FA4-634E-9CE9-3578-AA4DB5A456DD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>三树</string>
			<key>number</key>
			<string>sanshuart</string>
			<key>user_id</key>
			<string>69016336</string>
		</dict>
		<key>user_id</key>
		<string>69016336</string>
	</dict>
</array>
</plist>
