<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>2775</string>
		<key>id</key>
		<string>20043281</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>耿耿微笑</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/30/1F7569C1-86AD-2437-F44C-4598C497FBA8.jpg</string>
		<key>series_id</key>
		<string>11225</string>
		<key>series_name</key>
		<string>微光最好的我们2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/30/4012C34D-0F59-CFE0-8181-297A6D1FFC7D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/30/4012C34D-0F59-CFE0-8181-297A6D1FFC7D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>2775</string>
		<key>id</key>
		<string>20043279</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>余淮胜利手势</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/CBE5E78F-6CD9-7592-4633-C98C3605A2FA.jpg</string>
		<key>series_id</key>
		<string>11223</string>
		<key>series_name</key>
		<string>微光最好的我们</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/624A2B10-58B7-6915-60DB-5B66D7F3A909.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/624A2B10-58B7-6915-60DB-5B66D7F3A909.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>2775</string>
		<key>id</key>
		<string>20043115</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>耿耿星河</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/28/2CC8B638-4CB1-8109-6EA2-058B672D9FC7.jpg</string>
		<key>series_id</key>
		<string>11183</string>
		<key>series_name</key>
		<string>最好的我们大结局</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/28/373B1AEE-BDAE-83F8-DDCC-3002F1CB9807.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/28/373B1AEE-BDAE-83F8-DDCC-3002F1CB9807.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>2775</string>
		<key>id</key>
		<string>20043283</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>余淮微笑</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/51F8AF48-205E-31FD-BCF9-8271EF9523AA.jpg</string>
		<key>series_id</key>
		<string>11225</string>
		<key>series_name</key>
		<string>微光最好的我们2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/14B1B7E5-7B7C-3B30-C08C-67B8A6FFFB82.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/30/14B1B7E5-7B7C-3B30-C08C-67B8A6FFFB82.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>愤愤燃</string>
		<key>cate_id</key>
		<string>2775</string>
		<key>id</key>
		<string>20042337</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>班长徐延亮</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/09/4CBFBD97-8790-1724-8E76-AF6A020E54C1.jpg</string>
		<key>series_id</key>
		<string>10989</string>
		<key>series_name</key>
		<string>最好的我们2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/09/08A27247-4303-678A-1DCC-D2104803792E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/09/08A27247-4303-678A-1DCC-D2104803792E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>愤愤燃</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74913114</string>
		</dict>
		<key>user_id</key>
		<string>74913114</string>
	</dict>
</array>
</plist>
