<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>飞客流依</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20026409</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>花朵开</string>
		<key>number</key>
		<string>int555795</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/1EB6D68E-6512-AB65-6DE6-ED31EE138ACF.jpg</string>
		<key>series_id</key>
		<string>7015</string>
		<key>series_name</key>
		<string>花环花环</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/9EAB224D-70C7-63F3-D18A-FE554E16E369.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/9EAB224D-70C7-63F3-D18A-FE554E16E369.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>飞客流依</string>
			<key>number</key>
			<string>int555795</string>
			<key>user_id</key>
			<string>69514841</string>
		</dict>
		<key>user_id</key>
		<string>69514841</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20006765</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>上边角</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/16/D35E9AA6-EF8E-DCEE-B8C3-92D856AE1E75.jpg?v=2</string>
		<key>series_id</key>
		<string>1823</string>
		<key>series_name</key>
		<string>边角贴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/16/36AC9712-92BA-1A44-A975-D07459B904B4.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/16/36AC9712-92BA-1A44-A975-D07459B904B4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20034311</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>圣诞节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2269</string>
		<key>name</key>
		<string>圣诞小装饰</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/849A31DB-B7E2-E12C-3C60-BCCB103304BA.jpg</string>
		<key>series_id</key>
		<string>8981</string>
		<key>series_name</key>
		<string>微光圣诞装饰系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/913B97B2-B228-2EBA-AE45-B7478330A0B1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/913B97B2-B228-2EBA-AE45-B7478330A0B1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20027271</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>彩色表情</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/26/D8BFD9F8-50F4-BA7B-DA12-E43631370FFC.jpg</string>
		<key>series_id</key>
		<string>7229</string>
		<key>series_name</key>
		<string>扈の潮流装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/26/9A24A050-1DB3-5F88-6EB0-4B062919E42F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/26/9A24A050-1DB3-5F88-6EB0-4B062919E42F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
	<dict>
		<key>author</key>
		<string>大铃</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20008595</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>春天小鸟</string>
		<key>number</key>
		<string>LeeDarling</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/5F61231E-1736-E7B6-14A3-BCF1084234B7.jpg?v=2</string>
		<key>series_id</key>
		<string>2291</string>
		<key>series_name</key>
		<string>装饰控</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/E994940A-4F57-5601-0A8D-4C9650C6AE60.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/07/E994940A-4F57-5601-0A8D-4C9650C6AE60.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>大铃Darleen</string>
			<key>number</key>
			<string>LeeDarling</string>
			<key>user_id</key>
			<string>20614293</string>
		</dict>
		<key>user_id</key>
		<string>20614293</string>
	</dict>
	<dict>
		<key>author</key>
		<string>海盐</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20007085</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>樱桃</string>
		<key>number</key>
		<string>ini3259174</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/F9B66168-3617-5A1C-4F43-945C86140654.png?v=2</string>
		<key>series_id</key>
		<string>1905</string>
		<key>series_name</key>
		<string>清新花边贴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/E9AF66FB-637C-48BB-B32D-77A2DC677EAF.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/18/E9AF66FB-637C-48BB-B32D-77A2DC677EAF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>海盐</string>
			<key>number</key>
			<string>ini3259174</string>
			<key>user_id</key>
			<string>35487649</string>
		</dict>
		<key>user_id</key>
		<string>35487649</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20005890</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>高跟鞋</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/AADA2E10-C116-9DEB-25F7-966022E56E9E.jpg?v=2</string>
		<key>series_id</key>
		<string>1604</string>
		<key>series_name</key>
		<string>天天女生节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/C7C9DFB3-4105-0D51-AB1E-95F6065B46EC.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/C7C9DFB3-4105-0D51-AB1E-95F6065B46EC.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20025953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>小花</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/4A3F47A8-C1CB-39FB-4FFA-32020BC87003.jpg</string>
		<key>series_id</key>
		<string>6901</string>
		<key>series_name</key>
		<string>漂酿的花边</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/AD80F145-61EB-5B97-8E62-AA24AB2AB4FF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/13/AD80F145-61EB-5B97-8E62-AA24AB2AB4FF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20006875</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>边晶</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/453B4E8E-3EB6-4D4A-A550-64BE6821C0D2.jpg?v=2</string>
		<key>series_id</key>
		<string>1851</string>
		<key>series_name</key>
		<string>春天来了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/EB3087F4-1240-7DB1-D7FD-50A287D310D9.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/EB3087F4-1240-7DB1-D7FD-50A287D310D9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
</array>
</plist>
