<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20044155</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>西瓜装饰</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/F8E3C859-88CE-74FE-A708-1A671836AD45.jpg</string>
		<key>series_id</key>
		<string>11443</string>
		<key>series_name</key>
		<string>西瓜装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/E3817F20-29D4-C3E1-F78C-CD2CAAEB78B3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/E3817F20-29D4-C3E1-F78C-CD2CAAEB78B3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20022926</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>复古花</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/6E58B0DD-770D-69C0-7043-680DCC1ED799.jpg</string>
		<key>series_id</key>
		<string>6146</string>
		<key>series_name</key>
		<string>花系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/0963B756-9C7E-98DD-BD74-4DAC8F1F8CD3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/0963B756-9C7E-98DD-BD74-4DAC8F1F8CD3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>海盐</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20007089</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>心连心</string>
		<key>number</key>
		<string>ini3259174</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/E0CCCADE-93BC-716D-0E1F-6C5892298EFD.png?v=2</string>
		<key>series_id</key>
		<string>1905</string>
		<key>series_name</key>
		<string>清新花边贴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/F4ACF21D-6E79-6209-F7CD-06E488348594.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/F4ACF21D-6E79-6209-F7CD-06E488348594.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>海盐</string>
			<key>number</key>
			<string>ini3259174</string>
			<key>user_id</key>
			<string>35487649</string>
		</dict>
		<key>user_id</key>
		<string>35487649</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20023923</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>小主装饰</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/D4962B63-7F65-FACB-60A4-6737BCEB69B1.jpg</string>
		<key>series_id</key>
		<string>6395</string>
		<key>series_name</key>
		<string>Anne可爱装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/AF5D621F-CD34-415C-E7F5-F1733FB1055B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/08/AF5D621F-CD34-415C-E7F5-F1733FB1055B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20007959</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>花朵</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/989EEABC-5C94-DF76-E40F-3D45D0C74BC5.jpg?v=2</string>
		<key>series_id</key>
		<string>2127</string>
		<key>series_name</key>
		<string>小清新の花边</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/51D47DCC-0A4C-B9C4-7307-F33A82A4E7B3.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/51D47DCC-0A4C-B9C4-7307-F33A82A4E7B3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>papa鬼</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20023613</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>花环头链</string>
		<key>number</key>
		<string>ins530803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/21/21631419-C290-3EE3-3102-4A94AC09FCC7.jpg</string>
		<key>series_id</key>
		<string>6317</string>
		<key>series_name</key>
		<string>夏天花朵盛开边框</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/21/F5EBCBE6-BBB7-8064-E7E8-54ED66DC49B4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/21/F5EBCBE6-BBB7-8064-E7E8-54ED66DC49B4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>papa鬼</string>
			<key>number</key>
			<string>ins530803</string>
			<key>user_id</key>
			<string>69271988</string>
		</dict>
		<key>user_id</key>
		<string>69271988</string>
	</dict>
	<dict>
		<key>author</key>
		<string>得得尼</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20023350</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>雨滴挂饰</string>
		<key>number</key>
		<string>wiinniiie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/23/9494B4A5-B39D-DE92-680C-3063320A13D7.jpg</string>
		<key>series_id</key>
		<string>6252</string>
		<key>series_name</key>
		<string>尼尼装饰系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/23/9F2A0CC0-940B-4CA9-546D-2BE3665A69A9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/23/9F2A0CC0-940B-4CA9-546D-2BE3665A69A9.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>得得尼</string>
			<key>number</key>
			<string>wiinniiie</string>
			<key>user_id</key>
			<string>34646183</string>
		</dict>
		<key>user_id</key>
		<string>34646183</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20053768</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>兔子花环</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/28/1429C4E8-0BEE-574B-18E8-AC261687ABF2.jpg</string>
		<key>series_id</key>
		<string>13848</string>
		<key>series_name</key>
		<string>小花园</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/28/FEF1E3E0-60EB-D316-15DC-7C73C9C211A5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/02/28/FEF1E3E0-60EB-D316-15DC-7C73C9C211A5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20023332</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>水彩小栅栏</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/9F1192BD-51E1-68DD-1F55-197BBF078585.jpg</string>
		<key>series_id</key>
		<string>6248</string>
		<key>series_name</key>
		<string>水彩田园小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/E063B34C-45E6-9D34-1000-6CEF159FC194.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/23/E063B34C-45E6-9D34-1000-6CEF159FC194.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
</array>
</plist>
