<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小米可</string>
		<key>cate_id</key>
		<string>281</string>
		<key>id</key>
		<string>20005284</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>281</string>
		<key>name</key>
		<string>duang4</string>
		<key>number</key>
		<string>ini3328831</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/1DA6B840-666B-0217-3A1B-65320F21AAF7.jpg?v=2</string>
		<key>series_id</key>
		<string>1452</string>
		<key>series_name</key>
		<string>Duang起来~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/A776CF58-2355-17B2-C438-F3AC66A195EA.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/27/A776CF58-2355-17B2-C438-F3AC66A195EA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>MIC小米可</string>
			<key>number</key>
			<string>ini3328831</string>
			<key>user_id</key>
			<string>36165375</string>
		</dict>
		<key>user_id</key>
		<string>36165375</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>281</string>
		<key>id</key>
		<string>20005188</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>281</string>
		<key>name</key>
		<string>duang4</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/25/F69CD5AF-3C9C-B8E6-0647-5D8E4C16E676.jpg?v=2</string>
		<key>series_id</key>
		<string>1428</string>
		<key>series_name</key>
		<string>duang~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/25/4E033BAA-EFB2-66E6-6C3A-A35A432924DA.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/25/4E033BAA-EFB2-66E6-6C3A-A35A432924DA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
</array>
</plist>
