<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>2763</string>
		<key>id</key>
		<string>20041865</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>in2岁啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/D53D0649-0A68-5EA5-71D8-5183C4839BD8.jpg</string>
		<key>series_id</key>
		<string>10871</string>
		<key>series_name</key>
		<string>in2岁啦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/98833959-C0D4-BE66-9071-65BD1FCC616C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/98833959-C0D4-BE66-9071-65BD1FCC616C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Veaco乐乐</string>
		<key>cate_id</key>
		<string>2763</string>
		<key>id</key>
		<string>20041991</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>2岁快乐！</string>
		<key>number</key>
		<string>ind1169165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/21E6F923-74FF-3945-7674-9602EF3D8387.jpg</string>
		<key>series_id</key>
		<string>10901</string>
		<key>series_name</key>
		<string>in2岁快乐~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/C32CF1BB-1AD6-5EFE-8EBF-9D057E1B3B0F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/02/C32CF1BB-1AD6-5EFE-8EBF-9D057E1B3B0F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Veaco乐乐。</string>
			<key>number</key>
			<string>ind1169165</string>
			<key>user_id</key>
			<string>15105547</string>
		</dict>
		<key>user_id</key>
		<string>15105547</string>
	</dict>
</array>
</plist>
