<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>369</string>
		<key>id</key>
		<string>20003020</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>369</string>
		<key>name</key>
		<string>萌萌哒~</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/28/655D28CB-5543-2D74-A246-57EE3E14408E.jpg?v=2</string>
		<key>series_id</key>
		<string>876</string>
		<key>series_name</key>
		<string>小apple~3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/26/6960880A-9823-1F2B-6644-D7A587B6A4E5.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/26/6960880A-9823-1F2B-6644-D7A587B6A4E5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>369</string>
		<key>id</key>
		<string>20003000</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>369</string>
		<key>name</key>
		<string>啊呜...</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/9FD61C2C-58F1-63BF-069E-9B39790E2970.jpg?v=2</string>
		<key>series_id</key>
		<string>872</string>
		<key>series_name</key>
		<string>小apple~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/29F72521-EE3D-CBE5-D16A-A1E0DF9C55A6.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/29F72521-EE3D-CBE5-D16A-A1E0DF9C55A6.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>369</string>
		<key>id</key>
		<string>20003012</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>369</string>
		<key>name</key>
		<string>hi</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/B5062088-E553-46A7-E7B3-A3B2DA3909BF.jpg?v=2</string>
		<key>series_id</key>
		<string>874</string>
		<key>series_name</key>
		<string>小apple~2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/8984078A-E669-0CEC-647C-98A0982582D6.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/26/8984078A-E669-0CEC-647C-98A0982582D6.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
</array>
</plist>
