<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10825</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-王武义MyM</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/19/5B730D3A-26F1-370F-830D-B706E360C7AB.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/617FC49C-CCE7-13B4-3A42-44D347F87C19.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/617FC49C-CCE7-13B4-3A42-44D347F87C19.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10821</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-胡子阳</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/19/E1B980C8-606A-9A44-3D83-592A46BBF972.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/35AA4F09-6236-73D2-12D7-026DCD6A9D7C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/18/35AA4F09-6236-73D2-12D7-026DCD6A9D7C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10820</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-胡逸尘</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/70DD3CF4-91E2-0270-6BF6-B55519A6E6F3.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/5DC2C1E5-AFA4-13C7-640D-A436A41B1585.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/5DC2C1E5-AFA4-13C7-640D-A436A41B1585.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10819</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-国毅毅毅毅</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/19/0FC618D9-1B5C-B57F-C337-E3FEF6ACE2B5.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/18/CA6BB91E-2553-061D-1E2E-E405FCF87C5B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/18/CA6BB91E-2553-061D-1E2E-E405FCF87C5B.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10818</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-怪人阿瓜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/19/98F680D0-29C2-1491-4906-DABB08693714.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/18/9C146605-8FC4-563B-FC37-DF4E51401ED1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/18/9C146605-8FC4-563B-FC37-DF4E51401ED1.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10817</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-塔林夫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/19/140EB2BE-553D-E10B-90BB-4A109C206200.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/19/A82E8E6E-E601-A099-DA4E-840DDC272225.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/19/A82E8E6E-E601-A099-DA4E-840DDC272225.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10816</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-郑印灏</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/DC2189CD-7111-D2A1-302B-6D8BC43EAD3A.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/9F0A7BA2-0223-670F-DB27-7571C464692C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/08/18/9F0A7BA2-0223-670F-DB27-7571C464692C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10815</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-熙熙</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/18/2F8F7689-B198-FDBD-704F-DE57D9158A97.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/18/63F2D1E7-DD13-F113-8238-FBC362E18FF9.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/18/63F2D1E7-DD13-F113-8238-FBC362E18FF9.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1945</string>
		<key>id</key>
		<string>10814</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美男,男神,明星</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1945</string>
		<key>name</key>
		<string>明星-李浩庭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/19/0C7A20DC-1F87-3946-4585-AAF9909062EC.jpg</string>
		<key>series_id</key>
		<string>1945</string>
		<key>series_name</key>
		<string>达人大集合</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/18/8E2BD8CE-8BBA-D8C9-7450-20167D7B24D1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/18/8E2BD8CE-8BBA-D8C9-7450-20167D7B24D1.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
