<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>皮忠</string>
		<key>cate_id</key>
		<string>94</string>
		<key>id</key>
		<string>776</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2269</string>
		<key>name</key>
		<string>帽子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/58CB666D-8B2B-95CB-B0B8-3077DA04D578.jpg?v=2</string>
		<key>series_id</key>
		<string>94</string>
		<key>series_name</key>
		<string>冬日恋歌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/28B397EE-FB93-C66F-BE09-C5ACFAD92440.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/28B397EE-FB93-C66F-BE09-C5ACFAD92440.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>皮忠</string>
		<key>cate_id</key>
		<string>94</string>
		<key>id</key>
		<string>786</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>94</string>
		<key>name</key>
		<string>圣诞帽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/17/C74AE0AB-BA6A-B1B6-E24F-C769539150A2.jpg?v=2</string>
		<key>series_id</key>
		<string>94</string>
		<key>series_name</key>
		<string>冬日恋歌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/17/D05AF5F1-9517-0252-FFB4-6F5CDBE380D7.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2014/12/17/D05AF5F1-9517-0252-FFB4-6F5CDBE380D7.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>皮忠</string>
		<key>cate_id</key>
		<string>94</string>
		<key>id</key>
		<string>770</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2269</string>
		<key>name</key>
		<string>袜子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/5E6E7AC4-4598-40E0-D05E-32CA8D0D6B70.jpg?v=2</string>
		<key>series_id</key>
		<string>94</string>
		<key>series_name</key>
		<string>冬日恋歌</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/4E6046AF-B334-2360-525C-6D0867E96209.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/4E6046AF-B334-2360-525C-6D0867E96209.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
