<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22208</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE双肩包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/12E59920-D2A3-5C47-006B-C8B115F8150B.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/01440CE8-EB68-7D6D-27C3-D9E292C512D6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/01440CE8-EB68-7D6D-27C3-D9E292C512D6.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22206</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE 爱出彩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/A2610361-F1AE-A65F-660D-9B7039DF7FCC.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/7C476791-BA8D-03A4-B40B-9E5F6D98901E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/7C476791-BA8D-03A4-B40B-9E5F6D98901E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22205</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE手拎包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/756BC1E2-7747-262D-3BA0-E73B9F6D8A00.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/9C808624-2CF6-06A1-EE97-8853B59FCB05.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/9C808624-2CF6-06A1-EE97-8853B59FCB05.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22204</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE条纹包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/5707BAC2-D5D2-18A1-E973-50EEA6716036.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/F13987D0-C290-7C20-A137-6488A8EBD1D5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/04/14/F13987D0-C290-7C20-A137-6488A8EBD1D5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22202</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>想要ELLE条纹包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/BBC59C6F-B072-759B-3FC6-CB0A01087443.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/C048E20E-67BA-31FF-0553-B72A0FF9A306.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/C048E20E-67BA-31FF-0553-B72A0FF9A306.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22211</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE就爱冰激凌</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/8BDACF09-BAC2-3522-A310-83846FD4DE9D.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/3C1F5F7A-F23E-4EA8-045F-5B8546E43B43.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/3C1F5F7A-F23E-4EA8-045F-5B8546E43B43.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22210</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE俏皮气球</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/D64964CD-9B95-12CD-56E2-179068033545.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/00B9FBA1-432F-0AC3-3D7B-403CF58A9247.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/14/00B9FBA1-432F-0AC3-3D7B-403CF58A9247.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22209</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE可爱蝴蝶结</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/DF740D8F-EB76-F3A4-C74D-EECF34359F7A.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/1F06D179-30ED-6B83-63F0-E2317F754DC5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/14/1F06D179-30ED-6B83-63F0-E2317F754DC5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>ELLE女包</string>
		<key>cate_id</key>
		<string>2611</string>
		<key>id</key>
		<string>22203</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>ELLE水桶包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/80C23FEE-8D07-0BDC-5C2E-D5801D664351.jpg</string>
		<key>series_id</key>
		<string>2611</string>
		<key>series_name</key>
		<string>横竖由我，就爱出彩</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/1693A383-3023-31B4-527E-43BF930C02A8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/14/1693A383-3023-31B4-527E-43BF930C02A8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
