<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20042659</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我的爸爸</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/72CBDA3F-7807-96F5-08B7-AD61A5F65149.jpg</string>
		<key>series_id</key>
		<string>11069</string>
		<key>series_name</key>
		<string>我爱的爸爸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/4BA66E7C-7652-079D-7033-08BA3641E2B8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/16/4BA66E7C-7652-079D-7033-08BA3641E2B8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20015617</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>给爸爸的爱</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/6A4D78AF-87DE-3AC0-ED1D-1C10645C675B.jpg</string>
		<key>series_id</key>
		<string>4235</string>
		<key>series_name</key>
		<string>【父亲节文字】</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/6E2B017D-276C-514F-ACED-437807B1D52D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/6E2B017D-276C-514F-ACED-437807B1D52D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20015615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>父亲</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/4545BAB8-5A09-AADD-0FD9-C6AF5BB14EBA.jpg</string>
		<key>series_id</key>
		<string>4235</string>
		<key>series_name</key>
		<string>【父亲节文字】</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/CC056797-3DFA-AEC8-52C1-7B2CD4FA8B11.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/CC056797-3DFA-AEC8-52C1-7B2CD4FA8B11.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20015225</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>给爸爸点赞</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/2CDBF7E1-DFE8-9074-78DB-6B8839EBF315.jpg</string>
		<key>series_id</key>
		<string>4137</string>
		<key>series_name</key>
		<string>爱粽子爱爸爸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/0FB80594-E2F3-269E-80C7-E44AF62E760A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/16/0FB80594-E2F3-269E-80C7-E44AF62E760A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20015115</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>老爸，谢谢你</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/ED65BEEB-3024-7EF1-7F67-FD15032EBC11.jpg</string>
		<key>series_id</key>
		<string>4107</string>
		<key>series_name</key>
		<string>老爸我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/AD1600A2-4652-56EC-2414-5AE63E452CF4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/AD1600A2-4652-56EC-2414-5AE63E452CF4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20015111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>父亲节快乐</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/D5BAC20D-B92C-4AB3-FBF4-1C2D6FFD32C3.jpg</string>
		<key>series_id</key>
		<string>4107</string>
		<key>series_name</key>
		<string>老爸我爱你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/09883923-136F-2A8D-8D69-F124BD62A254.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/16/09883923-136F-2A8D-8D69-F124BD62A254.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>白粥小姐</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>20014951</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>父亲节,爸爸</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>父亲节快乐</string>
		<key>number</key>
		<string>in751295244</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/15/09CFD5A3-65E0-4D81-EE4E-656370746B94.jpg</string>
		<key>series_id</key>
		<string>4067</string>
		<key>series_name</key>
		<string>父亲节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/15/E14DBD36-8E68-EE17-7651-515EC88138BC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/15/E14DBD36-8E68-EE17-7651-515EC88138BC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>白粥小姐c</string>
			<key>number</key>
			<string>in751295244</string>
			<key>user_id</key>
			<string>44805296</string>
		</dict>
		<key>user_id</key>
		<string>44805296</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>2469</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>世上只有爸爸好</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/2FF17B71-FD50-8820-AA2B-3FF9877193C6.jpg</string>
		<key>series_id</key>
		<string>1041</string>
		<key>series_name</key>
		<string>父亲节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/7F1067CE-2D22-E745-1934-DCF590EB89A5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/7F1067CE-2D22-E745-1934-DCF590EB89A5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1041</string>
		<key>id</key>
		<string>2467</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1041</string>
		<key>name</key>
		<string>爸比我爱你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/CDC596E3-54F3-03CD-90A0-883F29C84404.jpg</string>
		<key>series_id</key>
		<string>1041</string>
		<key>series_name</key>
		<string>父亲节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/DD0C8887-97CC-F170-D80D-FA9B06D65857.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/18/DD0C8887-97CC-F170-D80D-FA9B06D65857.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
