<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>修丢丢</string>
		<key>cate_id</key>
		<string>1255</string>
		<key>id</key>
		<string>20020277</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1255</string>
		<key>name</key>
		<string>白羊座</string>
		<key>number</key>
		<string>xiudiudiu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/D8BA85AE-C9BC-1E66-6ED5-3868C0FB6107.jpg</string>
		<key>series_id</key>
		<string>5479</string>
		<key>series_name</key>
		<string>丢丢&amp;amp;呆呆</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/25826C96-C915-2E48-2C79-6430C6E6B0EB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/25826C96-C915-2E48-2C79-6430C6E6B0EB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>修丢丢</string>
			<key>number</key>
			<string>xiudiudiu</string>
			<key>user_id</key>
			<string>33264921</string>
		</dict>
		<key>user_id</key>
		<string>33264921</string>
	</dict>
	<dict>
		<key>author</key>
		<string>修丢丢</string>
		<key>cate_id</key>
		<string>1255</string>
		<key>id</key>
		<string>20020371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1255</string>
		<key>name</key>
		<string>双鱼座</string>
		<key>number</key>
		<string>xiudiudiu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/749EE1E2-D6C4-1929-9EED-832E5A3ED433.jpg</string>
		<key>series_id</key>
		<string>5501</string>
		<key>series_name</key>
		<string>丢丢&amp;amp;呆呆3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/C6DFCF4B-9B3D-3407-89F1-17268DD18008.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/C6DFCF4B-9B3D-3407-89F1-17268DD18008.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>修丢丢</string>
			<key>number</key>
			<string>xiudiudiu</string>
			<key>user_id</key>
			<string>33264921</string>
		</dict>
		<key>user_id</key>
		<string>33264921</string>
	</dict>
	<dict>
		<key>author</key>
		<string>修丢丢</string>
		<key>cate_id</key>
		<string>1255</string>
		<key>id</key>
		<string>20020357</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1255</string>
		<key>name</key>
		<string>狮子座</string>
		<key>number</key>
		<string>xiudiudiu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/10340E87-367C-BF05-AAEC-03BCBF2DFF6E.jpg</string>
		<key>series_id</key>
		<string>5499</string>
		<key>series_name</key>
		<string>丢丢&amp;amp;呆呆2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/BC3C0919-52C9-CF56-61D4-E6CEA5162EF5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/09/BC3C0919-52C9-CF56-61D4-E6CEA5162EF5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>修丢丢</string>
			<key>number</key>
			<string>xiudiudiu</string>
			<key>user_id</key>
			<string>33264921</string>
		</dict>
		<key>user_id</key>
		<string>33264921</string>
	</dict>
</array>
</plist>
