<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>221</string>
		<key>id</key>
		<string>2391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>221</string>
		<key>name</key>
		<string>反转手2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/28A80B63-CC23-44BC-9CFA-DED4A473663D.jpg</string>
		<key>series_id</key>
		<string>221</string>
		<key>series_name</key>
		<string>手指</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/EEC733DB-3CC8-D739-D101-D276F8FF142E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/11/EEC733DB-3CC8-D739-D101-D276F8FF142E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>南宫引晨</string>
		<key>cate_id</key>
		<string>221</string>
		<key>id</key>
		<string>20005334</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>221</string>
		<key>name</key>
		<string>来吧</string>
		<key>number</key>
		<string>ine3188185</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/32675B98-6FC4-0D6A-806F-912A2A40615D.jpg?v=2</string>
		<key>series_id</key>
		<string>1466</string>
		<key>series_name</key>
		<string>大指头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/EBE66E3D-896C-5342-4922-A8536EAD835E.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/27/EBE66E3D-896C-5342-4922-A8536EAD835E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>南宫引晨</string>
			<key>number</key>
			<string>ine3188185</string>
			<key>user_id</key>
			<string>34792973</string>
		</dict>
		<key>user_id</key>
		<string>34792973</string>
	</dict>
</array>
</plist>
