<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20009451</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>陪你去看流星雨</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/84637440-915D-C940-E3E3-B8271F319731.jpg?v=2</string>
		<key>series_id</key>
		<string>2593</string>
		<key>series_name</key>
		<string>一句一心情2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/06BC080D-6702-3142-96A9-23E171C6563D.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/06BC080D-6702-3142-96A9-23E171C6563D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>我爱星光</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/87E80F06-BA8D-2F9C-5763-F0B985DE9312.jpg?v=2</string>
		<key>series_id</key>
		<string>2343</string>
		<key>series_name</key>
		<string>我爱阳光我爱生活</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/884E55C4-743D-4861-2340-AAFCBABCF24E.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/884E55C4-743D-4861-2340-AAFCBABCF24E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm 忠犬女王</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008547</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>forever young</string>
		<key>number</key>
		<string>ine2987801</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/E0145502-3373-2EAD-ED2C-5A190D8FFDBC.jpg?v=2</string>
		<key>series_id</key>
		<string>2277</string>
		<key>series_name</key>
		<string>春天添点文艺气息</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/5573D0AC-EA11-70FC-4ED1-712C82B4DF4D.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/5573D0AC-EA11-70FC-4ED1-712C82B4DF4D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忠犬的女王</string>
			<key>number</key>
			<string>ine2987801</string>
			<key>user_id</key>
			<string>32867476</string>
		</dict>
		<key>user_id</key>
		<string>32867476</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm 忠犬女王</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008543</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>愿岁月无可回头</string>
		<key>number</key>
		<string>ine2987801</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/6EB471AA-0069-57C6-B7D2-2D93F785AD8C.jpg?v=2</string>
		<key>series_id</key>
		<string>2277</string>
		<key>series_name</key>
		<string>春天添点文艺气息</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/3E4AB185-1321-A71A-EEA6-10D6FF1569EA.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/03/3E4AB185-1321-A71A-EEA6-10D6FF1569EA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>忠犬的女王</string>
			<key>number</key>
			<string>ine2987801</string>
			<key>user_id</key>
			<string>32867476</string>
		</dict>
		<key>user_id</key>
		<string>32867476</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>一座城一个人</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/39227250-0638-2603-DBE9-ADB6A842A57B.jpg?v=2</string>
		<key>series_id</key>
		<string>2233</string>
		<key>series_name</key>
		<string>清新文字季</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/45CE5CB0-C6D6-8B53-8C39-DBB470EC9020.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/45CE5CB0-C6D6-8B53-8C39-DBB470EC9020.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008289</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>拒绝拖延</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/593DED1E-A7C1-4151-6B24-3D260500411D.jpg?v=2</string>
		<key>series_id</key>
		<string>2213</string>
		<key>series_name</key>
		<string>养成好习惯</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/55B3A80C-BBBE-2549-DC2B-A44DD1ED5C32.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/02/55B3A80C-BBBE-2549-DC2B-A44DD1ED5C32.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008123</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>悄悄</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/EDC0A5D8-ABE8-17CC-2BAD-6ACB68B22C9E.jpg?v=2</string>
		<key>series_id</key>
		<string>2169</string>
		<key>series_name</key>
		<string>❤小小心晴❤</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/A28E171C-88A8-E123-7FE3-AA2A49A327B6.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/31/A28E171C-88A8-E123-7FE3-AA2A49A327B6.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>23006</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>总是一个人 买不了第二杯半价《北京遇上西雅图2》</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/29/E312A029-6323-2F34-AD3D-3B515B58D00A.jpg</string>
		<key>series_id</key>
		<string>1443</string>
		<key>series_name</key>
		<string>心情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/28/7833082E-2B80-E83B-28F9-3EDE01511688.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/04/28/7833082E-2B80-E83B-28F9-3EDE01511688.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>23003</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>总是一个人 坚强《北京遇上西雅图2》</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/29/B5D53CA6-CC5B-31AB-B0E6-C53CCB43EA71.jpg</string>
		<key>series_id</key>
		<string>1443</string>
		<key>series_name</key>
		<string>心情水印</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/28/0FAB6E37-CD20-F7A7-BECB-F2159DA86C86.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/28/0FAB6E37-CD20-F7A7-BECB-F2159DA86C86.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
