<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>477</string>
		<key>id</key>
		<string>20005916</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>477</string>
		<key>name</key>
		<string>白金</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/D1DD3456-C788-B1BC-A5BB-68C2CFDB24E9.jpg?v=2</string>
		<key>series_id</key>
		<string>1610</string>
		<key>series_name</key>
		<string>你选蓝黑or白金</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/3844272E-A3CE-0E15-13AF-33AC0844A70E.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/3844272E-A3CE-0E15-13AF-33AC0844A70E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>477</string>
		<key>id</key>
		<string>20005914</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>477</string>
		<key>name</key>
		<string>蓝黑</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/E5667652-28FF-2E17-0AB9-28C6286DECE0.jpg?v=2</string>
		<key>series_id</key>
		<string>1610</string>
		<key>series_name</key>
		<string>你选蓝黑or白金</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/0530B43B-EB49-BB98-4A78-AC296BAF2F36.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/0530B43B-EB49-BB98-4A78-AC296BAF2F36.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>477</string>
		<key>id</key>
		<string>20005912</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>477</string>
		<key>name</key>
		<string>我选白金</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/AB187095-5BC4-BD4A-A752-99BB953A0104.jpg?v=2</string>
		<key>series_id</key>
		<string>1610</string>
		<key>series_name</key>
		<string>你选蓝黑or白金</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/8D6F47D0-4C5C-1E8B-BB29-B31AA3B82CE1.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/8D6F47D0-4C5C-1E8B-BB29-B31AA3B82CE1.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>477</string>
		<key>id</key>
		<string>20005910</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>477</string>
		<key>name</key>
		<string>我选蓝黑</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/FFFE6B79-3197-E198-2B8C-00C41565AF3C.jpg?v=2</string>
		<key>series_id</key>
		<string>1610</string>
		<key>series_name</key>
		<string>你选蓝黑or白金</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/3A08FE8F-E615-AB9A-DE8A-37C32758BBED.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/3A08FE8F-E615-AB9A-DE8A-37C32758BBED.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
</array>
</plist>
