<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>熊喵熊</string>
		<key>cate_id</key>
		<string>1173</string>
		<key>id</key>
		<string>20018519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1173</string>
		<key>name</key>
		<string>好疼啊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/FED47318-4BE9-4013-1EDD-5CAE6F1D2071.jpg</string>
		<key>series_id</key>
		<string>5017</string>
		<key>series_name</key>
		<string>熊喵熊日常</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/DE596685-91B5-DC4D-63BF-3CB182F9E360.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/DE596685-91B5-DC4D-63BF-3CB182F9E360.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>熊喵熊</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33364258</string>
		</dict>
		<key>user_id</key>
		<string>33364258</string>
	</dict>
	<dict>
		<key>author</key>
		<string>熊喵熊</string>
		<key>cate_id</key>
		<string>1173</string>
		<key>id</key>
		<string>20018539</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1173</string>
		<key>name</key>
		<string>好羞涩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/77828A30-9B41-4529-4744-11E29004ECD1.jpg</string>
		<key>series_id</key>
		<string>5021</string>
		<key>series_name</key>
		<string>熊喵熊日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/E836A78E-CF08-179A-C596-CB8C479D084D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/E836A78E-CF08-179A-C596-CB8C479D084D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>熊喵熊</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33364258</string>
		</dict>
		<key>user_id</key>
		<string>33364258</string>
	</dict>
	<dict>
		<key>author</key>
		<string>熊喵熊</string>
		<key>cate_id</key>
		<string>1173</string>
		<key>id</key>
		<string>20018533</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1173</string>
		<key>name</key>
		<string>七屎你</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/B28CD821-AC42-A1FC-A2EC-BE6B05332D4F.jpg</string>
		<key>series_id</key>
		<string>5021</string>
		<key>series_name</key>
		<string>熊喵熊日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/10DABBF8-2124-94E8-001D-82271C870942.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/10DABBF8-2124-94E8-001D-82271C870942.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>熊喵熊</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33364258</string>
		</dict>
		<key>user_id</key>
		<string>33364258</string>
	</dict>
</array>
</plist>
