<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>零度C橘子汽水</string>
		<key>cate_id</key>
		<string>1849</string>
		<key>id</key>
		<string>20027701</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1849</string>
		<key>name</key>
		<string>啾咪</string>
		<key>number</key>
		<string>mantic</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/7647A37A-EE91-A16A-FA5B-4D40979447F5.jpg</string>
		<key>series_id</key>
		<string>7337</string>
		<key>series_name</key>
		<string>居家旅行必备3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/D7116EF8-D5DE-B804-1651-472E51A631C2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/D7116EF8-D5DE-B804-1651-472E51A631C2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑吧鸡米花</string>
			<key>number</key>
			<string>mantic</string>
			<key>user_id</key>
			<string>19995159</string>
		</dict>
		<key>user_id</key>
		<string>19995159</string>
	</dict>
	<dict>
		<key>author</key>
		<string>零度C橘子汽水</string>
		<key>cate_id</key>
		<string>1849</string>
		<key>id</key>
		<string>20027555</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1849</string>
		<key>name</key>
		<string>赞</string>
		<key>number</key>
		<string>mantic</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/30/4C13166C-98AF-F0AC-39E6-3E1B5F58D866.jpg</string>
		<key>series_id</key>
		<string>7301</string>
		<key>series_name</key>
		<string>出门必备贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/2D4B8D9B-3E42-C09E-4BEC-1F5466B85402.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/2D4B8D9B-3E42-C09E-4BEC-1F5466B85402.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑吧鸡米花</string>
			<key>number</key>
			<string>mantic</string>
			<key>user_id</key>
			<string>19995159</string>
		</dict>
		<key>user_id</key>
		<string>19995159</string>
	</dict>
	<dict>
		<key>author</key>
		<string>零度C橘子汽水</string>
		<key>cate_id</key>
		<string>1849</string>
		<key>id</key>
		<string>20027705</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1849</string>
		<key>name</key>
		<string>傻逼</string>
		<key>number</key>
		<string>mantic</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/31/6CFA5B75-3D8A-F7A1-72D5-C29FE219C1FD.jpg</string>
		<key>series_id</key>
		<string>7337</string>
		<key>series_name</key>
		<string>居家旅行必备3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/88F5BFB5-8493-B4C4-C25E-7DE294CB332E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/88F5BFB5-8493-B4C4-C25E-7DE294CB332E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>奔跑吧鸡米花</string>
			<key>number</key>
			<string>mantic</string>
			<key>user_id</key>
			<string>19995159</string>
		</dict>
		<key>user_id</key>
		<string>19995159</string>
	</dict>
</array>
</plist>
