<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>软乎乎啊呜</string>
		<key>cate_id</key>
		<string>3646</string>
		<key>id</key>
		<string>20054202</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蝴蝶结熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/5B82DA31-D9A9-C0E6-924B-D5C7C2B158CD.jpg</string>
		<key>series_id</key>
		<string>13956</string>
		<key>series_name</key>
		<string>白色情人天使熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/D3A676AD-D095-96E3-DB32-3B1750DE19DB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/D3A676AD-D095-96E3-DB32-3B1750DE19DB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小塞_软乎乎啊呜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109724630</string>
		</dict>
		<key>user_id</key>
		<string>109724630</string>
	</dict>
	<dict>
		<key>author</key>
		<string>软乎乎啊呜</string>
		<key>cate_id</key>
		<string>3646</string>
		<key>id</key>
		<string>20054200</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>丘比特熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/0417A097-9E39-FB63-9BFD-2F67D4C70886.jpg</string>
		<key>series_id</key>
		<string>13956</string>
		<key>series_name</key>
		<string>白色情人天使熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/22B702CC-BDF7-5B15-CDFF-CF07D107C115.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/22B702CC-BDF7-5B15-CDFF-CF07D107C115.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小塞_软乎乎啊呜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109724630</string>
		</dict>
		<key>user_id</key>
		<string>109724630</string>
	</dict>
	<dict>
		<key>author</key>
		<string>软乎乎啊呜</string>
		<key>cate_id</key>
		<string>3646</string>
		<key>id</key>
		<string>20054204</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>趴趴熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/88A87E1D-9DA6-A275-038B-8D867DE62ADF.jpg</string>
		<key>series_id</key>
		<string>13956</string>
		<key>series_name</key>
		<string>白色情人天使熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/B17A7C78-8734-721C-4071-46536200A0D3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/09/B17A7C78-8734-721C-4071-46536200A0D3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小塞_软乎乎啊呜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109724630</string>
		</dict>
		<key>user_id</key>
		<string>109724630</string>
	</dict>
	<dict>
		<key>author</key>
		<string>软乎乎啊呜</string>
		<key>cate_id</key>
		<string>3646</string>
		<key>id</key>
		<string>20054206</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱心熊</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/AE3323F4-DAE8-C1F1-8720-885253ECAB6C.jpg</string>
		<key>series_id</key>
		<string>13956</string>
		<key>series_name</key>
		<string>白色情人天使熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/E52F01C9-DDA4-48D9-4111-6A9408FED2A2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/09/E52F01C9-DDA4-48D9-4111-6A9408FED2A2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小塞_软乎乎啊呜</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>109724630</string>
		</dict>
		<key>user_id</key>
		<string>109724630</string>
	</dict>
</array>
</plist>
