<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>雪条桑</string>
		<key>cate_id</key>
		<string>963</string>
		<key>id</key>
		<string>20013723</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>963</string>
		<key>name</key>
		<string>开动</string>
		<key>number</key>
		<string>inr599848</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/7AC5B61C-31F9-A7C7-5E8A-084CF71E2BA5.jpg</string>
		<key>series_id</key>
		<string>3739</string>
		<key>series_name</key>
		<string>贪吃妞妞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/D31819AF-1503-4510-7FFB-5A24C455B44C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/D31819AF-1503-4510-7FFB-5A24C455B44C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪条桑</string>
			<key>number</key>
			<string>inr599848</string>
			<key>user_id</key>
			<string>69946070</string>
		</dict>
		<key>user_id</key>
		<string>69946070</string>
	</dict>
	<dict>
		<key>author</key>
		<string>雪条桑</string>
		<key>cate_id</key>
		<string>963</string>
		<key>id</key>
		<string>20013721</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>963</string>
		<key>name</key>
		<string>哇哦</string>
		<key>number</key>
		<string>inr599848</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/0CF9E407-5C9B-DC07-A67D-7C1C9785CAA7.jpg</string>
		<key>series_id</key>
		<string>3739</string>
		<key>series_name</key>
		<string>贪吃妞妞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/21BFE49B-2599-B7DA-FD37-BFDDDC2E7FC9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/21BFE49B-2599-B7DA-FD37-BFDDDC2E7FC9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪条桑</string>
			<key>number</key>
			<string>inr599848</string>
			<key>user_id</key>
			<string>69946070</string>
		</dict>
		<key>user_id</key>
		<string>69946070</string>
	</dict>
	<dict>
		<key>author</key>
		<string>雪条桑</string>
		<key>cate_id</key>
		<string>963</string>
		<key>id</key>
		<string>20013719</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>963</string>
		<key>name</key>
		<string>美味</string>
		<key>number</key>
		<string>inr599848</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/2280317D-87DA-509F-8475-9011C9D83566.jpg</string>
		<key>series_id</key>
		<string>3739</string>
		<key>series_name</key>
		<string>贪吃妞妞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/FC9EC73E-9659-108A-81DA-87051B1C0917.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/08/FC9EC73E-9659-108A-81DA-87051B1C0917.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪条桑</string>
			<key>number</key>
			<string>inr599848</string>
			<key>user_id</key>
			<string>69946070</string>
		</dict>
		<key>user_id</key>
		<string>69946070</string>
	</dict>
	<dict>
		<key>author</key>
		<string>雪条桑</string>
		<key>cate_id</key>
		<string>963</string>
		<key>id</key>
		<string>20013717</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>963</string>
		<key>name</key>
		<string>干杯</string>
		<key>number</key>
		<string>inr599848</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/D8EE36B3-9C00-709B-A08D-8F57CE2D043C.jpg</string>
		<key>series_id</key>
		<string>3739</string>
		<key>series_name</key>
		<string>贪吃妞妞</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/19D8DB16-5916-2524-2DD8-D09CA2711B38.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/19D8DB16-5916-2524-2DD8-D09CA2711B38.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>雪条桑</string>
			<key>number</key>
			<string>inr599848</string>
			<key>user_id</key>
			<string>69946070</string>
		</dict>
		<key>user_id</key>
		<string>69946070</string>
	</dict>
</array>
</plist>
