<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>578</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>天使</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/EC6D740C-6543-B247-D23F-3E63E0CAE6C7.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/8D6BF227-A85D-5DAB-367D-2151788162CC.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/8D6BF227-A85D-5DAB-367D-2151788162CC.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>586</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>跪了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/A1CDCBF0-C30E-8245-F0B1-F84733A2C83B.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/AD4E3EB6-46AD-7CF9-010E-94DDB8B393CD.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/AD4E3EB6-46AD-7CF9-010E-94DDB8B393CD.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>457</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>得意</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2014/11/27/9F5832F1-3484-1A1C-1BBF-609C03588504.jpg?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2014/11/27/33821EBA-E9EB-EB95-FC45-8A354EF974EB.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2014/11/27/33821EBA-E9EB-EB95-FC45-8A354EF974EB.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>456</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>贱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/A1F51320-0EA9-76AF-C340-FE4360A1CAA3.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/42AC8F0E-BB61-7234-C487-21AC35414D8A.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/42AC8F0E-BB61-7234-C487-21AC35414D8A.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>588</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>惊吓</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/6603D396-0A78-1487-61E9-D86385B6C8DD.jpg?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/DA30487B-5D7F-098F-A890-678A5F3ED53D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2014/11/27/DA30487B-5D7F-098F-A890-678A5F3ED53D.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>580</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>偷乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/B9302F54-4B84-ED00-9082-2EB6E87A2E87.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/17BE59CF-C6E2-FC8F-8D6B-E18F3787513E.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/11/27/17BE59CF-C6E2-FC8F-8D6B-E18F3787513E.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>458</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>无语</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/26/A2247D3B-DF4F-36BB-BE06-6198E28A6FD4.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/AAC7B61B-2245-1507-50D2-D54ACAC7A834.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/AAC7B61B-2245-1507-50D2-D54ACAC7A834.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>584</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>泪奔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/56FD25F6-0A44-C125-38BF-D004FE62AF9C.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/4EF85FFD-7150-5E00-848D-17281C5BEA03.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/4EF85FFD-7150-5E00-848D-17281C5BEA03.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>68</string>
		<key>id</key>
		<string>590</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>68</string>
		<key>name</key>
		<string>庆祝</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/6D3E0289-0485-A26F-27F5-8E8224BC5C05.png?v=2</string>
		<key>series_id</key>
		<string>68</string>
		<key>series_name</key>
		<string>豆芽人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/78CF51BB-A471-E61B-18BA-AC13C5D3D9C6.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/11/27/78CF51BB-A471-E61B-18BA-AC13C5D3D9C6.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
