<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>爱画画的米小芽</string>
		<key>cate_id</key>
		<string>2539</string>
		<key>id</key>
		<string>20038703</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蝙蝠侠小丑</string>
		<key>number</key>
		<string>inj4242329</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/5A3CF883-07D9-7C93-1F28-D7593A9C1D71.jpg</string>
		<key>series_id</key>
		<string>10079</string>
		<key>series_name</key>
		<string>蝙蝠侠小丑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/70908675-A582-8377-F39F-001E16996446.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/70908675-A582-8377-F39F-001E16996446.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱画画的米小芽</string>
			<key>number</key>
			<string>inj4242329</string>
			<key>user_id</key>
			<string>45253686</string>
		</dict>
		<key>user_id</key>
		<string>45253686</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爱画画的米小芽</string>
		<key>cate_id</key>
		<string>2539</string>
		<key>id</key>
		<string>20038701</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蝙蝠侠小丑</string>
		<key>number</key>
		<string>inj4242329</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/28A90CB5-E8DF-9363-4017-C970BFB2124A.jpg</string>
		<key>series_id</key>
		<string>10079</string>
		<key>series_name</key>
		<string>蝙蝠侠小丑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/73344BC5-AD8A-5228-EC16-80CE6F3B5D2A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/73344BC5-AD8A-5228-EC16-80CE6F3B5D2A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱画画的米小芽</string>
			<key>number</key>
			<string>inj4242329</string>
			<key>user_id</key>
			<string>45253686</string>
		</dict>
		<key>user_id</key>
		<string>45253686</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爱画画的米小芽</string>
		<key>cate_id</key>
		<string>2539</string>
		<key>id</key>
		<string>20038699</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蝙蝠侠小丑</string>
		<key>number</key>
		<string>inj4242329</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/67040B17-7DF4-A1A9-CB63-7D5AC9FED642.jpg</string>
		<key>series_id</key>
		<string>10079</string>
		<key>series_name</key>
		<string>蝙蝠侠小丑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/27260517-5EEF-0115-7F53-907C404545B4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/03/30/27260517-5EEF-0115-7F53-907C404545B4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱画画的米小芽</string>
			<key>number</key>
			<string>inj4242329</string>
			<key>user_id</key>
			<string>45253686</string>
		</dict>
		<key>user_id</key>
		<string>45253686</string>
	</dict>
	<dict>
		<key>author</key>
		<string>爱画画的米小芽</string>
		<key>cate_id</key>
		<string>2539</string>
		<key>id</key>
		<string>20038697</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蝙蝠侠小丑</string>
		<key>number</key>
		<string>inj4242329</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/F40E07E6-758C-392D-AB0A-8A30DFA01C2D.jpg</string>
		<key>series_id</key>
		<string>10079</string>
		<key>series_name</key>
		<string>蝙蝠侠小丑</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/546D8FF9-4EAC-D5DF-1A38-F6DB07EB0B62.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/03/30/546D8FF9-4EAC-D5DF-1A38-F6DB07EB0B62.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>爱画画的米小芽</string>
			<key>number</key>
			<string>inj4242329</string>
			<key>user_id</key>
			<string>45253686</string>
		</dict>
		<key>user_id</key>
		<string>45253686</string>
	</dict>
</array>
</plist>
