<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048112</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 哈气画心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/A045B784-46F1-C745-0463-518BD4F705E8.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/9C04DC52-86BC-A936-9728-0EBD8F3E1826.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/9C04DC52-86BC-A936-9728-0EBD8F3E1826.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048108</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 叹气</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/03717A6C-A71D-4F79-3D11-9EC8618ED980.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/DA3E6676-1C8C-1F03-16EA-1E4BDBFE7ACE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/26/DA3E6676-1C8C-1F03-16EA-1E4BDBFE7ACE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048103</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 吃饭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/40CC4048-AB1B-D1E9-2B75-A0C34BF37147.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/2BDC4E21-4C99-7BC3-94D5-8814FB433CA9.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/2BDC4E21-4C99-7BC3-94D5-8814FB433CA9.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048807</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 Best wishes</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/28/31D7F529-D250-0FFA-47A8-574103B37ADA.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/28/312B587C-E0C9-B66E-7694-BEBA6E6A75B1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/28/312B587C-E0C9-B66E-7694-BEBA6E6A75B1.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048115</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 你好夏天</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/933562A9-BF59-BBEF-3C07-71864421E7AA.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/1D22F498-B24E-450A-AD88-8A2521EF0932.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/04/26/1D22F498-B24E-450A-AD88-8A2521EF0932.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>MONSTER-朵</string>
		<key>cate_id</key>
		<string>3930</string>
		<key>id</key>
		<string>1048113</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棉花云 阿朵 GOODNIGHT</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/26/CE681C0A-374C-3761-7F22-07E55D4321A2.jpg</string>
		<key>series_id</key>
		<string>3930</string>
		<key>series_name</key>
		<string>棉花云 阿朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/26/7FB31EE8-12DD-1547-C896-D09F32B34ECC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/26/7FB31EE8-12DD-1547-C896-D09F32B34ECC.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
