<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嗯呢</string>
		<key>cate_id</key>
		<string>3230</string>
		<key>id</key>
		<string>20048549</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小麻哈小富婆</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/87549FCB-B334-4CE5-9630-9362DDA4927A.jpg</string>
		<key>series_id</key>
		<string>12543</string>
		<key>series_name</key>
		<string>双十一卡通表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/095C606C-773B-3FC3-8945-EDF93D9A622B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/095C606C-773B-3FC3-8945-EDF93D9A622B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嗯呢</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>88608648</string>
		</dict>
		<key>user_id</key>
		<string>88608648</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嗯呢</string>
		<key>cate_id</key>
		<string>3230</string>
		<key>id</key>
		<string>20048551</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小麻哈困觉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/6CD207D6-7C90-1303-DAB8-67F22C080CFC.jpg</string>
		<key>series_id</key>
		<string>12543</string>
		<key>series_name</key>
		<string>双十一卡通表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/795D874B-D7C0-9161-73C1-5D01FB7A8725.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/795D874B-D7C0-9161-73C1-5D01FB7A8725.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嗯呢</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>88608648</string>
		</dict>
		<key>user_id</key>
		<string>88608648</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嗯呢</string>
		<key>cate_id</key>
		<string>3230</string>
		<key>id</key>
		<string>20048547</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小麻哈超喜欢表情</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/5A2B4B89-C82C-665A-417D-A5863F43FBBA.jpg</string>
		<key>series_id</key>
		<string>12543</string>
		<key>series_name</key>
		<string>双十一卡通表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/57500B38-7DF6-4E34-9F0C-73B16C2741E1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/10/31/57500B38-7DF6-4E34-9F0C-73B16C2741E1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嗯呢</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>88608648</string>
		</dict>
		<key>user_id</key>
		<string>88608648</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嗯呢</string>
		<key>cate_id</key>
		<string>3230</string>
		<key>id</key>
		<string>20048545</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小麻哈开心表情</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/9C845975-5517-2578-6ABE-D9AA5AFBA15B.jpg</string>
		<key>series_id</key>
		<string>12543</string>
		<key>series_name</key>
		<string>双十一卡通表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/A1A4684A-BB54-F33F-9A81-CD9338255831.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/31/A1A4684A-BB54-F33F-9A81-CD9338255831.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嗯呢</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>88608648</string>
		</dict>
		<key>user_id</key>
		<string>88608648</string>
	</dict>
</array>
</plist>
