<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16206</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-馋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/62A9800A-E293-B4E4-5048-25C53FE443B7.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/91FBF2D8-0E91-11CD-38C8-F8399912FC5E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/91FBF2D8-0E91-11CD-38C8-F8399912FC5E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16205</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-吓</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/3E5C55B5-366A-DC3B-C036-107B0035DB64.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/830DAF34-39AC-4FDA-A1D2-DCD3027E7CCA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/830DAF34-39AC-4FDA-A1D2-DCD3027E7CCA.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16204</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-走</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/13/AF54D2A0-F350-5701-8095-367C260B2BF6.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/13/9A56AD48-1A61-1334-46C4-7DE25A4A0B0C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/11/13/9A56AD48-1A61-1334-46C4-7DE25A4A0B0C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16203</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-跳</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/13/BB96BEAE-A69C-9377-7B48-85D23BE4094F.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/13/619FC716-3A1A-1BCA-273A-12686494A4E6.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/11/13/619FC716-3A1A-1BCA-273A-12686494A4E6.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-跑</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/B16B61F0-1DAA-EC68-6980-954CF71B0983.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/DB06B602-C68B-9FE4-00A7-F65A546295A8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/13/DB06B602-C68B-9FE4-00A7-F65A546295A8.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2147</string>
		<key>id</key>
		<string>16202</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2147</string>
		<key>name</key>
		<string>疯狂的麦咭-坐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/A2E92A56-A7C9-2E3D-97CD-A77A284E4616.jpg</string>
		<key>series_id</key>
		<string>2147</string>
		<key>series_name</key>
		<string>疯狂的麦咭</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/30DDFC76-7A81-C401-F746-150276CCFB76.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/11/13/30DDFC76-7A81-C401-F746-150276CCFB76.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
