<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20034219</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>圣诞节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>简笔画圣诞节</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/4E2F78E4-E502-BDED-D057-5D450836FC6E.jpg</string>
		<key>series_id</key>
		<string>8957</string>
		<key>series_name</key>
		<string>兔叽酱圣诞平安夜</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/A71E2B69-3527-A751-1CB3-F6C4F69426B5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/16/A71E2B69-3527-A751-1CB3-F6C4F69426B5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>发哥</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>18417</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>你好2016,新年快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>新年快乐帽子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/30/47898343-1F42-A70C-67DE-A79973A7AB07.jpg</string>
		<key>series_id</key>
		<string>233</string>
		<key>series_name</key>
		<string>白色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/30/DF463D68-E3FA-FBB8-48AC-1C365608F8F3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/30/DF463D68-E3FA-FBB8-48AC-1C365608F8F3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
