<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>462</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>猫爪</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i1.jiuyan.info/in/2014/10/13/5BFC4385-AD3C-815B-B3D6-3634A5829CE0.jpg?v=2</string>
		<key>series_id</key>
		<string>233</string>
		<key>series_name</key>
		<string>白色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i1.jiuyan.info/in/2014/10/13/BBF99EC5-A56E-A945-B66D-EC288513E3EA.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i1.jiuyan.info/in/2014/10/13/BBF99EC5-A56E-A945-B66D-EC288513E3EA.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20010473</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>601</string>
		<key>name</key>
		<string>爱de信号满格</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/05/9E36BDE6-23D8-D010-A205-34E9FA2F6CD4.jpg?v=2</string>
		<key>series_id</key>
		<string>2851</string>
		<key>series_name</key>
		<string>逗你玩儿~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/05/0F44AFE2-2754-FF8A-E129-C4A7A99C076D.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/05/0F44AFE2-2754-FF8A-E129-C4A7A99C076D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>油爆叽丁</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20049119</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好运</string>
		<key>number</key>
		<string>inh3176119</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/8003232A-DE00-27C8-E87A-57B334B305A0.jpg</string>
		<key>series_id</key>
		<string>12685</string>
		<key>series_name</key>
		<string>油爆叽丁简笔心情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/ED2BDFEF-5780-03E0-E747-A6B2D206B143.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/ED2BDFEF-5780-03E0-E747-A6B2D206B143.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>油爆叽丁</string>
			<key>number</key>
			<string>inh3176119</string>
			<key>user_id</key>
			<string>34655906</string>
		</dict>
		<key>user_id</key>
		<string>34655906</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20011791</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>阿拉神灯</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/BC8E2D5E-A894-BC08-4454-C4A5DBBC3C4F.jpg</string>
		<key>series_id</key>
		<string>3187</string>
		<key>series_name</key>
		<string>趣味简笔</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/2E2F5FF8-DFE6-DCF8-C798-0B36F5D8D1C0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/2E2F5FF8-DFE6-DCF8-C798-0B36F5D8D1C0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>802</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>旗子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/17/D1230020-CA67-3C1B-266F-D64CBF7AF76A.jpg?v=2</string>
		<key>series_id</key>
		<string>233</string>
		<key>series_name</key>
		<string>白色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/17/322AE1C5-CD58-3837-6757-3191363310AA.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2014/12/17/322AE1C5-CD58-3837-6757-3191363310AA.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>王潘哒</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20023499</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>梦游先生1</string>
		<key>number</key>
		<string>inr571916</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/29/990CBF0F-E828-785F-B639-062AAA26CE64.jpg</string>
		<key>series_id</key>
		<string>6289</string>
		<key>series_name</key>
		<string>梦游先生</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/29/C3E48497-8269-23E3-8EE2-60635ED6CFF4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/29/C3E48497-8269-23E3-8EE2-60635ED6CFF4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王潘哒</string>
			<key>number</key>
			<string>inr571916</string>
			<key>user_id</key>
			<string>69665935</string>
		</dict>
		<key>user_id</key>
		<string>69665935</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20033129</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2181</string>
		<key>name</key>
		<string>窗外下雪</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/C4D81F75-F687-2860-A197-5CF95C0F3A68.jpg</string>
		<key>series_id</key>
		<string>8687</string>
		<key>series_name</key>
		<string>冬天唯美贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/1DEB3F53-FE44-0196-D0AC-9B915FA75093.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/28/1DEB3F53-FE44-0196-D0AC-9B915FA75093.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>20011519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>日本小帽子</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/21/2D98B36A-DA2F-A17D-4019-DBB4F582316C.jpg</string>
		<key>series_id</key>
		<string>3117</string>
		<key>series_name</key>
		<string>白色简笔画3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/21/C14F481B-C0E2-4BB0-0D5B-F47E04B4596A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/21/C14F481B-C0E2-4BB0-0D5B-F47E04B4596A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>233</string>
		<key>id</key>
		<string>397</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>简笔画</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>233</string>
		<key>name</key>
		<string>咖啡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i2.jiuyan.info/in/2014/09/22/C7C9780B-6612-B9ED-53A2-0DB5633F86E3.jpg?v=2</string>
		<key>series_id</key>
		<string>233</string>
		<key>series_name</key>
		<string>白色简笔画</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i2.jiuyan.info/in/2014/09/22/4C5D0B70-EFDE-729C-6853-7D0416F4663D.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i2.jiuyan.info/in/2014/09/22/4C5D0B70-EFDE-729C-6853-7D0416F4663D.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
