<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>225</string>
		<key>id</key>
		<string>20007577</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>闪亮亮</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/24/AE358C43-E3C6-3F25-EE4A-8C0B554AE352.jpg?v=2</string>
		<key>series_id</key>
		<string>2027</string>
		<key>series_name</key>
		<string>今天萌了吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/24/AB392169-6D87-16C2-C759-4E80CD2CC11D.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/24/AB392169-6D87-16C2-C759-4E80CD2CC11D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>585</string>
		<key>id</key>
		<string>20009033</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>585</string>
		<key>name</key>
		<string>爱心</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/14/E24681C1-7FFE-820A-B0FB-29F07C756A49.jpg?v=2</string>
		<key>series_id</key>
		<string>2455</string>
		<key>series_name</key>
		<string>可爱装饰贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/20/3E6080B4-E27F-7DB0-A746-669030D1DBDF.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/20/3E6080B4-E27F-7DB0-A746-669030D1DBDF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20009487</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>一周CP,概率论</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>564</string>
		<key>name</key>
		<string>卖萌装饰</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/ACEE75F2-8C6A-70FD-6A65-4F61950053C8.jpg?v=2</string>
		<key>series_id</key>
		<string>2603</string>
		<key>series_name</key>
		<string>萌哒哒哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/53A84C17-C41B-F632-EEEF-A06E97265804.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/53A84C17-C41B-F632-EEEF-A06E97265804.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
	<dict>
		<key>author</key>
		<string>芒果好吃吗</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20021669</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>小黄鸭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/F1EC16B0-A93F-ACAB-0E45-5C9D5C6A185F.jpg</string>
		<key>series_id</key>
		<string>5833</string>
		<key>series_name</key>
		<string>芒果的小玩意</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/3D347AAE-C9ED-F336-5C1D-791E2162268B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/3D347AAE-C9ED-F336-5C1D-791E2162268B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lovemango酱</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73155254</string>
		</dict>
		<key>user_id</key>
		<string>73155254</string>
	</dict>
	<dict>
		<key>author</key>
		<string>冷漠冰稀饭</string>
		<key>cate_id</key>
		<string>1615</string>
		<key>id</key>
		<string>1044</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1615</string>
		<key>name</key>
		<string>泡泡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/03490388-51FF-6D86-9651-552446DC1142.jpg?v=2</string>
		<key>series_id</key>
		<string>1615</string>
		<key>series_name</key>
		<string>没头绪</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/70E0B8CC-B07F-ED20-D182-1B7BEFD44A92.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/in/2015/01/14/70E0B8CC-B07F-ED20-D182-1B7BEFD44A92.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>早安豆小米</string>
		<key>cate_id</key>
		<string>253</string>
		<key>id</key>
		<string>20022615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>253</string>
		<key>name</key>
		<string>红晕2</string>
		<key>number</key>
		<string>inc3630303</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/55FC2804-6854-CD2F-6349-689BEEDF953C.jpg</string>
		<key>series_id</key>
		<string>6069</string>
		<key>series_name</key>
		<string>可爱装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/EE05FA15-BC61-AE39-DF1D-A433B162F7B5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/EE05FA15-BC61-AE39-DF1D-A433B162F7B5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>早安豆小米</string>
			<key>number</key>
			<string>inc3630303</string>
			<key>user_id</key>
			<string>39145680</string>
		</dict>
		<key>user_id</key>
		<string>39145680</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>209</string>
		<key>id</key>
		<string>20005142</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>209</string>
		<key>name</key>
		<string>honey honey</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/24/319071F8-26FC-10EC-ECC3-13C6B557B888.jpg?v=2</string>
		<key>series_id</key>
		<string>1418</string>
		<key>series_name</key>
		<string>手写心情印花版</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/24/4D6BE4EF-C003-2BCD-0309-A76F05E7782F.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/24/4D6BE4EF-C003-2BCD-0309-A76F05E7782F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Cony</string>
		<key>cate_id</key>
		<string>267</string>
		<key>id</key>
		<string>20007371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>267</string>
		<key>name</key>
		<string>小草儿</string>
		<key>number</key>
		<string>conysun</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/7B111FE5-E6C0-5896-40ED-3C6492B1C27A.jpg?v=2</string>
		<key>series_id</key>
		<string>1975</string>
		<key>series_name</key>
		<string>春田花花会</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/2D57B151-8787-A585-4411-232FCBFFF831.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/20/2D57B151-8787-A585-4411-232FCBFFF831.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Cony</string>
			<key>number</key>
			<string>conysun</string>
			<key>user_id</key>
			<string>31874017</string>
		</dict>
		<key>user_id</key>
		<string>31874017</string>
	</dict>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>247</string>
		<key>id</key>
		<string>20005840</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>247</string>
		<key>name</key>
		<string>大眼睛</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/819A90EB-4696-E1EE-9E6D-4A06947ED15A.jpg?v=2</string>
		<key>series_id</key>
		<string>1592</string>
		<key>series_name</key>
		<string>萌表情系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/E5D3AC7F-8EF3-7938-9F5C-799673342BE4.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/E5D3AC7F-8EF3-7938-9F5C-799673342BE4.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
</array>
</plist>
