<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {800, 600}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>image</key>
		<array>
			<dict>
				<key>file</key>
				<string>hello.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>hello</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>502</string>
					<key>left</key>
					<string>48</string>
					<key>right</key>
					<string>656</string>
					<key>top</key>
					<string>37</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>sun.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>weatherIcon</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>362</string>
					<key>left</key>
					<string>49</string>
					<key>right</key>
					<string>681</string>
					<key>top</key>
					<string>170</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>line.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>line</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>358</string>
					<key>left</key>
					<string>122</string>
					<key>right</key>
					<string>666</string>
					<key>top</key>
					<string>172</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>arrow.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>arrow</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>29</string>
					<key>left</key>
					<string>589</string>
					<key>right</key>
					<string>23</string>
					<key>top</key>
					<string>563</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>file</key>
				<string>2_frame.png</string>
				<key>fill</key>
				<dict>
					<key>mode</key>
					<string>origin</string>
				</dict>
				<key>id</key>
				<string>frame1</string>
				<key>margin</key>
				<dict>
					<key>bottom</key>
					<string>8</string>
					<key>left</key>
					<string>68</string>
					<key>right</key>
					<string>426</string>
					<key>top</key>
					<string>368</string>
				</dict>
				<key>zIndex</key>
				<string>3</string>
			</dict>
		</array>
		<key>part</key>
		<array>
			<dict>
				<key>index</key>
				<string>0</string>
				<key>path</key>
				<dict>
					<key>rect</key>
					<dict>
						<key>height</key>
						<string>451.0</string>
						<key>width</key>
						<string>800.0</string>
						<key>x</key>
						<string>0.0</string>
						<key>y</key>
						<string>0.0</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>1</string>
			</dict>
			<dict>
				<key>angle</key>
				<string>-3.5</string>
				<key>index</key>
				<string>1</string>
				<key>path</key>
				<dict>
					<key>rect</key>
					<dict>
						<key>height</key>
						<string>193</string>
						<key>width</key>
						<string>278</string>
						<key>x</key>
						<string>79</string>
						<key>y</key>
						<string>379</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>poi</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>我在这里</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>STHeitiSC-Medium</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>76</string>
					<key>width</key>
					<string>713</string>
					<key>x</key>
					<string>43</string>
					<key>y</key>
					<string>91</string>
				</dict>
				<key>id</key>
				<string>place</string>
				<key>maxSize</key>
				<string>72</string>
				<key>minSize</key>
				<string>60</string>
				<key>shadow</key>
				<dict>
					<key>color</key>
					<dict>
						<key>alpha</key>
						<string>76</string>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>0</string>
						<key>red</key>
						<string>0</string>
					</dict>
					<key>offset</key>
					<dict>
						<key>x</key>
						<string>2</string>
						<key>y</key>
						<string>2</string>
					</dict>
					<key>radius</key>
					<string>6</string>
				</dict>
				<key>size</key>
				<string>72</string>
				<key>value</key>
				<string>$(place)</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>Sunday</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>format</key>
				<string>EEEE</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>28</string>
					<key>width</key>
					<string>134</string>
					<key>x</key>
					<string>137</string>
					<key>y</key>
					<string>173</string>
				</dict>
				<key>id</key>
				<string>week</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>24</string>
				<key>minSize</key>
				<string>24</string>
				<key>shadow</key>
				<dict>
					<key>color</key>
					<dict>
						<key>alpha</key>
						<string>76</string>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>0</string>
						<key>red</key>
						<string>0</string>
					</dict>
					<key>offset</key>
					<dict>
						<key>x</key>
						<string>2</string>
						<key>y</key>
						<string>2</string>
					</dict>
					<key>radius</key>
					<string>6</string>
				</dict>
				<key>size</key>
				<string>24</string>
				<key>value</key>
				<string>$(date)</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>align</key>
				<string>left</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>255</string>
					<key>green</key>
					<string>255</string>
					<key>red</key>
					<string>255</string>
				</dict>
				<key>defaultValue</key>
				<string>24°C</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>40</string>
					<key>width</key>
					<string>134</string>
					<key>x</key>
					<string>137</string>
					<key>y</key>
					<string>202</string>
				</dict>
				<key>id</key>
				<string>temperature</string>
				<key>maxSize</key>
				<string>36</string>
				<key>minSize</key>
				<string>36</string>
				<key>shadow</key>
				<dict>
					<key>color</key>
					<dict>
						<key>alpha</key>
						<string>76</string>
						<key>blue</key>
						<string>0</string>
						<key>green</key>
						<string>0</string>
						<key>red</key>
						<string>0</string>
					</dict>
					<key>offset</key>
					<dict>
						<key>x</key>
						<string>2</string>
						<key>y</key>
						<string>2</string>
					</dict>
					<key>radius</key>
					<string>6</string>
				</dict>
				<key>size</key>
				<string>36</string>
				<key>value</key>
				<string>$(temperature)°C</string>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>align</key>
				<string>center</string>
				<key>clickOffset</key>
				<dict>
					<key>bottom</key>
					<string>15.0</string>
					<key>left</key>
					<string>0.0</string>
					<key>right</key>
					<string>0.0</string>
					<key>top</key>
					<string>15.0</string>
				</dict>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>0</string>
					<key>green</key>
					<string>0</string>
					<key>red</key>
					<string>0</string>
				</dict>
				<key>defaultValue</key>
				<string>12 September 2014</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>format</key>
				<string>d MMM. yyyy</string>
				<key>frame</key>
				<dict>
					<key>height</key>
					<string>20</string>
					<key>width</key>
					<string>115</string>
					<key>x</key>
					<string>624</string>
					<key>y</key>
					<string>558</string>
				</dict>
				<key>id</key>
				<string>date</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>16</string>
				<key>minSize</key>
				<string>16</string>
				<key>size</key>
				<string>16</string>
				<key>value</key>
				<string>$(date)</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
