<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20022655</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>红色头发</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/29E2037D-03B9-C01A-7826-8489D3204F93.jpg</string>
		<key>series_id</key>
		<string>6079</string>
		<key>series_name</key>
		<string>小茶时尚贴纸2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/76189351-7285-A7B3-9A1E-57CAE6874E7F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/20/76189351-7285-A7B3-9A1E-57CAE6874E7F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>不不不不不不</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20018771</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>银魂</string>
		<key>number</key>
		<string>inr539803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/613C7C70-F41C-6F29-B24F-CA723BBFEC51.jpg</string>
		<key>series_id</key>
		<string>5095</string>
		<key>series_name</key>
		<string>漫画发型1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/AB58C187-59A7-BFF7-FF7C-CDB4F20EFAA6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/AB58C187-59A7-BFF7-FF7C-CDB4F20EFAA6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Christao_信徒</string>
			<key>number</key>
			<string>inr539803</string>
			<key>user_id</key>
			<string>69351291</string>
		</dict>
		<key>user_id</key>
		<string>69351291</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20047191</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>麻花辫</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/26/42E7371F-239B-9A3A-1BD4-B8D8D82C2540.jpg</string>
		<key>series_id</key>
		<string>12203</string>
		<key>series_name</key>
		<string>国庆复古小套装2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/26/DB6BDC0A-9DF4-1B3D-5965-578A7E586E38.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/26/DB6BDC0A-9DF4-1B3D-5965-578A7E586E38.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20043109</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秃头</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/F829C1AC-08B1-61DE-2BE6-CA3575242220.jpg</string>
		<key>series_id</key>
		<string>11181</string>
		<key>series_name</key>
		<string>快来假装秃头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/E6ADAD7D-6505-D733-B899-8F5E199D1CCF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/E6ADAD7D-6505-D733-B899-8F5E199D1CCF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20023060</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>福辫辫1</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/17F9D337-C02B-2D87-C546-636E694C7F51.jpg</string>
		<key>series_id</key>
		<string>6180</string>
		<key>series_name</key>
		<string>福辫辫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/53C4C40C-527B-1328-648F-93B15F012DEE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/53C4C40C-527B-1328-648F-93B15F012DEE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>羡事宝</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20043105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>秃顶</string>
		<key>number</key>
		<string>HELLO_BABY</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/7E4FF742-E1F2-A751-AAB3-C895D61E319E.jpg</string>
		<key>series_id</key>
		<string>11181</string>
		<key>series_name</key>
		<string>快来假装秃头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/B4F55A5B-2B2C-0425-50C6-4EF0EEAA3803.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/27/B4F55A5B-2B2C-0425-50C6-4EF0EEAA3803.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>羡事宝</string>
			<key>number</key>
			<string>HELLO_BABY</string>
			<key>user_id</key>
			<string>37498109</string>
		</dict>
		<key>user_id</key>
		<string>37498109</string>
	</dict>
	<dict>
		<key>author</key>
		<string>福阿包</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20023066</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>福辫辫4</string>
		<key>number</key>
		<string>oabaoo</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/A59F7CF3-D624-B17C-9B60-35BA62F89B41.jpg</string>
		<key>series_id</key>
		<string>6180</string>
		<key>series_name</key>
		<string>福辫辫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/C24DFFD2-01C5-7116-1A3C-21C32075DAD7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/C24DFFD2-01C5-7116-1A3C-21C32075DAD7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>福阿包</string>
			<key>number</key>
			<string>oabaoo</string>
			<key>user_id</key>
			<string>37350641</string>
		</dict>
		<key>user_id</key>
		<string>37350641</string>
	</dict>
	<dict>
		<key>author</key>
		<string>坨妈饭饭</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20012031</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>团子头，儿童节，中国娃娃，假毛</string>
		<key>number</key>
		<string>infanfan233</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/91D50E76-9B7C-D7E4-78D2-22EFF5B8EB01.jpg</string>
		<key>series_id</key>
		<string>3253</string>
		<key>series_name</key>
		<string>童心童趣</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/9667B85D-F874-32CB-9AE2-4ED544DEF383.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/26/9667B85D-F874-32CB-9AE2-4ED544DEF383.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>坨妈饭饭</string>
			<key>number</key>
			<string>infanfan233</string>
			<key>user_id</key>
			<string>46773857</string>
		</dict>
		<key>user_id</key>
		<string>46773857</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>2667</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>发型6</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/891EC425-5A99-A759-2947-E869B22FB4AD.jpg</string>
		<key>series_id</key>
		<string>1249</string>
		<key>series_name</key>
		<string>头发 发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/90D72CF6-CD12-CD42-7191-90C77ADC9EF8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/90D72CF6-CD12-CD42-7191-90C77ADC9EF8.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
