<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>不不不不不不</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20018769</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>金发美女</string>
		<key>number</key>
		<string>inr539803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/5E9FF114-C3B8-FC23-845C-2D4C97876963.jpg</string>
		<key>series_id</key>
		<string>5095</string>
		<key>series_name</key>
		<string>漫画发型1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C1FEA697-FA20-CECC-533C-76D2482173A3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/C1FEA697-FA20-CECC-533C-76D2482173A3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Christao_信徒</string>
			<key>number</key>
			<string>inr539803</string>
			<key>user_id</key>
			<string>69351291</string>
		</dict>
		<key>user_id</key>
		<string>69351291</string>
	</dict>
	<dict>
		<key>author</key>
		<string>不不不不不不</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20018755</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>毛利兰</string>
		<key>number</key>
		<string>inr539803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/AF2A5354-8C07-BA7D-0627-20E58BCC8998.jpg</string>
		<key>series_id</key>
		<string>5091</string>
		<key>series_name</key>
		<string>漫画发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/0A320B66-F304-611C-144D-9AA611588164.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/0A320B66-F304-611C-144D-9AA611588164.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Christao_信徒</string>
			<key>number</key>
			<string>inr539803</string>
			<key>user_id</key>
			<string>69351291</string>
		</dict>
		<key>user_id</key>
		<string>69351291</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>11706</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>少女帽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/01/D496734E-FCA9-DD47-C9BB-C162C1ED8C88.jpg</string>
		<key>series_id</key>
		<string>1249</string>
		<key>series_name</key>
		<string>头发 发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/01/D026CF76-0175-A6A6-362A-644A2369E93F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/01/D026CF76-0175-A6A6-362A-644A2369E93F.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>朵朵学名是潘哒</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>13002</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>假发2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/14/46F47734-9DCC-0E92-0E70-E8F2B833CEC0.jpg</string>
		<key>series_id</key>
		<string>1249</string>
		<key>series_name</key>
		<string>头发 发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/14/845C6446-E13E-14B2-4293-4668F3768044.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/09/14/845C6446-E13E-14B2-4293-4668F3768044.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>梅川库子</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20037157</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>教师节,教师节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>徐老师的假发</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/17/B244A6CC-582A-07ED-F768-3BFB9EF8B9F6.jpg</string>
		<key>series_id</key>
		<string>9693</string>
		<key>series_name</key>
		<string>深夜发媸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/16/94F8125C-110D-5A02-F875-F40CBFB3126C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/16/94F8125C-110D-5A02-F875-F40CBFB3126C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梅川库子</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94776523</string>
		</dict>
		<key>user_id</key>
		<string>94776523</string>
	</dict>
	<dict>
		<key>author</key>
		<string>王小茶</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20030177</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>美少女战士</string>
		<key>number</key>
		<string>inp625977</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/30/164E15DE-C484-2AAE-5061-A4F3B55C7A90.jpg</string>
		<key>series_id</key>
		<string>7949</string>
		<key>series_name</key>
		<string>小茶十月贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/30/2AEED224-5B67-92F9-B170-CD647EB84660.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/30/2AEED224-5B67-92F9-B170-CD647EB84660.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>王小茶2010</string>
			<key>number</key>
			<string>inp625977</string>
			<key>user_id</key>
			<string>70214604</string>
		</dict>
		<key>user_id</key>
		<string>70214604</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>2663</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>发型4</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/616F3CB4-62BC-1F6F-DEFB-278C2B85C75C.jpg</string>
		<key>series_id</key>
		<string>1249</string>
		<key>series_name</key>
		<string>头发 发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/0E70FC80-6DAB-C718-7B36-48F1D3694D9C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/09/0E70FC80-6DAB-C718-7B36-48F1D3694D9C.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>不不不不不不</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>20018753</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>柯南</string>
		<key>number</key>
		<string>inr539803</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/23FF20D6-4016-27AD-BACC-939C2DCA7346.jpg</string>
		<key>series_id</key>
		<string>5091</string>
		<key>series_name</key>
		<string>漫画发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/F3F9FC5A-08FE-1908-8664-8E07E7EEEAD2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/F3F9FC5A-08FE-1908-8664-8E07E7EEEAD2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Christao_信徒</string>
			<key>number</key>
			<string>inr539803</string>
			<key>user_id</key>
			<string>69351291</string>
		</dict>
		<key>user_id</key>
		<string>69351291</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Cony</string>
		<key>cate_id</key>
		<string>1249</string>
		<key>id</key>
		<string>1264</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1249</string>
		<key>name</key>
		<string>水冰月</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/23/5BD045F8-2A83-F6BC-F9CF-13A90589F5AD.jpg?v=2</string>
		<key>series_id</key>
		<string>1249</string>
		<key>series_name</key>
		<string>头发 发型</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/23/425AC620-D0BD-9664-3C00-8F379ABD6567.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/in/2015/01/23/425AC620-D0BD-9664-3C00-8F379ABD6567.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
