<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>忍者神龟</string>
		<key>cate_id</key>
		<string>2829</string>
		<key>id</key>
		<string>26106</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>忍者神龟3</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/9410AECD-6FE1-B1F8-61E5-C50C1CB57434.jpg</string>
		<key>series_id</key>
		<string>2829</string>
		<key>series_name</key>
		<string>忍者神龟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/8B192463-D173-9718-2AB9-DA84579DB442.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/8B192463-D173-9718-2AB9-DA84579DB442.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>忍者神龟</string>
		<key>cate_id</key>
		<string>2829</string>
		<key>id</key>
		<string>26102</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>忍者神龟2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/E9B3298C-A8C6-BBFC-6431-7A5145893459.jpg</string>
		<key>series_id</key>
		<string>2829</string>
		<key>series_name</key>
		<string>忍者神龟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/61CC1C53-867D-E966-D0AB-99CF252F6104.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/29/61CC1C53-867D-E966-D0AB-99CF252F6104.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>忍者神龟</string>
		<key>cate_id</key>
		<string>2829</string>
		<key>id</key>
		<string>26101</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>忍者神龟1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/8EED7A55-9D21-BE79-6CD5-9D301F212981.jpg</string>
		<key>series_id</key>
		<string>2829</string>
		<key>series_name</key>
		<string>忍者神龟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/4CB8DD39-6FAB-47CF-CC50-9F9966BEFE9D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/29/4CB8DD39-6FAB-47CF-CC50-9F9966BEFE9D.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
