<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>浣熊Mmon</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20004162</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>257</string>
		<key>name</key>
		<string>百元大钞</string>
		<key>number</key>
		<string>inc3179214</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/10/59D09F99-5550-2AC2-C651-554456B4E2F9.jpg?v=2</string>
		<key>series_id</key>
		<string>1170</string>
		<key>series_name</key>
		<string>恭喜发财</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/10/2317125D-4D92-96C6-A0F8-C3908B2082FA.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/10/2317125D-4D92-96C6-A0F8-C3908B2082FA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>浣熊MMon</string>
			<key>number</key>
			<string>inc3179214</string>
			<key>user_id</key>
			<string>34682110</string>
		</dict>
		<key>user_id</key>
		<string>34682110</string>
	</dict>
	<dict>
		<key>author</key>
		<string>TanSee希</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20028605</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>257</string>
		<key>name</key>
		<string>钱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/10/7567F517-BAE2-2EF0-154B-449CE28087BC.jpg</string>
		<key>series_id</key>
		<string>7563</string>
		<key>series_name</key>
		<string>钱钱钱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/2DF64959-A9B9-B62A-34B3-E65B3B8F0855.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/2DF64959-A9B9-B62A-34B3-E65B3B8F0855.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>樱桃小小希</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>78737457</string>
		</dict>
		<key>user_id</key>
		<string>78737457</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20054150</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱你</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/003F7EAA-F934-73F4-4A56-899A3A87A756.jpg</string>
		<key>series_id</key>
		<string>13942</string>
		<key>series_name</key>
		<string>你是不是喜欢我</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/6C073936-E76C-B19C-7EC1-B2F8CB788F34.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/08/6C073936-E76C-B19C-7EC1-B2F8CB788F34.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20040539</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>直播TV</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/10/80A784D6-A09D-CAF2-A2E6-860BE3EDBD65.jpg</string>
		<key>series_id</key>
		<string>10539</string>
		<key>series_name</key>
		<string>一起来直播吧</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/10/B77C55EF-2308-F899-9A03-EE195AB4A676.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/10/B77C55EF-2308-F899-9A03-EE195AB4A676.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20041925</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>高考试卷作业飞套装</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/01E9E100-1DED-8E85-5793-C8FCFEDAF866.jpg</string>
		<key>series_id</key>
		<string>10885</string>
		<key>series_name</key>
		<string>高考端午粽子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/86868796-7AA6-7186-505C-839E2A4D7315.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/01/86868796-7AA6-7186-505C-839E2A4D7315.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20044347</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>瘦脸针</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/26/42CFFCC0-F049-6D80-A595-BB302250A041.jpg</string>
		<key>series_id</key>
		<string>11493</string>
		<key>series_name</key>
		<string>网红必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/26/343BE89A-237A-B57C-61EE-5A0B4D2FC9F5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/07/26/343BE89A-237A-B57C-61EE-5A0B4D2FC9F5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20002052</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>257</string>
		<key>name</key>
		<string>炸弹</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/15/F3CE4F00-4CFB-CCC3-B6D1-2BBDED21C25F.jpg?v=2</string>
		<key>series_id</key>
		<string>618</string>
		<key>series_name</key>
		<string>无敌美少女</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/15/EB1D897A-14E5-7E0D-9B64-383480C40FFE.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/15/EB1D897A-14E5-7E0D-9B64-383480C40FFE.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>段涵玥</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>258</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>257</string>
		<key>name</key>
		<string>怪兽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/08/5D5C9D8E-AB4D-F7E0-8DB9-558122885E5A.jpg?v=2</string>
		<key>series_id</key>
		<string>257</string>
		<key>series_name</key>
		<string>趣味</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i1.jiuyan.info/in/2014/08/07/287E2A16-EF4A-0BE7-DA76-B123B943EDCF.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i1.jiuyan.info/in/2014/08/07/287E2A16-EF4A-0BE7-DA76-B123B943EDCF.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>蛋挞ina</string>
		<key>cate_id</key>
		<string>257</string>
		<key>id</key>
		<string>20002564</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>257</string>
		<key>name</key>
		<string>萌萌贴</string>
		<key>number</key>
		<string>ind3189022</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/22/79A4C3EF-828D-1EF8-4A33-A8E7F1B928DF.jpg?v=2</string>
		<key>series_id</key>
		<string>746</string>
		<key>series_name</key>
		<string>萌拍必备</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/21/B645250B-1BBA-34DD-30CD-9052C5D538B8.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/21/B645250B-1BBA-34DD-30CD-9052C5D538B8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蛋挞ina</string>
			<key>number</key>
			<string>ind3189022</string>
			<key>user_id</key>
			<string>34797413</string>
		</dict>
		<key>user_id</key>
		<string>34797413</string>
	</dict>
</array>
</plist>
