<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>假面艺人</string>
		<key>cate_id</key>
		<string>3668</string>
		<key>id</key>
		<string>20054334</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>布偶猫一号挂件</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/139D03CA-A75E-B99A-7BEB-A80D0C651DE3.jpg</string>
		<key>series_id</key>
		<string>13988</string>
		<key>series_name</key>
		<string>猫奴的挂件</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/B7D3F048-8B78-8371-9584-3CEADFFD7E8D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/B7D3F048-8B78-8371-9584-3CEADFFD7E8D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>假面艺人</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113598788</string>
		</dict>
		<key>user_id</key>
		<string>113598788</string>
	</dict>
	<dict>
		<key>author</key>
		<string>假面艺人</string>
		<key>cate_id</key>
		<string>3668</string>
		<key>id</key>
		<string>20054330</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>暹罗一号挂件</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/D7F30A10-3081-0000-5D0C-CA9431004F80.jpg</string>
		<key>series_id</key>
		<string>13988</string>
		<key>series_name</key>
		<string>猫奴的挂件</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/CE89E8D5-F48B-6DDB-05D5-78B7AEDFAAFB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/13/CE89E8D5-F48B-6DDB-05D5-78B7AEDFAAFB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>假面艺人</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113598788</string>
		</dict>
		<key>user_id</key>
		<string>113598788</string>
	</dict>
	<dict>
		<key>author</key>
		<string>假面艺人</string>
		<key>cate_id</key>
		<string>3668</string>
		<key>id</key>
		<string>20054332</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>异色瞳波斯猫一号挂件</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/C3304BB7-E22A-B458-5A7F-79254D3B25A0.jpg</string>
		<key>series_id</key>
		<string>13988</string>
		<key>series_name</key>
		<string>猫奴的挂件</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/5FC67EDF-6FEF-20B6-03DC-D189BB179E47.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/5FC67EDF-6FEF-20B6-03DC-D189BB179E47.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>假面艺人</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113598788</string>
		</dict>
		<key>user_id</key>
		<string>113598788</string>
	</dict>
	<dict>
		<key>author</key>
		<string>假面艺人</string>
		<key>cate_id</key>
		<string>3668</string>
		<key>id</key>
		<string>20054328</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蓝猫一号挂件</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/D0B29748-6F38-290A-2008-5E0368A5182A.jpg</string>
		<key>series_id</key>
		<string>13988</string>
		<key>series_name</key>
		<string>猫奴的挂件</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/B261F55D-AAE2-B521-FCF1-79B267DBBB44.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/13/B261F55D-AAE2-B521-FCF1-79B267DBBB44.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>假面艺人</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>113598788</string>
		</dict>
		<key>user_id</key>
		<string>113598788</string>
	</dict>
</array>
</plist>
