<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3270</string>
		<key>id</key>
		<string>20049111</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>玩毛线</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/53DCF7C9-A369-0815-EE5F-D1361DB359A5.jpg</string>
		<key>series_id</key>
		<string>12683</string>
		<key>series_name</key>
		<string>肥猫阿吉</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/F1784CDE-A507-B219-2ABB-B8CBDC027433.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/F1784CDE-A507-B219-2ABB-B8CBDC027433.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3270</string>
		<key>id</key>
		<string>20049107</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蹭痒痒</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/53664048-36CE-0747-999C-8AEDBDF2D230.jpg</string>
		<key>series_id</key>
		<string>12683</string>
		<key>series_name</key>
		<string>肥猫阿吉</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/8ECC30D9-2615-C415-E61F-BFF67BB76A66.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/16/8ECC30D9-2615-C415-E61F-BFF67BB76A66.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3270</string>
		<key>id</key>
		<string>20049105</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>惊讶</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/7B8313DA-3DCC-4246-816F-9755F79F9A15.jpg</string>
		<key>series_id</key>
		<string>12683</string>
		<key>series_name</key>
		<string>肥猫阿吉</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/D2DAF33E-0941-1C92-6C4A-27DEEFE57401.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/D2DAF33E-0941-1C92-6C4A-27DEEFE57401.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>3270</string>
		<key>id</key>
		<string>20049109</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>挠玻璃</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/2951B0A9-7947-D628-0000-9FD787B4AE42.jpg</string>
		<key>series_id</key>
		<string>12683</string>
		<key>series_name</key>
		<string>肥猫阿吉</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/52C1CE76-E0C1-4011-48A9-D19511A4B50F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/16/52C1CE76-E0C1-4011-48A9-D19511A4B50F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
