<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>MIC</string>
		<key>cate_id</key>
		<string>627</string>
		<key>id</key>
		<string>20018817</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>627</string>
		<key>name</key>
		<string>ouch</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/C8A5DB71-78BF-C41B-67C8-54846763DB91.jpg</string>
		<key>series_id</key>
		<string>5107</string>
		<key>series_name</key>
		<string>潮流涂鸦嗨起来</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/41AA0191-D3C9-BA34-DB80-5C4F6B0A14EB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/41AA0191-D3C9-BA34-DB80-5C4F6B0A14EB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>手机用户2207962803</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>72656609</string>
		</dict>
		<key>user_id</key>
		<string>72656609</string>
	</dict>
</array>
</plist>
