<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Rainbow</string>
		<key>cate_id</key>
		<string>292</string>
		<key>id</key>
		<string>20016847</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>292</string>
		<key>name</key>
		<string>保持真实</string>
		<key>number</key>
		<string>inq751777</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/729D5C03-6C60-0ED2-EEA6-2A40AC4D0998.jpg</string>
		<key>series_id</key>
		<string>4545</string>
		<key>series_name</key>
		<string>感觉自己酷酷的</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/7C2BCCE4-A14E-28F9-4592-B094AFAD44F2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/7C2BCCE4-A14E-28F9-4592-B094AFAD44F2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Rainbow_Cxh_</string>
			<key>number</key>
			<string>inq751777</string>
			<key>user_id</key>
			<string>71480984</string>
		</dict>
		<key>user_id</key>
		<string>71480984</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20003528</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>一生有你</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/74B8694B-AA5D-1CBD-48D3-E08A50E3C5B2.jpg?v=2</string>
		<key>series_id</key>
		<string>1008</string>
		<key>series_name</key>
		<string>一生有你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/90E2903C-8A05-B456-54DF-8E753B3ABAB3.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/03/90E2903C-8A05-B456-54DF-8E753B3ABAB3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小土豆</string>
		<key>cate_id</key>
		<string>585</string>
		<key>id</key>
		<string>20019195</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>585</string>
		<key>name</key>
		<string>爱心</string>
		<key>number</key>
		<string>ink816842</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/379A7DA5-D2B7-30C1-6604-24B479D80BFB.jpg</string>
		<key>series_id</key>
		<string>5205</string>
		<key>series_name</key>
		<string>小小潮流</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/BE0A14D3-AF34-D4A0-8F1D-C4F992DC31BC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/07/BE0A14D3-AF34-D4A0-8F1D-C4F992DC31BC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小土豆爱你哦</string>
			<key>number</key>
			<string>ink816842</string>
			<key>user_id</key>
			<string>72113543</string>
		</dict>
		<key>user_id</key>
		<string>72113543</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>225</string>
		<key>id</key>
		<string>806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>225</string>
		<key>name</key>
		<string>箭头</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/656C9B7C-BBA4-73BB-9C39-442C8045EDEE.jpg?v=2</string>
		<key>series_id</key>
		<string>225</string>
		<key>series_name</key>
		<string>小点缀</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/689A4B44-3C93-AC2A-265E-A0FE4FB8A21B.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2014/12/17/689A4B44-3C93-AC2A-265E-A0FE4FB8A21B.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20013145</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>可爱卖萌星星蝴蝶结</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/6C26E635-95BF-7C4A-298C-A125D4D68257.jpg</string>
		<key>series_id</key>
		<string>3593</string>
		<key>series_name</key>
		<string>一起嗨</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/63442768-43C7-A44D-A899-239B4469217E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/63442768-43C7-A44D-A899-239B4469217E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>564</string>
		<key>id</key>
		<string>441</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>564</string>
		<key>name</key>
		<string>胡子</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2014/11/25/E66AAC5B-794F-EDE1-D65C-575DCE7FF57B.jpg?v=2</string>
		<key>series_id</key>
		<string>564</string>
		<key>series_name</key>
		<string>胡子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2014/11/25/1BACBE5B-FD0E-33CE-1B91-5B9C048D9D54.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2014/11/25/1BACBE5B-FD0E-33CE-1B91-5B9C048D9D54.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>lemao</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20012745</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1519</string>
		<key>name</key>
		<string>晚安集</string>
		<key>number</key>
		<string>ing3863168</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/CB60D51A-0968-C401-6C18-C60B30FE8A57.jpg</string>
		<key>series_id</key>
		<string>3433</string>
		<key>series_name</key>
		<string>晚安手绘集</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/C9FB1499-15DA-7F02-F9E9-07AA5B99DE2D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/C9FB1499-15DA-7F02-F9E9-07AA5B99DE2D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>插画师Lemao</string>
			<key>number</key>
			<string>ing3863168</string>
			<key>user_id</key>
			<string>41494445</string>
		</dict>
		<key>user_id</key>
		<string>41494445</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Cony</string>
		<key>cate_id</key>
		<string>217</string>
		<key>id</key>
		<string>1262</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>217</string>
		<key>name</key>
		<string>礼帽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/23/F406AC07-CAD1-D40A-305A-24B448BCE709.jpg?v=2</string>
		<key>series_id</key>
		<string>217</string>
		<key>series_name</key>
		<string>帽子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/23/9E16F7B4-855E-3B1C-A85F-7D75F3330AC4.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/01/23/9E16F7B4-855E-3B1C-A85F-7D75F3330AC4.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>樱桃</string>
		<key>cate_id</key>
		<string>735</string>
		<key>id</key>
		<string>20009337</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>735</string>
		<key>name</key>
		<string>拼啦！</string>
		<key>number</key>
		<string>inc1223795</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/19/79B97A07-564B-CEEE-AEF5-565F967307F1.jpg?v=2</string>
		<key>series_id</key>
		<string>2535</string>
		<key>series_name</key>
		<string>日常时尚文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/19/55257377-473E-2898-7572-326A6F2F3033.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/19/55257377-473E-2898-7572-326A6F2F3033.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>樱桃的理想</string>
			<key>number</key>
			<string>inc1223795</string>
			<key>user_id</key>
			<string>15571520</string>
		</dict>
		<key>user_id</key>
		<string>15571520</string>
	</dict>
</array>
</plist>
