<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>包子321</string>
		<key>cate_id</key>
		<string>4020</string>
		<key>id</key>
		<string>20056790</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你胆挺肥啊？！</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/3B0C9E8A-AFFF-C5A7-5A9D-1FD3E87DEEFD.jpg</string>
		<key>series_id</key>
		<string>14624</string>
		<key>series_name</key>
		<string>软萌包第三弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/1D6C01B7-7D9F-46B8-777E-9C38568ADE65.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/1D6C01B7-7D9F-46B8-777E-9C38568ADE65.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一一一笼包子铺</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117012652</string>
		</dict>
		<key>user_id</key>
		<string>117012652</string>
	</dict>
	<dict>
		<key>author</key>
		<string>包子321</string>
		<key>cate_id</key>
		<string>4020</string>
		<key>id</key>
		<string>20056788</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>嘿嘿~</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/2029E152-5692-4EC7-A6E3-7C2E5859BA56.jpg</string>
		<key>series_id</key>
		<string>14624</string>
		<key>series_name</key>
		<string>软萌包第三弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/3048BAE2-2453-050F-3691-9F8F3CB4010B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/3048BAE2-2453-050F-3691-9F8F3CB4010B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一一一笼包子铺</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117012652</string>
		</dict>
		<key>user_id</key>
		<string>117012652</string>
	</dict>
	<dict>
		<key>author</key>
		<string>包子321</string>
		<key>cate_id</key>
		<string>4020</string>
		<key>id</key>
		<string>20056792</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>再...再来一瓶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/926233BA-1282-ECC1-15C3-F2970448791D.jpg</string>
		<key>series_id</key>
		<string>14624</string>
		<key>series_name</key>
		<string>软萌包第三弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/5911FE35-4C03-C2C3-E65B-7D1CE74D2758.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/08/5911FE35-4C03-C2C3-E65B-7D1CE74D2758.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一一一笼包子铺</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117012652</string>
		</dict>
		<key>user_id</key>
		<string>117012652</string>
	</dict>
	<dict>
		<key>author</key>
		<string>包子321</string>
		<key>cate_id</key>
		<string>4020</string>
		<key>id</key>
		<string>20056786</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我要减肥！！！</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/0E4FEB8F-69B4-A034-C1D8-0645EA59A013.jpg</string>
		<key>series_id</key>
		<string>14624</string>
		<key>series_name</key>
		<string>软萌包第三弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/D62AF98D-761A-7249-8A14-691A6AC651F8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/08/D62AF98D-761A-7249-8A14-691A6AC651F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一一一笼包子铺</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>117012652</string>
		</dict>
		<key>user_id</key>
		<string>117012652</string>
	</dict>
</array>
</plist>
