<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030618</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中秋头套-月饼</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/AF86FA40-3CD8-778D-8437-42F4EFF1CDF3.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/3B4B3E20-D763-CBE4-7395-FBA5770B72FE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/3B4B3E20-D763-CBE4-7395-FBA5770B72FE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030617</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中秋头套-嫦娥.</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/E2DD2B06-048F-520C-FE9F-DDF5C920B471.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/4DA390D0-A147-3071-CD01-4A1007F7F3BC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/4DA390D0-A147-3071-CD01-4A1007F7F3BC.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030616</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>月儿圆圆-有兔子耶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/12/A2A0B3F2-3674-C938-4B5B-987072A3AA01.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/12/64B6E474-30A9-9484-AF24-1D896924E905.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/12/64B6E474-30A9-9484-AF24-1D896924E905.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>月儿圆圆-小圆月</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/12/2C089ED0-F00E-ED0B-1C97-5658D38256A6.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/12/7C17CDE4-D9AA-0C42-30FE-9331BCCFEF22.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/09/12/7C17CDE4-D9AA-0C42-30FE-9331BCCFEF22.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030614</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>月儿圆圆-彩虹月</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/2174C35C-4D62-D14B-4ACF-D57B3C7A6A71.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/F2E6FF19-344F-0B6F-A1D2-F40B4B2A9112.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/F2E6FF19-344F-0B6F-A1D2-F40B4B2A9112.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘎嘣豆</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030613</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>月儿圆圆-被咬了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/6484292F-2D5D-4D25-B194-C7A7B418F01B.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/6883C4AC-DF1A-8174-6C7E-F5A56C1E9FC5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/09/12/6883C4AC-DF1A-8174-6C7E-F5A56C1E9FC5.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030612</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>月亮仔</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/12/513112A0-2515-F8A9-8EE6-7F88E270643A.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/14/F031082F-0AC1-0B73-A7AE-6AC4913B5C9F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/14/F031082F-0AC1-0B73-A7AE-6AC4913B5C9F.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030610</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>中秋-月饼咬一口</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/12/A4B433F0-AF0F-191A-61D4-C248C1F5931A.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/14/59845BFD-D09E-CD79-3609-2D36FDC1E797.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/09/14/59845BFD-D09E-CD79-3609-2D36FDC1E797.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>西歪歪</string>
		<key>cate_id</key>
		<string>3146</string>
		<key>id</key>
		<string>1030608</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>害羞的花灯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/12/64969D3A-827C-4040-B36C-DCF4A7E47CC4.jpg</string>
		<key>series_id</key>
		<string>3146</string>
		<key>series_name</key>
		<string>中秋cos</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/14/EB8E89C0-D066-B22C-B59E-C4F58EF9FAB3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/09/14/EB8E89C0-D066-B22C-B59E-C4F58EF9FAB3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
