<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>2795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>综艺</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>803</string>
		<key>name</key>
		<string>综艺_来姐这</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/E348B9B5-EE11-C36A-32FF-FA50AD34AC66.jpg</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/4D15A899-EE2C-479C-7BB8-84EBF8493652.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/4D15A899-EE2C-479C-7BB8-84EBF8493652.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>17949</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你以前不是这样的</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/17/D78B9318-B40F-7871-03A1-90BC9377E77E.jpg</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/17/E12BAA73-D495-FB2A-7D1E-FAEE52CDF8A0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/17/E12BAA73-D495-FB2A-7D1E-FAEE52CDF8A0.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>2023</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>综艺</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>803</string>
		<key>name</key>
		<string>综艺康熙_惊吓</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/25/FB424572-5141-510A-2438-706C22973DEF.jpg?v=2</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/25/74EC149C-7C3C-635B-4B02-15EBBD67305C.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/in/2015/04/25/74EC149C-7C3C-635B-4B02-15EBBD67305C.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>2691</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>综艺</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>803</string>
		<key>name</key>
		<string>综艺_反正我已经放弃了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/B6C2EFA0-D812-0243-8579-D9DCD2D674D8.jpg</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/CE8ABF6B-E55D-8C9B-4AFB-D18E8337F212.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/10/CE8ABF6B-E55D-8C9B-4AFB-D18E8337F212.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>源小嘟</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>20037011</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>上学</string>
		<key>number</key>
		<string>inh3501165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/11/3C3D0318-577D-5FA5-6F5A-067B9D5E8EC3.jpg</string>
		<key>series_id</key>
		<string>9657</string>
		<key>series_name</key>
		<string>假期即将结束</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/11/5442E37E-1383-4CD6-18C7-7947DF2397E4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/02/11/5442E37E-1383-4CD6-18C7-7947DF2397E4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>源小嘟GYY</string>
			<key>number</key>
			<string>inh3501165</string>
			<key>user_id</key>
			<string>37883299</string>
		</dict>
		<key>user_id</key>
		<string>37883299</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>2031</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2247</string>
		<key>name</key>
		<string>综艺_能力者</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/25/29CBD6A3-305C-C519-F7E5-D0129730EACE.jpg?v=2</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/25/A11EE0EB-CED7-5874-4668-5D0F5EBD7A5F.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/04/25/A11EE0EB-CED7-5874-4668-5D0F5EBD7A5F.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>17950</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你们城里人真会玩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/17/17C8A512-A6C8-6149-E968-8A0DF63B5598.jpg</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/17/D6976EB3-3722-BEAF-04AA-2365D6974761.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/17/D6976EB3-3722-BEAF-04AA-2365D6974761.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>17947</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我书读得少，你不要骗我</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/BE3090B8-5F09-7547-CD21-37DF14264B51.jpg</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/70275233-800C-5980-4940-CA4F45A8C97A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/17/70275233-800C-5980-4940-CA4F45A8C97A.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>803</string>
		<key>id</key>
		<string>2009</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>综艺</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>803</string>
		<key>name</key>
		<string>综艺_in卫视</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/25/46E98B4F-378C-0B49-EF54-7DF16AC801AC.jpg?v=2</string>
		<key>series_id</key>
		<string>803</string>
		<key>series_name</key>
		<string>综艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/25/D9A1C839-3EFB-864D-6DAC-56276E38EA7C.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/04/25/D9A1C839-3EFB-864D-6DAC-56276E38EA7C.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
