<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Anna</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>20039715</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重曝,曝光,双重曝光</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>城市1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/21/2FC000EA-586F-95EA-7C0F-23178B21ADF0.jpg</string>
		<key>series_id</key>
		<string>10333</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/21/50304668-27C6-7B4D-DCF5-B4E9E6087526.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/21/50304668-27C6-7B4D-DCF5-B4E9E6087526.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>画画的Anna</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>99445773</string>
		</dict>
		<key>user_id</key>
		<string>99445773</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>1046906</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双重曝光 飞机 白云</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/75954D8B-E651-5C7F-9A62-35A41EEF287A.jpg</string>
		<key>series_id</key>
		<string>2937</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/5888BF66-2D09-8211-04AF-84B3D340C04B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/5888BF66-2D09-8211-04AF-84B3D340C04B.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>离缘</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>20055578</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双重曝光 粉色的墙</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/14/73C1A59C-3188-9B47-3AEC-6E60AFFD3CC3.jpg</string>
		<key>series_id</key>
		<string>14300</string>
		<key>series_name</key>
		<string>双重曝光 风景</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/14/B9C18696-285E-E213-B759-86707A00EEED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/14/B9C18696-285E-E213-B759-86707A00EEED.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>离缘殇-DSY</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17961754</string>
		</dict>
		<key>user_id</key>
		<string>17961754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>1046902</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双重曝光 海边 栏杆 夕阳</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/0F622E42-C61B-5C69-6055-533A42B25D6F.jpg</string>
		<key>series_id</key>
		<string>2937</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/AE04D8D5-10AD-7DEC-767C-1280F0BA0217.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/07/AE04D8D5-10AD-7DEC-767C-1280F0BA0217.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>27201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重曝,曝光,双重曝光</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>梵高星空-重爆</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/8350C8DC-7E31-D2A1-8B38-1260A56D69C5.jpg</string>
		<key>series_id</key>
		<string>2937</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/4D47DAA2-61E8-6AE5-05F9-2534FDFD987D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/07/19/4D47DAA2-61E8-6AE5-05F9-2534FDFD987D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anna</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>20039717</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重曝,曝光,双重曝光</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>高速路</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/871CD12F-3DA6-C20D-3D3E-63BE036F4D97.jpg</string>
		<key>series_id</key>
		<string>10333</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/8F8CBCA0-5DB9-6D33-FB0D-781763EDC166.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/21/8F8CBCA0-5DB9-6D33-FB0D-781763EDC166.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>画画的Anna</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>99445773</string>
		</dict>
		<key>user_id</key>
		<string>99445773</string>
	</dict>
	<dict>
		<key>author</key>
		<string>离缘</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>20055576</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双重曝光 紫色薄暮</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/14/A67838F0-0910-8395-F65D-07738045BD0A.jpg</string>
		<key>series_id</key>
		<string>14300</string>
		<key>series_name</key>
		<string>双重曝光 风景</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/14/44B770FD-EEBC-0000-21B3-1E95B20600A8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/14/44B770FD-EEBC-0000-21B3-1E95B20600A8.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>离缘殇-DSY</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>17961754</string>
		</dict>
		<key>user_id</key>
		<string>17961754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>1046901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>双重曝光 蓝色气泡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/07/BF25A83D-1BB8-DD07-EDB9-A4D4FBBBED2F.jpg</string>
		<key>series_id</key>
		<string>2937</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/07/2951694D-1D57-8660-25D0-E3DF0648908D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/04/07/2951694D-1D57-8660-25D0-E3DF0648908D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>2937</string>
		<key>id</key>
		<string>27806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>重曝,曝光,双重曝光</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>印象日出</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/26/8F18F37F-968F-9D4C-1632-C9AE200F01A3.jpg</string>
		<key>series_id</key>
		<string>2937</string>
		<key>series_name</key>
		<string>双重曝光</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/26/D8A36761-8A43-03AF-0D77-7BB818F899AE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/07/26/D8A36761-8A43-03AF-0D77-7BB818F899AE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
