<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20054316</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>哈姆斯塔照照</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/12/1BF636FD-59F3-F263-50BA-527DF2FBB473.jpg</string>
		<key>series_id</key>
		<string>13984</string>
		<key>series_name</key>
		<string>仓鼠哈姆斯塔二期</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/12/671B3482-74BA-3A4A-FE06-FA56DE915E98.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/12/671B3482-74BA-3A4A-FE06-FA56DE915E98.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20054000</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>三月你减肥了吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/06/E09E39D5-F5C3-1A2F-B3C8-AF4C9E42286F.jpg</string>
		<key>series_id</key>
		<string>13906</string>
		<key>series_name</key>
		<string>三月你减肥了吗</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/06/B8BD685B-835B-34C5-F8C0-09E4E0DD0BED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/06/B8BD685B-835B-34C5-F8C0-09E4E0DD0BED.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20054318</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>哈姆斯塔照照</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/4187F2AB-2DA5-3A47-B055-DD6B6B94EF47.jpg</string>
		<key>series_id</key>
		<string>13984</string>
		<key>series_name</key>
		<string>仓鼠哈姆斯塔二期</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/391D4E43-5259-9C1C-68A9-2C47793ABBC1.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/391D4E43-5259-9C1C-68A9-2C47793ABBC1.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20057806</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>仓鼠,哈姆斯塔,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>狐狐2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/19/91F5CA6B-2C6F-8027-3A8E-D9CD3F32F2AD-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14882</string>
		<key>series_name</key>
		<string>哈姆斯塔可爱小头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/19/72A0BC32-680C-D537-D16B-3868FCECBEA9-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/19/72A0BC32-680C-D537-D16B-3868FCECBEA9-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20054314</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>哈姆斯塔狐狐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/2CE153D8-F55A-61DF-8DA8-4695F7AA8D0E.jpg</string>
		<key>series_id</key>
		<string>13984</string>
		<key>series_name</key>
		<string>仓鼠哈姆斯塔二期</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/F2705450-5E81-4704-DD96-0CE5BA584BB6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/12/F2705450-5E81-4704-DD96-0CE5BA584BB6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
	<dict>
		<key>author</key>
		<string>乔伊的哈姆斯塔</string>
		<key>cate_id</key>
		<string>3636</string>
		<key>id</key>
		<string>20057804</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>仓鼠,哈姆斯塔,可爱</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>照照</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/19/42174E71-971C-81F6-E739-CFD63ACB5A0A-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>14882</string>
		<key>series_name</key>
		<string>哈姆斯塔可爱小头</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/19/D3B57EB3-A563-49E4-D78C-847F2602E5AB-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/19/D3B57EB3-A563-49E4-D78C-847F2602E5AB-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>乔伊的哈姆斯塔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112962993</string>
		</dict>
		<key>user_id</key>
		<string>112962993</string>
	</dict>
</array>
</plist>
