<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>水母咪</string>
		<key>cate_id</key>
		<string>877</string>
		<key>id</key>
		<string>20012723</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>877</string>
		<key>name</key>
		<string>水母咪</string>
		<key>number</key>
		<string>ino502167</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/D1041198-19BF-5D96-A9E2-F5843F0233C2.jpg</string>
		<key>series_id</key>
		<string>3427</string>
		<key>series_name</key>
		<string>水母咪的一天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/9BC5EF76-0D45-32A7-283B-AB2298292EBD.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/9BC5EF76-0D45-32A7-283B-AB2298292EBD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>水母咪</string>
			<key>number</key>
			<string>ino502167</string>
			<key>user_id</key>
			<string>68994988</string>
		</dict>
		<key>user_id</key>
		<string>68994988</string>
	</dict>
	<dict>
		<key>author</key>
		<string>水母咪</string>
		<key>cate_id</key>
		<string>877</string>
		<key>id</key>
		<string>20012721</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>877</string>
		<key>name</key>
		<string>水母咪</string>
		<key>number</key>
		<string>ino502167</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/FD45BAA1-78A7-6EB7-76B0-58ABF19E5EAC.jpg</string>
		<key>series_id</key>
		<string>3427</string>
		<key>series_name</key>
		<string>水母咪的一天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/EBD2DDB5-28EB-120A-CC44-199035D17AEE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/EBD2DDB5-28EB-120A-CC44-199035D17AEE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>水母咪</string>
			<key>number</key>
			<string>ino502167</string>
			<key>user_id</key>
			<string>68994988</string>
		</dict>
		<key>user_id</key>
		<string>68994988</string>
	</dict>
	<dict>
		<key>author</key>
		<string>水母咪</string>
		<key>cate_id</key>
		<string>877</string>
		<key>id</key>
		<string>20012719</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>877</string>
		<key>name</key>
		<string>水母咪</string>
		<key>number</key>
		<string>ino502167</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/5925B552-E68E-543C-D426-35B6AD979932.jpg</string>
		<key>series_id</key>
		<string>3427</string>
		<key>series_name</key>
		<string>水母咪的一天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/87AC31B9-B65A-004B-12A4-C3A45D9E05DB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/02/87AC31B9-B65A-004B-12A4-C3A45D9E05DB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>水母咪</string>
			<key>number</key>
			<string>ino502167</string>
			<key>user_id</key>
			<string>68994988</string>
		</dict>
		<key>user_id</key>
		<string>68994988</string>
	</dict>
	<dict>
		<key>author</key>
		<string>水母咪</string>
		<key>cate_id</key>
		<string>877</string>
		<key>id</key>
		<string>20012717</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>877</string>
		<key>name</key>
		<string>水母咪</string>
		<key>number</key>
		<string>ino502167</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/D3A58BE4-D489-99BE-1E36-FAF750327951.jpg</string>
		<key>series_id</key>
		<string>3427</string>
		<key>series_name</key>
		<string>水母咪的一天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/C2F2DC3E-8CDD-0079-D431-300187C8A014.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/02/C2F2DC3E-8CDD-0079-D431-300187C8A014.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>水母咪</string>
			<key>number</key>
			<string>ino502167</string>
			<key>user_id</key>
			<string>68994988</string>
		</dict>
		<key>user_id</key>
		<string>68994988</string>
	</dict>
</array>
</plist>
