<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3902</string>
		<key>id</key>
		<string>20055904</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>潮流家族</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/A5B197C5-B8D7-6B54-D9E4-8494FC802E1A.jpg</string>
		<key>series_id</key>
		<string>14382</string>
		<key>series_name</key>
		<string>潮流家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/C631766A-16AB-5049-9B82-8CD06CDD6B29.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/C631766A-16AB-5049-9B82-8CD06CDD6B29.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3902</string>
		<key>id</key>
		<string>20055908</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>潮流家族</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/93E15022-317E-7FE0-0295-F75A715FA4FC.jpg</string>
		<key>series_id</key>
		<string>14382</string>
		<key>series_name</key>
		<string>潮流家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/C899C5B8-9B9B-2CE2-D36A-F34D75810AD2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/21/C899C5B8-9B9B-2CE2-D36A-F34D75810AD2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3902</string>
		<key>id</key>
		<string>20055906</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>潮流家族</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/AA134D80-8207-FD82-1CD5-FACAD2E4A3BE.jpg</string>
		<key>series_id</key>
		<string>14382</string>
		<key>series_name</key>
		<string>潮流家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/F84C15C9-60EF-8826-E099-4CBD257AEAF7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/F84C15C9-60EF-8826-E099-4CBD257AEAF7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3902</string>
		<key>id</key>
		<string>20055910</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>潮流家族</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/61435D33-43B8-25A8-56E1-CA7851C8C6B1.jpg</string>
		<key>series_id</key>
		<string>14382</string>
		<key>series_name</key>
		<string>潮流家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/B090B390-54C6-CEEE-50DE-89AFDF277807.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/21/B090B390-54C6-CEEE-50DE-89AFDF277807.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
</array>
</plist>
