<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>4030</string>
		<key>id</key>
		<string>20056862</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喵喵哒3</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/CED43BF7-0E98-4F6D-BE51-FDF992E76258.jpg</string>
		<key>series_id</key>
		<string>14642</string>
		<key>series_name</key>
		<string>喵喵酱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/C0BAE20D-7AA4-866D-7C27-B1FBF8811C3C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/C0BAE20D-7AA4-866D-7C27-B1FBF8811C3C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>4030</string>
		<key>id</key>
		<string>20056858</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喵喵哒1</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/E9A9DCCB-A8D4-8273-DD90-C9E34C2E976E.jpg</string>
		<key>series_id</key>
		<string>14642</string>
		<key>series_name</key>
		<string>喵喵酱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/08CD0848-A229-F86B-BD4A-10A590BF9645.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/09/08CD0848-A229-F86B-BD4A-10A590BF9645.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>4030</string>
		<key>id</key>
		<string>20056860</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喵喵哒2</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/8B6EA620-EE66-C6E2-1FB2-FE95DFE22507.jpg</string>
		<key>series_id</key>
		<string>14642</string>
		<key>series_name</key>
		<string>喵喵酱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/D4C8F4A7-9E74-F0BC-8CA4-2DF349A9C941.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/D4C8F4A7-9E74-F0BC-8CA4-2DF349A9C941.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖炒兔兔</string>
		<key>cate_id</key>
		<string>4030</string>
		<key>id</key>
		<string>20056864</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喵喵哒4</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/6D07C13F-CB02-4263-7562-02704BEC16ED.jpg</string>
		<key>series_id</key>
		<string>14642</string>
		<key>series_name</key>
		<string>喵喵酱</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/6D0A8A50-EE5B-3C8E-C2FD-3A0CD50A6599.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/09/6D0A8A50-EE5B-3C8E-C2FD-3A0CD50A6599.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>糖炒兔兔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>115784763</string>
		</dict>
		<key>user_id</key>
		<string>115784763</string>
	</dict>
</array>
</plist>
