<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17632</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>断肠人在天涯</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/AB0D58D3-78E7-ECC7-D3DC-B254D6811098.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/3FE7E90B-8102-6F1D-2704-3A261404F1E2.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/3FE7E90B-8102-6F1D-2704-3A261404F1E2.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17631</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>谢谢老板</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/2E2C4A2A-D46C-B1A3-782D-0FCA69476768.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/0639B37B-0C9B-2D4B-4EDA-8987EEB6D457.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/0639B37B-0C9B-2D4B-4EDA-8987EEB6D457.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17629</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>请爷息怒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/3C3B3A8E-7ACF-76BC-F0BF-701903639297.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/31EA8D19-4962-DBFB-AEB5-B9BE3258F648.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/31EA8D19-4962-DBFB-AEB5-B9BE3258F648.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17627</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你醒啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/8FA5A7B5-0AE6-45D7-DADD-0A6CA0AEE8FC.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/95EEDCA9-2413-4F29-C1CE-77804C557625.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/95EEDCA9-2413-4F29-C1CE-77804C557625.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17625</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>捡肥皂</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/18B6E8FE-B55F-486F-65AC-A4737B589117.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/4A634F7B-1A5F-FA23-F663-BD4E3A036B29.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/4A634F7B-1A5F-FA23-F663-BD4E3A036B29.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17623</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>起来嗨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/13E85205-E7FF-25E0-A833-D64EC9C2D7EE.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/640D10F7-C598-BDD5-94C5-A83DA2A65925.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/12/11/640D10F7-C598-BDD5-94C5-A83DA2A65925.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17621</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>楼上说得对</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/B66D0601-1E76-EE42-2BA2-C66C1F2CE828.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/A2D4B1DA-EF8B-FD47-9734-C8F184534BF0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/12/11/A2D4B1DA-EF8B-FD47-9734-C8F184534BF0.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17618</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棒棒哒</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/11/558F64FD-6C63-9CA4-2D9C-8C5E9E79BAA6.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/11/8F2B6CA3-8AC8-5CFC-D4BE-E31084D65DC5.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/12/11/8F2B6CA3-8AC8-5CFC-D4BE-E31084D65DC5.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>易信</string>
		<key>cate_id</key>
		<string>2249</string>
		<key>id</key>
		<string>17616</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>瞅你那熊样</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/9779AE54-ADF5-3E4F-67EF-419F49AC4145.jpg</string>
		<key>series_id</key>
		<string>2249</string>
		<key>series_name</key>
		<string>阿鸡米德-基友篇</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/AB090535-155B-7013-7718-02D86FD333F0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/12/11/AB090535-155B-7013-7718-02D86FD333F0.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
