<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028641</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟大熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/CA014DCA-35E7-2604-0B0C-DDF3422E7B14.jpg</string>
		<key>series_id</key>
		<string>7571</string>
		<key>series_name</key>
		<string>果果哟日常3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/9A9C15CA-E14A-033F-5F5E-03B132FD3227.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/9A9C15CA-E14A-033F-5F5E-03B132FD3227.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028639</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟大熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/11/318FB7DF-B331-0EC9-AA7B-6B50CD29DF2C.jpg</string>
		<key>series_id</key>
		<string>7571</string>
		<key>series_name</key>
		<string>果果哟日常3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/11/7312E99B-1EF6-5DD6-8615-1E6513286C54.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/11/7312E99B-1EF6-5DD6-8615-1E6513286C54.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028637</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟大熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/F67578FA-3C03-9D14-51A3-A29C7760FFE0.jpg</string>
		<key>series_id</key>
		<string>7571</string>
		<key>series_name</key>
		<string>果果哟日常3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/7DF95232-1FD3-2362-E934-5189CCF20552.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/11/7DF95232-1FD3-2362-E934-5189CCF20552.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028081</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟小熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/07/FC4DD664-9278-C4E2-7F97-A407EA6F82AF.jpg</string>
		<key>series_id</key>
		<string>7431</string>
		<key>series_name</key>
		<string>果果哟小熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/07/33DB59C0-69E5-A30F-9FF5-F960AA2983B4.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/07/33DB59C0-69E5-A30F-9FF5-F960AA2983B4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028079</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟小熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/BD278065-26DC-6184-1607-9BF997407538.jpg</string>
		<key>series_id</key>
		<string>7431</string>
		<key>series_name</key>
		<string>果果哟小熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/BD8685BE-3816-0FA6-D392-40936AFE9225.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/BD8685BE-3816-0FA6-D392-40936AFE9225.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟小熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/8C455580-2BE8-AA74-C4FF-19AFAC47D358.jpg</string>
		<key>series_id</key>
		<string>7431</string>
		<key>series_name</key>
		<string>果果哟小熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/9C03F72D-1B32-32BA-B816-1EB8F53CF293.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/04/9C03F72D-1B32-32BA-B816-1EB8F53CF293.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20028075</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟小熊</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/A0EAD7D5-EB48-FD06-732D-B42C8A31FA68.jpg</string>
		<key>series_id</key>
		<string>7431</string>
		<key>series_name</key>
		<string>果果哟小熊</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/E1CAAB18-BA10-1D55-523A-A827C398FABE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/04/E1CAAB18-BA10-1D55-523A-A827C398FABE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20024937</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟日常</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/7919BEB2-B53B-EF63-5575-3F892B186AAA.jpg</string>
		<key>series_id</key>
		<string>6647</string>
		<key>series_name</key>
		<string>果果哟日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/1AEE6378-4742-D8E0-FC39-E4E328A5E5F8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/1AEE6378-4742-D8E0-FC39-E4E328A5E5F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
	<dict>
		<key>author</key>
		<string>果果酱</string>
		<key>cate_id</key>
		<string>1811</string>
		<key>id</key>
		<string>20024935</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1811</string>
		<key>name</key>
		<string>果果哟日常</string>
		<key>number</key>
		<string>int784065</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/A63D4513-E6F7-BF1B-F70E-B067E150CB60.jpg</string>
		<key>series_id</key>
		<string>6647</string>
		<key>series_name</key>
		<string>果果哟日常2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/F9F239D8-2800-DF02-1817-AACA11EFB163.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/20/F9F239D8-2800-DF02-1817-AACA11EFB163.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>果果酱</string>
			<key>number</key>
			<string>int784065</string>
			<key>user_id</key>
			<string>71798294</string>
		</dict>
		<key>user_id</key>
		<string>71798294</string>
	</dict>
</array>
</plist>
