<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>BSEN</string>
		<key>cate_id</key>
		<string>1183</string>
		<key>id</key>
		<string>20018141</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1183</string>
		<key>name</key>
		<string>好基友</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/01F87256-7F32-04A4-7529-E7F26D6EDACE.jpg</string>
		<key>series_id</key>
		<string>4923</string>
		<key>series_name</key>
		<string>B先生表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/98FDA48B-2303-191C-7E19-45FC4D72B437.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/98FDA48B-2303-191C-7E19-45FC4D72B437.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Bsen</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>72471953</string>
		</dict>
		<key>user_id</key>
		<string>72471953</string>
	</dict>
	<dict>
		<key>author</key>
		<string>BSEN</string>
		<key>cate_id</key>
		<string>1183</string>
		<key>id</key>
		<string>20018143</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1183</string>
		<key>name</key>
		<string>好闺蜜</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/FDEB5635-90AE-344E-E2E1-4052DC85501F.jpg</string>
		<key>series_id</key>
		<string>4923</string>
		<key>series_name</key>
		<string>B先生表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/13E2B027-2047-CDD6-9887-9F6DCEC2602F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/13E2B027-2047-CDD6-9887-9F6DCEC2602F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Bsen</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>72471953</string>
		</dict>
		<key>user_id</key>
		<string>72471953</string>
	</dict>
	<dict>
		<key>author</key>
		<string>BSEN</string>
		<key>cate_id</key>
		<string>1183</string>
		<key>id</key>
		<string>20018147</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1183</string>
		<key>name</key>
		<string>红领巾</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/01/45C20531-81E0-F944-76CD-A50887A00456.jpg</string>
		<key>series_id</key>
		<string>4923</string>
		<key>series_name</key>
		<string>B先生表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/606DECA3-FCC5-FDA5-FAC4-C29948BA8DC3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/606DECA3-FCC5-FDA5-FAC4-C29948BA8DC3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Bsen</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>72471953</string>
		</dict>
		<key>user_id</key>
		<string>72471953</string>
	</dict>
</array>
</plist>
