<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20039839</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>甜甜圈</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/25/94E49DE3-F2F3-5871-456E-24CF0FC473CA.jpg</string>
		<key>series_id</key>
		<string>10363</string>
		<key>series_name</key>
		<string>五月你好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/25/EF72F855-C4C9-0834-E9AF-4685FB4571F7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/25/EF72F855-C4C9-0834-E9AF-4685FB4571F7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20015741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1089</string>
		<key>name</key>
		<string>棒棒糖</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/9B28CBCA-E275-D1DB-424A-460717074F57.jpg</string>
		<key>series_id</key>
		<string>4267</string>
		<key>series_name</key>
		<string>可爱の小装饰3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/3948F7AA-1DDC-E9C1-8510-A10085E1811D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/18/3948F7AA-1DDC-E9C1-8510-A10085E1811D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>紫purple</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20031791</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1089</string>
		<key>name</key>
		<string>棒棒糖</string>
		<key>number</key>
		<string>inb2886264</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/30/999BEB96-171F-715A-EC0D-2DEDDF47B71A.jpg</string>
		<key>series_id</key>
		<string>8353</string>
		<key>series_name</key>
		<string>角落小装饰1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/30/9A5623C9-3505-262C-1BE6-9622D7721B1F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/10/30/9A5623C9-3505-262C-1BE6-9622D7721B1F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-紫紫</string>
			<key>number</key>
			<string>inb2886264</string>
			<key>user_id</key>
			<string>31900950</string>
		</dict>
		<key>user_id</key>
		<string>31900950</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20055852</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>熊猫小丸子</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/76F64B59-2F16-1F9D-8196-B4E93C650C2F.jpg</string>
		<key>series_id</key>
		<string>14368</string>
		<key>series_name</key>
		<string>吃货1号</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/74B9C56D-11C4-9C65-8EDA-8DBD792863A2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/04/20/74B9C56D-11C4-9C65-8EDA-8DBD792863A2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20056318</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>棒棒糖</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/2D9510B2-CF5F-06EA-176F-F59D8A38F86A.jpg</string>
		<key>series_id</key>
		<string>14504</string>
		<key>series_name</key>
		<string>有趣的小贴纸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/DE66BECC-963F-E0F5-CA90-DEA7F0CE5E44.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/27/DE66BECC-963F-E0F5-CA90-DEA7F0CE5E44.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>久保麦子</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20055082</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>粉色糖</string>
		<key>number</key>
		<string>inm430879</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/05/D39AE35C-45BC-AE49-31DF-4F9CCAD1ED75.jpg</string>
		<key>series_id</key>
		<string>14176</string>
		<key>series_name</key>
		<string>轻甜糖果</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/05/6C0F2B93-5856-2EE5-3CB3-D155BFC0CF3E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/04/05/6C0F2B93-5856-2EE5-3CB3-D155BFC0CF3E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>久保麦子漫画</string>
			<key>number</key>
			<string>inm430879</string>
			<key>user_id</key>
			<string>68259132</string>
		</dict>
		<key>user_id</key>
		<string>68259132</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20014739</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1089</string>
		<key>name</key>
		<string>彩虹波板糖</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/14/A9F05317-936A-4C4F-4FD4-9F362DB3D48C.jpg</string>
		<key>series_id</key>
		<string>4013</string>
		<key>series_name</key>
		<string>趣味文字in2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/20/5123B1DD-7F3C-B72C-07A2-87310E6C37F8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/20/5123B1DD-7F3C-B72C-07A2-87310E6C37F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>三树</string>
		<key>cate_id</key>
		<string>1089</string>
		<key>id</key>
		<string>20013765</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1089</string>
		<key>name</key>
		<string>棒棒糖</string>
		<key>number</key>
		<string>sanshuart</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/4F23191D-98EF-671E-2DB8-5FF8B07CA2C6.jpg</string>
		<key>series_id</key>
		<string>3751</string>
		<key>series_name</key>
		<string>可爱素材</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/EC710562-C96F-7B2B-6FDD-AFD1BD0195A0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/08/EC710562-C96F-7B2B-6FDD-AFD1BD0195A0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>三树</string>
			<key>number</key>
			<string>sanshuart</string>
			<key>user_id</key>
			<string>69016336</string>
		</dict>
		<key>user_id</key>
		<string>69016336</string>
	</dict>
</array>
</plist>
