<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>LBB魔小羯</string>
		<key>cate_id</key>
		<string>2469</string>
		<key>id</key>
		<string>19913</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>猴猴爱美</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/04/D28D0BDF-BD89-E3E8-9C3D-BA7ECC5EE8A1.jpg</string>
		<key>series_id</key>
		<string>2469</string>
		<key>series_name</key>
		<string>搞笑小猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/04/5CBB5578-3760-31F5-BEB2-93805FB9D45F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/02/04/5CBB5578-3760-31F5-BEB2-93805FB9D45F.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>LBB魔小羯</string>
		<key>cate_id</key>
		<string>2469</string>
		<key>id</key>
		<string>19910</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>猴猴收红包</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/F3C098DC-C3BD-A6D8-B062-FF16E3C623FE.jpg</string>
		<key>series_id</key>
		<string>2469</string>
		<key>series_name</key>
		<string>搞笑小猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/34F09849-8335-DC4F-672E-0873388422B1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/34F09849-8335-DC4F-672E-0873388422B1.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>LBB魔小羯</string>
		<key>cate_id</key>
		<string>2469</string>
		<key>id</key>
		<string>19922</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>猴开森</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/A21F2050-8F1F-86AB-78E8-0572C4BB0567.jpg</string>
		<key>series_id</key>
		<string>2469</string>
		<key>series_name</key>
		<string>搞笑小猴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/FD4BC687-946C-F503-CB16-5506F1918D46.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/02/04/FD4BC687-946C-F503-CB16-5506F1918D46.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
