<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>青    槿</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20059126</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>六一,蜜蜂,发夹,发带,发箍,儿童节</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蜜蜂发夹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/3E608C03-1401-4EF5-F1AF-62AAE2C0848D-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15340</string>
		<key>series_name</key>
		<string>王小唯第一弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/EFCA2F3B-E26C-01DC-403B-0262EDF9F0DB-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/EFCA2F3B-E26C-01DC-403B-0262EDF9F0DB-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>青    槿</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>75369968</string>
		</dict>
		<key>user_id</key>
		<string>75369968</string>
	</dict>
	<dict>
		<key>author</key>
		<string>青    槿</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20059128</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>可爱,萌,表情,爱心,粉色,脸蛋</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>可爱脸蛋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/BBAD4C6B-1049-B700-4981-191727695A81-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15340</string>
		<key>series_name</key>
		<string>王小唯第一弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/455BFF89-C6DF-ADB0-F20D-27660D37BBEA-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/05/31/455BFF89-C6DF-ADB0-F20D-27660D37BBEA-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>青    槿</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>75369968</string>
		</dict>
		<key>user_id</key>
		<string>75369968</string>
	</dict>
	<dict>
		<key>author</key>
		<string>涛粑鼻</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20009487</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>一周CP,概率论</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>564</string>
		<key>name</key>
		<string>卖萌装饰</string>
		<key>number</key>
		<string>GAOGUAI</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/ACEE75F2-8C6A-70FD-6A65-4F61950053C8.jpg?v=2</string>
		<key>series_id</key>
		<string>2603</string>
		<key>series_name</key>
		<string>萌哒哒哒</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/53A84C17-C41B-F632-EEEF-A06E97265804.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/22/53A84C17-C41B-F632-EEEF-A06E97265804.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>搞怪陈</string>
			<key>number</key>
			<string>GAOGUAI</string>
			<key>user_id</key>
			<string>31926052</string>
		</dict>
		<key>user_id</key>
		<string>31926052</string>
	</dict>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20003698</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>装饰</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/43169131-0336-BAFF-36E1-169AE23F8574.jpg?v=2</string>
		<key>series_id</key>
		<string>1050</string>
		<key>series_name</key>
		<string>史上最萌SHOW</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/4BCBDDA3-1A79-2B1F-A3EA-9187FA4F7F34.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/4BCBDDA3-1A79-2B1F-A3EA-9187FA4F7F34.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>番茄妹</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20026785</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1903</string>
		<key>name</key>
		<string>偷看</string>
		<key>number</key>
		<string>inh1397295</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/BD73D55B-4CFB-90AA-3DB1-F42310B87D91.jpg</string>
		<key>series_id</key>
		<string>7109</string>
		<key>series_name</key>
		<string>可爱家族</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/4042C7E2-CD38-B93C-458D-798E6AAE10BE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/08/20/4042C7E2-CD38-B93C-458D-798E6AAE10BE.jpg?imageMogr2/format/png/thumbnail/640x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>番茄妹</string>
			<key>number</key>
			<string>inh1397295</string>
			<key>user_id</key>
			<string>17021140</string>
		</dict>
		<key>user_id</key>
		<string>17021140</string>
	</dict>
	<dict>
		<key>author</key>
		<string>娇气姐姐</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20003136</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>225</string>
		<key>name</key>
		<string>小精灵</string>
		<key>number</key>
		<string>jiaoqijiejie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/01/27/72DD4884-3564-2202-F232-C908DCBEB7FC.jpg?v=2</string>
		<key>series_id</key>
		<string>906</string>
		<key>series_name</key>
		<string>樱花小精灵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/01/27/5D81B426-EE3F-7F1F-E715-3A2699F7FE19.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/01/27/5D81B426-EE3F-7F1F-E715-3A2699F7FE19.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>娇气姐姐</string>
			<key>number</key>
			<string>jiaoqijiejie</string>
			<key>user_id</key>
			<string>16332455</string>
		</dict>
		<key>user_id</key>
		<string>16332455</string>
	</dict>
	<dict>
		<key>author</key>
		<string>鹿之川i</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20027961</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>果粉</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2265</string>
		<key>name</key>
		<string>小小鼠标</string>
		<key>number</key>
		<string>784190236</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/E8405749-C463-5A60-4321-43381D333C6E.jpg</string>
		<key>series_id</key>
		<string>7401</string>
		<key>series_name</key>
		<string>手机配件3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/0A85D59D-D68C-5529-7912-F7793894AAF0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/02/0A85D59D-D68C-5529-7912-F7793894AAF0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>鹿之川i</string>
			<key>number</key>
			<string>784190236</string>
			<key>user_id</key>
			<string>14329056</string>
		</dict>
		<key>user_id</key>
		<string>14329056</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20005132</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>美食表情</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>247</string>
		<key>name</key>
		<string>眯眯眼2</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/24/78193640-2637-AA43-03FB-530D99FF37EA.jpg?v=2</string>
		<key>series_id</key>
		<string>1414</string>
		<key>series_name</key>
		<string>我de小表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/24/4AC89BAE-2EDE-E2A7-3897-DBC6A4D01568.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/24/4AC89BAE-2EDE-E2A7-3897-DBC6A4D01568.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>娇气姐姐</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20003440</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>259</string>
		<key>name</key>
		<string>cloud</string>
		<key>number</key>
		<string>jiaoqijiejie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/7C6F8BBE-2C7F-4786-9575-0AEBE1C728C7.jpg?v=2</string>
		<key>series_id</key>
		<string>986</string>
		<key>series_name</key>
		<string>good day</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/083B289E-BE96-25B3-AD4E-E729AAFFD826.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/083B289E-BE96-25B3-AD4E-E729AAFFD826.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>娇气姐姐</string>
			<key>number</key>
			<string>jiaoqijiejie</string>
			<key>user_id</key>
			<string>16332455</string>
		</dict>
		<key>user_id</key>
		<string>16332455</string>
	</dict>
</array>
</plist>
