<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1383</string>
		<key>id</key>
		<string>20031913</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>双11,买买买</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1383</string>
		<key>name</key>
		<string>买买买</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/02/C06DDD5B-C7D0-D5D5-CA8A-C098FBADA133.jpg</string>
		<key>series_id</key>
		<string>8383</string>
		<key>series_name</key>
		<string>双十一男女系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/02/38C472E5-3AF2-032D-FA81-178E49889DB3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/02/38C472E5-3AF2-032D-FA81-178E49889DB3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1383</string>
		<key>id</key>
		<string>20031917</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>光棍节,双11</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1383</string>
		<key>name</key>
		<string>求带走</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/330D4364-1976-CB4E-E86F-949CC97A6B84.jpg</string>
		<key>series_id</key>
		<string>8383</string>
		<key>series_name</key>
		<string>双十一男女系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/0CBE2902-E44D-293E-F251-16740D2C389C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/03/0CBE2902-E44D-293E-F251-16740D2C389C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
</array>
</plist>
