<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007891</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>no~不！</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/606A138A-D2DE-1853-196A-BE4C6DBB954F.jpg?v=2</string>
		<key>series_id</key>
		<string>2109</string>
		<key>series_name</key>
		<string>小么君表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/0BE872F0-0BFD-0118-49B8-A7A83486AF9E.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/0BE872F0-0BFD-0118-49B8-A7A83486AF9E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
</array>
</plist>
