<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20016975</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>小么君-热成狗</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/D60F0049-299B-1094-FC34-5B3F736BCBA8.jpg</string>
		<key>series_id</key>
		<string>4591</string>
		<key>series_name</key>
		<string>小么君-夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/C6B4B8AF-98A1-EE26-4CEF-890B914BCFD2.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/26/C6B4B8AF-98A1-EE26-4CEF-890B914BCFD2.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20013443</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>录取通知</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/D8E6D82D-35E1-1345-956E-43B3B8E02BB1.jpg</string>
		<key>series_id</key>
		<string>3669</string>
		<key>series_name</key>
		<string>小么君-咔嚓~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/29C0D26C-5727-59D0-A6CE-E75FCB91449E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/29C0D26C-5727-59D0-A6CE-E75FCB91449E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20013439</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>上上签</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/2037C588-390E-F86A-BD25-F2D558F0AACB.jpg</string>
		<key>series_id</key>
		<string>3669</string>
		<key>series_name</key>
		<string>小么君-咔嚓~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/2932066A-BAAA-41EF-5F85-E18596F8E160.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/05/2932066A-BAAA-41EF-5F85-E18596F8E160.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007955</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>淘气</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/40351450-34AF-C311-7569-9506FEE9C779.jpg?v=2</string>
		<key>series_id</key>
		<string>2125</string>
		<key>series_name</key>
		<string>小么君表情③</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/876A6523-1FDA-4255-501A-C402F9842370.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/876A6523-1FDA-4255-501A-C402F9842370.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007893</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>愤怒</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/B9476BA5-4921-23BD-E54F-A8D8AEBD79E2.jpg?v=2</string>
		<key>series_id</key>
		<string>2111</string>
		<key>series_name</key>
		<string>小么君表情②</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/A58D7358-1D2F-1D27-79DB-911677345E45.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/A58D7358-1D2F-1D27-79DB-911677345E45.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20013437</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>照相~咔嚓</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/530E95DC-B9C7-B947-3697-FE65E16E4357.jpg</string>
		<key>series_id</key>
		<string>3669</string>
		<key>series_name</key>
		<string>小么君-咔嚓~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/843F4269-B45B-885D-2F49-1895F96AB7AB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/843F4269-B45B-885D-2F49-1895F96AB7AB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20012627</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>高考~拼了-奋斗</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/30/36537A81-55E1-1C85-5837-DC148269EDE0.jpg</string>
		<key>series_id</key>
		<string>3403</string>
		<key>series_name</key>
		<string>小么君-儿童节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/30/48234A01-99CA-8594-2347-E48977BEB6F9.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/30/48234A01-99CA-8594-2347-E48977BEB6F9.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20013441</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>照相~茄子</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/C450ED09-AE2C-7B4B-DD44-1E8394497F03.jpg</string>
		<key>series_id</key>
		<string>3669</string>
		<key>series_name</key>
		<string>小么君-咔嚓~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/874F41B5-FA00-B51C-46BE-F3BA5C040F2E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/874F41B5-FA00-B51C-46BE-F3BA5C040F2E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007889</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>喜欢你-亲亲亲</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/DD2427DA-1D70-2B69-3DD8-9F8BF2A0B092.jpg?v=2</string>
		<key>series_id</key>
		<string>2109</string>
		<key>series_name</key>
		<string>小么君表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/A34F7037-00AC-8F43-770B-A9CAF05F80D5.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/A34F7037-00AC-8F43-770B-A9CAF05F80D5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
</array>
</plist>
