<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>开森~</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/E379F4AB-EDCB-E898-E9A6-3E4BB88B3990.jpg?v=2</string>
		<key>series_id</key>
		<string>2125</string>
		<key>series_name</key>
		<string>小么君表情③</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/BB2BB997-CC72-807F-D16C-C5B130B1BC03.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/BB2BB997-CC72-807F-D16C-C5B130B1BC03.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20006615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>小么君</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/CD5194A8-AFAC-4B38-3D7C-6D61E0A1CF80.jpg?v=2</string>
		<key>series_id</key>
		<string>1785</string>
		<key>series_name</key>
		<string>白色情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/34219B07-EF1A-833E-1F7D-B138F7B7C094.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/34219B07-EF1A-833E-1F7D-B138F7B7C094.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007899</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>大哭</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/FA311029-43E5-AEA5-B0F6-E7E4BACAB379.jpg?v=2</string>
		<key>series_id</key>
		<string>2111</string>
		<key>series_name</key>
		<string>小么君表情②</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/E8D79563-E6E7-3BF4-687B-BFDD27FB1456.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/E8D79563-E6E7-3BF4-687B-BFDD27FB1456.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20015397</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>小么君大头照-遮脸</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/D9BAE370-E0C7-0BBB-7316-D14F9FEC0CB9.jpg</string>
		<key>series_id</key>
		<string>4181</string>
		<key>series_name</key>
		<string>小么君大头-遮脸</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/9E902E61-4C63-7270-49A4-6A3B3A237629.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/17/9E902E61-4C63-7270-49A4-6A3B3A237629.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007885</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>抱大腿</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/AF4E5496-7EAB-86E6-341F-4ED9D47D5160.jpg?v=2</string>
		<key>series_id</key>
		<string>2109</string>
		<key>series_name</key>
		<string>小么君表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/1C2DEB9D-6A9B-D8C8-E4A1-E267D92362AB.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/1C2DEB9D-6A9B-D8C8-E4A1-E267D92362AB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20016973</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>小么君-歪脖西瓜</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/88D30BAE-FAD6-EED3-13A0-468A4AE97435.jpg</string>
		<key>series_id</key>
		<string>4591</string>
		<key>series_name</key>
		<string>小么君-夏日系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/37ABFE88-32E0-36FD-B1CC-DFDA400A1775.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/37ABFE88-32E0-36FD-B1CC-DFDA400A1775.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007949</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>垂头丧气</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/010332DF-D0ED-99A2-9B6F-6CF15F00B84D.jpg?v=2</string>
		<key>series_id</key>
		<string>2125</string>
		<key>series_name</key>
		<string>小么君表情③</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/20DA3E92-681F-1B3D-FC2C-28F287FB4063.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/20DA3E92-681F-1B3D-FC2C-28F287FB4063.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007887</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>咦？</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/C6A8B1AD-7AB8-4C1F-29FD-1762698222FB.jpg?v=2</string>
		<key>series_id</key>
		<string>2109</string>
		<key>series_name</key>
		<string>小么君表情</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/58F2EEFF-61DB-F502-BA1A-671CBCA7E7CB.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/58F2EEFF-61DB-F502-BA1A-671CBCA7E7CB.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20007895</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>艹</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/EDD58F35-D03F-5E66-A59B-8926AB9F1F0C.jpg?v=2</string>
		<key>series_id</key>
		<string>2111</string>
		<key>series_name</key>
		<string>小么君表情②</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/E6E342D4-69F1-935C-883E-D2FA086D6BFF.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/E6E342D4-69F1-935C-883E-D2FA086D6BFF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
</array>
</plist>
