<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>沁蓝LULU</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052865</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>单身狗自拍-壁咚</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/BDF6BA73-61E4-6A8D-D8DD-C1A44B49CC39.jpg</string>
		<key>series_id</key>
		<string>13623</string>
		<key>series_name</key>
		<string>单身狗自拍指南</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/828B7D08-C903-72BD-4B58-C0DB372E6631.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/828B7D08-C903-72BD-4B58-C0DB372E6631.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>沁蓝LULU</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101111747</string>
		</dict>
		<key>user_id</key>
		<string>101111747</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052557</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>吃瓜群众</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/E62EE52E-4BFE-1E6D-A924-C877AE5B0A20.jpg</string>
		<key>series_id</key>
		<string>13545</string>
		<key>series_name</key>
		<string>单身节快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/E535FCB3-7CF3-1204-1B95-473FB5010FBB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/07/E535FCB3-7CF3-1204-1B95-473FB5010FBB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>沁蓝LULU</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052867</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>单身狗自拍-抬下巴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/AEC3E817-3171-D2E5-26BA-EEA8A24DCD2E.jpg</string>
		<key>series_id</key>
		<string>13623</string>
		<key>series_name</key>
		<string>单身狗自拍指南</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/AA32AE45-31CC-44E0-98F9-D28BB888A357.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/AA32AE45-31CC-44E0-98F9-D28BB888A357.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>沁蓝LULU</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101111747</string>
		</dict>
		<key>user_id</key>
		<string>101111747</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052897</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>气球</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/82CD8278-242A-CA1E-C7D8-17625D82E96D.jpg</string>
		<key>series_id</key>
		<string>13631</string>
		<key>series_name</key>
		<string>单身狗节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/C75C1784-7802-A80B-33B8-D4B627D99F59.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/C75C1784-7802-A80B-33B8-D4B627D99F59.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052903</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>拿去花</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/0D2A5298-450E-2260-4FE4-0C69CB64C97A.jpg</string>
		<key>series_id</key>
		<string>13631</string>
		<key>series_name</key>
		<string>单身狗节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/C2CCD82C-61AF-9461-6ACD-E451C8ABED0C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/C2CCD82C-61AF-9461-6ACD-E451C8ABED0C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>沁蓝LULU</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052871</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>单身狗自拍-喂食</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/C9C8563A-2C3A-E3DB-7735-9899FE89C665.jpg</string>
		<key>series_id</key>
		<string>13623</string>
		<key>series_name</key>
		<string>单身狗自拍指南</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/2A4914D6-76DC-B6DA-C862-F8C909026F77.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/2A4914D6-76DC-B6DA-C862-F8C909026F77.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>沁蓝LULU</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101111747</string>
		</dict>
		<key>user_id</key>
		<string>101111747</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>狗粮</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/81BC0423-B3FA-177A-15BF-C04D0427409E.jpg</string>
		<key>series_id</key>
		<string>13631</string>
		<key>series_name</key>
		<string>单身狗节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/517019F6-71BA-4A78-0CC4-68A94F47B366.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/517019F6-71BA-4A78-0CC4-68A94F47B366.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小酱</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052899</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>最佳单身奖</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/A88433C1-F548-C5D4-1A2C-DFBD2465CAAD.jpg</string>
		<key>series_id</key>
		<string>13631</string>
		<key>series_name</key>
		<string>单身狗节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/13282006-ABC2-E15C-0B65-22B1A5374CEC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/09/13282006-ABC2-E15C-0B65-22B1A5374CEC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sariel潇潇</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>12848754</string>
		</dict>
		<key>user_id</key>
		<string>12848754</string>
	</dict>
	<dict>
		<key>author</key>
		<string>沁蓝LULU</string>
		<key>cate_id</key>
		<string>3542</string>
		<key>id</key>
		<string>20052869</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>单身狗自拍-搂肩</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/46A7A899-70A6-411A-E3F0-481D19F69DCC.jpg</string>
		<key>series_id</key>
		<string>13623</string>
		<key>series_name</key>
		<string>单身狗自拍指南</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/3A813578-781F-0C06-8984-BA416DCEB330.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/02/09/3A813578-781F-0C06-8984-BA416DCEB330.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>沁蓝LULU</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>101111747</string>
		</dict>
		<key>user_id</key>
		<string>101111747</string>
	</dict>
</array>
</plist>
