<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20010669</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>妈妈我爱你</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/7D9EBC1D-1F5A-9038-7C54-A0BD4F8BFB9B.jpg</string>
		<key>series_id</key>
		<string>2901</string>
		<key>series_name</key>
		<string>韩文系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/A7EBEED7-0D30-F6A2-9BA9-EA1716BB6BA8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/A7EBEED7-0D30-F6A2-9BA9-EA1716BB6BA8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20040161</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>1</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/32FA8E8B-1CC5-A50C-4975-EBA90FECB7C6.jpg</string>
		<key>series_id</key>
		<string>10445</string>
		<key>series_name</key>
		<string>世上只有妈妈好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/B888857A-6F68-2604-2152-78AE75FB815C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/04/B888857A-6F68-2604-2152-78AE75FB815C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>源小嘟</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20010777</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>I LOVE MOM</string>
		<key>number</key>
		<string>inh3501165</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/918D0EB7-D4D9-7FA7-689F-76BFC8870B92.jpg</string>
		<key>series_id</key>
		<string>2927</string>
		<key>series_name</key>
		<string>源小嘟母亲节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/6BC19DEF-9249-A003-EA6E-6F6188111BED.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/08/6BC19DEF-9249-A003-EA6E-6F6188111BED.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>源小嘟GYY</string>
			<key>number</key>
			<string>inh3501165</string>
			<key>user_id</key>
			<string>37883299</string>
		</dict>
		<key>user_id</key>
		<string>37883299</string>
	</dict>
	<dict>
		<key>author</key>
		<string>宝儿小莹莹</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20040401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>母亲节妈妈有个好宝宝</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/CD6E9040-F6D2-CC99-AD6F-A3A491B87397.jpg</string>
		<key>series_id</key>
		<string>10505</string>
		<key>series_name</key>
		<string>母亲节妈妈是美人</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/399F9375-43B0-5190-9AE5-EB9ABE22A978.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/399F9375-43B0-5190-9AE5-EB9ABE22A978.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>宝儿小莹莹</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>77656084</string>
		</dict>
		<key>user_id</key>
		<string>77656084</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>1044201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>母亲节 love mom</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/12/3ABFCC2A-F734-5E1D-36B2-958A400D2279.jpg</string>
		<key>series_id</key>
		<string>743</string>
		<key>series_name</key>
		<string>母亲节 文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/12/38A39C3B-8C14-18D3-E7CD-B937F288563C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/12/38A39C3B-8C14-18D3-E7CD-B937F288563C.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>2193</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>妈妈辛苦了</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/06/3FD4C047-B17A-3167-8714-CF15F7054AEC.jpg?v=2</string>
		<key>series_id</key>
		<string>743</string>
		<key>series_name</key>
		<string>母亲节 文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/06/795BC1F8-30F3-036E-434C-7CA40FF88E91.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/in/2015/05/06/795BC1F8-30F3-036E-434C-7CA40FF88E91.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>2201</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>女神永远18岁</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/3CF24EE6-81FB-93D8-D216-0DAA4BF2B8CB.jpg?v=2</string>
		<key>series_id</key>
		<string>743</string>
		<key>series_name</key>
		<string>母亲节 文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/3F903160-B295-B65E-7ED3-87D806D35EAA.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/3F903160-B295-B65E-7ED3-87D806D35EAA.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20040261</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>女王大人辛苦了</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/CCF67ECD-E67D-2D99-1EEF-DD00C6CA6B9A.jpg</string>
		<key>series_id</key>
		<string>10469</string>
		<key>series_name</key>
		<string>多多酱母亲节文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/8C66B821-CA88-762B-2ABF-BD146C232C4D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/8C66B821-CA88-762B-2ABF-BD146C232C4D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20040259</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>带我回家见麻麻</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/D884C517-53D7-185D-3295-14F265C69FB6.jpg</string>
		<key>series_id</key>
		<string>10469</string>
		<key>series_name</key>
		<string>多多酱母亲节文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/EC56FEA7-484C-BD21-8F29-BA5A9B668B15.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/05/EC56FEA7-484C-BD21-8F29-BA5A9B668B15.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
</array>
</plist>
