<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>2189</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>thank u mom</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/07571E85-833A-94D4-806A-E844CE71802C.jpg?v=2</string>
		<key>series_id</key>
		<string>743</string>
		<key>series_name</key>
		<string>母亲节 文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/5C6EBAF9-9D09-43AA-E6BD-693553C0B8F9.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/in/2015/05/06/5C6EBAF9-9D09-43AA-E6BD-693553C0B8F9.png?v=2</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20040301</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>母亲节快乐</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/67D2C4D7-D4F9-2060-05E2-EEC4D92CB817.jpg</string>
		<key>series_id</key>
		<string>10479</string>
		<key>series_name</key>
		<string>LOVE母亲节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/FA05EC4A-52F3-C41C-2517-42711478D268.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/05/FA05EC4A-52F3-C41C-2517-42711478D268.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>743</string>
		<key>id</key>
		<string>20010499</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>743</string>
		<key>name</key>
		<string>妈辛苦了！</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/05/05/17E10903-1D98-8F94-BA90-7DB45CF78EEE.jpg?v=2</string>
		<key>series_id</key>
		<string>2857</string>
		<key>series_name</key>
		<string>睿雨白色文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/05/05/7218B9AE-CC46-6576-8F9C-0D740F50CAEF.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/05/05/7218B9AE-CC46-6576-8F9C-0D740F50CAEF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
</array>
</plist>
