<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20003698</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>587</string>
		<key>name</key>
		<string>装饰</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/43169131-0336-BAFF-36E1-169AE23F8574.jpg?v=2</string>
		<key>series_id</key>
		<string>1050</string>
		<key>series_name</key>
		<string>史上最萌SHOW</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/4BCBDDA3-1A79-2B1F-A3EA-9187FA4F7F34.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/02/05/4BCBDDA3-1A79-2B1F-A3EA-9187FA4F7F34.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>249</string>
		<key>id</key>
		<string>20006899</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>249</string>
		<key>name</key>
		<string>花儿</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/4CBAD4D4-A249-A197-DB7D-34A6B4A2B07C.jpg?v=2</string>
		<key>series_id</key>
		<string>1857</string>
		<key>series_name</key>
		<string>小清新装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/1783A796-1B8B-2EEC-F467-57A9719DDCB7.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/17/1783A796-1B8B-2EEC-F467-57A9719DDCB7.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>蛋挞ina</string>
		<key>cate_id</key>
		<string>585</string>
		<key>id</key>
		<string>20003428</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>585</string>
		<key>name</key>
		<string>甜美桃心</string>
		<key>number</key>
		<string>ind3189022</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/60916D3F-D9F9-551D-F4A1-E2CBC93144D4.jpg?v=2</string>
		<key>series_id</key>
		<string>982</string>
		<key>series_name</key>
		<string>甜美装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/8086BE32-000D-E1D4-8867-24C525BC9B75.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/01/30/8086BE32-000D-E1D4-8867-24C525BC9B75.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蛋挞ina</string>
			<key>number</key>
			<string>ind3189022</string>
			<key>user_id</key>
			<string>34797413</string>
		</dict>
		<key>user_id</key>
		<string>34797413</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>239</string>
		<key>id</key>
		<string>20016659</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>239</string>
		<key>name</key>
		<string>羞涩</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/E9C0FA30-6E61-6D90-EAC7-8442B2F67D5D.jpg</string>
		<key>series_id</key>
		<string>4497</string>
		<key>series_name</key>
		<string>可爱的我</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/876F1AE9-5BC3-74B0-1C73-F894E6D4E1C4.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/25/876F1AE9-5BC3-74B0-1C73-F894E6D4E1C4.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>595</string>
		<key>id</key>
		<string>20019911</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>595</string>
		<key>name</key>
		<string>叶小星的小头饰</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/8DE12ABE-AEF0-AB64-1CBA-B6D7E04CBF29.jpg</string>
		<key>series_id</key>
		<string>5387</string>
		<key>series_name</key>
		<string>叶小星的小头饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/AED6F242-08AF-8437-8D40-D3F68F5448F8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/08/AED6F242-08AF-8437-8D40-D3F68F5448F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小星vvvvv</string>
		<key>cate_id</key>
		<string>389</string>
		<key>id</key>
		<string>20011681</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>389</string>
		<key>name</key>
		<string>长颈鹿</string>
		<key>number</key>
		<string>inh3510899</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/E619E8D1-A46F-0623-52FB-C6EE650B6E75.jpg</string>
		<key>series_id</key>
		<string>3157</string>
		<key>series_name</key>
		<string>小动物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/21C4CAC3-DA84-3B44-3306-9B65B0165F96.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/05/22/21C4CAC3-DA84-3B44-3306-9B65B0165F96.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小星vvvvv</string>
			<key>number</key>
			<string>inh3510899</string>
			<key>user_id</key>
			<string>37977048</string>
		</dict>
		<key>user_id</key>
		<string>37977048</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>611</string>
		<key>id</key>
		<string>20006943</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>611</string>
		<key>name</key>
		<string>小雏菊</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/5F5DBBAE-BB2F-2AC7-2BAD-72A9993FD745.jpg?v=2</string>
		<key>series_id</key>
		<string>1869</string>
		<key>series_name</key>
		<string>春天的花开了</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/CB8A0CE6-01CC-D5E2-D29F-FBE69AAA940D.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/17/CB8A0CE6-01CC-D5E2-D29F-FBE69AAA940D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1615</string>
		<key>id</key>
		<string>20009569</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1613</string>
		<key>name</key>
		<string>粉红小水滴</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/9271AFD2-0AA4-ADC6-23B5-D581339BEC34.jpg?v=2</string>
		<key>series_id</key>
		<string>2623</string>
		<key>series_name</key>
		<string>甜蜜小装扮</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/2D6EE479-0904-4529-7BE3-9F0795A2D6AA.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/23/2D6EE479-0904-4529-7BE3-9F0795A2D6AA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>1609</string>
		<key>id</key>
		<string>20011643</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1609</string>
		<key>name</key>
		<string>。。。</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/91C8B776-5A67-332B-8FAC-195B02A317CE.jpg</string>
		<key>series_id</key>
		<string>3147</string>
		<key>series_name</key>
		<string>心情小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/7BDD5621-15A9-8795-695D-192BCB5F4D9C.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/7BDD5621-15A9-8795-695D-192BCB5F4D9C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
</array>
</plist>
