<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>278</string>
		<key>id</key>
		<string>20005088</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>2</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/90C72576-4051-6C0C-9801-1691D4A104A1.jpg?v=2</string>
		<key>series_id</key>
		<string>1404</string>
		<key>series_name</key>
		<string>你的属性~第2弹</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/0EE88996-F323-85BF-525E-BEFD5B1474C5.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/02/23/0EE88996-F323-85BF-525E-BEFD5B1474C5.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张小能</string>
		<key>cate_id</key>
		<string>1791</string>
		<key>id</key>
		<string>20021403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1791</string>
		<key>name</key>
		<string>萌萌哒</string>
		<key>number</key>
		<string>inc3424110</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/BAFB72EB-8C77-ABC3-31EC-35082FD46C41.jpg</string>
		<key>series_id</key>
		<string>5765</string>
		<key>series_name</key>
		<string>张小能的小文字2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/756CDFE3-0234-71A1-AF9F-A3A47668058F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/756CDFE3-0234-71A1-AF9F-A3A47668058F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张小能</string>
			<key>number</key>
			<string>inc3424110</string>
			<key>user_id</key>
			<string>37116489</string>
		</dict>
		<key>user_id</key>
		<string>37116489</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20007333</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>what</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/394E4D61-F92E-4F3F-A13D-52E34DBA8744.jpg?v=2</string>
		<key>series_id</key>
		<string>1967</string>
		<key>series_name</key>
		<string>小对话</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/EC8EED09-EC7A-A9FA-6F7D-D0701FE18FEF.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/20/EC8EED09-EC7A-A9FA-6F7D-D0701FE18FEF.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>1171</string>
		<key>id</key>
		<string>20018691</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1171</string>
		<key>name</key>
		<string>L</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/03A46F34-E8B8-8BD3-BB1D-CD351CB0B423.jpg</string>
		<key>series_id</key>
		<string>5075</string>
		<key>series_name</key>
		<string>多多酱の萌字母3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/84621C03-88C7-9DCB-E7BF-ED9F2712143B.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/02/84621C03-88C7-9DCB-E7BF-ED9F2712143B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>杜番茄</string>
		<key>cate_id</key>
		<string>1695</string>
		<key>id</key>
		<string>20010077</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1695</string>
		<key>name</key>
		<string>开心</string>
		<key>number</key>
		<string>dufanqie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/E792E966-25E3-FB51-A219-ACD4B11E54D6.jpg?v=2</string>
		<key>series_id</key>
		<string>2751</string>
		<key>series_name</key>
		<string>可爱日文</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/4247B0F8-92AC-1006-01B0-367E9F8DF802.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/4247B0F8-92AC-1006-01B0-367E9F8DF802.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>杜番茄</string>
			<key>number</key>
			<string>dufanqie</string>
			<key>user_id</key>
			<string>33012640</string>
		</dict>
		<key>user_id</key>
		<string>33012640</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>1515</string>
		<key>id</key>
		<string>20006785</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1515</string>
		<key>name</key>
		<string>happy time</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/16/8819BC23-DE96-6DA8-BE98-3E83ECB7A461.jpg?v=2</string>
		<key>series_id</key>
		<string>1827</string>
		<key>series_name</key>
		<string>你好春天~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/16/0CCC1A16-92CE-9E6E-89DC-689E719C1DE9.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/16/0CCC1A16-92CE-9E6E-89DC-689E719C1DE9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>懒宝酱</string>
		<key>cate_id</key>
		<string>285</string>
		<key>id</key>
		<string>20006406</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>285</string>
		<key>name</key>
		<string>中国好闺蜜</string>
		<key>number</key>
		<string>LazyLadyLBJ</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/665EA723-249B-3FA3-DF29-BEC651B5F029.jpg?v=2</string>
		<key>series_id</key>
		<string>1734</string>
		<key>series_name</key>
		<string>好闺蜜一辈子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/F9207BA6-E6F8-482F-EEB9-56BA38B4A491.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/12/F9207BA6-E6F8-482F-EEB9-56BA38B4A491.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>懒宝酱</string>
			<key>number</key>
			<string>LazyLadyLBJ</string>
			<key>user_id</key>
			<string>42229736</string>
		</dict>
		<key>user_id</key>
		<string>42229736</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>2843</string>
		<key>id</key>
		<string>20004906</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>278</string>
		<key>name</key>
		<string>女神</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/6A1CD382-7149-5E42-75FD-0654E6D68D48.jpg?v=2</string>
		<key>series_id</key>
		<string>1356</string>
		<key>series_name</key>
		<string>你的属性鉴定完毕</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/C5621EE7-0597-632F-30AA-122B098A7862.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/17/C5621EE7-0597-632F-30AA-122B098A7862.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>张小能</string>
		<key>cate_id</key>
		<string>1791</string>
		<key>id</key>
		<string>20021399</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1791</string>
		<key>name</key>
		<string>最美的</string>
		<key>number</key>
		<string>inc3424110</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/C9EDA00D-02D4-893E-455E-6CDEDFA0D395.jpg</string>
		<key>series_id</key>
		<string>5765</string>
		<key>series_name</key>
		<string>张小能的小文字2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/B15E0540-4364-D2E0-B8D4-A17C4AF4293D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/14/B15E0540-4364-D2E0-B8D4-A17C4AF4293D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>张小能</string>
			<key>number</key>
			<string>inc3424110</string>
			<key>user_id</key>
			<string>37116489</string>
		</dict>
		<key>user_id</key>
		<string>37116489</string>
	</dict>
</array>
</plist>
