<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>认真的馒头</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20020989</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>lovesunshine</string>
		<key>number</key>
		<string>ina1232493</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/113136DB-56D4-56E1-BC00-06A444DA2412.jpg</string>
		<key>series_id</key>
		<string>5663</string>
		<key>series_name</key>
		<string>馒头文艺文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/C1ED478D-2C03-9191-6680-FE62695FA024.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/12/C1ED478D-2C03-9191-6680-FE62695FA024.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>七七小馒头</string>
			<key>number</key>
			<string>ina1232493</string>
			<key>user_id</key>
			<string>14248079</string>
		</dict>
		<key>user_id</key>
		<string>14248079</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>1856</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>下雨天</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/7C7CDB78-D0D3-7D7C-6D74-98A5D6BCA326.jpg?v=2</string>
		<key>series_id</key>
		<string>428</string>
		<key>series_name</key>
		<string>天气</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/55FAAC9B-40AD-3CEC-2C6D-F3D343C232DD.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/in/2015/04/01/55FAAC9B-40AD-3CEC-2C6D-F3D343C232DD.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>睿雨</string>
		<key>cate_id</key>
		<string>1517</string>
		<key>id</key>
		<string>20009909</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1517</string>
		<key>name</key>
		<string>你好阳光</string>
		<key>number</key>
		<string>Woxiwanghao91</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/CCF151A1-FE47-A48E-8D10-AEB0B9EA0542.jpg?v=2</string>
		<key>series_id</key>
		<string>2709</string>
		<key>series_name</key>
		<string>白色文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/247B7A2B-B322-2EF5-10B1-966A11D2CBD2.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/28/247B7A2B-B322-2EF5-10B1-966A11D2CBD2.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>睿雨</string>
			<key>number</key>
			<string>Woxiwanghao91</string>
			<key>user_id</key>
			<string>33454564</string>
		</dict>
		<key>user_id</key>
		<string>33454564</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>20008885</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>早安</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1513</string>
		<key>name</key>
		<string>sky</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/8312E93A-50D7-B113-A501-72A0EBE8CD38.jpg?v=2</string>
		<key>series_id</key>
		<string>2367</string>
		<key>series_name</key>
		<string>sky系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/E30F79D3-F545-55EE-8788-A1D1CF0E97C8.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/10/E30F79D3-F545-55EE-8788-A1D1CF0E97C8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20008789</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>我爱阳光</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/F84A25F6-13AD-3ABC-7D6B-B30E30EAA6DC.jpg?v=2</string>
		<key>series_id</key>
		<string>2343</string>
		<key>series_name</key>
		<string>我爱阳光我爱生活</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/85508DA2-73A2-982C-A329-EFEA331D0BF8.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/04/09/85508DA2-73A2-982C-A329-EFEA331D0BF8.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>lm-cc</string>
		<key>cate_id</key>
		<string>1443</string>
		<key>id</key>
		<string>20008247</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1443</string>
		<key>name</key>
		<string>在黑夜中等待黎明</string>
		<key>number</key>
		<string>topcc</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/13647FCE-F44D-F0F0-8B36-F2687D121118.jpg?v=2</string>
		<key>series_id</key>
		<string>2203</string>
		<key>series_name</key>
		<string>就爱文艺范</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/33E07526-F9EB-D137-2352-EF0682C1592C.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/03/33E07526-F9EB-D137-2352-EF0682C1592C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>lm-cc</string>
			<key>number</key>
			<string>topcc</string>
			<key>user_id</key>
			<string>31885555</string>
		</dict>
		<key>user_id</key>
		<string>31885555</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1517</string>
		<key>id</key>
		<string>328</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1517</string>
		<key>name</key>
		<string>helloworld</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://i5.jiuyan.info/in/2014/08/29/A5AB93EA-1C6F-5322-7751-70AFFF73CE55.jpg?v=2</string>
		<key>series_id</key>
		<string>1517</string>
		<key>series_name</key>
		<string>你好</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://i5.jiuyan.info/in/2014/08/29/8E9803E5-EDA8-B426-9522-590E26519A00.s130x130.png?v=2</string>
		<key>url</key>
		<string>http://i5.jiuyan.info/in/2014/08/29/8E9803E5-EDA8-B426-9522-590E26519A00.png?v=2</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1513</string>
		<key>id</key>
		<string>2561</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2245</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/768090BF-F4A1-F8C7-0DDD-DB91CD2F5ADD.jpg</string>
		<key>series_id</key>
		<string>1513</string>
		<key>series_name</key>
		<string>早安晚安</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/FA123C30-0CC7-94C3-06D8-C7D6A50C3669.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/FA123C30-0CC7-94C3-06D8-C7D6A50C3669.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>七七</string>
		<key>cate_id</key>
		<string>428</string>
		<key>id</key>
		<string>20025167</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>428</string>
		<key>name</key>
		<string>日光</string>
		<key>number</key>
		<string>inm619542</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/29C712F5-BB17-F429-750C-9492885790FC.jpg</string>
		<key>series_id</key>
		<string>6705</string>
		<key>series_name</key>
		<string>文艺范</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9EA9F582-59FE-047C-D291-CA889DCFA45A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/11/9EA9F582-59FE-047C-D291-CA889DCFA45A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>BEATRICE七七</string>
			<key>number</key>
			<string>inm619542</string>
			<key>user_id</key>
			<string>70147463</string>
		</dict>
		<key>user_id</key>
		<string>70147463</string>
	</dict>
</array>
</plist>
