<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>白粥小姐</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20013485</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1799</string>
		<key>name</key>
		<string>不挂科</string>
		<key>number</key>
		<string>in751295244</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/15EEEC93-7AC6-3D8E-07D5-11298FF7BCE3.jpg</string>
		<key>series_id</key>
		<string>3681</string>
		<key>series_name</key>
		<string>高考加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/F7B7458B-EA84-7962-8EE8-6FE60A8F6A7F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/05/F7B7458B-EA84-7962-8EE8-6FE60A8F6A7F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>白粥小姐c</string>
			<key>number</key>
			<string>in751295244</string>
			<key>user_id</key>
			<string>44805296</string>
		</dict>
		<key>user_id</key>
		<string>44805296</string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>25104</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>98分！哼！</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/07/6BBED32B-689C-0A1F-2502-C816EF9D27E1.jpg</string>
		<key>series_id</key>
		<string>1799</string>
		<key>series_name</key>
		<string>学校系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/07/543ED9A4-042F-BE66-46FD-248E804DC76F.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/06/07/543ED9A4-042F-BE66-46FD-248E804DC76F.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>25103</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>61分哈哈哈</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/07/05E41B7C-D2CC-57F6-76A3-28AAD7208F41.jpg</string>
		<key>series_id</key>
		<string>1799</string>
		<key>series_name</key>
		<string>学校系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/07/136A007C-7698-C2EE-A5A7-92FD245B1427.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/06/07/136A007C-7698-C2EE-A5A7-92FD245B1427.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>25102</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>55分诶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/07/39540243-6443-651C-8174-FD20A875529C.jpg</string>
		<key>series_id</key>
		<string>1799</string>
		<key>series_name</key>
		<string>学校系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/07/815901FB-2D66-BFC5-02C8-356DD7C39853.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/06/07/815901FB-2D66-BFC5-02C8-356DD7C39853.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>11302</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1799</string>
		<key>name</key>
		<string>开学喽</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/28/CBC232D8-B772-C0EE-146C-5FA5D563B929.jpg</string>
		<key>series_id</key>
		<string>1799</string>
		<key>series_name</key>
		<string>学校系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/28/39938AE1-82E2-7E51-B7E4-02243F824025.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/08/28/39938AE1-82E2-7E51-B7E4-02243F824025.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20046147</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>勤奋好学</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/6361113C-ACD5-5106-AA7C-AF7BAC0FD13A.jpg</string>
		<key>series_id</key>
		<string>11943</string>
		<key>series_name</key>
		<string>上学之祖国的花朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/61D4C783-3E27-0881-B38B-30A42BD63814.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/31/61D4C783-3E27-0881-B38B-30A42BD63814.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>L.Lin果</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20046145</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>祖国的花朵</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/8A4A626E-275F-102B-00C4-65901D9BB9FC.jpg</string>
		<key>series_id</key>
		<string>11943</string>
		<key>series_name</key>
		<string>上学之祖国的花朵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/6816DDF5-98C0-D4D4-3F14-DEA8C8110DD3.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/6816DDF5-98C0-D4D4-3F14-DEA8C8110DD3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>L.Lin果</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>94077859</string>
		</dict>
		<key>user_id</key>
		<string>94077859</string>
	</dict>
	<dict>
		<key>author</key>
		<string>松鼠大王</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20045919</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>加成</string>
		<key>number</key>
		<string>inn607976</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/20F3F404-9C57-9E83-8C2D-2EC945183682.jpg</string>
		<key>series_id</key>
		<string>11885</string>
		<key>series_name</key>
		<string>开学开学</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/29619CC7-984D-DF0D-0846-E75ECD4C4D79.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/29619CC7-984D-DF0D-0846-E75ECD4C4D79.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>松鼠大王</string>
			<key>number</key>
			<string>inn607976</string>
			<key>user_id</key>
			<string>70051071</string>
		</dict>
		<key>user_id</key>
		<string>70051071</string>
	</dict>
	<dict>
		<key>author</key>
		<string>钉子扈</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20046153</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好好学习</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/4376A945-9552-1A52-3865-55E29C07179A.jpg</string>
		<key>series_id</key>
		<string>11945</string>
		<key>series_name</key>
		<string>新学期小目标</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/00FB8ED5-2D79-BB63-3B1A-CAAB3DB74A47.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/31/00FB8ED5-2D79-BB63-3B1A-CAAB3DB74A47.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>钉子扈"</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>65973996</string>
		</dict>
		<key>user_id</key>
		<string>65973996</string>
	</dict>
</array>
</plist>
