<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>Anne小主</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20045721</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>开学,开学季</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>欢迎新同学</string>
		<key>number</key>
		<string>inAnnexiaozhu</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/24/1AA2CC3A-BE2A-0EFF-93A0-68AD55902E30.jpg</string>
		<key>series_id</key>
		<string>11837</string>
		<key>series_name</key>
		<string>开学季系列套装</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/24/4368FE37-3B6D-11CE-EF17-7EBFBFB8F0CA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/08/24/4368FE37-3B6D-11CE-EF17-7EBFBFB8F0CA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Anne姑凉</string>
			<key>number</key>
			<string>inAnnexiaozhu</string>
			<key>user_id</key>
			<string>66063725</string>
		</dict>
		<key>user_id</key>
		<string>66063725</string>
	</dict>
	<dict>
		<key>author</key>
		<string>HsuCham</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20053534</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>奋斗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/23/401869FF-170F-2FEA-9B1A-017609DDD7E8.jpg</string>
		<key>series_id</key>
		<string>13788</string>
		<key>series_name</key>
		<string>新学期请努力哟</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/23/1B14BD8D-30AE-BA85-2D4F-C02A7F673A1B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/02/23/1B14BD8D-30AE-BA85-2D4F-C02A7F673A1B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>若明似暗</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>103785451</string>
		</dict>
		<key>user_id</key>
		<string>103785451</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20041929</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>高考加油</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/3166BC0B-4E03-EBB1-DEC9-13D87D1707BA.jpg</string>
		<key>series_id</key>
		<string>10887</string>
		<key>series_name</key>
		<string>高考芒种端午粽子</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/2F866CD3-2CC2-EF1C-557F-D5F707DB0556.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/2F866CD3-2CC2-EF1C-557F-D5F707DB0556.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20045675</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>开学,开学季</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>三好学生</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/23/8F680F3A-AFCB-D576-38BF-B3ECCB7AC21D.jpg</string>
		<key>series_id</key>
		<string>11825</string>
		<key>series_name</key>
		<string>学生党的九月</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/23/59C31AD7-40D1-C03F-6E1F-418CEE720DDC.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/23/59C31AD7-40D1-C03F-6E1F-418CEE720DDC.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>窝仔</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20042253</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>感谢拼搏过的自己</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/07/F97390C8-6B94-47AC-A49D-EBD24BA5E71F.jpg</string>
		<key>series_id</key>
		<string>10967</string>
		<key>series_name</key>
		<string>高考后心情文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/07/8A03EF19-58D1-14A2-7F0A-96B0C4272015.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/07/8A03EF19-58D1-14A2-7F0A-96B0C4272015.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>窝好萌喔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>70627122</string>
		</dict>
		<key>user_id</key>
		<string>70627122</string>
	</dict>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20045855</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>一周CP,概率论</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大队长</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/27/202292C2-59A7-28FA-9A4A-046C6F4920E8.jpg</string>
		<key>series_id</key>
		<string>11869</string>
		<key>series_name</key>
		<string>学校那些人儿~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/27/66CA932F-39D4-7653-B116-7D0F39D4DA99.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/27/66CA932F-39D4-7653-B116-7D0F39D4DA99.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Jimce何</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20052951</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>好好学习天天向上</string>
		<key>number</key>
		<string>ino644755</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/14/E7F62324-9217-3D5F-DD16-17CB42B3A83D.jpg</string>
		<key>series_id</key>
		<string>13643</string>
		<key>series_name</key>
		<string>学习吧学霸！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/14/136B6BBE-C79F-EB8A-6EC3-E1108ACC656C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/14/136B6BBE-C79F-EB8A-6EC3-E1108ACC656C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Jimce何</string>
			<key>number</key>
			<string>ino644755</string>
			<key>user_id</key>
			<string>70417580</string>
		</dict>
		<key>user_id</key>
		<string>70417580</string>
	</dict>
	<dict>
		<key>author</key>
		<string>还有糖</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20041953</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>数学题</string>
		<key>number</key>
		<string>inb3168956</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/E6D72EEF-383D-61E1-FC85-1D0ACDAEA637.jpg</string>
		<key>series_id</key>
		<string>10893</string>
		<key>series_name</key>
		<string>假装要高考</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/03E2B586-B92F-4215-0F15-542AF9EBDF99.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/06/02/03E2B586-B92F-4215-0F15-542AF9EBDF99.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>还有糖</string>
			<key>number</key>
			<string>inb3168956</string>
			<key>user_id</key>
			<string>34574625</string>
		</dict>
		<key>user_id</key>
		<string>34574625</string>
	</dict>
	<dict>
		<key>author</key>
		<string>粉色公主</string>
		<key>cate_id</key>
		<string>1799</string>
		<key>id</key>
		<string>20045931</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>去上学</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/B15310FA-E850-B810-29D3-058ABABD9608.jpg</string>
		<key>series_id</key>
		<string>11889</string>
		<key>series_name</key>
		<string>开学快乐</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/52271249-3FBF-2437-0C3C-C07BB496D802.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/08/29/52271249-3FBF-2437-0C3C-C07BB496D802.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>粉色公主333</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15766807</string>
		</dict>
		<key>user_id</key>
		<string>15766807</string>
	</dict>
</array>
</plist>
