<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1507</string>
		<key>id</key>
		<string>20026163</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1507</string>
		<key>name</key>
		<string>哎呀</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/14/3AA04E9F-4EBA-3028-F800-0BBBC02A63FD.jpg</string>
		<key>series_id</key>
		<string>6955</string>
		<key>series_name</key>
		<string>桑口先生的萌宠1</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/14/420365A5-7316-46AB-74AB-2B76DFF6A69B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/08/14/420365A5-7316-46AB-74AB-2B76DFF6A69B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1507</string>
		<key>id</key>
		<string>20039141</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>HI</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/12/95A84E69-2930-202B-6AF1-A6D3FF79B863.jpg</string>
		<key>series_id</key>
		<string>10189</string>
		<key>series_name</key>
		<string>桑口先生的萌宠3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/12/1AD8E3C8-6BDC-F252-06B0-336F0486B0CB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/04/12/1AD8E3C8-6BDC-F252-06B0-336F0486B0CB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
	<dict>
		<key>author</key>
		<string>桑口啊加洗</string>
		<key>cate_id</key>
		<string>1507</string>
		<key>id</key>
		<string>20039015</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>女神</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/07/DEA1DDE5-0217-9A6E-10CB-CD835FD3150F.jpg</string>
		<key>series_id</key>
		<string>10157</string>
		<key>series_name</key>
		<string>桑口的小兔子3</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/07/37F0A03A-1F51-7277-E4FB-988DE13AC1D6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/04/07/37F0A03A-1F51-7277-E4FB-988DE13AC1D6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>桑口先生</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>76641021</string>
		</dict>
		<key>user_id</key>
		<string>76641021</string>
	</dict>
</array>
</plist>
