<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20048783</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>向世界出发</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/04/074789B4-890C-3C23-03F6-ECEA4984FBB0.jpg</string>
		<key>series_id</key>
		<string>12601</string>
		<key>series_name</key>
		<string>哈咪猫旅游</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/04/66C42F61-4438-2601-D1E1-D800B91DB672.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/04/66C42F61-4438-2601-D1E1-D800B91DB672.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20048125</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>羽毛球</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/21/544AE130-DBFB-866B-5110-F56F934D1CF0.jpg</string>
		<key>series_id</key>
		<string>12437</string>
		<key>series_name</key>
		<string>哈咪猫运动</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/21/91963E25-271A-D5B9-0DD2-363411F50BFB.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/10/21/91963E25-271A-D5B9-0DD2-363411F50BFB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20049243</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>冬天你好</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/FC67A850-F689-8854-AC30-C4ECE2249410.jpg</string>
		<key>series_id</key>
		<string>12717</string>
		<key>series_name</key>
		<string>哈咪猫冬天</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/EA9EC6DC-AB85-C4B7-3B3E-EDBBE55EB609.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/18/EA9EC6DC-AB85-C4B7-3B3E-EDBBE55EB609.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20052675</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>LOVE</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/6A0206B2-8835-A19A-7EF0-C0EB8ED913F2.jpg</string>
		<key>series_id</key>
		<string>13575</string>
		<key>series_name</key>
		<string>天天都是情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/B30B49D0-FF5E-4BCE-3E32-90BA27B75BAE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/02/08/B30B49D0-FF5E-4BCE-3E32-90BA27B75BAE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20051475</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喜庆</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/14/8E53DDB4-3068-5760-FCAB-284D5217B854.jpg</string>
		<key>series_id</key>
		<string>13275</string>
		<key>series_name</key>
		<string>哈咪猫喜迎春</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/14/2715BACC-6D9E-02A5-7CB5-BD465001F42E.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/14/2715BACC-6D9E-02A5-7CB5-BD465001F42E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20000322</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>470</string>
		<key>name</key>
		<string>无敌</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2014/12/18/8DAFD6D5-76F5-6B4C-BB30-BCE07AF2517F.jpg?v=2</string>
		<key>series_id</key>
		<string>94</string>
		<key>series_name</key>
		<string>哈咪猫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2014/12/18/E761C88A-4239-20F9-B0EA-4EB1B8BC7D9E.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2014/12/18/E761C88A-4239-20F9-B0EA-4EB1B8BC7D9E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
	<dict>
		<key>author</key>
		<string>哈咪猫</string>
		<key>cate_id</key>
		<string>470</string>
		<key>id</key>
		<string>20052107</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>大吉</string>
		<key>number</key>
		<string>ina2982751</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/777A5147-81C8-9D68-3C23-9502140A87C5.jpg</string>
		<key>series_id</key>
		<string>13433</string>
		<key>series_name</key>
		<string>哈咪猫贺岁</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/1C1553CF-E300-FAE4-027E-1F2A002245AF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/21/1C1553CF-E300-FAE4-027E-1F2A002245AF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Hamicat哈咪猫</string>
			<key>number</key>
			<string>ina2982751</string>
			<key>user_id</key>
			<string>32818370</string>
		</dict>
		<key>user_id</key>
		<string>32818370</string>
	</dict>
</array>
</plist>
