<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>325</string>
		<key>id</key>
		<string>20009711</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>325</string>
		<key>name</key>
		<string>真开心</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/3754DE41-6D48-348F-0B06-9BCE093CF282.jpg?v=2</string>
		<key>series_id</key>
		<string>2659</string>
		<key>series_name</key>
		<string>多多酱表情系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2EBD7307-8C41-30AD-252A-289A34274A17.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/24/2EBD7307-8C41-30AD-252A-289A34274A17.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>1383</string>
		<key>id</key>
		<string>20022287</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1383</string>
		<key>name</key>
		<string>帅呆了</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/DA6BC8C9-4BE7-AB10-BA43-8E8F672DD4EE.jpg</string>
		<key>series_id</key>
		<string>5987</string>
		<key>series_name</key>
		<string>微光男女系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/FF2C916A-E98F-368D-617C-5B31C1C0AAFD.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/FF2C916A-E98F-368D-617C-5B31C1C0AAFD.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1371</string>
		<key>id</key>
		<string>20024125</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1371</string>
		<key>name</key>
		<string>甩葱舞</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/321D7E97-E468-F815-F8A4-A90D368667D9.jpg</string>
		<key>series_id</key>
		<string>6445</string>
		<key>series_name</key>
		<string>我和我的小伙伴2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/0580A6E9-4EB1-2976-D7B4-C7718D276B3E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/29/0580A6E9-4EB1-2976-D7B4-C7718D276B3E.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>2887</string>
		<key>id</key>
		<string>20013021</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2265</string>
		<key>name</key>
		<string>亲亲宝贝</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/15D6A81A-DF11-3652-4948-41D395009D76.jpg</string>
		<key>series_id</key>
		<string>3533</string>
		<key>series_name</key>
		<string>偷偷吻你</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/87230BF9-BC97-2D48-3DC4-59AE4A674FE3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/04/87230BF9-BC97-2D48-3DC4-59AE4A674FE3.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>逗比Chen</string>
		<key>cate_id</key>
		<string>442</string>
		<key>id</key>
		<string>20010017</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>442</string>
		<key>name</key>
		<string>小小吉美美哒</string>
		<key>number</key>
		<string>ChenEr0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/5CE4A3FC-3F19-35BB-811E-4B8A2450C850.jpg?v=2</string>
		<key>series_id</key>
		<string>2735</string>
		<key>series_name</key>
		<string>小小吉的小灿灿2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/858C3EB0-EB0A-B298-0B39-7719A3A113BE.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/04/29/858C3EB0-EB0A-B298-0B39-7719A3A113BE.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>逗比Chen</string>
			<key>number</key>
			<string>ChenEr0216</string>
			<key>user_id</key>
			<string>32665392</string>
		</dict>
		<key>user_id</key>
		<string>32665392</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>971</string>
		<key>id</key>
		<string>20013855</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>971</string>
		<key>name</key>
		<string>李恩菲</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/94331F57-F8CA-C5BA-05F0-EC6A2222164C.jpg</string>
		<key>series_id</key>
		<string>3773</string>
		<key>series_name</key>
		<string>学校2015-2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/66555073-9F70-9F9E-9E23-8AAF7EAAA423.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/06/09/66555073-9F70-9F9E-9E23-8AAF7EAAA423.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
	<dict>
		<key>author</key>
		<string>少女涼</string>
		<key>cate_id</key>
		<string>306</string>
		<key>id</key>
		<string>20022237</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>306</string>
		<key>name</key>
		<string>萌萌哒</string>
		<key>number</key>
		<string>APTX7869</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/EF2B7A5A-11B4-63DF-AD5B-26BD48B96A65.jpg</string>
		<key>series_id</key>
		<string>5975</string>
		<key>series_name</key>
		<string>你看我萌吗？</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/5E4FCE4C-01BE-FFC2-057B-3F30DB044744.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/5E4FCE4C-01BE-FFC2-057B-3F30DB044744.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>少女涼</string>
			<key>number</key>
			<string>APTX7869</string>
			<key>user_id</key>
			<string>31876565</string>
		</dict>
		<key>user_id</key>
		<string>31876565</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小么君</string>
		<key>cate_id</key>
		<string>341</string>
		<key>id</key>
		<string>20006615</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>341</string>
		<key>name</key>
		<string>小么君</string>
		<key>number</key>
		<string>memeisme</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/CD5194A8-AFAC-4B38-3D7C-6D61E0A1CF80.jpg?v=2</string>
		<key>series_id</key>
		<string>1785</string>
		<key>series_name</key>
		<string>白色情人节</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/34219B07-EF1A-833E-1F7D-B138F7B7C094.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/13/34219B07-EF1A-833E-1F7D-B138F7B7C094.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小么君</string>
			<key>number</key>
			<string>memeisme</string>
			<key>user_id</key>
			<string>43144571</string>
		</dict>
		<key>user_id</key>
		<string>43144571</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小熊奶黄包</string>
		<key>cate_id</key>
		<string>1319</string>
		<key>id</key>
		<string>20022035</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1319</string>
		<key>name</key>
		<string>么么哒</string>
		<key>number</key>
		<string>HD19930821</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/508A7D5F-A204-8E36-1B0A-E4F8CC51A555.jpg</string>
		<key>series_id</key>
		<string>5923</string>
		<key>series_name</key>
		<string>胡巴胡巴！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/5BB8C5FB-EE54-A558-5B2A-5F21DF5D833A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/16/5BB8C5FB-EE54-A558-5B2A-5F21DF5D833A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小熊奶黄包</string>
			<key>number</key>
			<string>HD19930821</string>
			<key>user_id</key>
			<string>35021528</string>
		</dict>
		<key>user_id</key>
		<string>35021528</string>
	</dict>
</array>
</plist>
