<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051371</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>新年好</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/650DFFDF-8BAE-BD76-27DB-4F62D8E2C264.jpg</string>
		<key>series_id</key>
		<string>13249</string>
		<key>series_name</key>
		<string>春节拜年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/7E3D9758-CFDA-4460-11BC-F13D1DC31D6D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/7E3D9758-CFDA-4460-11BC-F13D1DC31D6D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051369</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>拜年啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/51CE0395-64B3-3551-1D62-13DBC985174D.jpg</string>
		<key>series_id</key>
		<string>13249</string>
		<key>series_name</key>
		<string>春节拜年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/8543973E-9D07-3BDD-3C21-DFFABBB73C3C.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/8543973E-9D07-3BDD-3C21-DFFABBB73C3C.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051367</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>报平安</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/4CF67EA2-4391-BB00-5537-386B714DA61C.jpg</string>
		<key>series_id</key>
		<string>13247</string>
		<key>series_name</key>
		<string>春节回家</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/47F46C60-8C4F-DDF1-4200-6184563ABA76.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/47F46C60-8C4F-DDF1-4200-6184563ABA76.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051365</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>鸡年大吉</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/031E23C2-1B0C-10BB-F2DE-068F46E7AB0C.jpg</string>
		<key>series_id</key>
		<string>13247</string>
		<key>series_name</key>
		<string>春节回家</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/924A0F97-9CB5-B035-9567-CED543F14242.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/924A0F97-9CB5-B035-9567-CED543F14242.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051363</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>回家过年</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/A1C2690C-A5EF-5D77-8107-FFAE2D299316.jpg</string>
		<key>series_id</key>
		<string>13247</string>
		<key>series_name</key>
		<string>春节回家</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/42F6BDAA-C072-7402-96F7-19F2FED0BC3D.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/42F6BDAA-C072-7402-96F7-19F2FED0BC3D.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051361</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>归心似箭</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/39A3AF95-F6B3-CB09-2B71-80EADF978C99.jpg</string>
		<key>series_id</key>
		<string>13247</string>
		<key>series_name</key>
		<string>春节回家</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/E3B112A1-654D-9A4A-B5F8-41B7126C3422.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/E3B112A1-654D-9A4A-B5F8-41B7126C3422.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
</array>
</plist>
