<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051391</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>守岁</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/6F253C47-75C2-2661-2850-FF7976E4901F.jpg</string>
		<key>series_id</key>
		<string>13253</string>
		<key>series_name</key>
		<string>新年食物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/6B589EEF-92EF-7F01-9C65-B861F6334B52.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/6B589EEF-92EF-7F01-9C65-B861F6334B52.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051389</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>团团圆圆</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/59A116AC-89B3-0165-8D56-78309455BE5E.jpg</string>
		<key>series_id</key>
		<string>13253</string>
		<key>series_name</key>
		<string>新年食物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/FB91F9AD-B0E5-7183-0D9A-23883EAD2EB5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/FB91F9AD-B0E5-7183-0D9A-23883EAD2EB5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051387</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>饺好运</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/9DF44B39-EEE2-8CB4-ADB4-4F39770ED36E.jpg</string>
		<key>series_id</key>
		<string>13253</string>
		<key>series_name</key>
		<string>新年食物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/D699D98F-5BC6-7850-7ECF-9329801778C5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/D699D98F-5BC6-7850-7ECF-9329801778C5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051385</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蒸蒸日上</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/C3414F48-7A72-F788-3A2A-9D6857671E4D.jpg</string>
		<key>series_id</key>
		<string>13253</string>
		<key>series_name</key>
		<string>新年食物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/6A4219E0-E582-7288-E74A-480DFC6D6256.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/6A4219E0-E582-7288-E74A-480DFC6D6256.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051383</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>17加油</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/68782956-4F48-DDA8-A0DB-166FC4C2015A.jpg</string>
		<key>series_id</key>
		<string>13251</string>
		<key>series_name</key>
		<string>17加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/4B42D633-7D95-D44D-E7A9-790309A121B0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/4B42D633-7D95-D44D-E7A9-790309A121B0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051381</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>17快乐</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/6AAB3555-9184-37FE-006B-43E869923AD8.jpg</string>
		<key>series_id</key>
		<string>13251</string>
		<key>series_name</key>
		<string>17加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/CA568479-777D-7E0E-A783-1A025AA59F91.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/CA568479-777D-7E0E-A783-1A025AA59F91.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051377</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>亿万两</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/CEE0A51B-9235-36F4-6ACF-27569127DF8C.jpg</string>
		<key>series_id</key>
		<string>13251</string>
		<key>series_name</key>
		<string>17加油</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/D59D8AF2-4393-436F-F3CC-9CC07F2E50D8.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/D59D8AF2-4393-436F-F3CC-9CC07F2E50D8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051375</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>招财进宝</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/1616082E-C284-E001-C192-2294D9AD0058.jpg</string>
		<key>series_id</key>
		<string>13249</string>
		<key>series_name</key>
		<string>春节拜年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/3BC65DAE-0633-6D15-BAB7-9A5733644E2B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/12/3BC65DAE-0633-6D15-BAB7-9A5733644E2B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
	<dict>
		<key>author</key>
		<string>casapr</string>
		<key>cate_id</key>
		<string>3430</string>
		<key>id</key>
		<string>20051373</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>福到啦</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/901128C6-5C92-2FFD-8C92-BEF572864C51.jpg</string>
		<key>series_id</key>
		<string>13249</string>
		<key>series_name</key>
		<string>春节拜年</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/357B9036-A21D-15EF-6D01-49BC2AAB19AE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/12/357B9036-A21D-15EF-6D01-49BC2AAB19AE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>动漫人岑伟</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>110721103</string>
		</dict>
		<key>user_id</key>
		<string>110721103</string>
	</dict>
</array>
</plist>
