<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2807</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>wuba</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/A86511F4-0B0E-6E14-AD70-DC330A98D81D.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/69A48147-DFA7-EF8A-B207-67DEE391E787.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/17/69A48147-DFA7-EF8A-B207-67DEE391E787.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--洋葱头</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/B2F1AD78-5C4D-F24F-7136-7F25649DC792.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/3C074D56-1751-E3F3-23EF-CF1A753E8927.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/3C074D56-1751-E3F3-23EF-CF1A753E8927.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2741</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--胖莹</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/29C70DB2-B55E-861B-37A7-CB412AB4E03E.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/8E2A4D64-F27A-D270-6BB0-6CF20B96D8FC.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/8E2A4D64-F27A-D270-6BB0-6CF20B96D8FC.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2739</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--伤心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/C8A2F94C-5AB7-2360-E561-D6A9BBA1AC1B.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/82AB2DCA-B59C-78AD-8BAA-61185D479FE0.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/82AB2DCA-B59C-78AD-8BAA-61185D479FE0.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2737</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--撅嘴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/F6FDA461-14C2-B957-994B-0B688B595A36.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/A0B53A06-6786-7B82-CF9D-0BA776379110.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/A0B53A06-6786-7B82-CF9D-0BA776379110.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2733</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--胡巴嗨</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/28B294A3-971F-EF4B-61BC-F8C4AD6269D8.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/E331524A-6D3E-3367-4A85-2BC0C39E5244.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/E331524A-6D3E-3367-4A85-2BC0C39E5244.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2731</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--蛋蛋</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/8D3B06F8-01BE-0992-E576-A27099758F53.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/993035B9-3BC6-F85F-C411-75D4166F2008.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/993035B9-3BC6-F85F-C411-75D4166F2008.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2729</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--王后</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/09D75ECA-0790-8743-CB81-C01006A46357.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/57D97C15-7138-245D-9791-CFC588D0B3C3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/15/57D97C15-7138-245D-9791-CFC588D0B3C3.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>1941</string>
		<key>id</key>
		<string>2727</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1941</string>
		<key>name</key>
		<string>捉妖记--疑问</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/41066428-3BA5-43E3-27BE-16382400A2DC.jpg</string>
		<key>series_id</key>
		<string>1941</string>
		<key>series_name</key>
		<string>捉妖记胡巴</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/EFA99FE3-4DE0-7719-4FBA-E843325F525E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/15/EFA99FE3-4DE0-7719-4FBA-E843325F525E.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
