<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>o西歪歪o</string>
		<key>cate_id</key>
		<string>591</string>
		<key>id</key>
		<string>20008353</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>591</string>
		<key>name</key>
		<string>小红~</string>
		<key>number</key>
		<string>cyy0216</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/B89BAD02-FC97-008A-0579-9D33F4ED16BC.jpg?v=2</string>
		<key>series_id</key>
		<string>2229</string>
		<key>series_name</key>
		<string>我是萌萌小学生！</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/3A33093F-445A-352B-B609-696F97849DE9.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/02/3A33093F-445A-352B-B609-696F97849DE9.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>o西歪歪o</string>
			<key>number</key>
			<string>cyy0216</string>
			<key>user_id</key>
			<string>36114053</string>
		</dict>
		<key>user_id</key>
		<string>36114053</string>
	</dict>
	<dict>
		<key>author</key>
		<string>娇气姐姐</string>
		<key>cate_id</key>
		<string>213</string>
		<key>id</key>
		<string>20003138</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>213</string>
		<key>name</key>
		<string>花冠</string>
		<key>number</key>
		<string>jiaoqijiejie</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/01/27/DF2DFCA4-0A04-337E-B23E-80E17FAEEDEB.jpg?v=2</string>
		<key>series_id</key>
		<string>906</string>
		<key>series_name</key>
		<string>樱花小精灵</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/01/27/568521A2-6685-A4D1-B192-A8AB09ACDF14.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/01/27/568521A2-6685-A4D1-B192-A8AB09ACDF14.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>娇气姐姐</string>
			<key>number</key>
			<string>jiaoqijiejie</string>
			<key>user_id</key>
			<string>16332455</string>
		</dict>
		<key>user_id</key>
		<string>16332455</string>
	</dict>
	<dict>
		<key>author</key>
		<string>痴汉王小全</string>
		<key>cate_id</key>
		<string>241</string>
		<key>id</key>
		<string>20015245</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>241</string>
		<key>name</key>
		<string>花环</string>
		<key>number</key>
		<string>ino536640</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/3E782BC4-9A0E-6052-A324-5072CB42BF02.jpg</string>
		<key>series_id</key>
		<string>4143</string>
		<key>series_name</key>
		<string>萌萌哒装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/DC61D27F-24EE-B439-82B3-8173E5E7F4F8.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/02/DC61D27F-24EE-B439-82B3-8173E5E7F4F8.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>痴汉王小全</string>
			<key>number</key>
			<string>ino536640</string>
			<key>user_id</key>
			<string>69341275</string>
		</dict>
		<key>user_id</key>
		<string>69341275</string>
	</dict>
	<dict>
		<key>author</key>
		<string>晕孙</string>
		<key>cate_id</key>
		<string>1823</string>
		<key>id</key>
		<string>20010527</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1823</string>
		<key>name</key>
		<string>piupiu</string>
		<key>number</key>
		<string>ina3164020</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/88875B0E-C1A1-AFA2-92AA-E04577DD1371.jpg?v=2</string>
		<key>series_id</key>
		<string>2865</string>
		<key>series_name</key>
		<string>小丁点</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/AE05E999-A9D6-BEC1-B387-860007C78DB2.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/05/06/AE05E999-A9D6-BEC1-B387-860007C78DB2.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>妮家小店</string>
			<key>number</key>
			<string>ina3164020</string>
			<key>user_id</key>
			<string>34554184</string>
		</dict>
		<key>user_id</key>
		<string>34554184</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>1291</string>
		<key>id</key>
		<string>20011691</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1291</string>
		<key>name</key>
		<string>鱼鱼</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/7F553A75-BF61-7E61-3086-F6ED9CFCACE7.jpg</string>
		<key>series_id</key>
		<string>3159</string>
		<key>series_name</key>
		<string>想吃系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/78839DBE-D27B-92AC-1785-77F43CE0FFFB.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/05/22/78839DBE-D27B-92AC-1785-77F43CE0FFFB.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小C</string>
		<key>cate_id</key>
		<string>637</string>
		<key>id</key>
		<string>20006909</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>623</string>
		<key>name</key>
		<string>晴天娃娃</string>
		<key>number</key>
		<string>inb3014077</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/361CC7FA-EE33-B7FA-04B2-4DC381637C07.jpg?v=2</string>
		<key>series_id</key>
		<string>1861</string>
		<key>series_name</key>
		<string>小装饰系列-小C</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/7C346092-1143-0674-9831-110A209409B3.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/18/7C346092-1143-0674-9831-110A209409B3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>Sissi_小西</string>
			<key>number</key>
			<string>inb3014077</string>
			<key>user_id</key>
			<string>33092651</string>
		</dict>
		<key>user_id</key>
		<string>33092651</string>
	</dict>
	<dict>
		<key>author</key>
		<string>多多酱万岁</string>
		<key>cate_id</key>
		<string>261</string>
		<key>id</key>
		<string>20010231</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>261</string>
		<key>name</key>
		<string>蝴蝶结</string>
		<key>number</key>
		<string>duoduojws</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/04/30/8FB6CBD0-7226-CF74-5DED-A3ECFD9C0FA8.jpg?v=2</string>
		<key>series_id</key>
		<string>2789</string>
		<key>series_name</key>
		<string>可爱小装饰</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/04/30/6330C247-4BD6-8FFE-CD4C-5C899D2638AA.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/04/30/6330C247-4BD6-8FFE-CD4C-5C899D2638AA.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>蚯蚓姑娘</string>
			<key>number</key>
			<string>duoduojws</string>
			<key>user_id</key>
			<string>37800638</string>
		</dict>
		<key>user_id</key>
		<string>37800638</string>
	</dict>
	<dict>
		<key>author</key>
		<string>一珺Anita</string>
		<key>cate_id</key>
		<string>831</string>
		<key>id</key>
		<string>20005856</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>831</string>
		<key>name</key>
		<string>小猪口罩</string>
		<key>number</key>
		<string>ing3215560</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/EDDD1DEB-8FB1-C7F7-FC13-E20B515C3008.jpg?v=2</string>
		<key>series_id</key>
		<string>1596</string>
		<key>series_name</key>
		<string>雾霾记得戴口罩哦</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/4E5219F6-4532-9DB1-E0E5-689410E849EE.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/4E5219F6-4532-9DB1-E0E5-689410E849EE.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>一珺Anita</string>
			<key>number</key>
			<string>ing3215560</string>
			<key>user_id</key>
			<string>35067850</string>
		</dict>
		<key>user_id</key>
		<string>35067850</string>
	</dict>
	<dict>
		<key>author</key>
		<string>巴黎欧莱雅</string>
		<key>cate_id</key>
		<string>2027</string>
		<key>id</key>
		<string>14506</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>2027</string>
		<key>name</key>
		<string>头顶老虎草-耳朵</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/10/14/2562CCBA-E33F-6DC2-4766-2EBD678CDE60.jpg</string>
		<key>series_id</key>
		<string>2027</string>
		<key>series_name</key>
		<string>头顶老虎草</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/10/14/0DFB71A3-4F26-EE98-7BCB-49412CB47C15.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/10/14/0DFB71A3-4F26-EE98-7BCB-49412CB47C15.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
