<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundFrame</key>
	<string>{{0, 0}, {800, 600}}</string>
	<key>CompatibleVersion</key>
	<array>
		<string>1</string>
		<string>2</string>
	</array>
	<key>Masks</key>
	<dict>
		<key>part</key>
		<array>
			<dict>
				<key>Root</key>
				<string>part</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>index</key>
				<string>0</string>
				<key>path</key>
				<dict>
					<key>Root</key>
					<string>path</string>
					<key>__text</key>
					<array>
						<string>
            </string>
						<string>
        </string>
					</array>
					<key>rect</key>
					<dict>
						<key>Root</key>
						<string>rect</string>
						<key>height</key>
						<string>254</string>
						<key>width</key>
						<string>374</string>
						<key>x</key>
						<string>36</string>
						<key>y</key>
						<string>213</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>part</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>index</key>
				<string>1</string>
				<key>path</key>
				<dict>
					<key>Root</key>
					<string>path</string>
					<key>__text</key>
					<array>
						<string>
            </string>
						<string>
        </string>
					</array>
					<key>rect</key>
					<dict>
						<key>Root</key>
						<string>rect</string>
						<key>height</key>
						<string>550</string>
						<key>width</key>
						<string>380</string>
						<key>x</key>
						<string>423</string>
						<key>y</key>
						<string>53</string>
					</dict>
					<key>shape</key>
					<string>rectangle</string>
				</dict>
				<key>zIndex</key>
				<string>1</string>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>PITU PHOTO</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>24</string>
					<key>width</key>
					<string>192</string>
					<key>x</key>
					<string>36</string>
					<key>y</key>
					<string>554</string>
				</dict>
				<key>id</key>
				<string>txt_APB</string>
				<key>maxSize</key>
				<string>16</string>
				<key>minSize</key>
				<string>10</string>
				<key>size</key>
				<string>16</string>
				<key>zIndex</key>
				<string>6</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>2016</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>format</key>
				<string>yyyy</string>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>40</string>
					<key>width</key>
					<string>192</string>
					<key>x</key>
					<string>36</string>
					<key>y</key>
					<string>119</string>
				</dict>
				<key>id</key>
				<string>txt_CNF</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>30</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>30</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>15</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>format</key>
				<string>dd</string>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>40</string>
					<key>width</key>
					<string>192</string>
					<key>x</key>
					<string>36</string>
					<key>y</key>
					<string>84</string>
				</dict>
				<key>id</key>
				<string>txt_PJR</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>30</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>30</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>4</string>
			</dict>
			<dict>
				<key>Root</key>
				<string>text</string>
				<key>__text</key>
				<array>
					<string>
        </string>
					<string>
        </string>
					<string>
        </string>
					<string>
    </string>
				</array>
				<key>align</key>
				<string>left</string>
				<key>clickType</key>
				<string>text</string>
				<key>color</key>
				<dict>
					<key>Root</key>
					<string>color</string>
					<key>alpha</key>
					<string>255</string>
					<key>blue</key>
					<string>51</string>
					<key>green</key>
					<string>51</string>
					<key>red</key>
					<string>51</string>
				</dict>
				<key>defaultValue</key>
				<string>August</string>
				<key>font</key>
				<dict>
					<key>Root</key>
					<string>font</string>
					<key>name</key>
					<string>Futura-CondensedMedium</string>
				</dict>
				<key>format</key>
				<string>MMMM</string>
				<key>frame</key>
				<dict>
					<key>Root</key>
					<string>frame</string>
					<key>height</key>
					<string>40</string>
					<key>width</key>
					<string>192</string>
					<key>x</key>
					<string>36</string>
					<key>y</key>
					<string>45</string>
				</dict>
				<key>id</key>
				<string>txt_OSM</string>
				<key>locale</key>
				<string>US</string>
				<key>maxSize</key>
				<string>30</string>
				<key>minSize</key>
				<string>20</string>
				<key>size</key>
				<string>30</string>
				<key>value</key>
				<string>$(exifDate)</string>
				<key>zIndex</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>2</string>
</dict>
</plist>
