<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>躲在怀里的猫</string>
		<key>cate_id</key>
		<string>1363</string>
		<key>id</key>
		<string>20022946</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1363</string>
		<key>name</key>
		<string>演员梦</string>
		<key>number</key>
		<string>int616068</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/AB24EFF7-50F1-FE27-E2DF-6BB0B979CF9C.jpg</string>
		<key>series_id</key>
		<string>6150</string>
		<key>series_name</key>
		<string>梦想演员</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/A6A096E4-0061-FC6D-CE54-29EBFCD22E58.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/A6A096E4-0061-FC6D-CE54-29EBFCD22E58.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>躲在怀里的猫绘本集</string>
			<key>number</key>
			<string>int616068</string>
			<key>user_id</key>
			<string>70119143</string>
		</dict>
		<key>user_id</key>
		<string>70119143</string>
	</dict>
	<dict>
		<key>author</key>
		<string>躲在怀里的猫</string>
		<key>cate_id</key>
		<string>1363</string>
		<key>id</key>
		<string>20022944</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1363</string>
		<key>name</key>
		<string>演员梦</string>
		<key>number</key>
		<string>int616068</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/D1298409-6949-4704-FEA3-7EA3957DFCC4.jpg</string>
		<key>series_id</key>
		<string>6150</string>
		<key>series_name</key>
		<string>梦想演员</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/35969707-7A53-BAFF-0FFE-EE782B492E91.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2015/07/22/35969707-7A53-BAFF-0FFE-EE782B492E91.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>躲在怀里的猫绘本集</string>
			<key>number</key>
			<string>int616068</string>
			<key>user_id</key>
			<string>70119143</string>
		</dict>
		<key>user_id</key>
		<string>70119143</string>
	</dict>
	<dict>
		<key>author</key>
		<string>躲在怀里的猫</string>
		<key>cate_id</key>
		<string>1363</string>
		<key>id</key>
		<string>20022942</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>1363</string>
		<key>name</key>
		<string>演员梦</string>
		<key>number</key>
		<string>int616068</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/0C909297-6FA2-5AC7-FD0E-D48AE616E375.jpg</string>
		<key>series_id</key>
		<string>6150</string>
		<key>series_name</key>
		<string>梦想演员</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/78801DFF-348B-64C6-1769-D2CB75D79A00.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2015/07/22/78801DFF-348B-64C6-1769-D2CB75D79A00.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>躲在怀里的猫绘本集</string>
			<key>number</key>
			<string>int616068</string>
			<key>user_id</key>
			<string>70119143</string>
		</dict>
		<key>user_id</key>
		<string>70119143</string>
	</dict>
</array>
</plist>
