<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>窝仔</string>
		<key>cate_id</key>
		<string>2707</string>
		<key>id</key>
		<string>20040455</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小心心</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/3FFDA608-82C4-EBEC-609C-4C0475EA23B4.jpg</string>
		<key>series_id</key>
		<string>10517</string>
		<key>series_name</key>
		<string>小鲸鱼迎夏日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/CD578A60-C479-B7F5-A89D-014EDCDF5AF5.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/CD578A60-C479-B7F5-A89D-014EDCDF5AF5.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>窝好萌喔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>70627122</string>
		</dict>
		<key>user_id</key>
		<string>70627122</string>
	</dict>
	<dict>
		<key>author</key>
		<string>窝仔</string>
		<key>cate_id</key>
		<string>2707</string>
		<key>id</key>
		<string>20040451</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小白鲸</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/8DE48919-E2BD-7490-B136-EF22B388D719.jpg</string>
		<key>series_id</key>
		<string>10517</string>
		<key>series_name</key>
		<string>小鲸鱼迎夏日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/3DFF83CB-BB92-CB02-B1EE-E1FD48E15431.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/08/3DFF83CB-BB92-CB02-B1EE-E1FD48E15431.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>窝好萌喔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>70627122</string>
		</dict>
		<key>user_id</key>
		<string>70627122</string>
	</dict>
	<dict>
		<key>author</key>
		<string>窝仔</string>
		<key>cate_id</key>
		<string>2707</string>
		<key>id</key>
		<string>20040449</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小圆鲸</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/3EC2DA7D-0F1F-F82C-610F-78561F072B5A.jpg</string>
		<key>series_id</key>
		<string>10517</string>
		<key>series_name</key>
		<string>小鲸鱼迎夏日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/F7715087-5313-ACCB-C548-77D83647F563.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/F7715087-5313-ACCB-C548-77D83647F563.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>窝好萌喔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>70627122</string>
		</dict>
		<key>user_id</key>
		<string>70627122</string>
	</dict>
	<dict>
		<key>author</key>
		<string>窝仔</string>
		<key>cate_id</key>
		<string>2707</string>
		<key>id</key>
		<string>20040453</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>小蓝鲸</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/EEEB52AE-B3BF-C22D-4C34-017EA41ABD97.jpg</string>
		<key>series_id</key>
		<string>10517</string>
		<key>series_name</key>
		<string>小鲸鱼迎夏日</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/B17474EE-9E1F-D43D-CD56-63FE8D6A9BA0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/08/B17474EE-9E1F-D43D-CD56-63FE8D6A9BA0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>窝好萌喔</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>70627122</string>
		</dict>
		<key>user_id</key>
		<string>70627122</string>
	</dict>
</array>
</plist>
