<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>愚人节系列1</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/FEA0771A-4577-119C-1FC5-3FF4C0C70532.jpg?v=2</string>
		<key>series_id</key>
		<string>2083</string>
		<key>series_name</key>
		<string>梦梦愚人节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/473CD369-0F0B-42D1-9A3D-3129E8840DE2.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/473CD369-0F0B-42D1-9A3D-3129E8840DE2.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20005836</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>fighting</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/0F720B05-2016-0AB7-921F-196D7F71A849.jpg?v=2</string>
		<key>series_id</key>
		<string>1590</string>
		<key>series_name</key>
		<string>梦梦给力系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/B56C417A-DD8E-9211-29A8-94B1F5340D1F.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/B56C417A-DD8E-9211-29A8-94B1F5340D1F.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20005834</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>加油</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/E7B002F8-F740-F7D5-3AC8-7676A6C516C3.jpg?v=2</string>
		<key>series_id</key>
		<string>1590</string>
		<key>series_name</key>
		<string>梦梦给力系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/39625B6E-611D-75C5-E2C6-5CD75234F68E.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/03/06/39625B6E-611D-75C5-E2C6-5CD75234F68E.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007441</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>晚安03</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/22/7A39E7E5-6903-505E-324C-9D6CF91BE5F5.jpg?v=2</string>
		<key>series_id</key>
		<string>1993</string>
		<key>series_name</key>
		<string>梦梦晚安系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/22/F2580B4F-B305-D435-85FE-F60696DCFA97.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/22/F2580B4F-B305-D435-85FE-F60696DCFA97.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20005830</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>棒棒哒</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/1E5AD44F-9538-091F-B75F-4B6FD64DC408.jpg?v=2</string>
		<key>series_id</key>
		<string>1590</string>
		<key>series_name</key>
		<string>梦梦给力系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/66AE6124-1EBC-6EB7-570F-EAB084845A64.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/03/06/66AE6124-1EBC-6EB7-570F-EAB084845A64.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20005832</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>努力</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/205C367A-4F37-A3A6-1367-7865D4782C5E.jpg?v=2</string>
		<key>series_id</key>
		<string>1590</string>
		<key>series_name</key>
		<string>梦梦给力系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/0E03E825-3832-29C0-ECFD-6D26EAD6E16B.png?v=2</string>
		<key>url</key>
		<string>http://wd3.jiuyan.info/2015/03/06/0E03E825-3832-29C0-ECFD-6D26EAD6E16B.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007437</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>晚安</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/22/23F4E6E1-CBF7-90E1-E7F8-215F3ED75C83.jpg?v=2</string>
		<key>series_id</key>
		<string>1993</string>
		<key>series_name</key>
		<string>梦梦晚安系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/22/D876BC76-3EDC-5893-129B-89EED10D0072.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/22/D876BC76-3EDC-5893-129B-89EED10D0072.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20018897</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>梦梦系列03</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/9C85779C-C3F6-AAAF-20D8-131D06227C7F.jpg</string>
		<key>series_id</key>
		<string>5127</string>
		<key>series_name</key>
		<string>梦梦系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/D0ABE09F-6DCA-E0E4-A95F-DA02A23C4F55.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/D0ABE09F-6DCA-E0E4-A95F-DA02A23C4F55.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20018895</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>梦梦系列02</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/5B72CB9A-8DBE-B502-EA3B-0CF8739A1F90.jpg</string>
		<key>series_id</key>
		<string>5127</string>
		<key>series_name</key>
		<string>梦梦系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/CC9C3579-645B-F143-6122-2F636C8898FF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/CC9C3579-645B-F143-6122-2F636C8898FF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
</array>
</plist>
