<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20028009</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>教师节,教师节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>Mr.老师</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/BDD3319D-C195-B78E-ECF0-C0673A77C13F.jpg</string>
		<key>series_id</key>
		<string>7413</string>
		<key>series_name</key>
		<string>Mr.老师</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/186A0215-472E-0C14-0585-9E6325FF9E18.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/186A0215-472E-0C14-0585-9E6325FF9E18.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20028007</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>教师节,教师节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>Mr.老师</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/8A13B98D-ABCD-1743-2BFB-EE47D4EAFB73.jpg</string>
		<key>series_id</key>
		<string>7413</string>
		<key>series_name</key>
		<string>Mr.老师</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/9FE2D50E-17D3-7A87-6709-A97950703C37.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/9FE2D50E-17D3-7A87-6709-A97950703C37.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20028005</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>教师节,教师节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>Mr.老师</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/D8DE675F-FB42-CE74-DC74-6C739A83CB04.jpg</string>
		<key>series_id</key>
		<string>7413</string>
		<key>series_name</key>
		<string>Mr.老师</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/9BCED425-9349-5A2F-02E0-4CD2FFB29600.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/03/9BCED425-9349-5A2F-02E0-4CD2FFB29600.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20028003</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>教师节,教师节快乐</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>Mr.老师</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/847798A8-619D-B7CE-8CA1-F5FA7BD60448.jpg</string>
		<key>series_id</key>
		<string>7413</string>
		<key>series_name</key>
		<string>Mr.老师</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/C35B85EB-5017-766C-71DC-6101B27301AF.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/03/C35B85EB-5017-766C-71DC-6101B27301AF.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20018899</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>梦梦系列04</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/44167886-5FC1-1998-6DE2-33AF5E0F9F21.jpg</string>
		<key>series_id</key>
		<string>5127</string>
		<key>series_name</key>
		<string>梦梦系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/439793DE-DF20-B9B0-74D7-4F9BD1E4226F.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/07/03/439793DE-DF20-B9B0-74D7-4F9BD1E4226F.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20018893</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>梦梦系列01</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/326A1788-1BAB-E38E-8880-B985EA6A2DA4.jpg</string>
		<key>series_id</key>
		<string>5127</string>
		<key>series_name</key>
		<string>梦梦系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/1F574A9B-7752-8C3A-0B13-EAB11CCB7CC7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/03/1F574A9B-7752-8C3A-0B13-EAB11CCB7CC7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007803</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>愚人节系列4</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/5FCDEB55-BD74-3796-7338-73F583DFF987.jpg?v=2</string>
		<key>series_id</key>
		<string>2083</string>
		<key>series_name</key>
		<string>梦梦愚人节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/8105291D-D775-9E1B-0982-A40632AC5EA3.png?v=2</string>
		<key>url</key>
		<string>http://wd6.jiuyan.info/2015/03/27/8105291D-D775-9E1B-0982-A40632AC5EA3.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007801</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>愚人节系列3</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/ED66BF88-B49C-4F21-E972-BB6E9BE51569.jpg?v=2</string>
		<key>series_id</key>
		<string>2083</string>
		<key>series_name</key>
		<string>梦梦愚人节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/3ADB7FD3-D9CB-1F8E-B6E7-3A6E022EDE8C.png?v=2</string>
		<key>url</key>
		<string>http://wd4.jiuyan.info/2015/03/27/3ADB7FD3-D9CB-1F8E-B6E7-3A6E022EDE8C.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
	<dict>
		<key>author</key>
		<string>梦梦</string>
		<key>cate_id</key>
		<string>478</string>
		<key>id</key>
		<string>20007799</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>478</string>
		<key>name</key>
		<string>愚人节系列2</string>
		<key>number</key>
		<string>indreamm</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/D3BF81A6-C2FF-5D1D-CEE1-6932C121560B.jpg?v=2</string>
		<key>series_id</key>
		<string>2083</string>
		<key>series_name</key>
		<string>梦梦愚人节系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/386FE6A8-68E7-8A1E-6DFF-D38C9AD6664D.png?v=2</string>
		<key>url</key>
		<string>http://wd2.jiuyan.info/2015/03/27/386FE6A8-68E7-8A1E-6DFF-D38C9AD6664D.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>梦梦努力加油</string>
			<key>number</key>
			<string>indreamm</string>
			<key>user_id</key>
			<string>41266591</string>
		</dict>
		<key>user_id</key>
		<string>41266591</string>
	</dict>
</array>
</plist>
