<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3340</string>
		<key>id</key>
		<string>20050519</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞萌宠@礼物</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/6EDF4760-2D51-0AAC-4E40-459F4AC2CE70.jpg</string>
		<key>series_id</key>
		<string>13035</string>
		<key>series_name</key>
		<string>圣诞萌宠@礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/54F3DBB1-79C6-414B-90E7-44E4FF7268AE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/54F3DBB1-79C6-414B-90E7-44E4FF7268AE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3340</string>
		<key>id</key>
		<string>20050517</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞萌宠@礼物</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/A4632B51-5AC6-15A6-9835-858545C95ACE.jpg</string>
		<key>series_id</key>
		<string>13035</string>
		<key>series_name</key>
		<string>圣诞萌宠@礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/BAACB3EE-24B4-9146-7133-9B19D6C242D6.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/BAACB3EE-24B4-9146-7133-9B19D6C242D6.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3340</string>
		<key>id</key>
		<string>20050515</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞萌宠@礼物</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/D1C28592-2BA0-D7EC-534C-73387AA870BF.jpg</string>
		<key>series_id</key>
		<string>13035</string>
		<key>series_name</key>
		<string>圣诞萌宠@礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/43691E00-49F5-F639-577B-6C8F61102393.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/12/22/43691E00-49F5-F639-577B-6C8F61102393.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
	<dict>
		<key>author</key>
		<string>寻梅</string>
		<key>cate_id</key>
		<string>3340</string>
		<key>id</key>
		<string>20050513</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>圣诞萌宠@礼物</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/F1553E8B-29FE-5173-7744-97F3917F09B8.jpg</string>
		<key>series_id</key>
		<string>13035</string>
		<key>series_name</key>
		<string>圣诞萌宠@礼物</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/F53F6DDE-0CEB-E3AB-8AF6-FDD71413BD9B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/12/22/F53F6DDE-0CEB-E3AB-8AF6-FDD71413BD9B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>寻梅</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>73255429</string>
		</dict>
		<key>user_id</key>
		<string>73255429</string>
	</dict>
</array>
</plist>
