<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>豆沙</string>
		<key>cate_id</key>
		<string>2727</string>
		<key>id</key>
		<string>20040799</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>弱鸡</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/13DCBED7-BAD5-4BBA-674C-6D92140D1F58.jpg</string>
		<key>series_id</key>
		<string>10603</string>
		<key>series_name</key>
		<string>豆家四宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/9A277809-82A9-9CBB-4FF9-A2410D8FDA78.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/9A277809-82A9-9CBB-4FF9-A2410D8FDA78.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>波琳哪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15595459</string>
		</dict>
		<key>user_id</key>
		<string>15595459</string>
	</dict>
	<dict>
		<key>author</key>
		<string>豆沙</string>
		<key>cate_id</key>
		<string>2727</string>
		<key>id</key>
		<string>20040797</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>蓝宝</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/1996073A-6CB4-6AB9-FCD0-8985332D76CF.jpg</string>
		<key>series_id</key>
		<string>10603</string>
		<key>series_name</key>
		<string>豆家四宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/66BB1E50-FCA6-26BF-86EF-A97E7AE2E51A.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/05/16/66BB1E50-FCA6-26BF-86EF-A97E7AE2E51A.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>波琳哪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15595459</string>
		</dict>
		<key>user_id</key>
		<string>15595459</string>
	</dict>
	<dict>
		<key>author</key>
		<string>豆沙</string>
		<key>cate_id</key>
		<string>2727</string>
		<key>id</key>
		<string>20040795</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>长根</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/040E6FB2-0199-A85D-340D-2B376B5EA082.jpg</string>
		<key>series_id</key>
		<string>10603</string>
		<key>series_name</key>
		<string>豆家四宝</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/F0F45A78-09DD-B115-CC01-5D3F4832F337.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/16/F0F45A78-09DD-B115-CC01-5D3F4832F337.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>波琳哪</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>15595459</string>
		</dict>
		<key>user_id</key>
		<string>15595459</string>
	</dict>
</array>
</plist>
