<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1036304</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腾讯动漫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/15/97E82F39-6D90-47B7-419C-FB60B3268BF3.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/15/E3680E26-DEBF-A733-9B65-E4E8EE83867A.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2016/11/15/E3680E26-DEBF-A733-9B65-E4E8EE83867A.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1036303</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腾讯动漫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/15/715769F2-84C3-6C1F-9C03-00390586ACCE.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/15/A8F17C77-3CA4-B2D7-889F-CE3C4840CE50.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/11/15/A8F17C77-3CA4-B2D7-889F-CE3C4840CE50.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1036302</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腾讯动漫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/15/A48E26B5-6790-A8BD-D49A-3B4C2FDBCBDB.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/15/B9F8D622-43D1-5DC7-DA0D-69AC8CA942FB.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2016/11/15/B9F8D622-43D1-5DC7-DA0D-69AC8CA942FB.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1036301</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腾讯动漫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/15/1EA34ED1-DD1B-FE47-72F3-13FFA39CA0B2.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/15/446E2A4D-EA30-8005-8086-0B55C790E992.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2016/11/15/446E2A4D-EA30-8005-8086-0B55C790E992.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1041901</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>炸裂吧,炸裂吧少女心,少女心,薛之谦,张天爱,王子文,颜如晶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>腾讯动漫</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/14/876B3D4B-F881-3D85-60A7-6C5AB4021813.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/14/229A9F41-429D-C874-431E-46C56BEBAB8E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/01/14/229A9F41-429D-C874-431E-46C56BEBAB8E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1041916</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>炸裂吧,炸裂吧少女心,少女心,薛之谦,张天爱,王子文,颜如晶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>颜五斤同框</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/14/DF9259EB-10BC-A894-2F69-857EEF8F3A75.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/14/5B6983B3-8155-9F50-623D-C1B59932FA4E.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/14/5B6983B3-8155-9F50-623D-C1B59932FA4E.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1041911</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>炸裂吧,炸裂吧少女心,少女心,薛之谦,张天爱,王子文,颜如晶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>段子王薛的世界</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/14/9A0ED01A-51A5-9FD8-2BB0-E7E7FE3AD37D.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/16/03927649-5918-8A53-D87E-88CED5629C7D.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/01/16/03927649-5918-8A53-D87E-88CED5629C7D.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1041912</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>炸裂吧,炸裂吧少女心,少女心,薛之谦,张天爱,王子文,颜如晶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>薛的世界</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/14/752FCF77-5C98-4AD7-1B78-E1B4F6F43916.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/16/2B89F51F-8609-1B28-A4F2-E4A41F5A8547.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/01/16/2B89F51F-8609-1B28-A4F2-E4A41F5A8547.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>腾讯动漫</string>
		<key>cate_id</key>
		<string>3264</string>
		<key>id</key>
		<string>1041902</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string>炸裂吧,炸裂吧少女心,少女心,薛之谦,张天爱,王子文,颜如晶</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>别碰我</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/14/EC77310E-2822-FA90-48BC-1EF6EC418BFB.jpg</string>
		<key>series_id</key>
		<string>3264</string>
		<key>series_name</key>
		<string>腾讯动漫</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/14/02C874C5-9D8D-23D7-0247-671729D788DE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/01/14/02C874C5-9D8D-23D7-0247-671729D788DE.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
