<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20059162</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>可爱,冷漠,chuchuangel,静静看你装B</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>chuchu冷漠</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/1BDD9579-9BEC-F032-FD77-63400B0C0901-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15348</string>
		<key>series_name</key>
		<string>chuchu怯~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/7DA839CD-B7A6-E75C-9665-82B41615F9AC-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/7DA839CD-B7A6-E75C-9665-82B41615F9AC-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20059160</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>可爱,chuchuangel,委屈巴巴,难过</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>chuchu委屈巴巴</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/A8516C8C-02AB-C721-BCE8-BDABC02EF966-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15348</string>
		<key>series_name</key>
		<string>chuchu怯~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/C8DF0B01-E3DE-4326-F451-3942EADBE06B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/C8DF0B01-E3DE-4326-F451-3942EADBE06B-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20059158</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>可爱,chuchuangel,哭哭,怕怕</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>chuchu怕怕</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/0FB2401F-8955-D7B8-E8DE-CC573533519A-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15348</string>
		<key>series_name</key>
		<string>chuchu怯~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/79ED8CA7-F496-11A1-F000-8FEBA26F0E55-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/06/01/79ED8CA7-F496-11A1-F000-8FEBA26F0E55-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20059156</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string>可爱,chuchuangel,五雷轰顶,惊吓</string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>chuchu五雷轰顶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/59F0767E-BDAF-A86C-7830-2EAF903A1623-1MVZAnQ.png</string>
		<key>series_id</key>
		<string>15348</string>
		<key>series_name</key>
		<string>chuchu怯~</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/78FCBF39-2E4B-6E43-C774-F906EDAF07AA-1MVZAnQ.png?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/06/01/78FCBF39-2E4B-6E43-C774-F906EDAF07AA-1MVZAnQ.png?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20054284</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>喜欢</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/7CD2094E-1E6C-F85C-1BD4-978D00D3C0FD.jpg</string>
		<key>series_id</key>
		<string>13976</string>
		<key>series_name</key>
		<string>甜蜜Chuchu</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/94DC6580-4F2B-A413-4D12-5C01B6B66EF0.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/94DC6580-4F2B-A413-4D12-5C01B6B66EF0.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20054282</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>你爱我吗</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/9B2523E4-3BFF-1E36-5014-65DD2E4AD0E5.jpg</string>
		<key>series_id</key>
		<string>13976</string>
		<key>series_name</key>
		<string>甜蜜Chuchu</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/8DB35F4F-E1A8-36CC-8604-32EB1FD8D9EA.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/8DB35F4F-E1A8-36CC-8604-32EB1FD8D9EA.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20054280</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>亲亲我吧</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/7DEBCD89-7144-B717-A863-D7A6A4C22F1C.jpg</string>
		<key>series_id</key>
		<string>13976</string>
		<key>series_name</key>
		<string>甜蜜Chuchu</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/26B8A476-0DC3-CFD3-6150-4DA66DAE63CE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg01.jiuyan.info/in/2017/03/10/26B8A476-0DC3-CFD3-6150-4DA66DAE63CE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
	<dict>
		<key>author</key>
		<string>初初爸比</string>
		<key>cate_id</key>
		<string>3666</string>
		<key>id</key>
		<string>20054286</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>爱我多一点</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/AD9348FE-633C-0D6D-0EB6-A94E8A2E67FC.jpg</string>
		<key>series_id</key>
		<string>13976</string>
		<key>series_name</key>
		<string>甜蜜Chuchu</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/C72E2B73-8990-7C5E-3EB0-80B0A0295B52.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/03/10/C72E2B73-8990-7C5E-3EB0-80B0A0295B52.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>chuchu天使同萌</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>112863310</string>
		</dict>
		<key>user_id</key>
		<string>112863310</string>
	</dict>
</array>
</plist>
