<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>安安小贴纸</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20003694</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>KISS</string>
		<key>number</key>
		<string>in998800</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd1.jiuyan.info/2015/02/05/5E9A39E6-FBC8-5834-88AA-303EFA1432EE.jpg?v=2</string>
		<key>series_id</key>
		<string>1050</string>
		<key>series_name</key>
		<string>史上最萌SHOW</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd1.jiuyan.info/2015/02/05/9461C70D-8BD7-B943-4030-11850846EF37.png?v=2</string>
		<key>url</key>
		<string>http://wd1.jiuyan.info/2015/02/05/9461C70D-8BD7-B943-4030-11850846EF37.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>in</string>
			<key>number</key>
			<string>in998800</string>
			<key>user_id</key>
			<string>35233430</string>
		</dict>
		<key>user_id</key>
		<string>35233430</string>
	</dict>
	<dict>
		<key>author</key>
		<string>徐贱贱</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20003476</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>出售</string>
		<key>number</key>
		<string>Chellly</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://wd5.jiuyan.info/2015/04/23/89EC61E1-4120-1B4E-CAB0-3282C39A0D66.jpg?v=2</string>
		<key>series_id</key>
		<string>994</string>
		<key>series_name</key>
		<string>徐贱贱气泡系列</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://wd5.jiuyan.info/2015/04/23/70DFB6E8-6E40-823A-8814-EEACFA58D693.png?v=2</string>
		<key>url</key>
		<string>http://wd5.jiuyan.info/2015/04/23/70DFB6E8-6E40-823A-8814-EEACFA58D693.png?v=2</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>徐贱贱</string>
			<key>number</key>
			<string>Chellly</string>
			<key>user_id</key>
			<string>31873855</string>
		</dict>
		<key>user_id</key>
		<string>31873855</string>
	</dict>
	<dict>
		<key>author</key>
		<string>朵朵学名是潘哒</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>14801</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>38元</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/09/754B0754-A2AA-0F2C-9866-6B511407B965.jpg</string>
		<key>series_id</key>
		<string>551</string>
		<key>series_name</key>
		<string>趣味文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/09/31605C78-472D-C2F7-F70F-BFF5DE5754AA.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/10/09/31605C78-472D-C2F7-F70F-BFF5DE5754AA.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>2565</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>2015已过一半</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/6E3566D3-B853-2574-CCF3-8F6A6CFCB564.jpg</string>
		<key>series_id</key>
		<string>551</string>
		<key>series_name</key>
		<string>趣味文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/804DE03A-05BA-22D0-92F4-E319AF7125D3.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/06/26/804DE03A-05BA-22D0-92F4-E319AF7125D3.jpg</string>
		<key>user</key>
		<dict/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>小兔子oH2x</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20029513</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>这么可爱</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/7A9537CA-D8E1-F523-8395-CCA3E771FFF4.jpg</string>
		<key>series_id</key>
		<string>7789</string>
		<key>series_name</key>
		<string>兔叽酱可爱文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/35CC656A-FAAA-A0BB-A4DC-FB68B84A5622.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/09/24/35CC656A-FAAA-A0BB-A4DC-FB68B84A5622.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小兔子oH2x</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>33162190</string>
		</dict>
		<key>user_id</key>
		<string>33162190</string>
	</dict>
	<dict>
		<key>author</key>
		<string>糖悠悠</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20032925</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>跟着我左手右手</string>
		<key>number</key>
		<string>ini3097343</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/23/F0E53F7A-AAB6-7C35-212A-DCCDB1FB2EB5.jpg</string>
		<key>series_id</key>
		<string>8635</string>
		<key>series_name</key>
		<string>拒绝体文字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/23/C01AC9C0-925B-68E2-2079-DCE8646E5B35.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/11/23/C01AC9C0-925B-68E2-2079-DCE8646E5B35.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>连萌_糖悠悠</string>
			<key>number</key>
			<string>ini3097343</string>
			<key>user_id</key>
			<string>33885755</string>
		</dict>
		<key>user_id</key>
		<string>33885755</string>
	</dict>
	<dict>
		<key>author</key>
		<string>小小微光</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20022393</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>真是醉了</string>
		<key>number</key>
		<string>inf4130584</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/91EC0933-D559-BC51-E2C8-53D49A86E639.jpg</string>
		<key>series_id</key>
		<string>6013</string>
		<key>series_name</key>
		<string>微光文字贴纸2</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/7EC650EA-231C-3C68-8634-CE37D55872CE.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2015/07/17/7EC650EA-231C-3C68-8634-CE37D55872CE.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>小微光</string>
			<key>number</key>
			<string>inf4130584</string>
			<key>user_id</key>
			<string>44128128</string>
		</dict>
		<key>user_id</key>
		<string>44128128</string>
	</dict>
	<dict>
		<key>author</key>
		<string>嘟小图</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20041747</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>我怎样与你无关</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/31/30FD3236-377A-2085-CF4F-FE5ED45B75CB.jpg</string>
		<key>series_id</key>
		<string>10841</string>
		<key>series_name</key>
		<string>做独一无二的自己</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/31/DDA45941-3090-20E9-072F-2709E52303D7.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2016/05/31/DDA45941-3090-20E9-072F-2709E52303D7.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>嘟小图</string>
			<key>number</key>
			<string></string>
			<key>user_id</key>
			<string>74468460</string>
		</dict>
		<key>user_id</key>
		<string>74468460</string>
	</dict>
	<dict>
		<key>author</key>
		<string>叶小星</string>
		<key>cate_id</key>
		<string>551</string>
		<key>id</key>
		<string>20029643</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string>no</string>
		<key>is_new</key>
		<false/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>551</string>
		<key>name</key>
		<string>懵</string>
		<key>number</key>
		<string>ino862160</string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/23/B2D7AE06-D4FE-7175-33C0-491EBA314060.jpg</string>
		<key>series_id</key>
		<string>7823</string>
		<key>series_name</key>
		<string>叶小星的综艺字</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/23/5B330C6B-6DCB-1FB2-36B4-EE924808604B.jpg?imageMogr2/format/png/thumbnail/210x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2015/09/23/5B330C6B-6DCB-1FB2-36B4-EE924808604B.jpg?imageMogr2/format/png/thumbnail/320x%3E/quality/80!</string>
		<key>user</key>
		<dict>
			<key>in_name</key>
			<string>叶小星[emoji]1f31f[/emoji]Baby-Time</string>
			<key>number</key>
			<string>ino862160</string>
			<key>user_id</key>
			<string>72597265</string>
		</dict>
		<key>user_id</key>
		<string>72597265</string>
	</dict>
</array>
</plist>
