<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>4142</string>
		<key>id</key>
		<string>1054403</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>山图小酒瓶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/31/913D3878-6B10-A4D1-547F-D1B0F496B7BD.jpg</string>
		<key>series_id</key>
		<string>4142</string>
		<key>series_name</key>
		<string>山图小酒瓶</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/31/AD32AEE9-EBDE-A067-1348-AD6DFF77D8B1.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg07.jiuyan.info/in/2017/05/31/AD32AEE9-EBDE-A067-1348-AD6DFF77D8B1.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>4142</string>
		<key>id</key>
		<string>1054401</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>山图小酒瓶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/31/9A72ACE8-73AC-56B9-B885-1F0F3BDAE5D4.jpg</string>
		<key>series_id</key>
		<string>4142</string>
		<key>series_name</key>
		<string>山图小酒瓶</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/31/9F3DDD5C-690D-E3C2-8FDE-118BCFCFB5FE.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg02.jiuyan.info/in/2017/05/31/9F3DDD5C-690D-E3C2-8FDE-118BCFCFB5FE.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
	<dict>
		<key>author</key>
		<string>in</string>
		<key>cate_id</key>
		<string>4142</string>
		<key>id</key>
		<string>1054402</string>
		<key>is_favorite</key>
		<false/>
		<key>is_locked</key>
		<string></string>
		<key>is_new</key>
		<true/>
		<key>keyword</key>
		<string></string>
		<key>level_id</key>
		<string>0</string>
		<key>man_cate_id</key>
		<string>0</string>
		<key>name</key>
		<string>山图小酒瓶</string>
		<key>number</key>
		<string></string>
		<key>parent_id</key>
		<string></string>
		<key>sample_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/D86EB836-B269-9C53-DEFC-C15E3F487D38.jpg</string>
		<key>series_id</key>
		<string>4142</string>
		<key>series_name</key>
		<string>山图小酒瓶</string>
		<key>sort</key>
		<string></string>
		<key>thumb_url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/CE123CCD-41CE-8166-D87D-01632E4A2481.jpg?imageMogr2/format/png/thumbnail/130x%3E/quality/80!</string>
		<key>url</key>
		<string>http://inimg05.jiuyan.info/in/2017/05/31/CE123CCD-41CE-8166-D87D-01632E4A2481.jpg</string>
		<key>user</key>
		<array/>
		<key>user_id</key>
		<string></string>
	</dict>
</array>
</plist>
